<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.provider.OrderComplainLogDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.provider.OrderComplainLog" >
	<result column="id" property="id"/>
		<result column="complain_id" property="complainId"/>
		<result column="eventdesc" property="eventdesc"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.complain_id,
		 t.eventdesc,
		 t.create_by,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="complainId != null and complainId != '' " >
    	and t.complain_id =  #{complainId}
	</if>
	<if test="eventdesc != null and eventdesc != '' " >
    	and t.eventdesc =  #{eventdesc}
	</if>
	<if test="createBy != null and createBy != '' " >
    	and t.create_by =  #{createBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_order_complain_log 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="complainId != null and complainId != '' " >
		 complain_id,
		</if>
    	<if test="eventdesc != null and eventdesc != '' " >
		 eventdesc,
		</if>
    	<if test="createBy != null and createBy != '' " >
		 create_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	sysdate,
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="complainId != null and complainId != '' " >
  		<![CDATA[  #{complainId}, ]]>
    	</if>
    	<if test="eventdesc != null and eventdesc != '' " >
  		<![CDATA[  #{eventdesc}, ]]>
    	</if>
    	<if test="createBy != null and createBy != '' " >
  		<![CDATA[  #{createBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_order_complain_log t set 
   <trim suffixOverrides="," >
	<if test="complainId != null and complainId != '' " >
  	<![CDATA[  t.complain_id = #{complainId}, ]]>
    </if>
    <if test="eventdesc != null and eventdesc != '' " >
  	<![CDATA[  t.eventdesc = #{eventdesc}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_order_complain_log where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_order_complain_log t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_order_complain_log t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
    <if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_order_complain_log t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->

<!-- 根据id查询 -->
<select id="queryByComplainId"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_order_complain_log t where t.complain_id = #{complainId}
	 order by t.create_time desc
</select>

<!-- 删除记录 -->
<delete id="deleteByComplainId" parameterType="Object">
	delete from app_order_complain_log where complain_id = #{complainId}
</delete>

</mapper>   
