<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.provider.ProviderParkRelDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.provider.ProviderParkRel" >
	<result column="id" property="id"/>
		<result column="provider_no" property="providerNo"/>
		<result column="park_id" property="parkId"/>
		<result column="deleted" property="deleted"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.provider_no,
		 t.park_id,
		 t.deleted,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="providerNo != null and providerNo != '' " >
    	and t.provider_no =  #{providerNo}
	</if>
	<if test="parkId != null and parkId != '' " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="deleted != null " >
    	and t.deleted =  #{deleted}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_provider_park_rel 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="providerNo != null and providerNo != '' " >
		 provider_no,
		</if>
    	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="deleted != null " >
		deleted,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="providerNo != null and providerNo != '' " >
  		<![CDATA[  #{providerNo}, ]]>
    	</if>
    	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="deleted != null " >
  		<![CDATA[  #{deleted}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_provider_park_rel t set 
   <trim suffixOverrides="," >
	<if test="providerNo != null and providerNo != '' " >
  	<![CDATA[  t.provider_no = #{providerNo}, ]]>
    </if>
    <if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="deleted != null " >
  	<![CDATA[  t.deleted = #{deleted}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_provider_park_rel where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_provider_park_rel t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_provider_park_rel t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_provider_park_rel t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
	<!-- 根据商户编号删除 -->
	<delete id="deleteByProviderNo" parameterType="Object">
		delete from app_provider_park_rel where provider_no = #{providerNo}
	</delete>
	<!-- 根据停车id删除 -->
	<delete id="deleteByParkId" parameterType="Object">
		delete from app_provider_park_rel where park_id = #{parkId}
	</delete>

	<select id="queryParkByProvideNo" resultType="String" parameterType="Object">
		select park_id from app_provider_park_rel t where provider_no =#{providerNo}
	</select>
	
	<!-- 根据停车点ID查询有效商户号 -->
	<select id="queryByParkIdAndDeleted" resultMap="BaseResultMap" parameterType="String">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM app_provider_park_rel t
		WHERE t.park_id = #{parkId} 
		AND t.deleted = 1;
	</select>
</mapper>   
