<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.provider.ProviderDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.provider.Provider" >
	<result column="id" property="id"/>
		<result column="provider_no" property="providerNo"/>
		<result column="provider_name" property="providerName"/>
		<result column="company_name" property="companyName"/>
		<result column="contact" property="contact"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="email" property="email"/>
		<result column="deleted" property="deleted"/>
		<result column="validity_date" property="validityDate"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="created_by" property="createdBy"/>
		<result column="update_time" property="updateTime"/>
		<result column="updated_by" property="updatedBy"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.provider_no,
		 t.provider_name,
		 t.company_name,
		 t.contact,
		 t.phone,
		 t.address,
		 t.email,
		 t.deleted,
		 t.validity_date,
		 t.flag,
		 t.create_time,
		 t.created_by,
		 t.update_time,
		 t.updated_by,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="providerNo != null and providerNo != '' " >
    	and t.provider_no =  #{providerNo}
	</if>
	<if test="providerName != null and providerName != '' " >
    	and t.provider_name =  #{providerName}
	</if>
	<if test="companyName != null and companyName != '' " >
    	and t.company_name =  #{companyName}
	</if>
	<if test="contact != null and contact != '' " >
    	and t.contact =  #{contact}
	</if>
	<if test="phone != null and phone != '' " >
    	and t.phone =  #{phone}
	</if>
	<if test="address != null and address != '' " >
    	and t.address =  #{address}
	</if>
	<if test="email != null and email != '' " >
    	and t.email =  #{email}
	</if>
	<if test="deleted != null " >
    	and t.deleted =  #{deleted}
	</if>
	<if test="validityDate != null " >
    	and t.validity_date =  #{validityDate}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_provider 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,flag,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="providerNo != null and providerNo != '' " >
		 provider_no,
		</if>
    	<if test="providerName != null and providerName != '' " >
		 provider_name,
		</if>
    	<if test="companyName != null and companyName != '' " >
		 company_name,
		</if>
    	<if test="contact != null and contact != '' " >
		 contact,
		</if>
    	<if test="phone != null and phone != '' " >
		 phone,
		</if>
    	<if test="address != null and address != '' " >
		 address,
		</if>
    	<if test="email != null and email != '' " >
		 email,
		</if>
    	<if test="deleted != null " >
		deleted,
		</if>
    	<if test="validityDate != null " >
		validity_date,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	sysdate,'ADD',
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="providerNo != null and providerNo != '' " >
  		<![CDATA[  #{providerNo}, ]]>
    	</if>
    	<if test="providerName != null and providerName != '' " >
  		<![CDATA[  #{providerName}, ]]>
    	</if>
    	<if test="companyName != null and companyName != '' " >
  		<![CDATA[  #{companyName}, ]]>
    	</if>
    	<if test="contact != null and contact != '' " >
  		<![CDATA[  #{contact}, ]]>
    	</if>
    	<if test="phone != null and phone != '' " >
  		<![CDATA[  #{phone}, ]]>
    	</if>
    	<if test="address != null and address != '' " >
  		<![CDATA[  #{address}, ]]>
    	</if>
    	<if test="email != null and email != '' " >
  		<![CDATA[  #{email}, ]]>
    	</if>
    	<if test="deleted != null " >
  		<![CDATA[  #{deleted}, ]]>
    	</if>
    	<if test="validityDate != null " >
  		<![CDATA[  #{validityDate}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_provider t set 
   <trim suffixOverrides="," >
	<if test="providerNo != null and providerNo != '' " >
  	<![CDATA[  t.provider_no = #{providerNo}, ]]>
    </if>
    <if test="providerName != null and providerName != '' " >
  	<![CDATA[  t.provider_name = #{providerName}, ]]>
    </if>
    <if test="companyName != null and companyName != '' " >
  	<![CDATA[  t.company_name = #{companyName}, ]]>
    </if>
    <if test="contact != null and contact != '' " >
  	<![CDATA[  t.contact = #{contact}, ]]>
    </if>
    <if test="phone != null and phone != '' " >
  	<![CDATA[  t.phone = #{phone}, ]]>
    </if>
    <if test="address != null and address != '' " >
  	<![CDATA[  t.address = #{address}, ]]>
    </if>
    <if test="email != null and email != '' " >
  	<![CDATA[  t.email = #{email}, ]]>
    </if>
    <if test="deleted != null " >
  	<![CDATA[  t.deleted = #{deleted}, ]]>
    </if>
    <if test="validityDate != null " >
  	<![CDATA[  t.validity_date = #{validityDate}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.flag = 'UPDATE', ]]>
  	<![CDATA[  t.update_time = sysdate, ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_provider where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_provider t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_provider t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
    <if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_provider t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
	<select id="queryAllProvider" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_provider t 
	</select>
</mapper>   
