<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.point.UserPointTigerConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.point.UserPointTigerConf" >
	<result column="id" property="id"/>
		<result column="point_type" property="pointType"/>
		<result column="point_name" property="pointName"/>
		<result column="user_point_code" property="userPointCode"/>
		<result column="point_tiger_type" property="pointTigerType"/>
		<result column="point" property="point"/>
		<result column="status" property="status"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="is_display" property="isDisplay"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.point_type,
		 t.point_name,
		 t.user_point_code,
		 t.point_tiger_type,
		 t.point,
		 t.status,
		 t.start_time,
		 t.end_time,
		 t.is_display,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="pointType != null " >
    	and t.point_type =  #{pointType}
	</if>
	<if test="pointName != null and pointName != '' " >
    	and t.point_name =  #{pointName}
	</if>
	<if test="userPointCode != null and userPointCode != '' " >
    	and t.user_point_code =  #{userPointCode}
	</if>
	<if test="pointTigerType != null " >
    	and t.point_tiger_type =  #{pointTigerType}
	</if>
	<if test="point != null " >
    	and t.point =  #{point}
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="startTime != null " >
    	and t.start_time =  #{startTime}
	</if>
	<if test="endTime != null " >
    	and t.end_time =  #{endTime}
	</if>
	<if test="isDisplay != null " >
    	and t.is_display =  #{isDisplay}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_user_point_tiger_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="pointType != null " >
		point_type,
		</if>
    	<if test="pointName != null and pointName != '' " >
		 point_name,
		</if>
    	<if test="userPointCode != null and userPointCode != '' " >
		 user_point_code,
		</if>
    	<if test="pointTigerType != null " >
		point_tiger_type,
		</if>
    	<if test="point != null " >
		point,
		</if>
    	<if test="status != null " >
		status,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="isDisplay != null " >
		is_display,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="pointType != null " >
  		<![CDATA[  #{pointType}, ]]>
    	</if>
    	<if test="pointName != null and pointName != '' " >
  		<![CDATA[  #{pointName}, ]]>
    	</if>
    	<if test="userPointCode != null and userPointCode != '' " >
  		<![CDATA[  #{userPointCode}, ]]>
    	</if>
    	<if test="pointTigerType != null " >
  		<![CDATA[  #{pointTigerType}, ]]>
    	</if>
    	<if test="point != null " >
  		<![CDATA[  #{point}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="isDisplay != null " >
  		<![CDATA[  #{isDisplay}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_user_point_tiger_conf t set 
   <trim suffixOverrides="," >
	<if test="pointType != null " >
  	<![CDATA[  t.point_type = #{pointType}, ]]>
    </if>
    <if test="pointName != null and pointName != '' " >
  	<![CDATA[  t.point_name = #{pointName}, ]]>
    </if>
    <if test="userPointCode != null and userPointCode != '' " >
  	<![CDATA[  t.user_point_code = #{userPointCode}, ]]>
    </if>
    <if test="pointTigerType != null " >
  	<![CDATA[  t.point_tiger_type = #{pointTigerType}, ]]>
    </if>
    <if test="point != null " >
  	<![CDATA[  t.point = #{point}, ]]>
    </if>
    <if test="status != null " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="isDisplay != null " >
  	<![CDATA[  t.is_display = #{isDisplay}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_user_point_tiger_conf where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_user_point_tiger_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_user_point_tiger_conf t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_user_point_tiger_conf t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<resultMap id="UserSignDetailMap" type="java.util.Map" >
	<result column="limit_count_min" property="limitCount" javaType="java.lang.String"/>
	<result column="point" property="point" javaType="java.lang.String"/>
</resultMap>
<!-- 查询连续签到次数和额外赠送积分 -->
<select id="queryCountAndPoint" resultMap="UserSignDetailMap" >
	SELECT t1.limit_count_min,t.point 
	FROM app_user_point_tiger_conf t
	LEFT JOIN app_user_point_tiger_limit t1 ON t.id = t1.point_conf_id
	WHERE t.status = 1 AND t.POINT_TYPE = 2
	AND t1.limit_type = 1
	order by t1.limit_count_min ASC
</select>
</mapper>   
