<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.business.dao.AlipayCountDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.business.entity.AlipayCount" >
	<result column="id" property="id"/>
		<result column="statdate" property="statdate"/>
		<result column="total_order_count" property="totalOrderCount"/>
		<result column="total_income_count" property="totalIncomeCount"/>
		<result column="total_outcome_count" property="totalOutcomeCount"/>
		<result column="total_service_fee" property="totalServiceFee"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.statdate,
		 t.total_order_count,
		 t.total_income_count,
		 t.total_outcome_count,
		 t.total_service_fee,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="statdate != null " >
    	and t.statdate =  #{statdate}
	</if>
	<if test="totalOrderCount != null " >
    	and t.total_order_count =  #{totalOrderCount}
	</if>
	<if test="totalIncomeCount != null " >
    	and t.total_income_count =  #{totalIncomeCount}
	</if>
	<if test="totalOutcomeCount != null " >
    	and t.total_outcome_count =  #{totalOutcomeCount}
	</if>
	<if test="totalServiceFee != null " >
    	and t.total_service_fee =  #{totalServiceFee}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	insert into rca_alipay_count 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
  		id,
    	</if>
	 	<if test="statdate != null " >
		statdate,
		</if>
    	<if test="totalOrderCount != null " >
		total_order_count,
		</if>
    	<if test="totalIncomeCount != null " >
		total_income_count,
		</if>
    	<if test="totalOutcomeCount != null " >
		total_outcome_count,
		</if>
    	<if test="totalServiceFee != null " >
		total_service_fee,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="statdate != null " >
  		<![CDATA[  #{statdate}, ]]>
    	</if>
    	<if test="totalOrderCount != null " >
  		<![CDATA[  #{totalOrderCount}, ]]>
    	</if>
    	<if test="totalIncomeCount != null " >
  		<![CDATA[  #{totalIncomeCount}, ]]>
    	</if>
    	<if test="totalOutcomeCount != null " >
  		<![CDATA[  #{totalOutcomeCount}, ]]>
    	</if>
    	<if test="totalServiceFee != null " >
  		<![CDATA[  #{totalServiceFee}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update rca_alipay_count t set 
   <trim suffixOverrides="," >
	<if test="statdate != null " >
  	<![CDATA[  t.statdate = #{statdate}, ]]>
    </if>
    <if test="totalOrderCount != null " >
  	<![CDATA[  t.total_order_count = #{totalOrderCount}, ]]>
    </if>
    <if test="totalIncomeCount != null " >
  	<![CDATA[  t.total_income_count = #{totalIncomeCount}, ]]>
    </if>
    <if test="totalOutcomeCount != null " >
  	<![CDATA[  t.total_outcome_count = #{totalOutcomeCount}, ]]>
    </if>
    <if test="totalServiceFee != null " >
  	<![CDATA[  t.total_service_fee = #{totalServiceFee}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from rca_alipay_count where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from rca_alipay_count t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from rca_alipay_count t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from rca_alipay_count t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 删除日期汇总信息 -->
<delete id="deleteAlipayCountByStatDate" parameterType="Object">
	delete from rca_alipay_count where statdate = #{statdate}
</delete>
</mapper>   
