<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.business.dao.ExceptionOrderDao">
	<resultMap id="BaseResultMap"
		type="com.innotek.business.entity.ExceptionOrderEntity">
		<result column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="city_code" property="cityCode" />
		<result column="area_code" property="areaCode" />
		<result column="plate_no" property="plateNo" />
		<result column="city_name" property="cityName" />
		<result column="area_name" property="areaName" />
		<result column="pay_type" property="payType" />
		<result column="user_id" property="userId" />
		<result column="user_account" property="userAccount" />
		<result column="parkrecord_id" property="parkrecordId" />
		<result column="price" property="price" />
		<result column="order_body" property="orderBody" />
		<result column="pay_time" property="payTime" />
		<result column="is_handle" property="isHandle"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	<!-- table all fields -->
	<sql id="Base_Column_List">
		e.order_no,
		e.city_code,
		e.area_code,
		e.pay_type,
		e.user_id,
		e.user_account,
		e.parkrecord_id,
		e.price,
		e.order_body,
		e.pay_time,
		e.id,
		e.is_handle,
		e.create_time,
		b.AREA_NAME city_name,
		b1.area_name,
		p.plate_no
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim suffixOverrides=",">
			where 1=1
			<if test="id != null">
				and e.id = #{id}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				and e.order_no = #{orderNo}
			</if>
			<if test="cityCode != null ">
				and e.city_code = #{cityCode}
			</if>
			<if test="areaCode != null ">
				and e.area_code = #{areaCode}
			</if>
			<if test="payType != null and payType != '' ">
				and e.pay_type = #{payType}
			</if>
			<if test="userId != null and userId != '' ">
				and e.user_id = #{userId}
			</if>
			<if test="userAccount != null and userAccount != '' ">
				and e.user_account = #{userAccount}
			</if>
			<if test="parkrecordId != null and parkrecordId != '' ">
				and e.parkrecord_id = #{parkrecordId}
			</if>
			<if test="price != null ">
				and e.price = #{price}
			</if>
			<if test="orderBody != null and orderBody != '' ">
				and e.order_body = #{orderBody}
			</if>
			<if test="isHandle != null and isHandle != '' ">
				and e.is_handle = #{isHandle}
			</if>
		</trim>
	</sql>
	<select id="queryByList" parameterType="Object" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM app_order_exception e 
		LEFT JOIN base_area b ON e.city_code=b.area_code
		LEFT JOIN base_area b1 ON e.area_code=b1.area_code
		LEFT JOIN app_order_parkrecord p ON e.order_no=p.order_no
		<include refid="Example_Where_Clause"/>
		<if test="startTime != '' and endTime != ''">
			and pay_time BETWEEN str_to_date(#{startTime},'%Y-%m-%d') AND str_to_date('${endTime} 23:59:59','%Y-%m-%d %H:%i:%s')
		</if>
		<if test="startTime != '' and endTime == ''">
			and pay_time BETWEEN str_to_date(#{startTime},'%Y-%m-%d') AND now()
		</if>
		<if test="startTime == '' and endTime != ''">
			and pay_time &lt; str_to_date('${endTime} 23:59:59','%Y-%m-%d %H:%i:%s')
		</if>
		ORDER BY pay_time DESC
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>

	</select>

	<select id="queryByCount" parameterType="Object" resultType="Integer">
		select count(1) from app_order_exception e
		<include refid="Example_Where_Clause"/>
		<if test="startTime != '' and endTime != ''">
			and pay_time BETWEEN str_to_date(#{startTime},'%Y-%m-%d') AND str_to_date('${endTime} 23:59:59','%Y-%m-%d %H:%i:%s')
		</if>
		<if test="startTime != '' and endTime == ''">
			and pay_time BETWEEN str_to_date(#{startTime},'%Y-%m-%d') AND now()
		</if>
		<if test="startTime == '' and endTime != ''">
			and pay_time &lt; str_to_date('${endTime} 23:59:59','%Y-%m-%d %H:%i:%s')
		</if>
	</select>
	<select id="findExceptionOrder" resultMap="BaseResultMap">
		SELECT
		a.CITY_CODE,
		a.AREA_CODE,
		a.USER_ID,
		a.USER_ACCOUNT,
		a.ORDER_NO,
		a.PARKRECORD_ID,
		a.PAY_TYPE,
		a.PAY_TIME,
		a.PRICE,
		a.ORDER_BODY

		FROM
		app_order a
		WHERE
		a.order_status = 200
		AND a.PRICE > 0
		AND
		a.parkrecord_id IN(SELECT
		parkrecord_id
		FROM app_order
		WHERE
		parkrecord_id IS NOT NULL
		AND
		order_status = 200
		GROUP BY
		parkrecord_id,area_code,price
		HAVING COUNT(1)
		> 1)
		AND NOT EXISTS(SELECT
		1
		FROM app_order_exception e
		WHERE a.ORDER_NO =
		e.ORDER_NO)
	</select>

	<insert id="addExceptionOrder" parameterType="List">
		insert into app_order_exception
		(id,city_code,area_code,user_id,user_account,order_no,parkrecord_id,pay_type,price,pay_time,order_body,is_handle,create_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(UUID(),#{item.cityCode},#{item.areaCode},#{item.userId},#{item.userAccount},#{item.orderNo},#{item.parkrecordId},#{item.payType},#{item.price},#{item.payTime},#{item.orderBody},#{item.isHandle},now())
		</foreach>
	</insert>

	<update id="updateOrderStatus" parameterType="String">
		update
		app_order_exception set is_handle= 1 where id=#{exceptionOrderId}
	</update>

	<select id="findOrderStatus" parameterType="String" resultType="Integer">
		select is_handle from app_order_exception where id=#{exceptionOrderId}
	</select>
</mapper>   
