<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.business.dao.FancOrderMiddlewareDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.business.entity.FancOrderMiddleware" >
	<result column="id" property="id"/>
		<result column="order_no" property="orderNo"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="city_name" property="cityName"/>
		<result column="area_name" property="areaName"/>
		<result column="pay_type" property="payType"/>
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="price" property="price"/>
		<result column="subject" property="subject"/>
		<result column="order_body" property="orderBody"/>
		<result column="order_status" property="orderStatus"/>
		<result column="order_time" property="orderTime"/>
		<result column="pay_time" property="payTime"/>
		<result column="buyer_account" property="buyerAccount"/>
		<result column="notify_status" property="notifyStatus"/>
		<result column="notify_time" property="notifyTime"/>
		<result column="create_time" property="createTime"/>
		<result column="statdate" property="statdate"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.order_no,
		 t.city_code,
		 t.area_code,
		 t.pay_type,
		 t.user_id,
		 t.user_account,
		 t.parkrecord_id,
		 t.price,
		 t.subject,
		 t.order_body,
		 t.order_status,
		 t.order_time,
		 t.pay_time,
		 t.buyer_account,
		 t.notify_status,
		 t.notify_time,
		 t.create_time,
		 t.statdate,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="payType != null and payType != '' " >
    	and t.pay_type =  #{payType}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="userAccount != null and userAccount != '' " >
    	and t.user_account =  #{userAccount}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="price != null " >
    	and t.price =  #{price}
	</if>
	<if test="subject != null and subject != '' " >
    	and t.subject =  #{subject}
	</if>
	<if test="orderBody != null and orderBody != '' " >
    	and t.order_body =  #{orderBody}
	</if>
	<if test="orderStatus != null and orderStatus != '' " >
    	and t.order_status =  #{orderStatus}
	</if>
	<if test="orderTime != null " >
    	and t.order_time =  #{orderTime}
	</if>
	<if test="payTime != null " >
    	and t.pay_time =  #{payTime}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
    	and t.buyer_account =  #{buyerAccount}
	</if>
	<if test="notifyStatus != null " >
    	and t.notify_status =  #{notifyStatus}
	</if>
	<if test="notifyTime != null and notifyTime != '' " >
    	and t.notify_time =  #{notifyTime}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="statdate != null " >
    	and t.statdate =  #{statdate}
	</if>
	<if test="endDate != null and endDate != '' ">
	  	and t.statdate between #{startDate} and #{endDate}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as ID 
	</selectKey>
  
	insert into fanc_order_middleware 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="payType != null and payType != '' " >
		 pay_type,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="userAccount != null and userAccount != '' " >
		 user_account,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="price != null " >
		price,
		</if>
    	<if test="subject != null and subject != '' " >
		 subject,
		</if>
    	<if test="orderBody != null and orderBody != '' " >
		 order_body,
		</if>
    	<if test="orderStatus != null and orderStatus != '' " >
		 order_status,
		</if>
    	<if test="orderTime != null " >
		order_time,
		</if>
    	<if test="payTime != null " >
		pay_time,
		</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
		 buyer_account,
		</if>
    	<if test="notifyStatus != null " >
		notify_status,
		</if>
    	<if test="notifyTime != null and notifyTime != '' " >
		 notify_time,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
		<if test="statdate != null " >
    	statdate,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="payType != null and payType != '' " >
  		<![CDATA[  #{payType}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="userAccount != null and userAccount != '' " >
  		<![CDATA[  #{userAccount}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="price != null " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="subject != null and subject != '' " >
  		<![CDATA[  #{subject}, ]]>
    	</if>
    	<if test="orderBody != null and orderBody != '' " >
  		<![CDATA[  #{orderBody}, ]]>
    	</if>
    	<if test="orderStatus != null and orderStatus != '' " >
  		<![CDATA[  #{orderStatus}, ]]>
    	</if>
    	<if test="orderTime != null " >
  		<![CDATA[  #{orderTime}, ]]>
    	</if>
    	<if test="payTime != null " >
  		<![CDATA[  #{payTime}, ]]>
    	</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
  		<![CDATA[  #{buyerAccount}, ]]>
    	</if>
    	<if test="notifyStatus != null " >
  		<![CDATA[  #{notifyStatus}, ]]>
    	</if>
    	<if test="notifyTime != null and notifyTime != '' " >
  		<![CDATA[  #{notifyTime}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="statdate != null " >
    	<![CDATA[  #{statdate}, ]]>
		</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update fanc_order_middleware t set 
   <trim suffixOverrides="," >
	<if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="payType != null and payType != '' " >
  	<![CDATA[  t.pay_type = #{payType}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="userAccount != null and userAccount != '' " >
  	<![CDATA[  t.user_account = #{userAccount}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="price != null " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="subject != null and subject != '' " >
  	<![CDATA[  t.subject = #{subject}, ]]>
    </if>
    <if test="orderBody != null and orderBody != '' " >
  	<![CDATA[  t.order_body = #{orderBody}, ]]>
    </if>
    <if test="orderStatus != null and orderStatus != '' " >
  	<![CDATA[  t.order_status = #{orderStatus}, ]]>
    </if>
    <if test="orderTime != null " >
  	<![CDATA[  t.order_time = #{orderTime}, ]]>
    </if>
    <if test="payTime != null " >
  	<![CDATA[  t.pay_time = #{payTime}, ]]>
    </if>
    <if test="buyerAccount != null and buyerAccount != '' " >
  	<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
    </if>
    <if test="notifyStatus != null " >
  	<![CDATA[  t.notify_status = #{notifyStatus}, ]]>
    </if>
    <if test="notifyTime != null and notifyTime != '' " >
  	<![CDATA[  t.notify_time = #{notifyTime}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="statdate != null " >
  	<![CDATA[  t.statdate = #{statdate}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from fanc_order_middleware where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from fanc_order_middleware t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1)
	from fanc_order_middleware t 
	left join base_area ba1 on t.city_code = ba1.area_code
	left join base_area ba2 on t.area_code = ba2.area_code
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	,ba1.area_name city_name,ba2.area_name 
	from fanc_order_middleware t 
	left join base_area ba1 on t.city_code = ba1.area_code
	left join base_area ba2 on t.area_code = ba2.area_code
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.statdate desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 删除指定日期订单 -->
<delete id="deleteByStatdate" parameterType="Object">
	delete from fanc_order_middleware where statdate = #{statdate}
</delete>
<insert id="batchSave" parameterType="java.util.List">
	insert into fanc_order_middleware 
	  (id,order_no,city_code,area_code,pay_type,user_id,user_account,parkrecord_id,
		price,subject,order_body,order_status,order_time,pay_time,buyer_account,
		notify_status,notify_time,create_time,statdate)
	values
	<foreach collection="list" index="inden" separator="," item="item">
	 (#{item.id},#{item.orderNo},#{item.cityCode},#{item.areaCode},#{item.payType},#{item.userId},#{item.userAccount},#{item.parkrecordId},
  		#{item.price},#{item.subject},#{item.orderBody},#{item.orderStatus},#{item.orderTime},#{item.payTime},#{item.buyerAccount},
  		#{item.notifyStatus},#{item.notifyTime},#{item.createTime},#{item.statdate})
		</foreach>
</insert>

<!-- 获取账单列表 -->
<select id="queryFancOrderMiddlewareListByStateDate" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	,ba1.area_name city_name,ba2.area_name 
	from fanc_order_middleware t 
	left join base_area ba1 on t.city_code = ba1.area_code
	left join base_area ba2 on t.area_code = ba2.area_code
	WHERE t.statdate &gt;= #{startDate} AND t.statdate &lt;= #{endDate} 
	<if test="cityId != null and cityId != '' ">
		and ba1.id = #{cityId}
	</if>
	order by t.statdate desc
</select>
</mapper>   
