<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.guidance.ParkBookDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.guidance.ParkBookEntity" >
	<result column="id" property="id"/>
		<result column="park_id" property="parkId"/>
		<result column="city_code" property="cityCode"/>
		<result column="park_code" property="parkCode"/>
		<result column="book_rate" property="bookRate"/>
		<result column="remark" property="remark"/>
		<result column="data_from" property="dataFrom"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.park_id,
		 t.city_code,
		 t.park_code,
		 t.book_rate,
		 t.remark,
		 t.data_from,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="parkId != null and parkId != '' " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="cityCode != null and cityCode != '' " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="parkCode != null and parkCode != '' " >
    	and t.park_code =  #{parkCode}
	</if>
	<if test="bookRate != null and bookRate != '' " >
    	and t.book_rate =  #{bookRate}
	</if>
	<if test="remark != null and remark != '' " >
    	and t.remark =  #{remark}
	</if>
	<if test="dataFrom != null and dataFrom != '' " >
    	and t.data_from =  #{dataFrom}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>


<!-- 查询条件 -->
<sql id="Book_ParkCount_Where_Clause">
	where 1=1 and t1.ID=t.PARK_ID 
<trim  suffixOverrides="," >
<!-- 	<if test="cityCode != null and cityCode != '' " > -->
    	and t.city_code =  #{cityCode}
    	and t1.city_code =  #{cityCode}
<!-- 	</if> -->
	    and t.BOOKABLE_NUM>0 and t1.flag !='DELETE';
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as ID 
	</selectKey>
  
	insert into app_park_book 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="cityCode != null and cityCode != '' " >
		 city_code,
		</if>
    	<if test="parkCode != null and parkCode != '' " >
		 park_code,
		</if>
    	<if test="bookRate != null and bookRate != '' " >
		 book_rate,
		</if>
    	<if test="remark != null and remark != '' " >
		 remark,
		</if>
    	<if test="dataFrom != null and dataFrom != '' " >
		 data_from,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="cityCode != null and cityCode != '' " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="parkCode != null and parkCode != '' " >
  		<![CDATA[  #{parkCode}, ]]>
    	</if>
    	<if test="bookRate != null and bookRate != '' " >
  		<![CDATA[  #{bookRate}, ]]>
    	</if>
    	<if test="remark != null and remark != '' " >
  		<![CDATA[  #{remark}, ]]>
    	</if>
    	<if test="dataFrom != null and dataFrom != '' " >
  		<![CDATA[  #{dataFrom}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_park_book t set 
   <trim suffixOverrides="," >
	<if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="cityCode != null and cityCode != '' " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="parkCode != null and parkCode != '' " >
  	<![CDATA[  t.park_code = #{parkCode}, ]]>
    </if>
    <if test="bookRate != null and bookRate != '' " >
  	<![CDATA[  t.book_rate = #{bookRate}, ]]>
    </if>
    <if test="remark != null and remark != '' " >
  	<![CDATA[  t.remark = #{remark}, ]]>
    </if>
    <if test="dataFrom != null and dataFrom != '' " >
  	<![CDATA[  t.data_from = #{dataFrom}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = now(), ]]>
    <![CDATA[  t.flag = 'UPDATE', ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_park_book where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select 
         t.park_id,
		 t.city_code,
		 t.park_code,
		 t.book_rate,
		 t.remark,
		 t.data_from,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
	 from app_park_book t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_park_book t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_park_book t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<select id="queryBookParkCountByCityCode" resultType="java.lang.Integer"  parameterType="Object">
	select 
	count(park_id)
	from APP_PARK_FLOW t  ,APP_PARK t1 
	<include refid="Book_ParkCount_Where_Clause"/>
</select>


<!-- 插入记录 -->
<insert id="addNew" parameterType="Object" > 
	insert into app_park_book 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="cityCode != null and cityCode != '' " >
		 city_code,
		</if>
    	<if test="parkCode != null and parkCode != '' " >
		 park_code,
		</if>
    	<if test="bookRate != null and bookRate != '' " >
		 book_rate,
		</if>
    	<if test="remark != null and remark != '' " >
		 remark,
		</if>
    	<if test="dataFrom != null and dataFrom != '' " >
		 data_from,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="cityCode != null and cityCode != '' " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="parkCode != null and parkCode != '' " >
  		<![CDATA[  #{parkCode}, ]]>
    	</if>
    	<if test="bookRate != null and bookRate != '' " >
  		<![CDATA[  #{bookRate}, ]]>
    	</if>
    	<if test="remark != null and remark != '' " >
  		<![CDATA[  #{remark}, ]]>
    	</if>
    	<if test="dataFrom != null and dataFrom != '' " >
  		<![CDATA[  #{dataFrom}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	</trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="updateNew" parameterType="Object" >
	update app_park_book t set 
   <trim suffixOverrides="," >
	<if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="cityCode != null and cityCode != '' " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="parkCode != null and parkCode != '' " >
  	<![CDATA[  t.park_code = #{parkCode}, ]]>
    </if>
    <if test="bookRate != null and bookRate != '' " >
  	<![CDATA[  t.book_rate = #{bookRate}, ]]>
    </if>
    <if test="remark != null and remark != '' " >
  	<![CDATA[  t.remark = #{remark}, ]]>
    </if>
    <if test="dataFrom != null and dataFrom != '' " >
  	<![CDATA[  t.data_from = #{dataFrom}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>
 
<!-- 根据cityCode关联base_area表中的areaCode，得到areaName -->
	<select id="getCityName" parameterType="String" resultType="java.lang.String">
		SELECT ba.area_name
		FROM APP_PARK_BOOK apb
		JOIN BASE_AREA ba ON apb.city_code = ba.area_code
		WHERE apb.id=#{id}
	</select>

<resultMap id="ParkAndParkBookMap" type="com.innotek.fragrans.entity.guidance.ParkBookEntity" >
	<result column="id" property="id"/>
		<result column="park_id" property="parkId"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_name" property="cityName" />
		<result column="name" property="name"/>
		<result column="park_code" property="parkCode"/>
		<result column="book_rate" property="bookRate"/>
		<result column="remark" property="remark"/>
		<result column="data_from" property="dataFrom"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<!-- app_park_book左关联app_park all fields -->
	<sql id="Park_And_ParkBook" >
		 ba.area_name,
		 apb.park_id,
		 apb.city_code,
		 ap.name,
		 apb.park_code,
		 apb.book_rate,
		 apb.remark,
		 apb.data_from,
		 apb.flag,
	     apb.id
	</sql>

	<!-- app_park_book左关联app_park查询条件 -->
	<sql id="Park_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
		<if test="id != null" >
		    and apf.id = #{id}
		</if>
		<if test="parkId != null and parkId != '' " >
	    	and apb.park_id =  #{parkId}
		</if>
		<if test="cityCode != null and cityCode != ''" >
	    	and apb.city_code =  #{cityCode}
		</if>
		<if test="name != null and name!= ''">
			and ap.name like '%${name}%'
		</if>
		<if test="parkCode != null and parkCode != '' " >
	    	and ap.park_code =  #{parkCode}
		</if>
		<if test="bookRate != null " >
	    	and apb.book_rate =  #{bookRate}
		</if>
		<if test="remark != null and remark != '' " >
	    	and apb.remark =  #{remark}
		</if>
		<if test="dataFrom != null and dataFrom != '' " >
	    	and apb.data_from =  #{dataFrom}
		</if>
		<if test="flag != null and flag != '' " >
	    	and apb.flag =  #{flag}
		</if>
		<if test="createdBy != null and createdBy != '' " >
	    	and apb.created_by =  #{createdBy}
		</if>
		<if test="updatedBy != null and updatedBy != '' " >
	    	and apb.updated_by =  #{updatedBy}
		</if>
		<if test="createTime != null " >
	    	and apb.create_time =  #{createTime}
		</if>
		<if test="updateTime != null " >
	    	and apb.update_time =  #{updateTime}
		</if>
		<if test="userCityCode != null and userCityCode != '' ">
			and apb.city_code LIKE '${userCityCode}%'
		</if>
		</trim>
	</sql>
	
	<!-- app_park_book左关联app_park列表总数-->
	<select id="getParkAndParkBookByCount" resultType="java.lang.Integer"  parameterType="Object">
		SELECT count(1) FROM APP_PARK_BOOK apb
		LEFT JOIN APP_PARK ap ON ap.id = apb.park_id AND ap.city_code = apb.city_code
		LEFT JOIN BASE_AREA ba ON apb.city_code = ba.area_code
		<include refid="Park_Where_Clause"/>
		AND ba.flag!='DELETE'
	</select>
	
	<!-- app_park_book左关联app_park -->
	<select id="getParkAndParkBook" resultMap="ParkAndParkBookMap">
		SELECT 
		<include refid="Park_And_ParkBook"/>
		FROM APP_PARK_BOOK apb
		LEFT JOIN APP_PARK ap ON ap.id = apb.park_id AND ap.city_code = apb.city_code
		LEFT JOIN BASE_AREA ba ON apb.city_code = ba.area_code
		<include refid="Park_Where_Clause"/>
		AND ba.flag!='DELETE'
		<if test="pager.orderCondition == ''">
			order by apb.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<select id="findParkAndParkBookById" parameterType="String" resultMap="ParkAndParkBookMap">
		SELECT
		<include refid="Park_And_ParkBook" />
		FROM APP_PARK_BOOK apb
		LEFT JOIN APP_PARK ap ON ap.id = apb.park_id 
		LEFT JOIN BASE_AREA ba ON apb.city_code = ba.area_code
		where 1=1
		and apb.id = #{id}
	</select>
</mapper>   
