<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.rent.ParkSpacePriceDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.rent.ParkSpacePrice" >
	<result column="id" property="id"/>
		<result column="berth_id" property="berthId"/>
		<result column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="time_interval" property="timeInterval"/>
		<result column="price" property="price"/>
		<result column="remark" property="remark"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.berth_id,
		 t.user_id,
		 t.name,
		 t.time_interval,
		 t.price,
		 t.remark,
		 t.flag,
		 t.created_by,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="berthId != null and berthId != '' " >
    	and t.berth_id =  #{berthId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="name != null and name != '' " >
    	and t.name =  #{name}
	</if>
	<if test="timeInterval != null and timeInterval != '' " >
    	and t.time_interval =  #{timeInterval}
	</if>
	<if test="price != null and price != '' " >
    	and t.price =  #{price}
	</if>
	<if test="remark != null and remark != '' " >
    	and t.remark =  #{remark}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into rent_park_space_price 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="berthId != null and berthId != '' " >
		 berth_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="name != null and name != '' " >
		 name,
		</if>
    	<if test="timeInterval != null and timeInterval != '' " >
		 time_interval,
		</if>
    	<if test="price != null and price != '' " >
		 price,
		</if>
    	<if test="remark != null and remark != '' " >
		 remark,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="berthId != null and berthId != '' " >
  		<![CDATA[  #{berthId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="name != null and name != '' " >
  		<![CDATA[  #{name}, ]]>
    	</if>
    	<if test="timeInterval != null and timeInterval != '' " >
  		<![CDATA[  #{timeInterval}, ]]>
    	</if>
    	<if test="price != null and price != '' " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="remark != null and remark != '' " >
  		<![CDATA[  #{remark}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update rent_park_space_price t set 
   <trim suffixOverrides="," >
	<if test="berthId != null and berthId != '' " >
  	<![CDATA[  t.berth_id = #{berthId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="name != null and name != '' " >
  	<![CDATA[  t.name = #{name}, ]]>
    </if>
    <if test="timeInterval != null and timeInterval != '' " >
  	<![CDATA[  t.time_interval = #{timeInterval}, ]]>
    </if>
    <if test="price != null and price != '' " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="remark != null and remark != '' " >
  	<![CDATA[  t.remark = #{remark}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from rent_park_space_price where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from rent_park_space_price t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from rent_park_space_price t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from rent_park_space_price t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
	<!-- 批量插入记录 -->
	<insert id="batchAddData" parameterType="java.util.ArrayList">
		insert into rent_park_space_price (
			id,
			berth_id,
			user_id,
			name,
			time_interval,
			price,
			remark,
			flag,
			created_by,
			create_time
		) values
	<foreach collection="list" item="item" index="index" separator="," >  
        (	 
			#{item.id},
			#{item.berthId},
			#{item.userId},
			#{item.name},
			#{item.timeInterval},
			#{item.price},
			#{item.remark},
			#{item.flag},
			#{item.createdBy},
			#{item.createTime}
		 )  
	</foreach> 
	</insert>
<!--根据泊位ID查询计费信息 -->
<select id="queryByBerthId" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT * FROM rent_park_space_price
	WHERE flag != 'DELETE'
	  AND berth_id = #{_parameter}
</select>
</mapper>   
