<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.user.ParklotCollectorDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.user.ParklotCollector" >
	<result column="id" property="id"/>
		<result column="area_code" property="areaCode"/>
		<result column="user_account" property="userAccount"/>
		<result column="passwd" property="passwd"/>
		<result column="user_name" property="userName"/>
		<result column="sex" property="sex"/>
		<result column="tel_phone" property="telPhone"/>
		<result column="park_name" property="parkName"/>
		<result column="park_address" property="parkAddress"/>
		<result column="park_total_num" property="parkTotalNum"/>
		<result column="park_lot_pd" property="parkLotPd"/>
		<result column="park_si" property="parkSi"/>
		<result column="status" property="status"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.area_code,
		 t.user_account,
		 t.passwd,
		 t.user_name,
		 t.sex,
		 t.tel_phone,
		 t.park_name,
		 t.park_address,
		 t.park_total_num,
		 t.park_lot_pd,
		 t.park_si,
		 t.status,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="userAccount != null and userAccount != '' " >
    	and t.user_account =  #{userAccount}
	</if>
	<if test="passwd != null and passwd != '' " >
    	and t.passwd =  #{passwd}
	</if>
	<if test="userName != null and userName != '' " >
    	and t.user_name =  #{userName}
	</if>
	<if test="sex != null and sex != '' " >
    	and t.sex =  #{sex}
	</if>
	<if test="telPhone != null and telPhone != '' " >
    	and t.tel_phone =  #{telPhone}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name =  #{parkName}
	</if>
	<if test="parkAddress != null and parkAddress != '' " >
    	and t.park_address =  #{parkAddress}
	</if>
	<if test="parkTotalNum != null " >
    	and t.park_total_num =  #{parkTotalNum}
	</if>
	<if test="parkLotPd != null and parkLotPd != '' " >
    	and t.park_lot_pd =  #{parkLotPd}
	</if>
	<if test="parkSi != null and parkSi != '' " >
    	and t.park_si =  #{parkSi}
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_parklot_collector 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="userAccount != null and userAccount != '' " >
		 user_account,
		</if>
    	<if test="passwd != null and passwd != '' " >
		 passwd,
		</if>
    	<if test="userName != null and userName != '' " >
		 user_name,
		</if>
    	<if test="sex != null and sex != '' " >
		 sex,
		</if>
    	<if test="telPhone != null and telPhone != '' " >
		 tel_phone,
		</if>
    	<if test="parkName != null and parkName != '' " >
		 park_name,
		</if>
    	<if test="parkAddress != null and parkAddress != '' " >
		 park_address,
		</if>
    	<if test="parkTotalNum != null " >
		park_total_num,
		</if>
    	<if test="parkLotPd != null and parkLotPd != '' " >
		 park_lot_pd,
		</if>
    	<if test="parkSi != null and parkSi != '' " >
		 park_si,
		</if>
    	<if test="status != null " >
		status,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="userAccount != null and userAccount != '' " >
  		<![CDATA[  #{userAccount}, ]]>
    	</if>
    	<if test="passwd != null and passwd != '' " >
  		<![CDATA[  #{passwd}, ]]>
    	</if>
    	<if test="userName != null and userName != '' " >
  		<![CDATA[  #{userName}, ]]>
    	</if>
    	<if test="sex != null and sex != '' " >
  		<![CDATA[  #{sex}, ]]>
    	</if>
    	<if test="telPhone != null and telPhone != '' " >
  		<![CDATA[  #{telPhone}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="parkAddress != null and parkAddress != '' " >
  		<![CDATA[  #{parkAddress}, ]]>
    	</if>
    	<if test="parkTotalNum != null " >
  		<![CDATA[  #{parkTotalNum}, ]]>
    	</if>
    	<if test="parkLotPd != null and parkLotPd != '' " >
  		<![CDATA[  #{parkLotPd}, ]]>
    	</if>
    	<if test="parkSi != null and parkSi != '' " >
  		<![CDATA[  #{parkSi}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_parklot_collector t set 
   <trim suffixOverrides="," >
	<if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="userAccount != null and userAccount != '' " >
  	<![CDATA[  t.user_account = #{userAccount}, ]]>
    </if>
    <if test="passwd != null and passwd != '' " >
  	<![CDATA[  t.passwd = #{passwd}, ]]>
    </if>
    <if test="userName != null and userName != '' " >
  	<![CDATA[  t.user_name = #{userName}, ]]>
    </if>
    <if test="sex != null and sex != '' " >
  	<![CDATA[  t.sex = #{sex}, ]]>
    </if>
    <if test="telPhone != null and telPhone != '' " >
  	<![CDATA[  t.tel_phone = #{telPhone}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="parkAddress != null and parkAddress != '' " >
  	<![CDATA[  t.park_address = #{parkAddress}, ]]>
    </if>
    <if test="parkTotalNum != null " >
  	<![CDATA[  t.park_total_num = #{parkTotalNum}, ]]>
    </if>
    <if test="parkLotPd != null and parkLotPd != '' " >
  	<![CDATA[  t.park_lot_pd = #{parkLotPd}, ]]>
    </if>
    <if test="parkSi != null and parkSi != '' " >
  	<![CDATA[  t.park_si = #{parkSi}, ]]>
    </if>
    <if test="status != null " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_parklot_collector where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_parklot_collector t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_parklot_collector t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_parklot_collector t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
	<!-- 根据id查询 -->
	<select id="queryCollectorInfo"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from app_parklot_collector t where t.user_account = #{userAccount}
		limit 1
	</select>
</mapper>   
