<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.user.ReviewLogDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.user.ReviewLog" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="busi_type" property="busiType"/>
		<result column="busi_id" property="busiId"/>
		<result column="busi_desc" property="busiDesc"/>
		<result column="plate_no" property="plateNo"/>
		<result column="plate_color" property="plateColor"/>
		<result column="review_status" property="reviewStatus"/>
		<result column="reviewer" property="reviewer"/>
		<result column="review_time" property="reviewTime"/>
		<result column="pass_reason" property="passReason"/>
		<result column="reject_reason" property="rejectReason"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="create_time" property="createTime"/>
		<result column="license_photo" property="licensePhoto"/>
		<result column="license_photo_vice" property="licensePhotoVice"/>
		<result column="area_name" property="areaName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.busi_type,
		 t.busi_id,
		 t.busi_desc,
		 t.plate_no,
		 t.plate_color,
		 t.review_status,
		 t.reviewer,
		 t.review_time,
		 t.pass_reason,
		 t.reject_reason,
		 t.flag,
		 t.created_by,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null and cityCode != ''" >
    	and t.city_code like '${cityCode}%'
	</if>
	<if test="busiType != null " >
    	and t.busi_type =  #{busiType}
	</if>
	<if test="busiId != null and busiId != '' " >
    	and t.busi_id =  #{busiId}
	</if>
	<if test="busiDesc != null and busiDesc != '' " >
    	and t.busi_desc =  #{busiDesc}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no =  #{plateNo}
	</if>
	<if test="plateColor != null " >
    	and t.plate_color =  #{plateColor}
	</if>
	<if test="reviewStatus != null " >
    	and t.review_status =  #{reviewStatus}
	</if>
	<if test="reviewer != null and reviewer != '' " >
    	and t.reviewer =  #{reviewer}
	</if>
	<if test="reviewTime != null " >
    	and t.review_time =  #{reviewTime}
	</if>
	<if test="passReason != null and passReason != '' " >
    	and t.pass_reason =  #{passReason}
	</if>
	<if test="rejectReason != null and rejectReason != '' " >
    	and t.reject_reason =  #{rejectReason}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by like  '${createdBy}%'
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_review_log 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
	 	<if test="busiType != null " >
		busi_type,
		</if>
    	<if test="busiId != null and busiId != '' " >
		 busi_id,
		</if>
    	<if test="busiDesc != null and busiDesc != '' " >
		 busi_desc,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		 plate_no,
		</if>
    	<if test="plateColor != null" >
		 plate_color,
		</if>
    	<if test="reviewStatus != null " >
		review_status,
		</if>
    	<if test="reviewer != null and reviewer != '' " >
		 reviewer,
		</if>
    	<if test="reviewTime != null " >
		review_time,
		</if>
    	<if test="passReason != null and passReason != '' " >
		 pass_reason,
		</if>
    	<if test="rejectReason != null and rejectReason != '' " >
		 reject_reason,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
	 	<if test="busiType != null " >
  		<![CDATA[  #{busiType}, ]]>
    	</if>
    	<if test="busiId != null and busiId != '' " >
  		<![CDATA[  #{busiId}, ]]>
    	</if>
    	<if test="busiDesc != null and busiDesc != '' " >
  		<![CDATA[  #{busiDesc}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="plateColor != null" >
  		<![CDATA[  #{plateColor}, ]]>
    	</if>
    	<if test="reviewStatus != null " >
  		<![CDATA[  #{reviewStatus}, ]]>
    	</if>
    	<if test="reviewer != null and reviewer != '' " >
  		<![CDATA[  #{reviewer}, ]]>
    	</if>
    	<if test="reviewTime != null " >
  		<![CDATA[  #{reviewTime}, ]]>
    	</if>
    	<if test="passReason != null and passReason != '' " >
  		<![CDATA[  #{passReason}, ]]>
    	</if>
    	<if test="rejectReason != null and rejectReason != '' " >
  		<![CDATA[  #{rejectReason}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_review_log t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
	<if test="busiType != null " >
  	<![CDATA[  t.busi_type = #{busiType}, ]]>
    </if>
    <if test="busiId != null and busiId != '' " >
  	<![CDATA[  t.busi_id = #{busiId}, ]]>
    </if>
    <if test="busiDesc != null and busiDesc != '' " >
  	<![CDATA[  t.busi_desc = #{busiDesc}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="plateColor != null" >
  	<![CDATA[  t.plate_color = #{plateColor}, ]]>
    </if>
    <if test="reviewStatus != null " >
  	<![CDATA[  t.review_status = #{reviewStatus}, ]]>
    </if>
    <if test="reviewer != null and reviewer != '' " >
  	<![CDATA[  t.reviewer = #{reviewer}, ]]>
    </if>
    <if test="reviewTime != null " >
  	<![CDATA[  t.review_time = #{reviewTime}, ]]>
    </if>
    <if test="passReason != null and passReason != '' " >
  	<![CDATA[  t.pass_reason = #{passReason}, ]]>
    </if>
    <if test="rejectReason != null and rejectReason != '' " >
  	<![CDATA[  t.reject_reason = #{rejectReason}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_review_log where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_review_log t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_review_log t 
	<include refid="Example_Where_Clause"/>
	<if test="isLimit == 1 " >
    	and (t.review_status = 0 or t.review_status = 1)
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		and t.city_code LIKE '${userCityCode}%'
	</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	,c.license_photo,c.license_photo_vice,ba.area_name
	from app_review_log t 
	left join app_user_car_info c ON t.busi_id = c.id
	LEFT JOIN base_area ba ON t.city_code = ba.area_code
	<include refid="Example_Where_Clause"/>
	<if test="isLimit == 1 " >
    	and (t.review_status = 0 or t.review_status = 1)
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		and t.city_code LIKE '${userCityCode}%'
	</if>
	<if test="pager.orderCondition == ''">
		order by t.create_time asc,t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
 <!-- 批量受理车牌认证审核 -->
 <update id="updateBatchReviewLogReviewing" parameterType="Object">
		UPDATE app_review_log
		SET reviewer = #{reviewer},review_status = 1,review_time = now(),flag='UPDATE'
		WHERE id IN 
		<foreach  collection="ids" item="id" open="(" close=")" separator=",">   
            #{id}  
        </foreach> 
		and review_status = 0
 </update>
 
 <!-- 根据id和busiType查询 -->
 <select id="queryReviewLogByIdAndBusiType"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_review_log t where t.id = #{id} and t.busi_type = #{busiType}
 </select>
 
 <!-- 根据用户车牌ID查询审核日志 -->
 <select id="findReviewlogByPlateId" resultMap="BaseResultMap" parameterType="java.lang.String">
 	SELECT t.* FROM app_review_log t
	LEFT JOIN app_user_car_info t1 ON t.BUSI_ID = t1.ID
	WHERE 1=1 AND t1.CAR_ID = #{_parameter} and t.flag != 'DELETE'
	ORDER BY t1.CREATE_TIME DESC
	LIMIT 1
 </select>
 
 <!-- 根据业务id删除 -->
 <delete id="deleteByBusiIds" parameterType="Object">
	delete from app_review_log where busi_id in 
		<foreach  collection="list" item="busiId" open="(" close=")" separator=",">   
            #{busiId}  
        </foreach> 
 </delete>
</mapper>   
