<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.discount.ActivityDiscountDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.discount.ActivityDiscount" >
	<result column="id" property="id"/>
		<result column="activity_topic_id" property="activityTopicId"/>
		<result column="discount_name" property="discountName"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="fulluse" property="fulluse"/>
		<result column="maxdiscount_fee" property="maxdiscountFee"/>
		<result column="is_coverly" property="isCoverly"/>
		<result column="display_num" property="displayNum"/>
		<result column="is_valid" property="isValid"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="topic_name" property="activityTopicName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.activity_topic_id,
		 t.discount_name,
		 t.start_time,
		 t.end_time,
		 t.fulluse,
		 t.maxdiscount_fee,
		 t.is_coverly,
		 t.display_num,
		 t.is_valid,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="activityTopicId != null and activityTopicId != '' " >
    	and t.activity_topic_id =  #{activityTopicId}
	</if>
	<if test="discountName != null and discountName != '' " >
    	and t.discount_name like  '%${discountName}%'
	</if>
	<if test="fulluse != null " >
    	and t.fulluse =  #{fulluse}
	</if>
	<if test="maxdiscountFee != null " >
    	and t.maxdiscount_fee =  #{maxdiscountFee}
	</if>
	<if test="isCoverly != null " >
    	and t.is_coverly =  #{isCoverly}
	</if>
	<if test="displayNum != null " >
    	and t.display_num =  #{displayNum}
	</if>
	<if test="isValid != null " >
    	and t.is_valid =  #{isValid}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_activity_discount 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="activityTopicId != null and activityTopicId != '' " >
		 activity_topic_id,
		</if>
    	<if test="discountName != null and discountName != '' " >
		 discount_name,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="fulluse != null " >
		fulluse,
		</if>
    	<if test="maxdiscountFee != null " >
		maxdiscount_fee,
		</if>
    	<if test="isCoverly != null " >
		is_coverly,
		</if>
    	<if test="displayNum != null " >
		display_num,
		</if>
    	<if test="isValid != null " >
		is_valid,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	
		create_time,
		
    	
		update_time,
		
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="activityTopicId != null and activityTopicId != '' " >
  		<![CDATA[  #{activityTopicId}, ]]>
    	</if>
    	<if test="discountName != null and discountName != '' " >
  		<![CDATA[  #{discountName}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="fulluse != null " >
  		<![CDATA[  #{fulluse}, ]]>
    	</if>
    	<if test="maxdiscountFee != null " >
  		<![CDATA[  #{maxdiscountFee}, ]]>
    	</if>
    	<if test="isCoverly != null " >
  		<![CDATA[  #{isCoverly}, ]]>
    	</if>
    	<if test="displayNum != null " >
  		<![CDATA[  #{displayNum}, ]]>
    	</if>
    	<if test="isValid != null " >
  		<![CDATA[  #{isValid}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	now(),now()
    	<!-- <if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if> -->
    	<!-- <if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if> -->
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_discount t set 
   <trim suffixOverrides="," >
	<if test="activityTopicId != null and activityTopicId != '' " >
  	<![CDATA[  t.activity_topic_id = #{activityTopicId}, ]]>
    </if>
    <if test="discountName != null and discountName != '' " >
  	<![CDATA[  t.discount_name = #{discountName}, ]]>
    </if>
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="fulluse != null " >
  	<![CDATA[  t.fulluse = #{fulluse}, ]]>
    </if>
    <if test="maxdiscountFee != null " >
  	<![CDATA[  t.maxdiscount_fee = #{maxdiscountFee}, ]]>
    </if>
    <if test="isCoverly != null " >
  	<![CDATA[  t.is_coverly = #{isCoverly}, ]]>
    </if>
    <if test="displayNum != null " >
  	<![CDATA[  t.display_num = #{displayNum}, ]]>
    </if>
    <if test="isValid != null " >
  	<![CDATA[  t.is_valid = #{isValid}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_discount where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	SELECT <include refid="Base_Column_List" />,t1.topic_name
 	FROM app_activity_discount t 
 	LEFT JOIN app_activity_topic t1 ON t.ACTIVITY_TOPIC_ID = t1.id
	where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_discount t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_activity_discount t 
	<include refid="Example_Where_Clause"/>
	<!-- order by create_time desc -->
	<if test="startTime != null and endTime != null ">
	    and t.start_time &lt;= #{startTime} and t.end_time &gt;= #{endTime}
	</if>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查看当前在线活动 -->
<select id="queryOnlineActivitys" resultMap="BaseResultMap" parameterType="java.util.Map">
<!-- 	SELECT * FROM app_activity_discount  -->
<!-- 	WHERE is_valid = 1  -->
<!-- 	  AND NOW() BETWEEN DATE_FORMAT(START_TIME,'%Y-%m-%d 00:00:00') AND DATE_FORMAT(END_TIME,'%Y-%m-%d 23:59:59') -->
<!-- 	  <if test="departureTime != null and departureTime != '' "> -->
<!-- 	  	AND DATE_FORMAT(#{departureTime},'%Y-%m-%d %H:%M:%S') BETWEEN DATE_FORMAT(START_TIME,'%Y-%m-%d 00:00:00') AND DATE_FORMAT(END_TIME,'%Y-%m-%d 23:59:59')   -->
<!-- 	  </if> -->
<!-- 	  ORDER BY DISPLAY_NUM ASC -->
	  
	  SELECT t.* FROM app_activity_discount t 
	  LEFT JOIN app_activity_discount_busi t1 ON t.id = t1.DISCOUNT_ID
	  LEFT JOIN app_activity_area_conf t2 ON t.id = t2.OBJ_ID
	  WHERE t.is_valid = 1 
        AND NOW() BETWEEN DATE_FORMAT(t.START_TIME,'%Y-%m-%d 00:00:00') AND DATE_FORMAT(t.END_TIME,'%Y-%m-%d 23:59:59')
       <if test="departureTime != null and departureTime != '' ">
	  		AND DATE_FORMAT(#{departureTime},'%Y-%m-%d %H:%M:%S') BETWEEN DATE_FORMAT(START_TIME,'%Y-%m-%d 00:00:00') AND DATE_FORMAT(END_TIME,'%Y-%m-%d 23:59:59')  
	   </if>
        AND t1.BUSI_TYPE = #{busiType} AND t2.AREA_CODE = #{areaCode}
	  ORDER BY t.DISPLAY_NUM ASC
	  limit 1
</select>

<!-- 查看所有折扣活动主题 -->
<select id="queryActivityDiscount" resultMap="BaseResultMap">
	SELECT * FROM app_activity_discount
</select>

<insert id="insert" parameterType="Object" >
  
	insert into app_activity_discount 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="activityTopicId != null and activityTopicId != '' " >
		 activity_topic_id,
		</if>
    	<if test="discountName != null and discountName != '' " >
		 discount_name,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="fulluse != null " >
		fulluse,
		</if>
    	<if test="maxdiscountFee != null " >
		maxdiscount_fee,
		</if>
    	<if test="isCoverly != null " >
		is_coverly,
		</if>
    	<if test="displayNum != null " >
		display_num,
		</if>
    	<if test="isValid != null " >
		is_valid,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	
		create_time,
		
    	
		update_time,
		
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="activityTopicId != null and activityTopicId != '' " >
  		<![CDATA[  #{activityTopicId}, ]]>
    	</if>
    	<if test="discountName != null and discountName != '' " >
  		<![CDATA[  #{discountName}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="fulluse != null " >
  		<![CDATA[  #{fulluse}, ]]>
    	</if>
    	<if test="maxdiscountFee != null " >
  		<![CDATA[  #{maxdiscountFee}, ]]>
    	</if>
    	<if test="isCoverly != null " >
  		<![CDATA[  #{isCoverly}, ]]>
    	</if>
    	<if test="displayNum != null " >
  		<![CDATA[  #{displayNum}, ]]>
    	</if>
    	<if test="isValid != null " >
  		<![CDATA[  #{isValid}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	now(),now()
    	<!-- <if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if> -->
    	<!-- <if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if> -->
    	 </trim>
</insert>
</mapper>   
