<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.discount.ActivityTicketPutlogDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.discount.ActivityTicketPutlog" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="activity_id" property="activityId"/>
		<result column="conf_id" property="confId"/>
		<result column="user_id" property="userId"/>
		<result column="ticket_type" property="ticketType"/>
		<result column="ticket_no" property="ticketNo"/>
		<result column="ticket_money" property="ticketMoney"/>
		<result column="discount" property="discount"/>
		<result column="ticket_start_time" property="ticketStartTime"/>
		<result column="ticket_end_time" property="ticketEndTime"/>
		<result column="get_ticket_time" property="getTicketTime"/>
		<result column="enabled" property="enabled"/>
		<result column="is_used" property="isUsed"/>
		<result column="ticket_use_time" property="ticketUseTime"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="create_time" property="createTime"/>
		<result column="is_overtime" property="isOvertime"/>
		<result column="valid_date" property="validDate"/>
		<result column="redeem_code" property="redeemCode"/>
		<result column="is_lock" property="isLock"/>
		<result column="lock_time" property="lockTime"/>
	</resultMap>
	
	<resultMap id="TicketResultMap" type="com.innotek.fragrans.entity.discount.ActivityTicketConfV2" >
		<result column="activity_id" property="activityId"/>
		<result column="user_id" property="userId"/>
		<result column="ticket_type" property="ticketType"/>
		<result column="ticket_no" property="ticketNo"/>
		<result column="ticket_money" property="ticketMoney"/>
		<result column="discount" property="discount"/>
		<result column="ticket_start_time" property="ticketStartTime"/>
		<result column="ticket_end_time" property="ticketEndTime"/>
		<result column="ticket_name" property="ticketName"/>
	</resultMap>
	
	<resultMap id="MyTicketListResultMap" type="com.innotek.fragrans.entity.user.MyTicketListItem" >
		<result column="user_id" property="userId"/>
		<result column="area_code" property="areaCode"/>
		<result column="activity_id" property="activityId"/>
		<result column="ticket_id" property="ticketId"/>
		<result column="ticket_no" property="ticketNo"/>
		<result column="ticket_type" property="ticketType"/>
		<result column="ticket_status" property="ticketStatus"/>
		<result column="ticket_money_discount" property="ticketMoneyDiscount"/>
		<result column="fulluse" property="fullUse"/>
		<result column="ticket_desc" property="ticketDesc"/>
		<result column="ticket_name" property="ticketName"/>
		<result column="ticket_validity" property="validityDate"/>
		<result column="valid_date" property="validDate"/>
		<result column="get_ticket_time" property="getTicketTime"/>
		<result column="maxdiscount_fee" property="maxDiscountFee"/>
	</resultMap>
	
	
	<resultMap id="ValidTicketResultMap" type="com.innotek.fragrans.entity.discount.ActivityValidTicket" >
		<result column="id" property="id"/>
		<result column="valid_day" property="validDay"/>
		<result column="is_valid" property="isValid"/>
		<result column="valid_date" property="validDate"/>
	</resultMap>
	
<!-- 	获取用户优惠券列表 -->
	 <resultMap id="UserTicketResultMap" type="com.innotek.fragrans.entity.discount.ActivityUserTicket" >
		  <result column="ticket_name" property="ticketName"/>
		  <result column="user_account" property="userAccount"/>
		  <result column="activity_name" property="activityName"/>
		  <result column="used" property="used"/>
		  <result column="parkrecord_id" property="parkrecordId"/>
		  <result column="order_no" property="orderNo"/>
		  <result column="get_ticket_time" property="getTicketTime"/>
		  <result column="ticket_use_time" property="ticketUseTime"/>
		  <result column="ticket_no" property="ticketNo"/>
		  <result column="valid_date" property="validDate"/>
		  <result column="activity_id" property="activityId"/>
		  <result column="conf_id" property="confId"/>
		  <result column="user_id" property="userId"/>
		  <result column="is_overtime" property="isOvertime"/>
		  <result column="redeem_code" property="redeemCode"/>
		  <result column="created_by" property="createdBy"/>
      </resultMap>
      
      
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.activity_id,
		 t.conf_id,
		 t.user_id,
		 t.ticket_type,
		 t.ticket_no,
		 t.ticket_money,
		 t.discount,
		 t.ticket_start_time,
		 t.ticket_end_time,
		 t.get_ticket_time,
		 t.enabled,
		 t.is_used,
		 t.ticket_use_time,
		 t.flag,
		 t.created_by,
		 t.create_time,
		 t.redeem_code,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="activityId != null and activityId != '' " >
    	and t.activity_id =  #{activityId}
	</if>
	<if test="confId != null and confId != '' " >
    	and t.conf_id =  #{confId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="ticketType != null " >
    	and t.ticket_type =  #{ticketType}
	</if>
	<if test="ticketNo != null and ticketNo != '' " >
    	and t.ticket_no =  #{ticketNo}
	</if>
	<if test="validDate != null and validDate != '' " >
    	and t.valid_date =  #{validDate}
	</if>
	<if test="ticketMoney != null " >
    	and t.ticket_money =  #{ticketMoney}
	</if>
	<if test="discount != null " >
    	and t.discount =  #{discount}
	</if>
	<if test="ticketStartTime != null " >
    	and t.ticket_start_time =  #{ticketStartTime}
	</if>
	<if test="ticketEndTime != null " >
    	and t.ticket_end_time =  #{ticketEndTime}
	</if>
	<if test="getTicketTime != null " >
    	and t.get_ticket_time =  #{getTicketTime}
	</if>
	<if test="enabled != null " >
    	and t.enabled =  #{enabled}
	</if>
	<if test="isUsed != null " >
    	and t.is_used =  #{isUsed}
	</if>
	<if test="ticketUseTime != null " >
    	and t.ticket_use_time =  #{ticketUseTime}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="redeemCode != null and redeemCode != '' " >
    	and t.redeem_code =  #{redeemCode}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_activity_ticket_putlog 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="activityId != null and activityId != '' " >
		 activity_id,
		</if>
    	<if test="confId != null and confId != '' " >
		 conf_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="ticketNo != null and ticketNo != '' " >
		 ticket_no,
		</if>
		<if test="validDate != null and validDate != '' " >
	     valid_date,
		</if>
    	<if test="getTicketTime != null " >
		get_ticket_time,
		</if>
    	<if test="enabled != null " >
		enabled,
		</if>
    	<if test="isUsed != null " >
		is_used,
		</if>
    	<if test="ticketUseTime != null " >
		ticket_use_time,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="activityId != null and activityId != '' " >
  		<![CDATA[  #{activityId}, ]]>
    	</if>
    	<if test="confId != null and confId != '' " >
  		<![CDATA[  #{confId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="ticketNo != null and ticketNo != '' " >
  		<![CDATA[  #{ticketNo}, ]]>
    	</if>
    	<if test="validDate != null and validDate != '' " >
  		<![CDATA[  #{validDate}, ]]>
    	</if>
    	<if test="getTicketTime != null " >
  		<![CDATA[  #{getTicketTime}, ]]>
    	</if>
    	<if test="enabled != null " >
  		<![CDATA[  #{enabled}, ]]>
    	</if>
    	<if test="isUsed != null " >
  		<![CDATA[  #{isUsed}, ]]>
    	</if>
    	<if test="ticketUseTime != null " >
  		<![CDATA[  #{ticketUseTime}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_ticket_putlog t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="activityId != null and activityId != '' " >
  	<![CDATA[  t.activity_id = #{activityId}, ]]>
    </if>
    <if test="confId != null and confId != '' " >
  	<![CDATA[  t.conf_id = #{confId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="ticketType != null " >
  	<![CDATA[  t.ticket_type = #{ticketType}, ]]>
    </if>
    <if test="ticketNo != null and ticketNo != '' " >
  	<![CDATA[  t.ticket_no = #{ticketNo}, ]]>
    </if>
    <if test="ticketMoney != null " >
  	<![CDATA[  t.ticket_money = #{ticketMoney}, ]]>
    </if>
    <if test="discount != null " >
  	<![CDATA[  t.discount = #{discount}, ]]>
    </if>
    <if test="ticketStartTime != null " >
  	<![CDATA[  t.ticket_start_time = #{ticketStartTime}, ]]>
    </if>
    <if test="ticketEndTime != null " >
  	<![CDATA[  t.ticket_end_time = #{ticketEndTime}, ]]>
    </if>
    <if test="getTicketTime != null " >
  	<![CDATA[  t.get_ticket_time = #{getTicketTime}, ]]>
    </if>
    <if test="enabled != null " >
  	<![CDATA[  t.enabled = #{enabled}, ]]>
    </if>
    <if test="isUsed != null " >
  	<![CDATA[  t.is_used = #{isUsed}, ]]>
    </if>
    <if test="ticketUseTime != null " >
  	<![CDATA[  t.ticket_use_time = #{ticketUseTime}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="redeemCode != null and redeemCode != '' " >
  	<![CDATA[  t.redeem_code = #{redeemCode}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_ticket_putlog t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_ticket_putlog t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_ticket_putlog t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_activity_ticket_putlog t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询我的优惠券：未过期且未使用 -->
<select id="queryTicketPutlogByMap" resultMap="TicketResultMap"  parameterType="Object">
 	SELECT 
	t.activity_id,
	t.user_id,
	t.ticket_type,
	t.ticket_no,
	t.ticket_money,
	t.discount,
	t.ticket_start_time,
	t.ticket_end_time,
	t2.ticket_name
	FROM app_activity_ticket_putlog t
	LEFT JOIN app_activity t1 ON  (t1.id=t.activity_id AND t1.city_code=t.city_code)
	LEFT JOIN app_activity_ticket_conf t2 ON (t2.activity_id=t1.id AND t2.city_code=t1.city_code)
	WHERE t.enabled = 1 AND t.is_used = 0
	AND  DATE_FORMAT(NOW(),'%Y-%m-%d') between t.TICKET_START_TIME and t.TICKET_END_TIME
	AND t.flag != 'DELETE'
    AND t1.flag!='DELETE'
	<trim suffixOverrides=",">
		<if test="userId != null">
			and t.user_id= #{userId}
		</if>
		<if test="cityCode != null">
			and t.city_code = #{cityCode}
		</if>
		<if test="parkId != null">
			and t1.park_id= #{parkId}
		</if>
		<if test="ticketNo != null">
			and t.ticket_no = #{ticketNo}
		</if>
	</trim> 
 	ORDER BY t.TICKET_END_TIME DESC 
</select>

<select id="queryByActivityIdAndTicketNo" resultMap="BaseResultMap"  parameterType="Object">
	SELECT 
	<include refid="Base_Column_List"/>  
	FROM app_activity_ticket_putlog t
	WHERE t.city_code = #{cityCode} 
	AND t.activity_id = #{activityId} 
	AND t.ticket_no = #{ticketNo}
	AND t.flag != 'DELETE'
</select>

<!-- 获取用户默认商户的优惠券列表 -->
<select id="queryDefaultProoviderTicketList" resultMap="TicketResultMap"  parameterType="java.util.Map">
	SELECT t.activity_id,t.user_id,t.ticket_type,t.ticket_no,t.ticket_money,t.discount,t.ticket_start_time,t.ticket_end_time,t2.ticket_name
		FROM app_activity_ticket_putlog t
		LEFT JOIN app_activity t1 ON  (t1.id=t.activity_id AND t1.city_code=t.city_code)
		LEFT JOIN app_activity_ticket_conf t2 ON (t2.activity_id=t1.id AND t2.city_code=t1.city_code)
	WHERE t.enabled = 1 AND t.is_used = 0 AND t.flag!='DELETE'
		AND t1.status=1 AND t1.flag!='DELETE'
		AND NOW() BETWEEN DATE_FORMAT(t2.TICKET_START_TIME,'%Y-%m-%d %h-%i-%s') 
        AND DATE_FORMAT(t2.TICKET_END_TIME,'%Y-%m-%d %h-%i-%s')
		AND t2.flag!='DELETE' 
		AND  t.user_id= #{userId} 
		AND t.city_code = #{cityCode}
</select>


<!-- 获取指定优惠券默认商户的折扣信息 -->
<select id="queryDiscountInfoByDefaultProviderAndTicketNo" resultMap="TicketResultMap"  parameterType="java.util.Map">
	SELECT t.activity_id,t.user_id,t.ticket_type,t.ticket_no,t.ticket_money,t.discount,t.ticket_start_time,t.ticket_end_time,t2.ticket_name
		FROM app_activity_ticket_putlog t
		LEFT JOIN app_activity t1 ON  (t1.id=t.activity_id AND t1.city_code=t.city_code)
		LEFT JOIN app_activity_ticket_conf t2 ON (t2.activity_id=t1.id AND t2.city_code=t1.city_code)
	WHERE t.enabled = 1 AND t.is_used = 0 AND t.flag!='DELETE'
		AND t1.status=1 AND t1.flag!='DELETE'
		AND NOW() BETWEEN DATE_FORMAT(t2.TICKET_START_TIME,'%Y-%m-%d %h-%i-%s') 
        AND DATE_FORMAT(t2.TICKET_END_TIME,'%Y-%m-%d %h-%i-%s')
		AND t2.flag!='DELETE' 
		AND  t.user_id= #{userId} 
		AND t.city_code = #{cityCode}
		AND t.ticket_no = #{ticketNo}
		limit 1
</select>

<!-- 获取指定商户的优惠券列表 -->
<select id="queryTicketListByParkId" resultMap="TicketResultMap"  parameterType="java.util.Map">
	SELECT t.activity_id,t.user_id,t.ticket_type,t.ticket_no,t.ticket_money,t.discount,t.ticket_start_time,t.ticket_end_time,t2.ticket_name
		FROM app_activity_ticket_putlog t
		LEFT JOIN app_activity t1 ON  (t1.id=t.activity_id AND t1.city_code=t.city_code)
		LEFT JOIN app_activity_ticket_conf t2 ON (t2.activity_id=t1.id AND t2.city_code=t1.city_code)
	WHERE t.enabled = 1 AND t.is_used = 0 AND t.flag!='DELETE'
		AND t1.status=1 AND t1.flag!='DELETE'
		AND NOW() BETWEEN DATE_FORMAT(t2.TICKET_START_TIME,'%Y-%m-%d %h-%i-%s') 
        AND DATE_FORMAT(t2.TICKET_END_TIME,'%Y-%m-%d %h-%i-%s')
		AND t2.flag!='DELETE' 
		AND  t.user_id= #{userId} 
		AND t.city_code = #{cityCode}
		AND t1.park_id= #{parkId}
</select>

<!-- 获取指定优惠券指定商户的折扣信息 -->
<select id="queryDiscountInfoByParkIdAndTicketNo" resultMap="TicketResultMap"  parameterType="java.util.Map">
	SELECT t.activity_id,t.user_id,t.ticket_type,t.ticket_no,t.ticket_money,t.discount,t.ticket_start_time,t.ticket_end_time,t2.ticket_name
		FROM app_activity_ticket_putlog t
		LEFT JOIN app_activity t1 ON  (t1.id=t.activity_id AND t1.city_code=t.city_code)
		LEFT JOIN app_activity_ticket_conf t2 ON (t2.activity_id=t1.id AND t2.city_code=t1.city_code)
	WHERE t.enabled = 1 AND t.is_used = 0 AND t.flag!='DELETE'
		AND t1.status=1 AND t1.flag!='DELETE'
		AND NOW() BETWEEN DATE_FORMAT(t2.TICKET_START_TIME,'%Y-%m-%d %h-%i-%s') 
        AND DATE_FORMAT(t2.TICKET_END_TIME,'%Y-%m-%d %h-%i-%s')
		AND t2.flag!='DELETE' 
		AND  t.user_id= #{userId} 
		AND t.city_code = #{cityCode}
		AND t1.park_id= #{parkId}
		AND t.ticket_no = #{ticketNo}
		limit 1
</select>

<!-- *************************************************************************************** -->
<!-- 查询优惠券列表 -->
<select id="findTicketListByUserId" resultMap="MyTicketListResultMap"  parameterType="java.util.Map">
 SELECT t.valid_date,t.get_ticket_time,t.ticket_no,t1.ticket_type,t1.ticket_desc,t1.ticket_name,
   CASE WHEN t.is_used = 1 THEN 2 
     	WHEN t.is_overtime = 1 THEN 4
     	WHEN t.enabled = 0 AND t.is_used = 0 AND t.is_overtime = 0 THEN 1 END ticket_status,
   CASE WHEN t1.ticket_type = 3 THEN t1.DISCOUNT ELSE t1.TICKET_MONEY END ticket_money_discount,
   CASE WHEN t1.ticket_type = 3 THEN MAXDISCOUNT_FEE ELSE TICKET_MONEY END maxdiscount_fee
 FROM app_activity_ticket_putlog t
 LEFT JOIN app_activity_ticket_conf t1 ON t.conf_id = t1.id
 WHERE 1=1 AND t.user_id = #{userId}
<!--  	<if test="isValid != null and isValid == 1"> -->
<!--  		and t.flag!= 'DELETE' AND t.ENABLED = 0 AND t.is_used = 0 AND t.is_overtime = 0 -->
<!--  	</if> -->
<!--  	<if test="isValid != null and isValid == 0"> -->
<!--  		and (t.flag = 'DELETE' or t.ENABLED = 1 or t.is_used = 1 or t.is_overtime = 1) -->
<!--  	</if> -->
 	  and t.flag!= 'DELETE' AND t.ENABLED = 0 AND t.is_used = 0 AND t.is_overtime = 0
	<!-- and t.CREATE_TIME &gt; DATE_SUB(CURDATE(), INTERVAL 2 MONTH) -->
ORDER BY t.IS_OVERTIME ASC,t.IS_USED ASC,t.enabled ASC,t.valid_date ASC,t1.ticket_type ASC,t1.ticket_money DESC
LIMIT #{startIndex},#{pageLength}
</select>

<!-- 根据用户ID查询我的优惠券条数 -->
<select id="getMyTicketListCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
 	SELECT COUNT(1)
 	FROM app_activity_ticket_putlog t
	LEFT JOIN app_activity_ticket_conf t1 ON t.conf_id = t1.id
	WHERE 1=1 AND t.user_id = #{userId}
<!-- 		<if test="isValid != null and isValid == 1"> -->
<!-- 	 		and t.flag!= 'DELETE' AND t.ENABLED = 0 AND t.is_used = 0 AND t.is_overtime = 0 -->
<!-- 	 	</if> -->
<!-- 	 	<if test="isValid != null and isValid == 0"> -->
<!-- 	 		and (t.flag = 'DELETE' or t.ENABLED = 1 or t.is_used = 1 or t.is_overtime = 1) -->
<!-- 	 	</if> -->
	 	and t.flag!= 'DELETE' AND t.ENABLED = 0 AND t.is_used = 0 AND t.is_overtime = 0
	<!-- and t.CREATE_TIME &gt; DATE_SUB(CURDATE(), INTERVAL 2 MONTH) -->
</select>

<!-- 通过优惠券编号获取优惠券信息 -->
<select id="queryTicketPutlogByTicketNo" resultMap="BaseResultMap"  parameterType="Object">
 	SELECT t.*
 	FROM app_activity_ticket_putlog t
	WHERE t.flag != 'DELETE' and t.ticket_no = #{ticketNo}
	limit 1
</select>

<!-- 查询已经过期的优惠券列表 -->
<select id="queryValidDateTicket" resultMap="ValidTicketResultMap"  parameterType="Object">
   SELECT A.* FROM (
	 	SELECT id,
	 	DATEDIFF(VALID_DATE,NOW()) valid_day,
	 	CASE WHEN DATEDIFF(VALID_DATE,NOW())&lt;= 0 THEN 1 ELSE 0 END is_valid, VALID_DATE
	 	FROM app_activity_ticket_putlog 
	 	WHERE 1=1 AND flag!='DELETE'
	 	AND IS_USED=0 AND IS_OVERTIME=0 AND ENABLED=0
 	) A WHERE A.is_valid=1
</select>

<!-- 查询某个用户的优惠券列表 -->
<select id="queryUserTicketList" resultMap="UserTicketResultMap"  parameterType="Object">
    SELECT D.ticket_name ,C.user_account ,B.activity_name , A.is_used used, 
	     A.get_ticket_time,A.ticket_use_time, A.redeem_code,A.ticket_no,A.valid_date,A.activity_id,A.conf_id,A.user_id,A.is_overtime,A.created_by FROM (
	 SELECT * FROM app_activity_ticket_putlog WHERE user_id IN (
	 SELECT id FROM app_user WHERE 1=1 AND user_account = #{userAccount})
	 ) A 
	 LEFT JOIN app_activity B ON A.activity_id=B.id
	 LEFT JOIN app_user C ON A.user_id = C.id
	 LEFT JOIN app_activity_ticket_conf D ON D.id=A.conf_id
	 order by A.get_ticket_time desc
</select>

<!-- 根据id，修改记录-->  
<update id="updateTicketStatus" parameterType="Object" >
	update app_activity_ticket_putlog set IS_OVERTIME=1,ENABLED=1 where id=#{id}
</update>

<!-- 根据条件获取发券数 -->
<select id="countSendCoupons" resultType="java.lang.Integer"  parameterType="Object">
 	SELECT COUNT(1)
 	FROM app_activity_ticket_putlog t
	WHERE t.user_id = #{userId} and ACTIVITY_ID=#{activityId} 
	<if test="getTime != null and getTime != '' ">
	AND TO_DAYS(GET_TICKET_TIME) = TO_DAYS(#{getTime} ) 
	</if>	
</select>

<!-- 查询用户指定地区的所有有效优惠券 -->
<select id="queryUsableTicketByUserAndArea" resultMap="MyTicketListResultMap"  parameterType="Object">
 SELECT t2.area_code,t.activity_id,t.ticket_no,t.user_id,t.valid_date,t.conf_id ticket_id,
        t.get_ticket_time,t3.ticket_desc,t3.ticket_name,t3.ticket_validity,t3.ticket_type,t3.fulluse,
        CASE WHEN t.is_used = 1 THEN 2 WHEN t.is_overtime = 1 THEN 4
             WHEN t.enabled = 0 AND t.is_used = 0 AND t.is_overtime = 0 THEN 1 END ticket_status,
        CASE WHEN t3.ticket_type = 3 THEN t3.discount ELSE t3.ticket_money END ticket_money_discount,
        CASE WHEN t3.ticket_type = 3 THEN t3.maxdiscount_fee ELSE t3.ticket_money END maxdiscount_fee
FROM app_activity_ticket_putlog t
LEFT JOIN app_activity t1 ON t.activity_id = t1.ID
LEFT JOIN app_activity_area_conf t2 ON t2.obj_id = t.conf_id 
LEFT JOIN app_activity_ticket_conf t3 ON t.conf_id = t3.id
WHERE t.flag!= 'DELETE' AND t.ENABLED = 0 AND is_used = 0 AND is_overtime = 0
AND date_format(t.VALID_DATE,'%y-%m-%d 23:59:59') &gt; NOW()
AND t.user_id = #{userId}
AND t1.start_time &lt;= #{arriveTime}
AND t2.obj_type= 3 AND t2.area_code = #{areaCode}
</select>

<!-- 查询用户所有可用优惠券 -->
<select id="queryUsabelTiskets" resultMap="MyTicketListResultMap"  parameterType="java.lang.String">
	 SELECT 
        t.activity_id,
        t.ticket_no,
        t.user_id,
        t.valid_date,
        t.conf_id ticket_id,
        t.get_ticket_time,
        CASE WHEN t.is_used = 1 THEN 2 WHEN t.is_overtime = 1 THEN 4 WHEN t.enabled = 0 AND t.is_used = 0 AND t.is_overtime = 0 THEN 1 END ticket_status
	FROM app_activity_ticket_putlog t
	WHERE t.flag!= 'DELETE' AND t.ENABLED = 0 AND t.is_used = 0 AND t.is_overtime = 0
	  AND t.is_lock = 0
	  AND DATE_FORMAT(t.VALID_DATE,'%y-%m-%d 23:59:59') &gt;= NOW()
	  AND t.user_id = #{_parameter}
</select>

<!-- 根据区域编码和配置ID查询停车券配置信息 -->
<select id="queryTicketConfByAreaAndId" resultMap="MyTicketListResultMap"  parameterType="java.util.Map">
	 SELECT 
	    t.ticket_desc,
        t.ticket_name,
        t.ticket_validity,
        t.ticket_type,
        t.fulluse,
        CASE WHEN t.ticket_type = 3 THEN t.discount ELSE t.ticket_money END ticket_money_discount,
        CASE WHEN t.ticket_type = 3 THEN t.maxdiscount_fee ELSE t.ticket_money END maxdiscount_fee
    FROM app_activity_ticket_conf t
    LEFT JOIN app_activity_area_conf t1 ON t.id = t1.obj_id
    WHERE t1.obj_type= 3 AND t1.area_code = #{areaCode} 
      AND t.id = #{confId}
</select>

<!-- 查询用户兑换码领券记录 -->
<select id="findTicketByUserIdAndRedeemCode" resultMap="BaseResultMap" parameterType="java.util.Map">
	SELECT * FROM app_activity_ticket_putlog 
	WHERE flag != 'DELETE' 
	  AND user_id = #{userId} 
	  AND activity_id = #{activityId} 
	  AND redeem_code = #{redeemCode}
</select>

<!-- 查询到期提醒时长内的发券记录 -->
<select id="findPutlogsInnerExpiredSec" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_activity_ticket_putlog
	WHERE FLAG != 'DELETE' AND ENABLED = 0 AND IS_USED = 0 AND IS_OVERTIME = 0 
  	  AND TIMESTAMPDIFF(DAY,DATE_FORMAT(NOW(),'%Y-%m-%d'),VALID_DATE) &lt; #{expiredSec}
</select>

<!-- 更新优惠券锁定状态 -->
<update id="updateTicketIsLock" parameterType="Object">
	UPDATE app_activity_ticket_putlog SET is_lock = 1 
	WHERE ticket_no = #{ticketNo}
</update>

<!-- 根据条件获取活动发券数 -->
<select id="queryActivityCouponsCount" resultType="java.lang.Integer"  parameterType="Object">
 	SELECT COUNT(1)
 	FROM app_activity_ticket_putlog t
	WHERE ACTIVITY_ID=#{activityId} 
	<if test="getTime != null and getTime != '' ">
	AND TO_DAYS(GET_TICKET_TIME) = TO_DAYS(#{getTime} ) 
	</if>	
</select>

<!-- 更新优惠券锁定状态 -->
<update id="updateTicketLockStatus" parameterType="Object">
	UPDATE app_activity_ticket_putlog SET is_lock = #{isLock},lock_time = #{lockTime}
	WHERE IS_USED = 0 AND IS_OVERTIME = 0 AND ENABLED = 0
	  AND ticket_no = #{ticketNo} and user_id = #{userId}
</update>

<!-- 解锁全部停车券 -->
<update id="deBlockAllTicket" parameterType="Object">
	UPDATE app_activity_ticket_putlog SET is_lock = #{isLock},lock_time = null 
	WHERE IS_USED = 0 AND IS_OVERTIME = 0 AND ENABLED = 0 and is_lock = 1
	  AND user_id = #{userId}
</update>

<!-- 更新优惠券使用状态 -->
<update id="batchUpdateTicket" parameterType="java.util.ArrayList">
	<foreach collection="list" item="item" index="index">
		UPDATE app_activity_ticket_putlog
		SET ENABLED = #{item.enabled},IS_USED = #{item.isUsed},
		TICKET_USE_TIME = #{item.ticketUseTime},flag = #{item.flag} 
		WHERE id = #{item.id};
	</foreach>
</update>
</mapper>   
