<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- 添加让 viewport（视口）支持响应式布局的 标签-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 使用thymeleaf引入依赖-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<!--    <script th:src="@{/js/jquery-3.6.0.js}"></script>-->
<!--    <script th:src="@{/js/bootstrap.bundle.js}"></script>-->

    <!--    需要启tomcat，本地引入依赖文件，为啥子注释的不可以？-->
<!--    <link rel="stylesheet" href="css/bootstrap.css">-->
<!--    <script src="js/jquery-3.6.0.js"></script>-->
<!--    <script src="js/bootstrap.bundle.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    <!--    不用启tomcat，本地引入依赖文件-->
<!--        <link rel="stylesheet" href="../static/css/bootstrap.css">-->
<!--        <script src="../static/js/jquery-3.6.0.js"></script>-->
<!--        <script src="../static/js/bootstrap.bundle.js"></script>-->

    <!--    测试jquery-->
    <script>
        $(document).ready(function () {
            // alert("jquery 已启用");
        })
    </script>

    <!--    ======================分界线======================-->

    <!--页面标题-->
    <title>/eeadmin.html</title>


<!--    绑定选择部门下拉框-->
    <script>
        $(function () {
            $("#form_select_dept").change(function () {
                let deptId = $(this).val();
                let url = "/eeadmin/"+deptId;
                location.assign(url);
            })
        })
    </script>


<!--    分页函数-->
    <script>
        function page_program() {
            // 获取表格的条目总数
            let $trs = $("#table_ee_tbody").children();
            // let $trs = $("#table_dept_tbody>tr:visible");
            let trs_num = $trs.length;

            //每页显示的条目数
            let pager_per_page_num = parseInt($("#pager_per_page_num").val());

            //获取上一页、下一页的按钮
            let $pager_perv_page_btn =  $("#pager_perv_page_btn");
            let $pager_next_page_btn = $("#pager_next_page_btn");

            if(trs_num <= pager_per_page_num) {//总条目够一页显示的，不用分页
                $pager_perv_page_btn.parent().addClass("disabled");
                $pager_next_page_btn.parent().addClass("disabled");

                $("#pager_page_num").text(1);
                $("#pager_total_page").text(1);

                $trs.show();
            }else{

                //设置总页数, js 的除法可以算出小数来
                let pager_total_page = Math.ceil(trs_num / pager_per_page_num);
                $("#pager_total_page").text(pager_total_page);

                //获取当前的页码，减1是因为实际页码是从1开始的，但是索引是从0开始的
                let pager_page_num = parseInt($("#pager_page_num").text()) -1;

                //如果是第一页，隐藏上一页按钮,最后一页，隐藏下一页按钮
                //不用隐藏，可以使用bootstrap的class属性
                if(pager_page_num === 0){
                    $pager_perv_page_btn.parent().addClass("disabled");
                    $pager_next_page_btn.parent().removeClass("disabled")
                }else if(pager_page_num === (pager_total_page - 1)){
                    $pager_perv_page_btn.parent().removeClass("disabled");
                    $pager_next_page_btn.parent().addClass("disabled")
                }else {
                    $pager_perv_page_btn.parent().removeClass("disabled");
                    $pager_next_page_btn.parent().removeClass("disabled")
                }

                $trs.hide();//先把所有的条目给隐藏了

                //显示数据
                for(let i=0; i < pager_per_page_num; ++i){
                    $trs.eq(pager_page_num * pager_per_page_num + i).show();
                }
            }
        }
    </script>
<!--  绑定上一页、下一页和选择每页条数的按钮，并且启动分页-->
    <script>
        $(document).ready(function () {
            $("#pager_perv_page_btn").click(function () {
                let pager_page_num = parseInt($("#pager_page_num").text());

                //pager_page_num是从 1 开始的
                pager_page_num -= 1;
                $("#pager_page_num").text(pager_page_num);

                page_program();
            })

            $("#pager_next_page_btn").click(function (){
                let pager_page_num = parseInt($("#pager_page_num").text());
                pager_page_num += 1;
                $("#pager_page_num").text(pager_page_num);

                page_program();
            })

            $("#pager_per_page_num").change(function () {
                //每次更改，都重置到第一页，可以做一个页码转换的。
                $("#pager_page_num").text("1");
                page_program();
            })

        })
    </script>
<!--    启动分页-->
    <script>
        $(function () {
            page_program();
        })
    </script>



<!--    绑定删除按钮-->
    <script>
        $(function () {
            $("#table_ee_delete_btn").click(function () {
                let confirm_result = confirm("确认删除该名员工？");
                if(confirm_result){
                    // alert("确认");
                    let $table_ee_checked_checkbox = $(".table_ee_checkbox:checked");
                    if($table_ee_checked_checkbox.length === 0){
                        alert("您未选择要删除的员工");
                    }else if($table_ee_checked_checkbox.length > 1){
                        alert("您选择了多个要删除的员工，为防止误操作，请您逐个删除");
                    }else {
                        let ee_id = $table_ee_checked_checkbox.eq(0).val();
                        $.ajax({
                            url:"/deleteEmployeeById",
                            type:"get",
                            data:{id: ee_id},
                            success: function (data) {
                                data = +data;
                                if(data === 1){
                                    alert("删除成功");
                                    $table_ee_checked_checkbox.first().parent().parent().parent().remove();
                                }else {
                                    alert("删除失败");
                                }
                            },
                            error: function () {
                                alert("error 删除失败");
                            }
                        })
                    }


                }else {
                    ;
                }
            })
        })
    </script>



<!--    绑定搜索按钮-->
    <script>
        $(document).ready(function () {
            $("#form_search_ee_btn").click(function () {
                let ee_name = $(this).prev().val().trim();
                if(ee_name.length === 0){
                    alert("请输入员工姓名进行搜索");
                }else {
                    let $tds_ee_name = $("#table_ee_tbody>tr :nth-child(3):contains("+ee_name+")");
                    let $trs_ee_name = $tds_ee_name.parent();

                    $("#table_ee_tbody>tr").hide();
                    $("#pager").hide();

                    $trs_ee_name.show();
                    $("#form_search_ee_return_btn").show();

                }
            })
        })
    </script>
<!-- 绑定搜索返回按钮-->
    <script>
        $(function () {
            $("#form_search_ee_return_btn").click(function () {
                location.reload();
            })
        })
    </script>



<!-- 新增表单验证 聚焦时不验证 失焦时验证-->
    <script src="/js/valid_ee.js"></script>
<!--    聚焦-->
    <script>
        $(function () {
            $("#form_add_ee_name").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })

            $("#form_add_ee_age").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })

            $("#form_add_ee_tel").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })

            $("#form_add_ee_account").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })

            $("#form_add_ee_pwd").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })
        })
    </script>
<!--    失焦-->
    <script>
        $(function () {
            $("#form_add_ee_name").blur(function () {
                let ee_name = $(this).val();
                if(valid_ee_name(ee_name) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })

            $("#form_add_ee_age").blur(function () {
                let ee_age = $(this).val();
                if(valida_ee_age(ee_age) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })

            $("#form_add_ee_tel").blur(function () {
                let ee_tel = $(this).val();
                if(valid_ee_tel(ee_tel) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })

            $("#form_add_ee_account").blur(function () {
                let ee_account = $(this).val();
                if(valid_ee_account(ee_account) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })

            $("#form_add_ee_pwd").blur(function () {
                let ee_pwd = $(this).val();
                if(valid_ee_pwd(ee_pwd) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })
        })
    </script>

<!--    新增提交时验证函数-->
    <script>
        function valid_add_ee() {
            let ee_name = $("#form_add_ee_name").val();
            let ee_age = $("#form_add_ee_age").val();
            let ee_tel = $("#form_add_ee_tel").val();
            let ee_account = $("#form_add_ee_account").val();
            let ee_pwd = $("#form_add_ee_pwd").val();

            if(valid_ee_name(ee_name) && valida_ee_age(ee_age) && valid_ee_tel(ee_tel) &&
                valid_ee_account(ee_account) && valid_ee_pwd(ee_pwd)){
                return true;
            }

            return false;

        }
    </script>

<!--    绑定新增表单的提交按钮-->
    <script>
        $(function () {
            $("#form_add_ee_submit_btn").click(function () {

                if(valid_add_ee()){
                    $.ajax({
                        url:"/insertEmployee",
                        type: "get",
                        data: $("#form_add_ee").serialize(),
                        success: function (data) {
                            data = +data;
                            if(data !== 0){
                                let str = "添加员工成功，员工编号为：" + data;
                                alert(str);
                                $("#ee_add_modal").modal("hide");
                                location.reload();
                            }else {
                                alert("添加员工失败");
                            }
                        },
                        error: function () {
                            alert("添加员工失败，稍后再试");
                        }
                    })
                }else {
                    alert("请填写正确的员工信息");
                }
            })
        })
    </script>



<!--绑定修改员工按钮-->
    <script>
        $(function () {
            $("#table_ee_update_btn").click(function () {

                let $table_ee_checked_checkbox = $(".table_ee_checkbox:checked");
                if($table_ee_checked_checkbox.length === 0){
                    alert("您未选中一个员工");
                }else if($table_ee_checked_checkbox.length > 1){
                    alert("您选中了一个以上的员工，一次只能修改一个员工");
                }else {
                    let $tr = $table_ee_checked_checkbox.first().parent().parent().parent();
                    let id = $tr.children().eq(1).text();
                    let name = $tr.children().eq(2).text();
                    let sex = $tr.children().eq(3).text();
                    let age = $tr.children().eq(4).text();
                    let tel = $tr.children().eq(5).text();
                    let account = $tr.children().eq(6).text();
                    let pwd = $tr.children().eq(7).text();
                    let deptId = $tr.children().eq(8).text();


                    $("#form_update_ee_id").val(id);
                    $("#form_update_ee_name").val(name);
                    if(sex === "男"){
                        $("#form_update_ee_sex_male").attr("checked", true);
                        $("#form_update_ee_sex_female").attr("checked", false);

                    }else {
                        $("#form_update_ee_sex_male").attr("checked", false);
                        $("#form_update_ee_sex_female").attr("checked", true);
                    }

                    $("#form_update_ee_age").val(age);
                    $("#form_update_ee_tel").val(tel);
                    $("#form_update_ee_account").val(account);
                    $("#form_update_ee_pwd").val(pwd);
                    $("#form_update_ee_deptId").val(deptId);


                    $("#ee_update_modal").modal("show");
                }
            })
        })
    </script>
<!--修改员工表单验证-->
<!--    聚焦时-->
    <script>
        $(function () {

            $("#form_update_ee_age").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })

            $("#form_update_ee_tel").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })

            $("#form_update_ee_pwd").focus(function () {
                $(this).removeClass("is-invalid");
                $(this).next().removeClass("text-danger").addClass("text-muted");
            })
        })
    </script>
<!--    失焦时表单验证-->
    <script>
        $(function () {

            $("#form_update_ee_age").blur(function () {
                let ee_age = $(this).val();
                if(valida_ee_age(ee_age) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })

            $("#form_update_ee_tel").blur(function () {
                let ee_tel = $(this).val();
                if(valid_ee_tel(ee_tel) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })



            $("#form_update_ee_pwd").blur(function () {
                let ee_pwd = $(this).val();
                if(valid_ee_pwd(ee_pwd) === false){
                    $(this).addClass("is-invalid");
                    $(this).next().removeClass("text-muted").addClass("text-danger");
                }else {
                    ;
                }
            })
        })
    </script>
<!--    修改员工提交时验证-->
    <script>
        function valid_update_ee() {

            let ee_age = $("#form_update_ee_age").val();
            let ee_tel = $("#form_update_ee_tel").val();
            let ee_pwd = $("#form_update_ee_pwd").val();

            if(valida_ee_age(ee_age) && valid_ee_tel(ee_tel) && valid_ee_pwd(ee_pwd)){
                return true;
            }

            return false;

        }
    </script>
<!--    绑定员工提交按钮-->
    <script>
        $(function () {
            $("#form_update_ee_submit_btn").click(function () {
                let sex = $("#form_update_ee :radio:checked").first().val();
                let age = $("#form_update_ee_age").val();
                let tel = $("#form_update_ee_tel").val();
                let pwd = $("#form_update_ee_pwd").val();
                let deptId = $("#form_update_ee_deptId").val();


                if(valid_update_ee()){
                    $.ajax({
                        url: "/updateEmployee",
                        type: "get",
                        data:$("#form_update_ee").serialize(),
                        success:function (data) {
                            data = +data;
                            if(data !== 0){
                                //修改成功，使用jquery把那一行数据也给改了，把模态框关闭
                                let $table_ee_checked_checkbox = $(".table_ee_checkbox:checked");
                                let $tr = $table_ee_checked_checkbox.first().parent().parent().parent();

                                $tr.children().eq(3).text(sex);
                                $tr.children().eq(4).text(age);
                                $tr.children().eq(5).text(tel);
                                $tr.children().eq(7).text(pwd);
                                $tr.children().eq(8).text(deptId);

                                let str = "更新成功" + $("#form_update_ee").serialize();
                                $("#ee_update_modal").modal("hide");
                                alert(str);
                            }else {
                                alert("更新失败");
                            }
                        },
                        error: function () {
                            alert("更新失败，请稍后再试");
                        }
                    })
                }else {
                    alert("请填写正确的员工信息");
                }
            })
        })
    </script>









</head>
<body>
<div class="container">

<!--    导航栏-->
    <nav class="navbar navbar-expand bg-dark navbar-dark">
        <a class="navbar-brand text-info disabled" href="#">InnotekDemo</a>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/deptadmin">部门管理</a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="/eeadmin/0">员工管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addDeptAndEE">级联新增</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/search">搜索部门或员工</a>-->
<!--            </li>-->
        </ul>
        <form class="form-inline">
            <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="输入员工姓名">
            <button id="form_search_ee_btn" class="btn btn-sm btn-outline-success my-2 my-sm-0" type="button">搜索员工</button>&nbsp;&nbsp;
            <button id="form_search_ee_return_btn" class="btn btn-sm btn-outline-primary my-2 my-sm-0"
                    type="button" style="display: none">返回员工管理</button>

        </form>
    </nav>


<!--    展示员工信息-->
    <div id="table_ee">
        <hr />
        <h5>员工信息表</h5>
       <div>
           <form class="form-inline">
               <label for="form_select_dept"><small>选择部门&nbsp;&nbsp;</small></label>
               <select id="form_select_dept" class="form-control form-control-sm">
                   <option value="0">全部</option>
                   <div th:each="dept:${deptList}">
                       <option th:value="${dept.getId()}" th:text="${dept.getName()}" th:selected="${deptId} == ${dept.getId()}"></option>
                   </div>
               </select>
           </form>
       </div>

        <hr />
        <div class="row">
            <div class="col-1">
                <button type="button" class="btn btn-sm btn-primary" id="table_ee_update_btn">修改</button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-sm btn-danger" id="table_ee_delete_btn">删除</button>
            </div>
            <div class="offset-9 col-1">
                <button type="button" class="btn btn-sm btn-success" id="table_ee_add_btn"
                        data-toggle="modal" data-target="#ee_add_modal">新增</button>
            </div>
        </div>
        <table class="table table-sm table-light table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th></th>
                <th>员工编号</th><th>员工姓名</th><th>性别</th><th>年龄</th><th>手机号码</th><th>账号</th> <th>密码</th><th>所在部门编号</th>
            </tr>
            </thead>
            <tbody id="table_ee_tbody">
            <tr th:each="ee:${eeList}">
                <td>
                    <div class="form-check" >
                        <input type="checkbox" class="form-check-input m-auto table_ee_checkbox" th:value="${ee.getId()}">
                    </div>
                </td>
                <td th:text="${ee.getId()}"></td>
                <td th:text="${ee.getName()}"></td>
                <td th:text="${ee.getSex()}"></td>
                <td th:text="${ee.getAge()}"></td>
                <td th:text="${ee.getTel()}"></td>
                <td th:text="${ee.getAccount()}"></td>
                <td th:text="${ee.getPwd()}"></td>
                <td th:text="${ee.getDeptId()}"></td>
            </tr>
            </tbody>
        </table>

        <hr />
    </div>


<!--    分页组件-->
    <div id="pager" class="row">
        <div class="col-2">
            <form class="form-inline">
                <label for="pager_per_page_num">每页条目数&nbsp;&nbsp;</label>
                <select id="pager_per_page_num" class="form-control form-control-sm">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </form>
        </div>
        <nav class="col-2">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link btn-sm" id="pager_perv_page_btn">上一页</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link btn-sm" id="pager_next_page_btn">下一页</a>
                </li>
            </ul>
        </nav>
        <div class="col-2 text-center">
            <span>第</span>
            <span id="pager_page_num">1</span>
            <span>页，共</span>
            <span id="pager_total_page">1</span>
            <span>页</span>
        </div>
    </div>

<!--    新增员工模态框-->
    <div id="ee_add_modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增员工</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form_add_ee" method="get" action="/insertEmployee">
                <!--     员工编号id 隐藏域-->
                        <input type="number" name="id" value="0" hidden>

                        <div class="form-group">
                            <label for="form_add_ee_name">员工姓名</label>
                            <input type="text" id="form_add_ee_name" name="name" class="form-control"
                                   required minlength="2" maxlength="16" />
                            <small id="form_add_ee_name_help" class="form-text text-muted">员工姓名不能为空，最少2字符，最多16字符</small>
                        </div>

                        <div class="form-group">
                            <label for="form_add_ee_age">年龄</label>
                            <input type="number" id="form_add_ee_age" name="age" class="form-control" min="18" max="65">
                            <small id="form_add_ee_age_help" class="form-text text-muted">最低年龄为18岁，最高年龄为65岁</small>
                        </div>

                        <div class="form-group">
                            <span class="form-text">性别</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="sex" id="form_add_ee_sex_male" value="男" class="form-check-input" checked>
                                <label for="form_add_ee_sex_male" class="form-check-label">男</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" name="sex" id="form_add_ee_sex_female" value="女" class="form-check-input">
                                <label for="form_add_ee_sex_female" class="form-check-label">女</label>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="form_add_ee_tel">手机号码</label>
                            <input type="tel" id="form_add_ee_tel" name="tel" class="form-control" pattern="[1][3,4,5,7,8][0-9]{9}"/>
                            <small id="form_add_ee_tel_help" class="form-text text-muted">请输入正确的中国大陆地区11位手机号码</small>
                        </div>

                        <div class="form-group">
                            <label for="form_add_ee_account">账户</label>
                            <input type="text" id="form_add_ee_account" name="account" class="form-control"
                            minlength="6" maxlength="16" required/>
                            <small id="form_add_ee_account_help" class="form-text text-muted">账户不能为空，最少6字符，最多16字符</small>
                        </div>

                        <div class="form-group">
                            <label for="form_add_ee_pwd">密码</label>
                            <input type="password" id="form_add_ee_pwd" name="pwd" class="form-control"
                                   minlength="6" maxlength="16" required/>
                            <small id="form_add_ee_pwd_help" class="form-text text-muted">密码不能为空，最少6字符，最多16字符</small>
                        </div>

                        <div class="form-group">
                            <label for="form_add_ee_deptId" >选择部门</label>
                            <select class="form-control" name="deptId" id="form_add_ee_deptId">
                                <div th:each="dept:${deptList}">
                                    <option th:value="${dept.getId()}" th:text="${dept.getName()}"></option>
                                </div>
                            </select>
                        </div>

                        <div>
                            <button type="reset" id="form_add_ee_reset_btn" class="btn btn-sm btn-secondary">清空输入</button>
<!--                            <button type="submit" class="btn btn-success">提交</button>-->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="form_add_ee_cancel_btn">关闭</button>
                    <button type="button" class="btn btn-success" id="form_add_ee_submit_btn">提交</button>
                </div>
            </div>

        </div>
    </div>

<!--    修改模态框-->
    <div id="ee_update_modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改员工</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form id="form_update_ee" method="get" action="/insertEmployee">
                        <div class="form-group">
                            <label for="form_update_ee_id">员工编号</label>
                            <input type="text" id="form_update_ee_id" name="id" class="form-control form-control-plaintext" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="form_update_ee_name">员工姓名</label>
                            <input type="text" id="form_update_ee_name" name="name" class="form-control form-control-plaintext" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="form_update_ee_age">年龄</label>
                            <input type="number" id="form_update_ee_age" name="age" class="form-control" min="18" max="65">
                            <small id="form_update_ee_age_help" class="form-text text-muted">最低年龄为18岁，最高年龄为65岁</small>
                        </div>

                        <div class="form-group">
                            <span class="form-text">性别</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="sex" id="form_update_ee_sex_male" value="男" class="form-check-input" checked>
                                <label for="form_update_ee_sex_male" class="form-check-label">男</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" name="sex" id="form_update_ee_sex_female" value="女" class="form-check-input">
                                <label for="form_update_ee_sex_female" class="form-check-label">女</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="form_update_ee_tel">手机号码</label>
                            <input type="tel" id="form_update_ee_tel" name="tel" class="form-control" pattern="[1][3,4,5,7,8][0-9]{9}"/>
                            <small id="form_update_ee_tel_help" class="form-text text-muted">请输入正确的中国大陆地区11位手机号码</small>
                        </div>

                        <div class="form-group">
                            <label for="form_update_ee_account">账户</label>
                            <input type="text" id="form_update_ee_account" name="account" class="form-control form-control-plaintext" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="form_update_ee_account">密码</label>
                            <input type="password" id="form_update_ee_pwd" name="pwd" class="form-control"
                                   minlength="6" maxlength="16" required/>
                            <small id="form_update_ee_pwd_help" class="form-text text-muted">密码不能为空，最少6字符，最多16字符</small>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <label for="form_update_ee_deptId">所在部门编号</label>-->
<!--                            <input type="text" id="form_update_ee_deptId" name="deptId" class="form-control form-control-plaintext" readonly/>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label for="form_update_ee_deptId" >选择部门</label>
                            <select class="form-control" name="deptId" id="form_update_ee_deptId">
                                <div th:each="dept:${deptList}">
                                    <option th:value="${dept.getId()}" th:text="${dept.getName()}"></option>
                                </div>
                            </select>
                        </div>

                        <div>
                            <!--                            <button type="reset" id="form_update_dept_reset_btn" class="btn btn-sm btn-secondary">清空输入</button>-->
                            <!--                            <button type="submit" class="btn btn-success">提交</button>-->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="form_update_ee_cancel_btn">关闭</button>
                    <button type="button" class="btn btn-success" id="form_update_ee_submit_btn">提交</button>
                </div>
            </div>
        </div>
    </div>




</div>
</body>
</html>