<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.guidance.ParkFlowDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.guidance.ParkFlowEntity" >
	<result column="id" property="id"/>
		<result column="park_id" property="parkId"/>
		<result column="city_code" property="cityCode"/>
		<result column="PARK_TYPE" property="parkType"/>
		<result column="PARK_NAME" property="parkName"/>
		<result column="longitude_gaode" property="longitudeGaode"/>
		<result column="latitude_gaode" property="latitudeGaode"/>
		<result column="longitude_baidu" property="longitudeBaidu"/>
		<result column="latitude_baidu" property="latitudeBaidu"/>
		<result column="total_berth_num" property="totalBerthNum"/>
		<result column="available_berth_num" property="availableBerthNum"/>
		<result column="bookable_num" property="bookableNum"/>
		<result column="remain_bookable_num" property="remainBookableNum"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="PARK_CODE" property="parkCode"/>
		<result column="distance" property="distance"/>
		<result column="isBookAble" property="isBookAble"/>
		<result column="MIN_RATE" property="lowestParkFee"/>
	</resultMap>
	
    <resultMap id="CityBookAbleParkCountMap" type="com.innotek.fragrans.entity.guidance.CityBookAbleParkCountEntity" >
		<result column="CITY_CODE" property="cityCode"/>
		<result column="bookAbleParkcount" property="bookAbleParkcount"/>
	</resultMap>
	
	 <resultMap id="AllParkDataMap" type="com.innotek.fragrans.entity.external.ParkFlowV2Entity" >
		<result column="park_id" property="parkId"/>
		<result column="PARK_TYPE" property="parkType"/>
		<result column="PARK_NAME" property="parkName"/>
		<result column="address" property="parkAddress"/>
		<result column="longitude_gaode" property="longitudeGaode"/>
		<result column="latitude_gaode" property="latitudeGaode"/>
		<result column="longitude_baidu" property="longitudeBaidu"/>
		<result column="latitude_baidu" property="latitudeBaidu"/>
		<result column="total_berth_num" property="berthCount"/>
		<result column="available_berth_num" property="berthIdleCount"/>
		<result column="day_rate" property="dayRate"/>
		<result column="night_rate" property="nightRate"/>
		<result column="park_model" property="parkModel"/>
		<result column="area_code" property="areaCode"/>
		<result column="update_time" property="updateTime"/>
		<result column="park_code" property="parkCode"/>
		<result column="area_name" property="areaName"/>
		<result column="park_location" property="parkLocation"/>
	</resultMap>
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.park_id,
		 t.city_code,
		 t.longitude_gaode,
		 t.latitude_gaode,
		 t.longitude_baidu,
		 t.latitude_baidu,
		 t.total_berth_num,
		 t.available_berth_num,
		 t.bookable_num,
		 t.remain_bookable_num,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="parkId != null and parkId != '' " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="cityCode != null and cityCode != '' " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="longitudeGaode != null " >
    	and t.longitude_gaode =  #{longitudeGaode}
	</if>
	<if test="latitudeGaode != null " >
    	and t.latitude_gaode =  #{latitudeGaode}
	</if>
	<if test="longitudeBaidu != null " >
    	and t.longitude_baidu =  #{longitudeBaidu}
	</if>
	<if test="latitudeBaidu != null " >
    	and t.latitude_baidu =  #{latitudeBaidu}
	</if>
	<if test="totalBerthNum != null " >
    	and t.total_berth_num =  #{totalBerthNum}
	</if>
	<if test="availableBerthNum != null " >
    	and t.available_berth_num =  #{availableBerthNum}
	</if>
	<if test="bookableNum != null " >
    	and t.bookable_num =  #{bookableNum}
	</if>
	<if test="remainBookableNum != null " >
    	and t.remain_bookable_num =  #{remainBookableNum}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null and createTime != '' " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null and updateTime != ''" >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>


<sql id="Park_List_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="cityCode != null and cityCode != '' " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="mapType != null and mapType == 1 " > 
    	and t.longitude_baidu  &gt;=  #{minLongitude} and t.longitude_baidu &lt;= #{maxLongitude}
    	and t.latitude_baidu  &gt;=  #{minLatitude} and t.latitude_baidu &lt;= #{maxLatitude} 
	</if>
	<if test="mapType != null and mapType == 2 " > 
    	and t.longitude_gaode  &gt;=  #{minLongitude} and t.longitude_gaode &lt;= #{maxLongitude}
    	and t.latitude_gaode  &gt;=  #{minLatitude} and t.latitude_gaode &lt;= #{maxLatitude} 
	</if>
	and t.FLAG!='DELETE'
	</trim>
</sql>
<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into APP_PARK_FLOW 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,flag,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="cityCode != null and cityCode != '' " >
		 city_code,
		</if>
    	<if test="longitudeGaode != null " >
		longitude_gaode,
		</if>
    	<if test="latitudeGaode != null " >
		latitude_gaode,
		</if>
    	<if test="longitudeBaidu != null " >
		longitude_baidu,
		</if>
    	<if test="latitudeBaidu != null " >
		latitude_baidu,
		</if>
    	<if test="totalBerthNum != null " >
		total_berth_num,
		</if>
    	<if test="availableBerthNum != null " >
		available_berth_num,
		</if>
    	<if test="bookableNum != null " >
		bookable_num,
		</if>
    	<if test="remainBookableNum != null " >
		remain_bookable_num,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
		sysdate,'ADD',
		<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="cityCode != null and cityCode != '' " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="longitudeGaode != null " >
  		<![CDATA[  #{longitudeGaode}, ]]>
    	</if>
    	<if test="latitudeGaode != null " >
  		<![CDATA[  #{latitudeGaode}, ]]>
    	</if>
    	<if test="longitudeBaidu != null " >
  		<![CDATA[  #{longitudeBaidu}, ]]>
    	</if>
    	<if test="latitudeBaidu != null " >
  		<![CDATA[  #{latitudeBaidu}, ]]>
    	</if>
    	<if test="totalBerthNum != null " >
  		<![CDATA[  #{totalBerthNum}, ]]>
    	</if>
    	<if test="availableBerthNum != null " >
  		<![CDATA[  #{availableBerthNum}, ]]>
    	</if>
    	<if test="bookableNum != null " >
  		<![CDATA[  #{bookableNum}, ]]>
    	</if>
    	<if test="remainBookableNum != null " >
  		<![CDATA[  #{remainBookableNum}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update APP_PARK_FLOW t set 
   <trim suffixOverrides="," >
	<if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="cityCode != null and cityCode != '' " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="longitudeGaode != null " >
  	<![CDATA[  t.longitude_gaode = #{longitudeGaode}, ]]>
    </if>
    <if test="latitudeGaode != null " >
  	<![CDATA[  t.latitude_gaode = #{latitudeGaode}, ]]>
    </if>
    <if test="longitudeBaidu != null " >
  	<![CDATA[  t.longitude_baidu = #{longitudeBaidu}, ]]>
    </if>
    <if test="latitudeBaidu != null " >
  	<![CDATA[  t.latitude_baidu = #{latitudeBaidu}, ]]>
    </if>
    <if test="totalBerthNum != null " >
  	<![CDATA[  t.total_berth_num = #{totalBerthNum}, ]]>
    </if>
    <if test="availableBerthNum != null " >
  	<![CDATA[  t.available_berth_num = #{availableBerthNum}, ]]>
    </if>
    <if test="bookableNum != null " >
  	<![CDATA[  t.bookable_num = #{bookableNum}, ]]>
    </if>
    <if test="remainBookableNum != null " >
  	<![CDATA[  t.remain_bookable_num = #{remainBookableNum}, ]]>
    </if>
     <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="updateTime == null " >
  	<![CDATA[  t.update_time = sysdate, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from APP_PARK_FLOW where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select
	     t.park_id,
		 t.city_code,
		 t.available_berth_num,
		 t.bookable_num,
		 t.remain_bookable_num,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
	 from APP_PARK_FLOW t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from APP_PARK_FLOW t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
    <if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from APP_PARK_FLOW t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->

<select id="queryParkNewList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	     t1.id as park_id,
		 t1.city_code,
		 t1.NAME as PARK_NAME,
		 t1.PARK_TYPE,
		 t1.longitude_gaode,
		 t1.latitude_gaode,
		 t1.longitude_baidu,
		 t1.latitude_baidu,
		 t1.flag,
		 t1.created_by,
		 t1.updated_by,
		 t1.create_time,
		 t1.update_time,
		 NVL(t1.total_berth_num,0) total_berth_num,
		 NVL(t.available_berth_num,-1) available_berth_num,
         NVL(t.bookable_num,0) bookable_num,
		 NVL(t.remain_bookable_num,0) remain_bookable_num,
		 NVL(t1.MIN_RATE,-1) MIN_RATE,
	     t.id
	     from APP_PARK t1 left join APP_PARK_FLOW t on  t.PARK_ID=t1.ID     
	     <if test="cityCode != null and cityCode != '' " >
	    	and t.city_code =  #{cityCode}
		 </if>
	      
	       where t1.FLAG!='DELETE' 
		<if test="cityCode != null and cityCode != '' " >
	    	and t1.city_code =  #{cityCode}
		</if>
		<if test="mapType != null and mapType == 1 " > 
	    	and t1.longitude_baidu  &gt;=  #{minLongitude} and t1.longitude_baidu &lt;= #{maxLongitude}
	    	and t1.latitude_baidu  &gt;=  #{minLatitude} and t1.latitude_baidu &lt;= #{maxLatitude} 
		</if>
		<if test="mapType != null and mapType == 2 " > 
	    	and t1.longitude_gaode  &gt;=  #{minLongitude} and t1.longitude_gaode &lt;= #{maxLongitude}
	    	and t1.latitude_gaode  &gt;=  #{minLatitude} and t1.latitude_gaode &lt;= #{maxLatitude} 
		</if>
</select>
<select id="queryBookParkList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pageSize != null and pageSize != '' " >
	SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	</if>
	select 
	     t.park_id,
		 t1.city_code,
		 t1.NAME as PARK_NAME,
		 t1.PARK_TYPE,
		 t1.PARK_CODE,
		 t1.longitude_gaode,
		 t1.latitude_gaode,
		 t1.longitude_baidu,
		 t1.latitude_baidu,
		 t1.flag,
		 t1.created_by,
		 t1.updated_by,
		 t1.create_time,
		 t1.update_time,
		 NVL(t1.total_berth_num,0) total_berth_num,
		 NVL(t.available_berth_num,-1) available_berth_num,
         NVL(t.bookable_num,0) bookable_num,
		 NVL(t.remain_bookable_num,0) remain_bookable_num,
	     t.id,
<!-- 	     <if test="mapType != null and mapType == 1 " > -->
<!-- 	        getDis(#{longitude},#{latitude},t1.LONGITUDE_BAIDU,t1.LATITUDE_BAIDU) as distance -->
<!-- 		 </if> -->
<!-- 		 <if test="mapType != null and mapType == 2 " > -->
<!-- 	    	getDis(#{longitude},#{latitude},t1.longitude_gaode,t1.latitude_gaode) as distance -->
<!-- 		 </if> -->
		  <if test="mapType != null and mapType == 1 " >
	        round(6378.138*2*asin(sqrt(power(sin((#{latitude}*ACOS(-1)/180-t1.LATITUDE_BAIDU*ACOS(-1)/180)/2),2)+cos(#{latitude}*ACOS(-1)/180)*cos(t1.LATITUDE_BAIDU*ACOS(-1)/180)* power(sin((#{longitude}*ACOS(-1)/180-t1.LONGITUDE_BAIDU*ACOS(-1)/180)/2),2)))*1000)
            as distance
		 </if>
		 <if test="mapType != null and mapType == 2 " >
	    	round(6378.138*2*asin(sqrt(power(sin((#{latitude}*ACOS(-1)/180-t1.latitude_gaode*ACOS(-1)/180)/2),2)+cos(#{latitude}*ACOS(-1)/180)*cos(t1.latitude_gaode*ACOS(-1)/180)* power(sin((#{longitude}*ACOS(-1)/180-t1.longitude_gaode*ACOS(-1)/180)/2),2)))*1000)
            as distance
		 </if>
		 
	     from APP_PARK_FLOW t,APP_PARK t1 where t.PARK_ID=t1.ID and t1.FLAG!='DELETE' and t.BOOKABLE_NUM>0
<!-- 		<if test="cityCode != null and cityCode != '' " > -->
	    	and t.city_code =  #{cityCode}
	    	and t1.city_code =  #{cityCode}
<!-- 		</if> -->
		order by distance asc
		<if test="pageSize != null and pageSize != '' " >
	    	 ) A WHERE ROWNUM &lt;=(#{startNum}+#{pageSize})) where RN &gt; #{startNum}
		</if>
		
		
</select>

<select id="getBookParkCount" resultType="java.lang.Integer"  parameterType="Object">
	select 
	     count(t.id)
	     from APP_PARK_FLOW t,APP_PARK t1 where t.PARK_ID=t1.ID and t1.FLAG!='DELETE' and t.BOOKABLE_NUM>0
<!-- 		<if test="cityCode != null and cityCode != '' " > -->
	    	and t.city_code =  #{cityCode}
	    	and t1.city_code =  #{cityCode}
<!-- 		</if> -->
</select>

<select id="queryParkListBySearchContent" resultMap="BaseResultMap"  parameterType="Object">
	<if test="count != null and count != '' " >
    	 SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	</if>
	select 
	     t1.id as park_id,
		 t1.city_code,
		 t1.NAME as PARK_NAME,
		 t1.PARK_TYPE,
		 t1.longitude_gaode,
		 t1.latitude_gaode,
		 t1.longitude_baidu,
		 t1.latitude_baidu,
		 t1.flag,
		 t1.created_by,
		 t1.updated_by,
		 t1.create_time,
		 t1.update_time,
		 NVL(t1.total_berth_num,0) total_berth_num,
		 NVL(t.available_berth_num,-1) available_berth_num,
         NVL(t.bookable_num,0) bookable_num,
		 NVL(t.remain_bookable_num,0) remain_bookable_num,
	     t.id,
	     CASE WHEN t.bookable_num is null THEN 0 WHEN t.bookable_num &gt; 0 THEN 1 WHEN t.bookable_num &lt;= 0 THEN 0	END AS isBookAble,
	     <if test="mapType != null and mapType == 1 " >
	        round(6378.138*2*asin(sqrt(power(sin((#{latitude}*ACOS(-1)/180-t1.LATITUDE_BAIDU*ACOS(-1)/180)/2),2)+cos(#{latitude}*ACOS(-1)/180)*cos(t1.LATITUDE_BAIDU*ACOS(-1)/180)* power(sin((#{longitude}*ACOS(-1)/180-t1.LONGITUDE_BAIDU*ACOS(-1)/180)/2),2)))*1000)
            as distance
		 </if>
		 <if test="mapType != null and mapType == 2 " >
	    	round(6378.138*2*asin(sqrt(power(sin((#{latitude}*ACOS(-1)/180-t1.latitude_gaode*ACOS(-1)/180)/2),2)+cos(#{latitude}*ACOS(-1)/180)*cos(t1.latitude_gaode*ACOS(-1)/180)* power(sin((#{longitude}*ACOS(-1)/180-t1.longitude_gaode*ACOS(-1)/180)/2),2)))*1000)
            as distance
		 </if>
		 
		 
	     from APP_PARK t1 left join APP_PARK_FLOW t on t.PARK_ID=t1.ID 
	     <if test="cityCode != null and cityCode != '' " >
	    	and t.city_code =  #{cityCode}
		 </if>
	     where t1.flag !=  'DELETE'
	     
		<if test="cityCode != null and cityCode != '' " >
	    	and t1.city_code =  #{cityCode}
		</if>
		<if test="content != null and content != '' " >
          and t1.NAME like '%${content}%'
		</if>
		
		order by isBookAble desc,distance asc
		
		
		<if test="count != null and count != '' " >
	    	 ) A WHERE ROWNUM &lt;=#{count}) where RN &gt; 0
		</if>
</select>


<select id="getAllCityBookParkCount"  resultMap="CityBookAbleParkCountMap"  parameterType="Object">
	select t1.CITY_CODE ,count(t1.id) as bookAbleParkcount from APP_PARK_FLOW t,APP_PARK t1 
	where t.PARK_ID=t1.ID and t1.FLAG!='DELETE' and t.BOOKABLE_NUM>0 group by t1.CITY_CODE
</select>


<!-- 插入记录 -->
<insert id="addNew" parameterType="Object" >

	insert into APP_PARK_FLOW 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="cityCode != null and cityCode != '' " >
		 city_code,
		</if>
    	<if test="availableBerthNum != null " >
		available_berth_num,
		</if>
    	<if test="bookableNum != null " >
		bookable_num,
		</if>
    	<if test="remainBookableNum != null " >
		remain_bookable_num,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="cityCode != null and cityCode != '' " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="availableBerthNum != null " >
  		<![CDATA[  #{availableBerthNum}, ]]>
    	</if>
    	<if test="bookableNum != null " >
  		<![CDATA[  #{bookableNum}, ]]>
    	</if>
    	<if test="remainBookableNum != null " >
  		<![CDATA[  #{remainBookableNum}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="updateNew" parameterType="Object" >
	update APP_PARK_FLOW t set 
   <trim suffixOverrides="," >
	<if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="cityCode != null and cityCode != '' " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="availableBerthNum != null " >
  	<![CDATA[  t.available_berth_num = #{availableBerthNum}, ]]>
    </if>
    <if test="bookableNum != null " >
  	<![CDATA[  t.bookable_num = #{bookableNum}, ]]>
    </if>
    <if test="remainBookableNum != null " >
  	<![CDATA[  t.remain_bookable_num = #{remainBookableNum}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
    <![CDATA[  t.flag = #{flag}, ]]>
     </trim> where t.id= #{id}
 </update>


<select id="queryAllParkList" resultMap="AllParkDataMap"  parameterType="java.util.Map">
SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	SELECT           t1.id AS park_id,
                 t1.NAME AS PARK_NAME,
		 t1.PARK_TYPE,
		 t1.day_rate,
		 t1.night_rate,
		 t1.address,
		 t1.area_code,
		 t1.longitude_gaode,
		 t1.latitude_gaode,
		 t1.longitude_baidu,
		 t1.latitude_baidu,
		 t1.PARK_CODE,
		 CASE WHEN t2.park_type = 1 THEN 1 ELSE 0 END AS park_model,
		 t2.park_location,
		 NVL(t1.total_berth_num,0) total_berth_num,
		 NVL(t.available_berth_num,-1) available_berth_num, 
	     t.id,t.update_time,a.area_name
	     FROM APP_PARK t1
	          LEFT JOIN APP_PARK_FLOW t ON  t.PARK_ID=t1.ID
	          LEFT JOIN APP_GOV_PARK t2 ON  (t2.PARK_ID=t1.ID AND t2.flag != 'DELETE')
	          LEFT JOIN base_area a ON a.area_code = t1.area_code
	     WHERE 1=1 AND t1.flag != 'DELETE' AND 
	     <if test="parkIdList != null">
	     	 <foreach collection="parkIdList" item="parkId" index="index" separator=" OR "  open=" ( " close=" ) " >
           	    t1.id = #{parkId} 
             </foreach>
	     </if>
         ORDER BY t1.id DESC
         ) A WHERE ROWNUM &lt;=(#{startIndex}+#{pageLength})) where RN &gt; #{startIndex}
</select>

<select id="queryAllParkListCount" resultType="java.lang.Long"  parameterType="java.util.Map">
	SELECT  COUNT(t1.id)
	     FROM APP_PARK t1
	          LEFT JOIN APP_PARK_FLOW t ON  t.PARK_ID=t1.ID
	     WHERE 1=1 AND  t1.flag != 'DELETE' AND 
	     <if test="parkIdList != null">
	     	 <foreach collection="parkIdList" item="parkId" index="index" separator=" OR "  open=" ( " close=" ) " >
           	    t1.id = #{parkId} 
             </foreach>
	     </if>
</select>

	<resultMap id="ParkAndParkFlowMap" type="com.innotek.fragrans.entity.guidance.ParkFlowEntity" >
	<result column="id" property="id"/>
		<result column="park_id" property="parkId"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_name" property="cityName" />
		<result column="name" property="parkName"/>
		<result column="total_berth_num" property="totalBerthNum"/>
		<result column="filing_berth_num" property="filingBerthNum" />
		<result column="available_berth_num" property="availableBerthNum"/>
		<result column="bookable_num" property="bookableNum"/>
		<result column="remain_bookable_num" property="remainBookableNum"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<!-- app_park_flow左关联app_park all fields -->
	<sql id="Park_And_ParkFlow" >
		 ba.area_name,
		 apf.park_id,
		 apf.city_code,
		 ap.name,
		 ap.total_berth_num,
		 ap.filing_berth_num,
		 apf.available_berth_num,
		 apf.bookable_num,
		 apf.remain_bookable_num,
	     apf.id
	</sql>

	<!-- app_park_flow左关联app_park查询条件 -->
	<sql id="Park_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
		<if test="id != null" >
		    and apf.id = #{id}
		</if>
		<if test="parkId != null and parkId != '' " >
	    	and apf.park_id =  #{parkId}
		</if>
		<if test="cityCode != null and cityCode !=''" >
	    	and apf.city_code =  #{cityCode}
		</if>
		<if test="parkName != null and parkName != ''">
			and ap.name like '%${parkName}%'
		</if>
		<if test="totalBerthNum != null ">
			and ap.total_berth_num = #{totalBerthNum}
		</if>
		<if test="filingBerthNum != null  ">
			and ap.filing_berth_num = #{filingBerthNum}
		</if>
		<if test="availableBerthNum != null " >
	    	and apf.available_berth_num =  #{availableBerthNum}
		</if>
		<if test="bookableNum != null " >
	    	and apf.bookable_num =  #{bookableNum}
		</if>
		<if test="remainBookableNum != null " >
	    	and apf.remain_bookable_num =  #{remainBookableNum}
		</if>
		<if test="userCityCode != null and userCityCode != '' ">
				and t.city_code LIKE '${userCityCode}%'
		</if>
		</trim>
	</sql>
	
	<!-- app_park_flow左关联app_park列表总数-->
	<select id="getParkAndParkFlowByCount" resultType="java.lang.Integer"  parameterType="Object">
		SELECT count(1) FROM (
			SELECT 
			<include refid="Park_And_ParkFlow"/>
			FROM APP_PARK_FLOW apf
			LEFT JOIN APP_PARK ap ON ap.id = apf.park_id AND ap.city_code = apf.city_code
			LEFT JOIN BASE_AREA ba ON apf.city_code = ba.area_code
			<include refid="Park_Where_Clause"/>
			AND ba.flag!='DELETE'
		) A
	</select>
	
	<!-- app_park_flow左关联app_park -->
	<select id="getParkAndParkFlow" resultMap="ParkAndParkFlowMap">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
		SELECT 
		<include refid="Park_And_ParkFlow"/>
		FROM APP_PARK_FLOW apf
		LEFT JOIN APP_PARK ap ON ap.id = apf.park_id AND ap.city_code = apf.city_code
		LEFT JOIN BASE_AREA ba ON apf.city_code = ba.area_code
		<include refid="Park_Where_Clause"/>
		AND ba.flag!='DELETE'
		<if test="pager.orderCondition == ''">
			order by apf.create_time desc,apf.id desc
		</if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>

	</select>

<!-- 查询授权类型为区域时，授权停车点（场）信息 -->	
<select id="queryAllParkListByAreaCode" resultMap="AllParkDataMap"  parameterType="java.util.Map">
SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	SELECT t1.id AS park_id,
         t1.NAME AS PARK_NAME,
		 t1.PARK_TYPE,
		 t1.day_rate,
		 t1.night_rate,
		 t1.address,
		 t1.area_code,
		 t1.longitude_gaode,
		 t1.latitude_gaode,
		 t1.longitude_baidu,
		 t1.latitude_baidu,
		 t1.PARK_CODE,
		 CASE WHEN t2.park_type = 1 THEN 1 ELSE 0 END AS park_model,
		 t2.park_location,
		 NVL(t1.total_berth_num,0) total_berth_num,
		 NVL(t.available_berth_num,-1) available_berth_num, 
	     t.id,t.update_time,a.area_name
	     FROM APP_PARK t1
	          LEFT JOIN APP_PARK_FLOW t ON  t.PARK_ID=t1.ID
	          LEFT JOIN APP_GOV_PARK t2 ON  (t2.PARK_ID=t1.ID AND t2.flag != 'DELETE')
	          LEFT JOIN base_area a ON a.area_code = t1.area_code
	     WHERE 1=1 AND t1.flag != 'DELETE' AND t1.area_code LIKE '%${areaCode}%'
	    <if test="authParkType != null and authParkType != 0 " >
	    	 AND t1.park_type = #{authParkType} 
		</if>
         ORDER BY t1.id DESC
         ) A WHERE ROWNUM &lt;=(#{startIndex}+#{pageLength})) where RN &gt; #{startIndex}
</select>

<!-- 查询授权类型为区域时，授权停车点(场)个数 -->
<select id="queryAllParkListCountByAreaCode" resultType="java.lang.Long"  parameterType="java.util.Map">
	SELECT  count(1)
	     FROM APP_PARK t1
	          LEFT JOIN APP_PARK_FLOW t ON  t.PARK_ID=t1.ID
	          LEFT JOIN APP_GOV_PARK t2 ON  (t2.PARK_ID=t1.ID AND t2.flag != 'DELETE')
	     WHERE 1=1 AND t1.flag != 'DELETE' AND t1.area_code LIKE '%${areaCode}%'
	    <if test="authParkType != null and authParkType != 0 " >
	    	 AND t1.park_type = #{authParkType} 
		</if>
</select>
	
</mapper>   
