<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.guidance.ParkBusyConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.guidance.ParkBusyConfEntity" >
		 <result column="id" property="id"/>
		 <result column="park_model" property="parkModel"/>
		 <result column="conf_type" property="confType"/>
		 <result column="total_berth_min" property="totalBerthMin"/>
		 <result column="total_berth_max" property="totalBerthMax"/>
		 <result column="busy_proc" property="busyProc"/>
		 <result column="busy_count" property="busyCount"/>
		 <result column="busy_desc" property="busyDesc"/>
		 <result column="free_desc" property="freeDesc"/> 
	</resultMap>  
	
	<!-- 查询全部的配置类型 -->
	<select id="queryAllParkBusyConf" resultMap="BaseResultMap">
		SELECT 
			park_model,
			conf_type,
			total_berth_min,
			total_berth_max,
			busy_proc,
			busy_count,
			busy_desc,
			free_desc FROM app_parkbusy_conf WHERE 1=1   
	</select>
	
<!-- 页面begin  -->
	<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.park_model,
		 t.conf_type,
		 t.total_berth_min,
		 t.total_berth_max,
		 t.busy_proc,
		 t.busy_count,
		 t.busy_desc,
		 t.free_desc,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and t.id = #{id}
	</if>
	<if test="parkModel != null and parkModel != ''" >
    	and t.park_model =  #{parkModel}
	</if>
	<if test="confType != null and confType != ''" >
    	and t.conf_type =  #{confType}
	</if>
	<if test="totalBerthMin != null and totalBerthMin != ''" >
    	and t.total_berth_min =  #{totalBerthMin}
	</if>
	<if test="totalBerthMax != null and totalBerthMax != ''" >
    	and t.total_berth_max =  #{totalBerthMax}
	</if>
	<if test="busyProc != null and busyProc != ''" >
    	and t.busy_proc =  #{busyProc}
	</if>
	<if test="busyCount != null and busyCount != ''" >
    	and t.busy_count =  #{busyCount}
	</if>
	<if test="busyDesc != null and busyDesc != '' " >
    	and t.busy_desc =  #{busyDesc}
	</if>
	<if test="freeDesc != null and freeDesc != '' " >
    	and t.free_desc =  #{freeDesc}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_parkbusy_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  create_time,update_time,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="parkModel != null " >
		park_model,
		</if>
    	<if test="confType != null " >
		conf_type,
		</if>
    	<if test="totalBerthMin != null " >
		total_berth_min,
		</if>
    	<if test="totalBerthMax != null " >
		total_berth_max,
		</if>
    	<if test="busyProc != null " >
		busy_proc,
		</if>
    	<if test="busyCount != null " >
		busy_count,
		</if>
    	<if test="busyDesc != null and busyDesc != '' " >
		 busy_desc,
		</if>
    	<if test="freeDesc != null and freeDesc != '' " >
		 free_desc,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 sysdate,sysdate,
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="parkModel != null " >
  		<![CDATA[  #{parkModel}, ]]>
    	</if>
    	<if test="confType != null " >
  		<![CDATA[  #{confType}, ]]>
    	</if>
    	<if test="totalBerthMin != null " >
  		<![CDATA[  #{totalBerthMin}, ]]>
    	</if>
    	<if test="totalBerthMax != null " >
  		<![CDATA[  #{totalBerthMax}, ]]>
    	</if>
    	<if test="busyProc != null " >
  		<![CDATA[  #{busyProc}, ]]>
    	</if>
    	<if test="busyCount != null " >
  		<![CDATA[  #{busyCount}, ]]>
    	</if>
    	<if test="busyDesc != null and busyDesc != '' " >
  		<![CDATA[  #{busyDesc}, ]]>
    	</if>
    	<if test="freeDesc != null and freeDesc != '' " >
  		<![CDATA[  #{freeDesc}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_parkbusy_conf t set 
   <trim suffixOverrides="," >
	<if test="parkModel != null " >
  	<![CDATA[  t.park_model = #{parkModel}, ]]>
    </if>
    <if test="confType != null " >
  	<![CDATA[  t.conf_type = #{confType}, ]]>
    </if>
    <if test="totalBerthMin != null " >
  	<![CDATA[  t.total_berth_min = #{totalBerthMin}, ]]>
    </if>
    <if test="totalBerthMax != null " >
  	<![CDATA[  t.total_berth_max = #{totalBerthMax}, ]]>
    </if>
    <if test="busyProc != null " >
  	<![CDATA[  t.busy_proc = #{busyProc}, ]]>
    </if>
    <if test="busyCount != null " >
  	<![CDATA[  t.busy_count = #{busyCount}, ]]>
    </if>
    <if test="busyDesc != null and busyDesc != '' " >
  	<![CDATA[  t.busy_desc = #{busyDesc}, ]]>
    </if>
    <if test="freeDesc != null and freeDesc != '' " >
  	<![CDATA[  t.free_desc = #{freeDesc}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = sysdate, ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_parkbusy_conf where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_parkbusy_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_parkbusy_conf t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_parkbusy_conf t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!--  页面end  -->
	
</mapper>   
