<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.guidance.ParkDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.innotek.fragrans.entity.guidance.ParkEntity">
		<id property="id" column="id" />
		<result property="cityCode" column="city_code" />
		<result property="areaCode" column="area_code" />
		<result property="cityName" column="city_name" />
		<result property="areaName" column="area_name" />
		<result property="parkCode" column="park_code" />
		<result property="name" column="name" />
		<result property="parkType" column="park_type" />
		<result property="address" column="address" />
		<result property="longitudeGaode" column="longitude_gaode" />
		<result property="latitudeGaode" column="latitude_gaode" />
		<result property="longitudeBaidu" column="longitude_baidu" />
		<result property="latitudeBaidu" column="latitude_baidu" />
		<result property="totalBerthNum" column="total_berth_num" />
		<result property="dayRate" column="day_Rate" />
		<result property="filingBerthNum" column="filing_berth_num" />
		<result property="nightRate" column="night_Rate" />
		<result property="contacts" column="contacts" />
		<result property="phone" column="phone" />
		<result property="mapUrl" column="map_url" />
		<result property="isDynamic" column="is_dynamic" />
		<result property="isOpen" column="is_open" />
		<result property="remark" column="remark" />
		<result property="createdBy" column="created_by" />
		<result property="updatedBy" column="updated_by" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result column="bookable_num" property="bookableNum" />
		<result column="remain_bookable_num" property="remainBookableNum" />
		<result column="available_berth_num" property="availableBerthNum" />
		<result column="book_rate" property="bookRate" />
		<result property="minRate" column="min_rate" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		t.city_Code,
		t.area_Code,
		t.park_Code,
		t.name,
		t.park_Type,
		t.address,
		t.longitude_Gaode,
		t.latitude_Gaode,
		t.longitude_Baidu,
		t.latitude_Baidu,
		t.total_Berth_Num,
		t.day_Rate,
		t.filing_berth_num,
		t.night_Rate,
		t.contacts,
		t.phone,
		t.map_url,
		t.is_dynamic,
		t.is_open,
		t.remark,
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.min_rate,
		t.id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and t.id = #{id}
			</if>
			<if test="cityCode != null">
				and t.city_code = #{cityCode}
			</if>
			<if test="areaCode != null and areaCode != ''">
				and t.area_code = #{areaCode}
			</if>
			<if test="parkCode != null and parkCode != ''">
				and t.park_code = #{parkCode}
			</if>
			<if test="name != null and name != ''">
				and t.name like '%${name}%'
			</if>
			<if test="parkType != null  ">
				and t.park_type = #{parkType}
			</if>
			<if test="address != null and address != ''">
				and t.address = #{address}
			</if>
			<if test="longitudeGaode != null ">
				and t.longitude_gaode = #{longitudeGaode}
			</if>
			<if test="latitudeGaode != null ">
				and t.latitude_gaode = #{latitudeGaode}
			</if>
			<if test="longitudeBaidu != null ">
				and t.longitude_baidu = #{longitudeBaidu}
			</if>
			<if test="latitudeBaidu != null ">
				and t.latitude_baidu = #{latitudeBaidu}
			</if>
			<if test="totalBerthNum != null ">
				and t.total_berth_num = #{totalBerthNum}
			</if>
			<if test="dayRate != null and dayRate != ''">
				and t.day_Rate = #{dayRate}
			</if>
			<if test="filingBerthNum != null  ">
				and t.filing_berth_num = #{filingBerthNum}
			</if>
			<if test="nightRate != null and nightRate != ''">
				and t.night_Rate = #{nightRate}
			</if>
			<if test="contacts != null and contacts != ''">
				and t.contacts = #{contacts}
			</if>
			<if test="phone != null and phone != ''">
				and t.phone = #{phone}
			</if>
			<if test="mapUrl != null and mapUrl != ''">
				and t.map_url = #{mapUrl}
			</if>
			<if test="isDynamic != null ">
				and t.is_dynamic = #{isDynamic}
			</if>
			<if test="isOpen != null ">
				and t.is_open = #{isOpen}
			</if>
			<if test="remark != null and remark != ''">
				and t.remark = #{remark}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t.created_by = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != ''">
				and t.updated_by = #{updatedBy}
			</if>
			<if test="createTime != null and createTime != ''">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and t.update_time = #{updateTime}
			</if>
			<if test="minRate != null ">
				and t.min_rate = #{minRate}
			</if>
			<if test="userCityCode != null and userCityCode != '' ">
				and t.area_code LIKE '${userCityCode}%'
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">

		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_park
	<trim prefix="(" suffix=")" suffixOverrides=",">
		create_time,flag,
	 <if test="id != null and id != ''" >
	    id,
	 </if>
	 <if test="cityCode != null " >
    	city_code,
	 </if>
	 <if test="areaCode != null " >
    	area_code,
	 </if>
	 <if test="parkCode != null and parkCode != '' " >
    	park_code,
	 </if>
	 <if test="name != null and name != '' " >
    	name,
	 </if>
	 <if test="parkType != null " >
    	park_type,
	 </if>
	 <if test="address != null and address != '' " >
    	address,
	 </if>
	 <if test="longitudeGaode != null " >
    	longitude_gaode,
	 </if>
	 <if test="latitudeGaode != null " >
    	latitude_gaode,
	 </if>
	  <if test="longitudeBaidu != null " >
    	longitude_baidu,
	 </if>
	 <if test="latitudeBaidu != null " >
    	latitude_baidu,
	 </if>
	 <if test="totalBerthNum != null" >
    	total_berth_num ,
	 </if>
	<if test="dayRate != null and dayRate != '' " >
    	day_Rate,
	</if>
	<if test="filingBerthNum != null" >
    	filing_Berth_Num,
    </if>
	<if test="nightRate != null and nightRate != ''" >
    	night_Rate,
	</if>
	<if test="contacts != null and contacts != ''" >
    	contacts,
	</if>
	<if test="phone != null and phone != ''" >
    	phone,
	</if>
	<if test="mapUrl != null and mapUrl != ''" >
    	map_url,
	</if>
	<if test="isDynamic != null " >
    	is_dynamic,
	</if>
	<if test="isOpen != null " >
    	is_open ,
	</if>
	<if test="remark != null and remark != ''" >
    	remark ,
	</if>
	<if test="createdBy != null and createdBy != ''" >
    	created_by,
	</if>
	<if test="minRate != null and minRate != ''" >
    	min_rate,
	</if>
    </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	sysdate,'ADD',
	 	<if test="id != null and id != ''" >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="parkCode != null and parkCode != '' " >
  		<![CDATA[  #{parkCode}, ]]>
    	</if>
    	<if test="name != null and name != '' " >
  		<![CDATA[  #{name}, ]]>
    	</if>
    	<if test="parkType != null" >
  		<![CDATA[  #{parkType}, ]]>
    	</if>
    	<if test="address != null and address != ''">
    	<![CDATA[ #{address},]]>
    	</if>
    	<if test="longitudeGaode != null " >
  		<![CDATA[  #{longitudeGaode}, ]]>
    	</if>
    	<if test="latitudeGaode != null " >
  		<![CDATA[  #{latitudeGaode}, ]]>
    	</if>
    	<if test="longitudeBaidu != null">
		<![CDATA[  #{longitudeBaidu},	]]>    	
    	</if>
    	<if test="latitudeBaidu != null">
    	<![CDATA[  #{latitudeBaidu},]]>
    	</if>
    	<if test="totalBerthNum !=null">
    	<![CDATA[  #{totalBerthNum},]]>
    	</if>
    	<if test="dayRate != null and dayRate != ''">
    	<![CDATA[  #{dayRate},]]>
    	</if>
    	<if test="filingBerthNum != null">
    	<![CDATA[  #{filingBerthNum},]]>
    	</if>
    	<if test="nightRate != null and nightRate != ''">
    	<![CDATA[  #{nightRate},]]>
    	</if>
    	<if test="contacts != null and contacts != ''">
    	<![CDATA[  #{contacts},]]>
    	</if>
    	<if test="phone != null and phone != ''">
    	<![CDATA[  #{phone},]]>
    	</if>
    	<if test="mapUrl != null and mapUrl != ''">
    	<![CDATA[  #{mapUrl},]]>
    	</if>
    	<if test="isDynamic != null">
    	<![CDATA[  #{isDynamic},]]>
    	</if>
    	<if test="isOpen != null">
    	<![CDATA[  #{isOpen},]]>
    	</if>
    	<if test="remark != null and remark != ''">
    	<![CDATA[  #{remark},]]>
    	</if>
    	<if test="createdBy != null and createdBy != ''">
    	<![CDATA[  #{createdBy},]]>
    	</if>
    	<if test="minRate != null">
    	<![CDATA[  #{minRate},]]>
    	</if>
    	 </trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update APP_PARK set
		 <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  area_code = #{areaCode}, ]]>
    </if>
    <if test="parkCode != null and parkCode != '' " >
  	<![CDATA[  park_code = #{parkCode}, ]]>
    </if>
    <if test="name != null and name != '' " >
  	<![CDATA[  name = #{name}, ]]>
    </if>
    <if test="parkType != null" >
  	<![CDATA[  park_type = #{parkType}, ]]>
    </if>
     <if test="address != null and address != '' " >
  	<![CDATA[  address = #{address}, ]]>
    </if>
    <if test="longitudeGaode != null " >
  	<![CDATA[  longitude_gaode = #{longitudeGaode}, ]]>
    </if>
    <if test="latitudeGaode != null " >
  	<![CDATA[  latitude_gaode = #{latitudeGaode}, ]]>
    </if>
    <if test="longitudeBaidu != null">
    <![CDATA[ longitude_baidu = #{longitudeBaidu},]]>
    </if>
    <if test="latitudeBaidu != null">
    <![CDATA[ latitude_baidu = #{latitudeBaidu},]]>
    </if>
    <if test="totalBerthNum != null">
    <![CDATA[ total_berth_num = #{totalBerthNum},]]>
    </if>
    <if test="dayRate != null and dayRate != ''">
    <![CDATA[ day_rate = #{dayRate},]]>
    </if>
    <if test="filingBerthNum != null">
    <![CDATA[ filing_berth_num = #{filingBerthNum},]]>
    </if>
    <if test="nightRate != null and nightRate != ''">
    <![CDATA[ night_rate = #{nightRate},]]>
    </if>
    <if test="contacts != null and contacts != ''">
    <![CDATA[ contacts = #{contacts},]]>
    </if>
    <if test="phone != null and phone != ''">
    <![CDATA[ phone = #{phone},]]>
    </if>
    <if test="mapUrl != null and mapUrl != ''">
    <![CDATA[ map_url = #{mapUrl},]]>
    </if>
    <if test="isDynamic != null">
    <![CDATA[ is_dynamic = #{isDynamic},]]>
    </if>
    <if test="isOpen != null">
    <![CDATA[ is_open = #{isOpen},]]>
    </if>
    <if test="remark != null and remark != ''">
    <![CDATA[ remark = #{remark},]]>
    </if>
    <if test="updatedBy != null and updatedBy != ''">
    <![CDATA[ updated_by = #{updatedBy},]]>
    </if>
    <if test="minRate != null">
    <![CDATA[ min_rate = #{minRate},]]>
    </if>
    <![CDATA[ update_time = sysdate,]]>
    <![CDATA[ flag = 'UPDATE',]]>
     </trim> where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from APP_PARK where
		id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_PARK t where t.id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from APP_PARK t
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
		</if>
		select
		<include refid="Base_Column_List" />
		from APP_PARK t
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by t.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
			${pager.oracleQueryConditionEnd}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

	<!-- 根据id查询 -->
	<select id="getParkDetailById" resultMap="BaseResultMap"
		parameterType="Object">
		select
		t.id,
		t.name,
		t.map_url,
		t.city_code,
		t.area_code,
		t.park_code,
		t.address,
		t.park_type,
		t.is_dynamic,
		t.longitude_gaode,
		t.latitude_gaode,
		t.longitude_baidu,
		t.latitude_baidu,
		t.is_open,
		t.remark,
		t.day_rate,
		t.night_rate,
		t2.book_rate,
		t.filing_berth_num,
		t.contacts,
		t.phone,
		NVL(t.total_berth_num,0) total_berth_num,
		NVL(t1.available_berth_num,-1) available_berth_num,
		NVL(t1.bookable_num,0) bookable_num,
		NVL(t1.remain_bookable_num,0) remain_bookable_num
		from

		APP_PARK t left join APP_PARK_FLOW t1 on t1.PARK_ID=t.id
		left join APP_PARK_BOOK t2 on t2.PARK_ID=t.id
		where
		t.id = #{id}
		and t.flag != 'DELETE'
		<!-- and t1.flag != 'DELETE' -->
	</select>

	<select id="queryRateDesByParkId" resultMap="BaseResultMap"
		parameterType="Object">
		select
		t.day_rate,
		t.night_rate,
		t.name
		from APP_PARK t
		where t.park_code = #{parkCode}
	</select>
	
	
		<!-- 根据ParkCode查询 -->
	<select id="queryByParkCode" resultMap="BaseResultMap" parameterType="Object">
		select
		t.city_code,
		t.area_code,
		t.park_code,
		t.name,
		t.park_type,
		t.address,
		t.longitude_gaode,
		t.latitude_gaode,
		t.longitude_baidu,
		t.latitude_baidu,
		t.total_berth_num,
		t.day_rate,
		t.filing_berth_num,
		t.night_rate,
		t.contacts,
		t.phone,
		t.map_url,
		t.is_dynamic,
		t.is_open,
		t.remark,
		t.flag,
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.id
		from APP_PARK t where t.park_code = #{parkCode}
	</select>
	
	
	
	<!-- 插入记录 -->
	<insert id="addNew" parameterType="Object">

		insert into APP_PARK
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="id != null and id != '' ">
				id,
			</if>
			<if test="cityCode != null and cityCode != '' ">
				city_code,
			</if>
			<if test="areaCode != null and areaCode != '' ">
				area_code,
			</if>
			<if test="parkCode != null and parkCode != '' ">
				park_code,
			</if>
			<if test="name != null and name != '' ">
				name,
			</if>
			<if test="parkType != null ">
				park_type,
			</if>
			<if test="address != null and address != '' ">
				address,
			</if>
			<if test="longitudeGaode != null ">
				longitude_gaode,
			</if>
			<if test="latitudeGaode != null ">
				latitude_gaode,
			</if>
			<if test="longitudeBaidu != null ">
				longitude_baidu,
			</if>
			<if test="latitudeBaidu != null ">
				latitude_baidu,
			</if>
			<if test="totalBerthNum != null ">
				total_berth_num,
			</if>
			<if test="dayRate != null and dayRate != '' ">
				day_rate,
			</if>
			<if test="filingBerthNum != null ">
				filing_berth_num,
			</if>
			<if test="nightRate != null and nightRate != '' ">
				night_rate,
			</if>
			<if test="contacts != null and contacts != '' ">
				contacts,
			</if>
			<if test="phone != null and phone != '' ">
				phone,
			</if>
			<if test="mapUrl != null and mapUrl != '' ">
				map_url,
			</if>
			<if test="isDynamic != null ">
				is_dynamic,
			</if>
			<if test="isOpen != null ">
				is_open,
			</if>
			<if test="remark != null and remark != '' ">
				remark,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createdBy != null and createdBy != '' ">
				created_by,
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				updated_by,
			</if>
			<if test="createTime != null ">
				create_time,
			</if>
			<if test="updateTime != null ">
				update_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="id != null and id != '' ">
  		<![CDATA[  #{id}, ]]>
			</if>
			<if test="cityCode != null and cityCode != '' ">
  		<![CDATA[  #{cityCode}, ]]>
			</if>
			<if test="areaCode != null and areaCode != '' ">
  		<![CDATA[  #{areaCode}, ]]>
			</if>
			<if test="parkCode != null and parkCode != '' ">
  		<![CDATA[  #{parkCode}, ]]>
			</if>
			<if test="name != null and name != '' ">
  		<![CDATA[  #{name}, ]]>
			</if>
			<if test="parkType != null ">
  		<![CDATA[  #{parkType}, ]]>
			</if>
			<if test="address != null and address != '' ">
  		<![CDATA[  #{address}, ]]>
			</if>
			<if test="longitudeGaode != null ">
  		<![CDATA[  #{longitudeGaode}, ]]>
			</if>
			<if test="latitudeGaode != null ">
  		<![CDATA[  #{latitudeGaode}, ]]>
			</if>
			<if test="longitudeBaidu != null ">
  		<![CDATA[  #{longitudeBaidu}, ]]>
			</if>
			<if test="latitudeBaidu != null ">
  		<![CDATA[  #{latitudeBaidu}, ]]>
			</if>
			<if test="totalBerthNum != null ">
  		<![CDATA[  #{totalBerthNum}, ]]>
			</if>
			<if test="dayRate != null and dayRate != '' ">
  		<![CDATA[  #{dayRate}, ]]>
			</if>
			<if test="filingBerthNum != null ">
  		<![CDATA[  #{filingBerthNum}, ]]>
			</if>
			<if test="nightRate != null and nightRate != '' ">
  		<![CDATA[  #{nightRate}, ]]>
			</if>
			<if test="contacts != null and contacts != '' ">
  		<![CDATA[  #{contacts}, ]]>
			</if>
			<if test="phone != null and phone != '' ">
  		<![CDATA[  #{phone}, ]]>
			</if>
			<if test="mapUrl != null and mapUrl != '' ">
  		<![CDATA[  #{mapUrl}, ]]>
			</if>
			<if test="isDynamic != null ">
  		<![CDATA[  #{isDynamic}, ]]>
			</if>
			<if test="isOpen != null ">
  		<![CDATA[  #{isOpen}, ]]>
			</if>
			
			<if test="remark != null and remark != '' ">
  		<![CDATA[  #{remark}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  		<![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  		<![CDATA[  #{updatedBy}, ]]>
			</if>
			<if test="createTime != null ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
		</trim>
	</insert>
	
	<!-- 根据id，修改记录 -->
    <update id="updateNew" parameterType="Object">
		update APP_PARK set
		 <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  area_code = #{areaCode}, ]]>
    </if>
    <if test="parkCode != null and parkCode != '' " >
  	<![CDATA[  park_code = #{parkCode}, ]]>
    </if>
    <if test="name != null and name != '' " >
  	<![CDATA[  name = #{name}, ]]>
    </if>
    <if test="parkType != null" >
  	<![CDATA[  park_type = #{parkType}, ]]>
    </if>
     <if test="address != null and address != '' " >
  	<![CDATA[  address = #{address}, ]]>
    </if>
    <if test="longitudeGaode != null " >
  	<![CDATA[  longitude_gaode = #{longitudeGaode}, ]]>
    </if>
    <if test="latitudeGaode != null " >
  	<![CDATA[  latitude_gaode = #{latitudeGaode}, ]]>
    </if>
    <if test="longitudeBaidu != null">
    <![CDATA[ longitude_baidu = #{longitudeBaidu},]]>
    </if>
    <if test="latitudeBaidu != null">
    <![CDATA[ latitude_baidu = #{latitudeBaidu},]]>
    </if>
    <if test="totalBerthNum != null">
    <![CDATA[ total_berth_num = #{totalBerthNum},]]>
    </if>
    <if test="dayRate != null and dayRate != ''">
    <![CDATA[ day_rate = #{dayRate},]]>
    </if>
    <if test="filingBerthNum != null">
    <![CDATA[ filing_berth_num = #{filingBerthNum},]]>
    </if>
    <if test="nightRate != null and nightRate != ''">
    <![CDATA[ night_rate = #{nightRate},]]>
    </if>
    <if test="contacts != null and contacts != ''">
    <![CDATA[ contacts = #{contacts},]]>
    </if>
    <if test="phone != null and phone != ''">
    <![CDATA[ phone = #{phone},]]>
    </if>
    <if test="mapUrl != null and mapUrl != ''">
    <![CDATA[ map_url = #{mapUrl},]]>
    </if>
    <if test="isDynamic != null">
    <![CDATA[ is_dynamic = #{isDynamic},]]>
    </if>
    <if test="isOpen != null">
    <![CDATA[ is_open = #{isOpen},]]>
    </if>
    <if test="remark != null and remark != ''">
    <![CDATA[ remark = #{remark},]]>
    </if>
    <if test="updatedBy != null and updatedBy != ''">
    <![CDATA[ updated_by = #{updatedBy},]]>
    </if>
    <if test="updateTime != null and updateTime != ''">
    <![CDATA[ update_time =  #{updateTime},]]>
    </if>
    <if test="minRate != null">
    <![CDATA[ min_rate = #{minRate},]]>
    </if>
    flag = 'UPDATE',
     </trim> where id= #{id}
	</update>
	
	
	<!-- table all fields -->
	<sql id="Park_Column_List">
		ba1.area_name city_name,
		ba2.area_name area_name,
		t.city_Code,
		t.area_Code,
		t.park_Code,
		t.name,
		t.park_Type,
		t.address,
		t.longitude_Gaode,
		t.latitude_Gaode,
		t.longitude_Baidu,
		t.latitude_Baidu,
		t.total_Berth_Num,
		t.day_Rate,
		t.filing_berth_num,
		t.night_Rate,
		t.contacts,
		t.phone,
		t.is_dynamic,
		t.is_open,
		t.remark,
		t.min_rate,
		t.id
	</sql>
	<select id="queryParkAndArea" resultMap="BaseResultMap"
		parameterType="Object">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
		</if>
		select
		<include refid="Park_Column_List" />
		from APP_PARK t
		LEFT JOIN BASE_AREA ba1 ON t.city_code = ba1.area_code
		LEFT JOIN BASE_AREA ba2 ON t.area_code = ba2.area_code 
		<include refid="Example_Where_Clause" />
		AND ba1.flag!='DELETE'
		<if test="pager.orderCondition == ''">
			order by t.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
			${pager.oracleQueryConditionEnd}
		</if>
	</select>
	
	<!-- 查询所有角色 -->
	<select id="queryAllPark" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from APP_PARK t
		where t.IS_DYNAMIC=1
	</select>
	
	<!-- 根据后台传入parkId查询中间件ParkId -->
	<select id="queryParkByParkIdAndCityCode" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM app_park t
		WHERE t.flag!='DELETE' and t.area_code=#{cityCode} AND substr(t.park_code,instr(t.park_code,'-')+1,length(t.park_code)-instr(t.park_code,'-')) = #{parkId}
		<if test="parkType == 0">
			and t.park_code like '%A%'
		</if>
		<if test="parkType == 1">
			and t.park_code like '%B%'
		</if>
		AND ROWNUM = 1
	</select>
	<select id="queryParkByParkCode" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM app_park t
		WHERE t.flag!='DELETE' and t.area_code=#{cityCode}
			and substr(substr(t.park_code,1,instr(t.park_code,'-')-1),6) = #{parkCode}
		<if test="parkType == 0">
			and t.park_code like '%A%'
		</if>
		<if test="parkType == 1">
			and t.park_code like '%B%'
		</if>
	</select>
	<select id="getParkDataByParkName" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT t.name 
		FROM app_park t
		LEFT JOIN base_area t1 ON t.area_code=t1.area_code
		WHERE t.name LIKE '%${parkName}%' AND t.flag!='DELETE'
 		AND t1.area_name= #{areaName} AND t1.flag!='DELETE'
	</select>
	<select id="queryParkNameByAreaCode" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_park t 
	where area_code = #{areaCode}
	and IS_DYNAMIC=1
	</select>
<select id="queryParkNameByCityCode" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_park t 
	where city_code = #{cityCode}
	and IS_DYNAMIC=1
</select>
</mapper>   
