<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.discount.ActivityTicketConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.discount.ActivityTicketConf" >
	<result column="id" property="id"/>
		<result column="activity_id" property="activityId"/>
		<result column="activity_name" property="activityName"/>
		<result column="city_code" property="cityCode"/>
		<result column="city_name" property="cityName"/>
		<result column="ticket_type" property="ticketType"/>
		<result column="ticket_name" property="ticketName"/>
		<result column="ticket_money" property="ticketMoney"/>
		<result column="fulluse" property="fulluse"/>
		<result column="discount" property="discount"/>
		<result column="maxdiscount_fee" property="maxdiscountFee"/>
		<result column="is_overly" property="isOverly"/>
		<result column="ticket_validity" property="ticketValidity"/>
		<result column="ticket_bgimage" property="ticketBgimage"/>
		<result column="ticket_desc" property="ticketDesc"/>
		<result column="day_putcount" property="dayPutcount"/>
		<result column="all_putcount" property="allPutcount"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.activity_id,
		 t.city_code,
		 t.ticket_type,
		 t.ticket_name,
		 t.ticket_money,
		 t.fulluse,
		 t.discount,
		 t.maxdiscount_fee,
		 t.is_overly,
		 t.ticket_validity,
		 t.ticket_bgimage,
		 t.ticket_desc,
		 t.day_putcount,
		 t.all_putcount,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="activityId != null and activityId != '' " >
    	and t.activity_id =  #{activityId}
	</if>
	<if test="cityCode != null and cityCode != ''">
    	and t.city_code =  #{cityCode}
	</if>
	<if test="ticketType != null " >
    	and t.ticket_type =  #{ticketType}
	</if>
	<if test="ticketName != null and ticketName != '' " >
    	and t.ticket_name =  #{ticketName}
	</if>
	<if test="ticketMoney != null " >
    	and t.ticket_money =  #{ticketMoney}
	</if>
	<if test="fulluse != null " >
    	and t.fulluse =  #{fulluse}
	</if>
	<if test="discount != null " >
    	and t.discount =  #{discount}
	</if>
	<if test="maxdiscountFee != null " >
    	and t.maxdiscount_fee =  #{maxdiscountFee}
	</if>
	<if test="isOverly != null " >
    	and t.is_overly =  #{isOverly}
	</if>
	<if test="ticketValidity != null and ticketValidity != '' " >
    	and t.ticket_validity =  #{ticketValidity}
	</if>
	<if test="ticketBgimage != null and ticketBgimage != '' " >
    	and t.ticket_bgimage =  #{ticketBgimage}
	</if>
	<if test="ticketDesc != null and ticketDesc != '' " >
    	and t.ticket_desc =  #{ticketDesc}
	</if>
	<if test="dayPutcount != null " >
    	and t.day_putcount =  #{dayPutcount}
	</if>
	<if test="allPutcount != null " >
    	and t.all_putcount =  #{allPutcount}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	insert into app_activity_ticket_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  create_time,update_time,flag,
	 	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="activityId != null and activityId != '' " >
		 activity_id,
		</if>
    	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="ticketType != null " >
		ticket_type,
		</if>
    	<if test="ticketName != null and ticketName != '' " >
		 ticket_name,
		</if>
    	<if test="ticketMoney != null " >
		ticket_money,
		</if>
    	<if test="fulluse != null " >
		fulluse,
		</if>
    	<if test="discount != null " >
		discount,
		</if>
    	<if test="maxdiscountFee != null " >
		maxdiscount_fee,
		</if>
    	<if test="isOverly != null " >
		is_overly,
		</if>
    	<if test="ticketValidity != null and ticketValidity != '' " >
		 ticket_validity,
		</if>
		<if test="ticketBgimage != null and ticketBgimage != '' " >
		 ticket_bgimage,
		</if>
    	<if test="ticketDesc != null and ticketDesc != '' " >
		 ticket_desc,
		</if>
    	<if test="dayPutcount != null " >
		day_putcount,
		</if>
    	<if test="allPutcount != null " >
		all_putcount,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 sysdate,sysdate,'ADD',
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="activityId != null and activityId != '' " >
  		<![CDATA[  #{activityId}, ]]>
    	</if>
    	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="ticketType != null " >
  		<![CDATA[  #{ticketType}, ]]>
    	</if>
    	<if test="ticketName != null and ticketName != '' " >
  		<![CDATA[  #{ticketName}, ]]>
    	</if>
    	<if test="ticketMoney != null " >
  		<![CDATA[  #{ticketMoney}, ]]>
    	</if>
    	<if test="fulluse != null " >
  		<![CDATA[  #{fulluse}, ]]>
    	</if>
    	<if test="discount != null " >
  		<![CDATA[  #{discount}, ]]>
    	</if>
    	<if test="maxdiscountFee != null " >
  		<![CDATA[  #{maxdiscountFee}, ]]>
    	</if>
    	<if test="isOverly != null " >
  		<![CDATA[  #{isOverly}, ]]>
    	</if>
    	<if test="ticketValidity != null and ticketValidity != '' " >
  		<![CDATA[  #{ticketValidity}, ]]>
    	</if>
    	<if test="ticketBgimage != null and ticketBgimage != '' " >
  		<![CDATA[  #{ticketBgimage}, ]]>
    	</if>
    	<if test="ticketDesc != null and ticketDesc != '' " >
  		<![CDATA[  #{ticketDesc}, ]]>
    	</if>
    	<if test="dayPutcount != null " >
  		<![CDATA[  #{dayPutcount}, ]]>
    	</if>
    	<if test="allPutcount != null " >
  		<![CDATA[  #{allPutcount}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_ticket_conf t set 
   <trim suffixOverrides="," >
	<if test="activityId != null and activityId != '' " >
  	<![CDATA[  t.activity_id = #{activityId}, ]]>
    </if>
    <if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="ticketType != null " >
  	<![CDATA[  t.ticket_type = #{ticketType}, ]]>
    </if>
    <if test="ticketName != null and ticketName != '' " >
  	<![CDATA[  t.ticket_name = #{ticketName}, ]]>
    </if>
    <if test="ticketMoney != null " >
  	<![CDATA[  t.ticket_money = #{ticketMoney}, ]]>
    </if>
    <if test="fulluse != null " >
  	<![CDATA[  t.fulluse = #{fulluse}, ]]>
    </if>
    <if test="discount != null " >
  	<![CDATA[  t.discount = #{discount}, ]]>
    </if>
    <if test="maxdiscountFee != null " >
  	<![CDATA[  t.maxdiscount_fee = #{maxdiscountFee}, ]]>
    </if>
    <if test="isOverly != null " >
  	<![CDATA[  t.is_overly = #{isOverly}, ]]>
    </if>
    <if test="ticketValidity != null and ticketValidity != '' " >
  	<![CDATA[  t.ticket_validity = #{ticketValidity}, ]]>
    </if>
    <if test="ticketBgimage != null and ticketBgimage != '' " >
  	<![CDATA[  t.ticket_bgimage = #{ticketBgimage}, ]]>
    </if>
    <if test="ticketDesc != null and ticketDesc != '' " >
  	<![CDATA[  t.ticket_desc = #{ticketDesc}, ]]>
    </if>
    <if test="dayPutcount != null " >
  	<![CDATA[  t.day_putcount = #{dayPutcount}, ]]>
    </if>
    <if test="allPutcount != null " >
  	<![CDATA[  t.all_putcount = #{allPutcount}, ]]>
    </if>
  	<![CDATA[  t.flag = 'UPDATE', ]]>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = sysdate, ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_ticket_conf where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_ticket_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_ticket_conf t 
	left join app_activity act on t.activity_id=act.id
	<include refid="Example_Where_Clause"/>
	<if test="activityName != null and activityName != '' ">
		and act.activity_name  LIKE '%${activityName}%'
	</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	,act.activity_name
	from app_activity_ticket_conf t 
	left join app_activity act on t.activity_id=act.id
	<include refid="Example_Where_Clause"/>
	<if test="activityName != null and activityName != '' ">
		and act.activity_name  LIKE '%${activityName}%'
	</if>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<select id="queryTicketConfByMap" resultMap="BaseResultMap"  parameterType="Object">
	SELECT 
	<include refid="Base_Column_List"/> 
	FROM app_activity_ticket_conf t 
	WHERE t.activity_id = #{activityId} 
	AND t.city_code = #{cityCode} 
	AND t.ticket_type = #{ticketType} 
	AND t.flag != 'DELETE'
</select>

<!--根据优惠券编号获取优惠券信息  -->
<select id="queryTicketConfByTicketNo" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT * FROM app_activity_ticket_conf t
	LEFT JOIN app_activity_ticket_putlog t1 ON t.id = t1.CONF_ID
	WHERE t1.flag != 'DELETE' 
	  AND t1.ticket_no = #{_parameter}
	  AND ROWNUM = 1
</select>

<select id="getTicketByTigerConf"  resultMap="BaseResultMap" parameterType="Object">
	SELECT * FROM app_activity_ticket_conf t 
	WHERE t.activity_id IN 
	(SELECT tc.activity_id
	FROM app_activity_tiger_conf tc 
	WHERE tc.id=#{tigerConfId}
	) 
</select>
</mapper>   
