<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.discount.ActivityAreaConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.discount.ActivityAreaConf" >
	<result column="id" property="id"/>
		<result column="obj_id" property="objId"/>
		<result column="obj_type" property="objType"/>
		<result column="area_code" property="areaCode"/>
		<result column="area_name" property="areaName"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.obj_id,
		 t.obj_type,
		 t.area_code,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="objId != null and objId != '' " >
    	and t.obj_id =  #{objId}
	</if>
	<if test="objType != null " >
    	and t.obj_type =  #{objType}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_activity_area_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  create_time,flag,
	 	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="objId != null and objId != '' " >
		 obj_id,
		</if>
    	<if test="objType != null " >
		obj_type,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 sysdate,'ADD',
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="objId != null and objId != '' " >
  		<![CDATA[  #{objId}, ]]>
    	</if>
    	<if test="objType != null " >
  		<![CDATA[  #{objType}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_area_conf t set 
   <trim suffixOverrides="," >
	<if test="objId != null and objId != '' " >
  	<![CDATA[  t.obj_id = #{objId}, ]]>
    </if>
    <if test="objType != null " >
  	<![CDATA[  t.obj_type = #{objType}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = sysdate, ]]>
  	<![CDATA[  t.flag = 'UPDATE', ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_area_conf where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_area_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_area_conf t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_activity_area_conf t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 判断该停车记录是否在优惠券使用区域内 -->
<select id="validateAreaCodeIsOrNotPreferential" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_activity_area_conf 
	WHERE flag != 'DELETE' AND obj_type = 3 
	  AND obj_id = #{confId}  AND area_code = #{cityCode} 
	  AND ROWNUM = 1
</select>

<!-- 根据objId删除记录 -->
<delete id="deleteByObjId" parameterType="Object">
	delete from app_activity_area_conf where obj_id = #{objId}
</delete>

<!-- 根据objId查询活动城市 -->
<select id="findByObjId" resultMap="BaseResultMap" parameterType="Object">
	select t.*,ba.area_name from app_activity_area_conf t
	left join base_area ba on t.area_code = ba.area_code
	where t.obj_id = #{objId}
</select>
</mapper>   
