<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.business.dao.FancOrderOtherDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.business.entity.FancOrderOther" >
	<result column="id" property="id"/>
		<result column="statdate" property="statdate"/>
		<result column="order_type" property="orderType"/>
		<result column="order_no" property="orderNo"/>
		<result column="transaction_no" property="transactionNo"/>
		<result column="order_title" property="orderTitle"/>
		<result column="order_fee" property="orderFee"/>
		<result column="order_fee_rate" property="orderFeeRate"/>
		<result column="service_fee" property="serviceFee"/>
		<result column="pay_time" property="payTime"/>
		<result column="buyer_account" property="buyerAccount"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.statdate,
		 t.order_type,
		 t.order_no,
		 t.transaction_no,
		 t.order_title,
		 t.order_fee,
		 t.order_fee_rate,
		 t.service_fee,
		 t.pay_time,
		 t.buyer_account,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="statdate != null " >
    	and t.statdate =  #{statdate}
	</if>
	<if test="orderType != null " >
    	and t.order_type =  #{orderType}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="transactionNo != null and transactionNo != '' " >
    	and t.transaction_no =  #{transactionNo}
	</if>
	<if test="orderTitle != null and orderTitle != '' " >
    	and t.order_title =  #{orderTitle}
	</if>
	<if test="orderFee != null and orderFee != '' " >
    	and t.order_fee =  #{orderFee}
	</if>
	<if test="orderFeeRate != null and orderFeeRate != '' " >
    	and t.order_fee_rate =  #{orderFeeRate}
	</if>
	<if test="serviceFee != null and serviceFee != '' " >
    	and t.service_fee =  #{serviceFee}
	</if>
	<if test="payTime != null " >
    	and t.pay_time =  #{payTime}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
    	and t.buyer_account =  #{buyerAccount}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as ID 
	</selectKey>
  
	insert into fanc_order_other 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="statdate != null " >
		statdate,
		</if>
    	<if test="orderType != null " >
		order_type,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="transactionNo != null and transactionNo != '' " >
		 transaction_no,
		</if>
    	<if test="orderTitle != null and orderTitle != '' " >
		 order_title,
		</if>
    	<if test="orderFee != null and orderFee != '' " >
		 order_fee,
		</if>
    	<if test="orderFeeRate != null and orderFeeRate != '' " >
		 order_fee_rate,
		</if>
    	<if test="serviceFee != null and serviceFee != '' " >
		 service_fee,
		</if>
    	<if test="payTime != null " >
		pay_time,
		</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
		 buyer_account,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="statdate != null " >
  		<![CDATA[  #{statdate}, ]]>
    	</if>
    	<if test="orderType != null " >
  		<![CDATA[  #{orderType}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="transactionNo != null and transactionNo != '' " >
  		<![CDATA[  #{transactionNo}, ]]>
    	</if>
    	<if test="orderTitle != null and orderTitle != '' " >
  		<![CDATA[  #{orderTitle}, ]]>
    	</if>
    	<if test="orderFee != null and orderFee != '' " >
  		<![CDATA[  #{orderFee}, ]]>
    	</if>
    	<if test="orderFeeRate != null and orderFeeRate != '' " >
  		<![CDATA[  #{orderFeeRate}, ]]>
    	</if>
    	<if test="serviceFee != null and serviceFee != '' " >
  		<![CDATA[  #{serviceFee}, ]]>
    	</if>
    	<if test="payTime != null " >
  		<![CDATA[  #{payTime}, ]]>
    	</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
  		<![CDATA[  #{buyerAccount}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update fanc_order_other t set 
   <trim suffixOverrides="," >
	<if test="statdate != null " >
  	<![CDATA[  t.statdate = #{statdate}, ]]>
    </if>
    <if test="orderType != null " >
  	<![CDATA[  t.order_type = #{orderType}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="transactionNo != null and transactionNo != '' " >
  	<![CDATA[  t.transaction_no = #{transactionNo}, ]]>
    </if>
    <if test="orderTitle != null and orderTitle != '' " >
  	<![CDATA[  t.order_title = #{orderTitle}, ]]>
    </if>
    <if test="orderFee != null and orderFee != '' " >
  	<![CDATA[  t.order_fee = #{orderFee}, ]]>
    </if>
    <if test="orderFeeRate != null and orderFeeRate != '' " >
  	<![CDATA[  t.order_fee_rate = #{orderFeeRate}, ]]>
    </if>
    <if test="serviceFee != null and serviceFee != '' " >
  	<![CDATA[  t.service_fee = #{serviceFee}, ]]>
    </if>
    <if test="payTime != null " >
  	<![CDATA[  t.pay_time = #{payTime}, ]]>
    </if>
    <if test="buyerAccount != null and buyerAccount != '' " >
  	<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from fanc_order_other where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from fanc_order_other t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from fanc_order_other t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from fanc_order_other t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.statdate desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 批量保存 -->
<insert id="batchSave" parameterType="java.util.List">
insert all 
	<foreach collection="list" index="index" item="item" separator=" ">
	 into fanc_order_other 
		(id,statdate,
		 order_type,
		 order_no,
		 transaction_no,
		 order_title,
		 order_fee,
		 order_fee_rate,
		 service_fee,pay_time,
		 buyer_account,
		 create_time)
	values
		(#{item.id},
		#{item.statdate},
		#{item.orderType,jdbcType=NUMERIC},
		#{item.orderNo,jdbcType=VARCHAR},
		#{item.transactionNo,jdbcType=VARCHAR},
		#{item.orderTitle,jdbcType=VARCHAR},
  		#{item.orderFee,jdbcType=VARCHAR},
  		#{item.orderFeeRate,jdbcType=VARCHAR},
  		#{item.serviceFee,jdbcType=VARCHAR},
  		#{item.payTime,jdbcType=DATE},
  		#{item.buyerAccount,jdbcType=VARCHAR},
  		#{item.createTime,jdbcType=DATE})
	</foreach>
	 select 1 from dual
</insert>
<delete id="deleteByStatdate" parameterType="Object">
	delete from fanc_order_other where statdate = #{statdate}
</delete>

<!-- 获取账单列表 -->
<select id="queryFancOrderOtherListByStateDate" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from fanc_order_other t 
	WHERE t.statdate &gt;= to_date('${startDate}','yyyy-MM-dd') AND t.statdate &lt;= to_date('${endDate}','yyyy-MM-dd')
	order by t.statdate desc
</select>
</mapper>   
