<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.membercard.MemberRechargeCardBatchDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.membercard.MemberRechargeCardBatch" >
	<result column="id" property="id"/>
		<result column="batch_id" property="batchId"/>
		<result column="denomination" property="denomination"/>
		<result column="producer" property="producer"/>
		<result column="prodece_time" property="prodeceTime"/>
		<result column="prodece_count" property="prodeceCount"/>
		<result column="recevicer" property="recevicer"/>
		<result column="receive_time" property="receiveTime"/>
		<result column="valid_date" property="validDate"/>
		<result column="flag" property="flag"/>
		<result column="is_recevice" property="isRecevice"/>
		<result column="download_url" property="downloadUrl"/>
		<result column="is_download" property="isDownload"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.batch_id,
		 t.denomination,
		 t.producer,
		 t.prodece_time,
		 t.prodece_count,
		 t.recevicer,
		 t.receive_time,
		 t.valid_date,
		 t.flag,
	     t.id,
	     t.is_recevice,
	     t.download_url,
	     t.is_download
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="batchId != null " >
    	and t.batch_id =  #{batchId}
	</if>
	<if test="denomination != null " >
    	and t.denomination =  #{denomination}
	</if>
	<if test="producer != null and producer != '' " >
    	and t.producer =  #{producer}
	</if>
	<if test="prodeceTime != null " >
    	and t.prodece_time =  #{prodeceTime}
	</if>
	<if test="prodeceCount != null " >
    	and t.prodece_count =  #{prodeceCount}
	</if>
	<if test="recevicer != null and recevicer != '' " >
    	and t.recevicer =  #{recevicer}
	</if>
	<if test="receiveTime != null " >
    	and t.receive_time =  #{receiveTime}
	</if>
	<if test="validDate != null " >
    	and t.valid_date =  #{validDate}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="isRecevice != null" >
    	and t.is_recevice =  #{isRecevice}
	</if>
	<if test="isDownload != null" >
    	and t.is_download =  #{isDownload}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_member_recharge_card_batch 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="batchId != null " >
		batch_id,
		</if>
    	<if test="denomination != null " >
		denomination,
		</if>
    	<if test="producer != null and producer != '' " >
		 producer,
		</if>
    	<if test="prodeceTime != null " >
		prodece_time,
		</if>
    	<if test="prodeceCount != null " >
		prodece_count,
		</if>
    	<if test="recevicer != null and recevicer != '' " >
		 recevicer,
		</if>
    	<if test="receiveTime != null " >
		receive_time,
		</if>
    	<if test="validDate != null " >
		valid_date,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="isRecevice != null" >
		 is_recevice,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="batchId != null " >
  		<![CDATA[  #{batchId}, ]]>
    	</if>
    	<if test="denomination != null " >
  		<![CDATA[  #{denomination}, ]]>
    	</if>
    	<if test="producer != null and producer != '' " >
  		<![CDATA[  #{producer}, ]]>
    	</if>
    	<if test="prodeceTime != null " >
  		<![CDATA[  #{prodeceTime}, ]]>
    	</if>
    	<if test="prodeceCount != null " >
  		<![CDATA[  #{prodeceCount}, ]]>
    	</if>
    	<if test="recevicer != null and recevicer != '' " >
  		<![CDATA[  #{recevicer}, ]]>
    	</if>
    	<if test="receiveTime != null " >
  		<![CDATA[  #{receiveTime}, ]]>
    	</if>
    	<if test="validDate != null " >
  		<![CDATA[  #{validDate}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="isRecevice != null" >
  		<![CDATA[  #{isRecevice}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_member_recharge_card_batch t set 
   <trim suffixOverrides="," >
	<if test="batchId != null " >
  	<![CDATA[  t.batch_id = #{batchId}, ]]>
    </if>
    <if test="denomination != null " >
  	<![CDATA[  t.denomination = #{denomination}, ]]>
    </if>
    <if test="producer != null and producer != '' " >
  	<![CDATA[  t.producer = #{producer}, ]]>
    </if>
    <if test="prodeceTime != null " >
  	<![CDATA[  t.prodece_time = #{prodeceTime}, ]]>
    </if>
    <if test="prodeceCount != null " >
  	<![CDATA[  t.prodece_count = #{prodeceCount}, ]]>
    </if>
    <if test="recevicer != null and recevicer != '' " >
  	<![CDATA[  t.recevicer = #{recevicer}, ]]>
    </if>
    <if test="receiveTime != null " >
  	<![CDATA[  t.receive_time = #{receiveTime}, ]]>
    </if>
    <if test="validDate != null " >
  	<![CDATA[  t.valid_date = #{validDate}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="isRecevice != null" >
  	<![CDATA[  t.is_recevice = #{isRecevice}, ]]>
    </if>
    <if test="isDownload != null" >
  	<![CDATA[  t.is_download = #{isDownload}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_member_recharge_card_batch where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_member_recharge_card_batch t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_member_recharge_card_batch t 
	<include refid="Example_Where_Clause"/>
	and t.FLAG != 'DELETE' 
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_member_recharge_card_batch t 
	<include refid="Example_Where_Clause"/>
	and t.FLAG != 'DELETE' 
	<if test="pager.orderCondition == ''">
		ORDER BY t.IS_RECEVICE ASC, PRODECE_TIME desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
 <!-- 获取最大批次号 -->
 <select id="getMaxBatchId" resultMap="BaseResultMap">
 	SELECT * FROM app_member_recharge_card_batch 
 	WHERE FLAG != 'DELETE' 
 	ORDER BY BATCH_ID DESC 
 	LIMIT 1
 </select>
 
 <!-- 获取未领取批次信息 -->
 <select id="getReceviceBatchId" resultMap="BaseResultMap">
	SELECT * FROM app_member_recharge_card_batch t
	left join app_member_recharge_card t1 on t.batch_id = t1.batch_id
 	WHERE t.FLAG != 'DELETE' AND t.IS_RECEVICE = 0
 	 AND t1.IS_OVERTIME = 0 and  DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s') &lt; DATE_FORMAT(t1.valid_date,'%Y-%m-%d 23:59:59')
 	GROUP BY t.batch_id
 	ORDER BY t.batch_id ASC
 </select>
 
 <!-- 更新会员充值卡已领取-->
 <update id="BatchUpdateIsRecevice" parameterType="java.util.Map">
 	UPDATE app_member_recharge_card_batch 
 	SET IS_RECEVICE = 1,RECEVICER = #{userAccount},
 	    RECEIVE_TIME = NOW(),download_url = #{filePath},FLAG = 'UPDATE' WHERE BATCH_ID in
 	<foreach collection="array" open="(" close=")" item="batchId" separator=",">
		#{batchId}
	</foreach>
 </update>
</mapper>   
