<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.membercard.MemberCardAutopayRelDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.membercard.MemberCardAutopayRel" >
	<result column="id" property="id"/>
		<result column="member_card_no" property="memberCardNo"/>
		<result column="plate_id" property="plateId"/>
		<result column="plate_no" property="plateNo"/>
		<result column="is_auto_pay" property="isAutoPay"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.member_card_no,
		 t.plate_id,
		 t.is_auto_pay,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="memberCardNo != null and memberCardNo != '' " >
    	and t.member_card_no =  #{memberCardNo}
	</if>
	<if test="plateId != null and plateId != '' " >
    	and t.plate_id =  #{plateId}
	</if>
	<if test="isAutoPay != null " >
    	and t.is_auto_pay =  #{isAutoPay}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_member_card_autopay_rel 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="memberCardNo != null and memberCardNo != '' " >
		member_card_no,
		</if>
    	<if test="plateId != null and plateId != '' " >
		 plate_id,
		</if>
    	<if test="isAutoPay != null " >
		is_auto_pay,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="memberCardNo != null and memberCardNo != '' " >
  		<![CDATA[  #{memberCardNo}, ]]>
    	</if>
    	<if test="plateId != null and plateId != '' " >
  		<![CDATA[  #{plateId}, ]]>
    	</if>
    	<if test="isAutoPay != null " >
  		<![CDATA[  #{isAutoPay}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_member_card_autopay_rel t set 
   <trim suffixOverrides="," >
	<if test="memberCardNo != null and memberCardNo != '' " >
  	<![CDATA[  t.member_card_no = #{memberCardNo}, ]]>
    </if>
    <if test="plateId != null and plateId != '' " >
  	<![CDATA[  t.plate_id = #{plateId}, ]]>
    </if>
    <if test="isAutoPay != null " >
  	<![CDATA[  t.is_auto_pay = #{isAutoPay}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_member_card_autopay_rel where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_member_card_autopay_rel t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_member_card_autopay_rel t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_member_card_autopay_rel t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据车牌ID查询 -->
<select id="findByPlateId" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_member_card_autopay_rel 
	WHERE FLAG != 'DELETE' 
	  AND PLATE_ID =  #{plateId}
	limit 1
</select>

<update id="updateByPlateId" parameterType="Object">
	update app_member_card_autopay_rel t 
	set 
    	t.is_auto_pay = #{isAutoPay}, 
    	t.flag = #{flag},
    	t.updated_by = #{updatedBy},
    	t.update_time = #{updateTime}
    where t.plate_id = #{plateId}
</update>

<select id="getAutoPayList" resultMap="BaseResultMap"  parameterType="Object">
	SELECT c.plate_no,c.is_card_autopay is_auto_pay FROM app_user_car c
	WHERE c.FLAG != 'DELETE'
	AND c.user_id =  #{userId}
</select>

<!-- 更新自动支付设置作废 -->
<update id="deleteAutoPayByCardNo" parameterType="Object">
	UPDATE app_member_card_autopay_rel 
	SET FLAG = 'DELETE',UPDATED_BY='system',UPDATE_TIME=NOW() 
	WHERE MEMBER_CARD_NO = #{memberCardNo}
</update>
</mapper>   
