<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.membercard.MemberCardOrderDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.membercard.MemberCardOrder" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="order_no" property="orderNo"/>
		<result column="recharge_card_no" property="rechargeCardNo"/>
		<result column="bill_no" property="billNo"/>
		<result column="pay_type" property="payType"/>
		<result column="price" property="price"/>
		<result column="counter_fee" property="counterFee"/>
		<result column="subject" property="subject"/>
		<result column="order_body" property="orderBody"/>
		<result column="order_status" property="orderStatus"/>
		<result column="pay_time" property="payTime"/>
		<result column="buyer_account" property="buyerAccount"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="area_name" property="areaName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.area_code,
		 t.user_id,
		 t.user_account,
		 t.order_no,
		 t.recharge_card_no,
		 t.bill_no,
		 t.pay_type,
		 t.price,
		 t.counter_fee,
		 t.subject,
		 t.order_body,
		 t.order_status,
		 t.pay_time,
		 t.buyer_account,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="userAccount != null and userAccount != '' " >
    	and t.user_account =  #{userAccount}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="rechargeCardNo != null and rechargeCardNo != '' " >
    	and t.recharge_card_no =  #{rechargeCardNo}
	</if>
	<if test="billNo != null and billNo != '' " >
    	and t.bill_no =  #{billNo}
	</if>
	<if test="payType != null and payType != '' " >
    	and t.pay_type =  #{payType}
	</if>
	<if test="price != null " >
    	and t.price =  #{price}
	</if>
	<if test="counterFee != null " >
    	and t.counter_fee =  #{counterFee}
	</if>
	<if test="subject != null and subject != '' " >
    	and t.subject =  #{subject}
	</if>
	<if test="orderBody != null and orderBody != '' " >
    	and t.order_body =  #{orderBody}
	</if>
	<if test="orderStatus != null and orderStatus != '' " >
    	and t.order_status =  #{orderStatus}
	</if>
	<if test="payTime != null " >
    	and t.pay_time =  #{payTime}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
    	and t.buyer_account =  #{buyerAccount}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_member_card_order 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="userAccount != null and userAccount != '' " >
		 user_account,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="rechargeCardNo != null and rechargeCardNo != '' " >
		 recharge_card_no,
		</if>
    	<if test="billNo != null and billNo != '' " >
		 bill_no,
		</if>
    	<if test="payType != null and payType != '' " >
		 pay_type,
		</if>
    	<if test="price != null " >
		price,
		</if>
    	<if test="counterFee != null " >
		counter_fee,
		</if>
    	<if test="subject != null and subject != '' " >
		 subject,
		</if>
    	<if test="orderBody != null and orderBody != '' " >
		 order_body,
		</if>
    	<if test="orderStatus != null and orderStatus != '' " >
		 order_status,
		</if>
    	<if test="payTime != null " >
		pay_time,
		</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
		 buyer_account,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="userAccount != null and userAccount != '' " >
  		<![CDATA[  #{userAccount}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="rechargeCardNo != null and rechargeCardNo != '' " >
  		<![CDATA[  #{rechargeCardNo}, ]]>
    	</if>
    	<if test="billNo != null and billNo != '' " >
  		<![CDATA[  #{billNo}, ]]>
    	</if>
    	<if test="payType != null and payType != '' " >
  		<![CDATA[  #{payType}, ]]>
    	</if>
    	<if test="price != null " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="counterFee != null " >
  		<![CDATA[  #{counterFee}, ]]>
    	</if>
    	<if test="subject != null and subject != '' " >
  		<![CDATA[  #{subject}, ]]>
    	</if>
    	<if test="orderBody != null and orderBody != '' " >
  		<![CDATA[  #{orderBody}, ]]>
    	</if>
    	<if test="orderStatus != null and orderStatus != '' " >
  		<![CDATA[  #{orderStatus}, ]]>
    	</if>
    	<if test="payTime != null " >
  		<![CDATA[  #{payTime}, ]]>
    	</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
  		<![CDATA[  #{buyerAccount}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_member_card_order t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="userAccount != null and userAccount != '' " >
  	<![CDATA[  t.user_account = #{userAccount}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="rechargeCardNo != null and rechargeCardNo != '' " >
  	<![CDATA[  t.recharge_card_no = #{rechargeCardNo}, ]]>
    </if>
    <if test="billNo != null and billNo != '' " >
  	<![CDATA[  t.bill_no = #{billNo}, ]]>
    </if>
    <if test="payType != null and payType != '' " >
  	<![CDATA[  t.pay_type = #{payType}, ]]>
    </if>
    <if test="price != null " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="counterFee != null " >
  	<![CDATA[  t.counter_fee = #{counterFee}, ]]>
    </if>
    <if test="subject != null and subject != '' " >
  	<![CDATA[  t.subject = #{subject}, ]]>
    </if>
    <if test="orderBody != null and orderBody != '' " >
  	<![CDATA[  t.order_body = #{orderBody}, ]]>
    </if>
    <if test="orderStatus != null and orderStatus != '' " >
  	<![CDATA[  t.order_status = #{orderStatus}, ]]>
    </if>
    <if test="payTime != null " >
  	<![CDATA[  t.pay_time = #{payTime}, ]]>
    </if>
    <if test="buyerAccount != null and buyerAccount != '' " >
  	<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_member_card_order where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_member_card_order t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_member_card_order t 
	left join base_area t1 on t.area_code = t1.area_code
	<include refid="Example_Where_Clause"/>
	<if test="areaId != null and areaId != '' ">
		and t1.id = #{areaId}
	</if>
	<if test="startTime != null and endTime != null">
		and t.create_Time between #{startTime} and #{endTime}
	</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>,t1.area_name
	from app_member_card_order t 
	left join base_area t1 on t.area_code = t1.area_code
	<include refid="Example_Where_Clause"/>
	<if test="areaId != null and areaId != '' ">
		and t1.id = #{areaId}
	</if>
	<if test="startTime != null and endTime != null">
		and t.create_Time between #{startTime} and #{endTime}
	</if>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据订单编号查询 -->
<select id="findByOrderNo" resultMap="BaseResultMap"  parameterType="Object">
	 SELECT * FROM app_member_card_order 
	 WHERE ORDER_NO = #{orderNo}
</select>

<!-- 根据订单编号更新 -->
<update id="updateByOrderNo" parameterType="Object">
	UPDATE app_member_card_order 
	SET ORDER_STATUS = #{orderStatus},
	    PAY_TIME = #{payTime},
	    FLAG = #{flag},
	    UPDATED_BY = #{updatedBy},
	    UPDATE_TIME = #{updateTime} 
	WHERE ORDER_NO = #{orderNo}
</update>

<!-- 根据用户ID更新 -->
<update id="updateByUserId" parameterType="Object">
	UPDATE app_member_card_order 
	SET ORDER_STATUS = #{orderStatus},
	    FLAG = #{flag},
	    UPDATED_BY = #{updatedBy},
	    UPDATE_TIME = #{updateTime} 
	WHERE ORDER_STATUS = 100 and USER_ID = #{userId}
</update>

<!-- 根据账号和金额查询该支付方式未支付订单信息 -->
<select id="findUnpaidByUserAccountAndPrice" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_member_card_order
	WHERE USER_ACCOUNT = #{userAccount} and price = #{price} and pay_type = #{payType} and order_status = 100
</select>

<select id="queryRechargeByArtificialCount" resultType="java.lang.Integer"  parameterType="Object">
	SELECT count(1) FROM app_member_card_order
	WHERE user_id = #{userId} and pay_type = #{payment} and order_status = 200
</select>
</mapper>   
