<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.activity.SreActivityMsgLogDao" > 
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.activity.SreActivityMsgLog">
	</resultMap>
	
	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" >
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			SELECT sys_guid() from dual
		</selectKey>
	    
		insert into sre_activity_msg_log 
		  <trim prefix="(" suffix=")" suffixOverrides="," >
		  	<if test="id != null and id != ''">
		  		id,
		  	</if>
		 	<if test="msgType != null and msgType != '' " >
			 	msg_type,
			</if>
	    	<if test="msgServicename != null and msgServicename != ''" >
				msg_servicename,
			</if>
			<if test="requestNumber != null " >
				request_number,
			</if>
	    	<if test="requestMsg != null and requestMsg != ''" >
				request_msg,
			</if>
	    	<if test="responseMsg != null and responseMsg != '' " >
			 	response_msg,
			</if>
	    	<if test="requestTime != null" >
			 	request_time,
			</if>
	    	<if test="responseTime != null" >
			 	response_time,
			</if>
	    	<if test="handleTime != null " >
				handle_time,
			</if>
	    	<if test="msgStatus != null " >
				msg_status,
			</if>
			<if test="handleStatus != null " >
				handle_status,
			</if>
			<if test="handleResult != null and handleResult != '' " >
			 	handle_result,
			</if>
			<if test="flag != null and flag != '' " >
			 	flag,
			</if>
			<if test="createTime != null " >
				create_time,
			</if>
	    </trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
	    	<if test="id != null and id != ''">
	    		<![CDATA[  #{id}, ]]>
		  	</if>
		 	<if test="msgType != null and msgType != '' " >
			 	<![CDATA[  #{msgType}, ]]>
			</if>
	    	<if test="msgServicename != null and msgServicename != ''" >
				<![CDATA[  #{msgServicename}, ]]>
			</if>
			<if test="requestNumber != null " >
				<![CDATA[  #{requestNumber}, ]]>
			</if>
	    	<if test="requestMsg != null and requestMsg != ''" >
				<![CDATA[  #{requestMsg}, ]]>
			</if>
	    	<if test="responseMsg != null and responseMsg != '' " >
			 	<![CDATA[  #{responseMsg}, ]]>
			</if>
	    	<if test="requestTime != null" >
			 	<![CDATA[  #{requestTime}, ]]>
			</if>
	    	<if test="responseTime != null" >
			 	<![CDATA[  #{responseTime}, ]]>
			</if>
	    	<if test="handleTime != null " >
				<![CDATA[  #{handleTime}, ]]>
			</if>
	    	<if test="msgStatus != null " >
				<![CDATA[  #{msgStatus}, ]]>
			</if>
			<if test="handleStatus != null " >
				<![CDATA[  #{handleStatus}, ]]>
			</if>
			<if test="handleResult != null and handleResult != '' " >
			 	<![CDATA[  #{handleResult}, ]]>
			</if>
			<if test="flag != null and flag != '' " >
			 	<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createTime != null " >
				<![CDATA[  #{createTime}, ]]>
			</if>
	     </trim>
	</insert>
	
	<!-- 根据id，修改记录-->  
	<update id="update" parameterType="Object" >
		update sre_activity_msg_log t set 
	   <trim suffixOverrides="," >
		 	<if test="msgType != null and msgType != '' " >
			 	<![CDATA[  t.msg_type = #{msgType}, ]]>
			</if>
	    	<if test="msgServicename != null and msgServicename != ''" >
				<![CDATA[  t.msg_servicename = #{msgServicename}, ]]>
			</if>
			<if test="requestNumber != null " >
				<![CDATA[  t.request_number = #{requestNumber}, ]]>
			</if>
	    	<if test="requestMsg != null and requestMsg != ''" >
				<![CDATA[  t.request_msg = #{requestMsg}, ]]>
			</if>
	    	<if test="responseMsg != null and responseMsg != '' " >
			 	<![CDATA[  t.response_msg = #{responseMsg}, ]]>
			</if>
	    	<if test="requestTime != null" >
			 	<![CDATA[  t.request_time = #{requestTime}, ]]>
			</if>
	    	<if test="responseTime != null" >
			 	<![CDATA[  t.response_time = #{responseTime}, ]]>
			</if>
	    	<if test="handleTime != null " >
				<![CDATA[  t.handle_time = #{handleTime}, ]]>
			</if>
	    	<if test="msgStatus != null " >
				<![CDATA[  t.msg_status = #{msgStatus}, ]]>
			</if>
			<if test="handleStatus != null " >
				<![CDATA[  t.handle_status = #{handleStatus}, ]]>
			</if>
			<if test="handleResult != null and handleResult != '' " >
			 	<![CDATA[  t.handle_result = #{handleResult}, ]]>
			</if>
			<if test="flag != null and flag != '' " >
			 	<![CDATA[  t.flag = #{flag}, ]]>
			</if>
	   </trim> where t.id= #{id}
	 </update>

</mapper>   
