<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.ActivityCodeDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.ActivityCode" >
	<result column="id" property="id"/>
		<result column="id" property="id"/>
		<result column="activity_code" property="activityCode"/>
		<result column="activity_code_name" property="activityCodeName"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.id,
		 t.activity_code,
		 t.activity_code_name,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="id != null and id != '' " >
    	and t.id =  #{id}
	</if>
	<if test="activityCode != null and activityCode != '' " >
    	and t.activity_code =  #{activityCode}
	</if>
	<if test="activityCodeName != null and activityCodeName != '' " >
    	and t.activity_code_name =  #{activityCodeName}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as ID 
	</selectKey>
  
	insert into app_activity_code 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
		 id,
		</if>
    	<if test="activityCode != null and activityCode != '' " >
		 activity_code,
		</if>
    	<if test="activityCodeName != null and activityCodeName != '' " >
		 activity_code_name,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
    	<if test="activityCode != null and activityCode != '' " >
  		<![CDATA[  #{activityCode}, ]]>
    	</if>
    	<if test="activityCodeName != null and activityCodeName != '' " >
  		<![CDATA[  #{activityCodeName}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_code t set 
   <trim suffixOverrides="," >
	<if test="id != null and id != '' " >
  	<![CDATA[  t.id = #{id}, ]]>
    </if>
    <if test="activityCode != null and activityCode != '' " >
  	<![CDATA[  t.activity_code = #{activityCode}, ]]>
    </if>
    <if test="activityCodeName != null and activityCodeName != '' " >
  	<![CDATA[  t.activity_code_name = #{activityCodeName}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_code where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_code t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_code t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_activity_code t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询所有活动代码 -->
<select id="queryActivityCode"  resultMap="BaseResultMap">
	 select *
	 from app_activity_code t
</select>

<!-- 查询是否有活动 -->
<select id="isActivityOnLine" resultType="java.lang.Integer" parameterType="java.util.Map">
	SELECT COUNT(1) FROM app_activity_code_conf conf
	JOIN  app_activity_code cod ON cod.ID = conf.ACTIVITY_CODE_ID
	JOIN app_activity ac ON ac.ACTIVITY_CODE = cod.ACTIVITY_CODE
	WHERE conf.SERVICE_NAME = #{serviceName}
	 AND ac.START_TIME &lt;= #{currnetDate}
	 AND ac.END_TIME &gt;= #{currnetDate}
</select>
</mapper>   
