<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.AreaInvoiceDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.AreaInvoice" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="longitude" property="longitude"/>
		<result column="latitude" property="latitude"/>
		<result column="address" property="address"/>
		<result column="title" property="title"/>
		<result column="telphone" property="telphone"/>
		<result column="order_num" property="orderNum"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="city_name" property="cityName"/>
		<result column="area_name" property="areaName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.area_code,
		 t.longitude,
		 t.latitude,
		 t.address,
		 t.title,
		 t.telphone,
		 t.order_num,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="longitude != null and longitude != '' " >
    	and t.longitude =  #{longitude}
	</if>
	<if test="latitude != null and latitude != '' " >
    	and t.latitude =  #{latitude}
	</if>
	<if test="address != null and address != '' " >
    	and t.address =  #{address}
	</if>
	<if test="title != null and title != '' " >
    	and t.title =  #{title}
	</if>
	<if test="telphone != null and telphone != '' " >
    	and t.telphone =  #{telphone}
	</if>
	<if test="orderNum != null " >
    	and t.order_num =  #{orderNum}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
				and t.area_code LIKE '${userCityCode}%'
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_area_invoice 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="longitude != null and longitude != '' " >
		 longitude,
		</if>
    	<if test="latitude != null and latitude != '' " >
		 latitude,
		</if>
    	<if test="address != null and address != '' " >
		 address,
		</if>
    	<if test="title != null and title != '' " >
		 title,
		</if>
    	<if test="telphone != null and telphone != '' " >
		 telphone,
		</if>
    	<if test="orderNum != null " >
		order_num,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	sysdate,
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="longitude != null and longitude != '' " >
  		<![CDATA[  #{longitude}, ]]>
    	</if>
    	<if test="latitude != null and latitude != '' " >
  		<![CDATA[  #{latitude}, ]]>
    	</if>
    	<if test="address != null and address != '' " >
  		<![CDATA[  #{address}, ]]>
    	</if>
    	<if test="title != null and title != '' " >
  		<![CDATA[  #{title}, ]]>
    	</if>
    	<if test="telphone != null and telphone != '' " >
  		<![CDATA[  #{telphone}, ]]>
    	</if>
    	<if test="orderNum != null " >
  		<![CDATA[  #{orderNum}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_area_invoice t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="longitude != null and longitude != '' " >
  	<![CDATA[  t.longitude = #{longitude}, ]]>
    </if>
    <if test="latitude != null and latitude != '' " >
  	<![CDATA[  t.latitude = #{latitude}, ]]>
    </if>
    <if test="address != null and address != '' " >
  	<![CDATA[  t.address = #{address}, ]]>
    </if>
    <if test="title != null and title != '' " >
  	<![CDATA[  t.title = #{title}, ]]>
    </if>
    <if test="telphone != null and telphone != '' " >
  	<![CDATA[  t.telphone = #{telphone}, ]]>
    </if>
    <if test="orderNum != null " >
  	<![CDATA[  t.order_num = #{orderNum}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = sysdate, ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_area_invoice where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_area_invoice t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1)
	from app_area_invoice t 
	left join base_area ba1 on t.city_code = ba1.area_code
	left join base_area ba2 on t.area_code = ba2.area_code
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	,ba1.area_name city_name,ba2.area_name
	from app_area_invoice t 
	left join base_area ba1 on t.city_code = ba1.area_code
	left join base_area ba2 on t.area_code = ba2.area_code
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<select id="queryAreaInvoice" resultMap="BaseResultMap"  parameterType="Object">
	select 
	t.address,t.title,t.telphone,t.longitude,t.latitude
	from app_area_invoice t 
	where area_code = #{cityCode}
</select>
</mapper>   
