<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.OrderPaylogDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.OrderPaylog" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="order_no" property="orderNo"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="user_id" property="userId"/>
		<result column="payment" property="payment"/>
		<result column="park_fee" property="parkFee"/>
		<result column="is_activity" property="isActivity"/>
		<result column="activity_type" property="activityType"/>
		<result column="conf_id" property="confId"/>
		<result column="ticket_no" property="ticketNo"/>
		<result column="ticket_money" property="ticketMoney"/>
		<result column="ticket_discount" property="ticketDiscount"/>
		<result column="redbox_fee" property="redboxFee"/>
		<result column="ticket_fee" property="ticketFee"/>
		<result column="discount_fee" property="discountFee"/>
		<result column="pay_fee" property="payFee"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="payment_discount" property="paymentDiscount"/>
		<result column="is_paid" property="isPaid"/>
		<result column="activity_id" property="activityId"/>
		<result column="activity_name" property="activityName"/>
		<result column="ticket_name" property="ticketName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.order_no,
		 t.parkrecord_id,
		 t.user_id,
		 t.payment,
		 t.park_fee,
		 t.is_activity,
		 t.activity_type,
		 t.conf_id,
		 t.ticket_no,
		 t.ticket_money,
		 t.ticket_discount,
		 t.redbox_fee,
		 t.ticket_fee,
		 t.discount_fee,
		 t.pay_fee,
		 t.flag,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="payment != null " >
    	and t.payment =  #{payment}
	</if>
	<if test="parkFee != null " >
    	and t.park_fee =  #{parkFee}
	</if>
	<if test="isActivity != null " >
    	and t.is_activity =  #{isActivity}
	</if>
	<if test="activityType != null " >
    	and t.activity_type =  #{activityType}
	</if>
	<if test="confId != null and confId != '' " >
    	and t.conf_id =  #{confId}
	</if>
	<if test="ticketNo != null and ticketNo != '' " >
    	and t.ticket_no =  #{ticketNo}
	</if>
	<if test="ticketMoney != null " >
    	and t.ticket_money =  #{ticketMoney}
	</if>
	<if test="ticketDiscount != null " >
    	and t.ticket_discount =  #{ticketDiscount}
	</if>
	<if test="redboxFee != null " >
    	and t.redbox_fee =  #{redboxFee}
	</if>
	<if test="ticketFee != null " >
    	and t.ticket_fee =  #{ticketFee}
	</if>
	<if test="discountFee != null " >
    	and t.discount_fee =  #{discountFee}
	</if>
	<if test="payFee != null " >
    	and t.pay_fee =  #{payFee}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="activityId != null and activityId != '' " >
    	and t.activity_id =  #{activityId}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT sys_guid() from dual
	</selectKey>
	insert into app_order_paylog 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	<if test="id != null and id != '' ">
				id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="payment != null " >
		payment,
		</if>
    	<if test="parkFee != null " >
		park_fee,
		</if>
    	<if test="isActivity != null " >
		is_activity,
		</if>
    	<if test="activityType != null " >
		activity_type,
		</if>
    	<if test="confId != null and confId != '' " >
		 conf_id,
		</if>
    	<if test="ticketNo != null and ticketNo != '' " >
		 ticket_no,
		</if>
    	<if test="ticketMoney != null " >
		ticket_money,
		</if>
    	<if test="ticketDiscount != null " >
		ticket_discount,
		</if>
    	<if test="redboxFee != null " >
		redbox_fee,
		</if>
    	<if test="ticketFee != null " >
		ticket_fee,
		</if>
    	<if test="discountFee != null " >
		discount_fee,
		</if>
    	<if test="payFee != null " >
		pay_fee,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="paymentDiscount != null " >
		payment_discount,
		</if>
    	<if test="isPaid != null " >
		is_paid,
		</if>
		<if test="activityId != null " >
		 activity_id,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' ">
  		<![CDATA[  #{id}, ]]>
		</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="payment != null " >
  		<![CDATA[  #{payment}, ]]>
    	</if>
    	<if test="parkFee != null " >
  		<![CDATA[  #{parkFee}, ]]>
    	</if>
    	<if test="isActivity != null " >
  		<![CDATA[  #{isActivity}, ]]>
    	</if>
    	<if test="activityType != null " >
  		<![CDATA[  #{activityType}, ]]>
    	</if>
    	<if test="confId != null and confId != '' " >
  		<![CDATA[  #{confId}, ]]>
    	</if>
    	<if test="ticketNo != null and ticketNo != '' " >
  		<![CDATA[  #{ticketNo}, ]]>
    	</if>
    	<if test="ticketMoney != null " >
  		<![CDATA[  #{ticketMoney}, ]]>
    	</if>
    	<if test="ticketDiscount != null " >
  		<![CDATA[  #{ticketDiscount}, ]]>
    	</if>
    	<if test="redboxFee != null " >
  		<![CDATA[  #{redboxFee}, ]]>
    	</if>
    	<if test="ticketFee != null " >
  		<![CDATA[  #{ticketFee}, ]]>
    	</if>
    	<if test="discountFee != null " >
  		<![CDATA[  #{discountFee}, ]]>
    	</if>
    	<if test="payFee != null " >
  		<![CDATA[  #{payFee}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="paymentDiscount != null " >
  		<![CDATA[  #{paymentDiscount}, ]]>
    	</if>
    	<if test="isPaid != null " >
  		<![CDATA[  #{isPaid}, ]]>
    	</if>
    	<if test="activityId != null " >
			<![CDATA[  #{activityId}, ]]>
		</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_order_paylog t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="payment != null " >
  	<![CDATA[  t.payment = #{payment}, ]]>
    </if>
    <if test="parkFee != null " >
  	<![CDATA[  t.park_fee = #{parkFee}, ]]>
    </if>
    <if test="isActivity != null " >
  	<![CDATA[  t.is_activity = #{isActivity}, ]]>
    </if>
    <if test="activityType != null " >
  	<![CDATA[  t.activity_type = #{activityType}, ]]>
    </if>
    <if test="confId != null and confId != '' " >
  	<![CDATA[  t.conf_id = #{confId}, ]]>
    </if>
    <if test="ticketNo != null and ticketNo != '' " >
  	<![CDATA[  t.ticket_no = #{ticketNo}, ]]>
    </if>
    <if test="ticketMoney != null " >
  	<![CDATA[  t.ticket_money = #{ticketMoney}, ]]>
    </if>
    <if test="ticketDiscount != null " >
  	<![CDATA[  t.ticket_discount = #{ticketDiscount}, ]]>
    </if>
    <if test="redboxFee != null " >
  	<![CDATA[  t.redbox_fee = #{redboxFee}, ]]>
    </if>
    <if test="ticketFee != null " >
  	<![CDATA[  t.ticket_fee = #{ticketFee}, ]]>
    </if>
    <if test="discountFee != null " >
  	<![CDATA[  t.discount_fee = #{discountFee}, ]]>
    </if>
    <if test="payFee != null " >
  	<![CDATA[  t.pay_fee = #{payFee}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="isPaid != null and isPaid != '' " >
  	<![CDATA[  t.is_paid = #{isPaid}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_order_paylog t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_order_paylog t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_order_paylog t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_order_paylog t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询该停车记录是否有优惠 -->
<select id="queryOrderPaylogByParkrecordId"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1
	  AND t.parkrecord_id = #{parkrecordId}
	  AND ROWNUM = 1
</select>

<!-- 根据订单编号获取订单支付日志记录 -->
<select id="queryOrderPaylogByOrderNo"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE 1=1 AND t.order_no = #{orderNo} AND ROWNUM = 1
</select>

<!-- 根据停车记录查询消费信息 -->
<select id="findLogByParkRecord"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1
	  AND (t.activity_type = 1 OR t.activity_type = 10)
	  AND t.parkrecord_id = #{parkrecordId}
	  AND ROWNUM = 1
</select>

<!-- 根据订单编号获取订单支付日志记录 并关联活动表和优惠券配置表-->
<select id="queryPaylogByOrderNo"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*,act.activity_name,c.ticket_name FROM app_order_paylog t
	left join app_activity act on t.activity_id = act.id
	left join app_activity_ticket_conf c on t.conf_id = c.id
	WHERE 1=1 AND t.order_no = #{orderNo} AND ROWNUM = 1
</select>
<!-- 获取一天城市参加活动的用户数量 -->
<select id="getActivityUserCountByCityCodeAndTime" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT COUNT(USER_ID) COUNT FROM
	(SELECT USER_ID FROM app_order_paylog t 
	WHERE t.CREATE_TIME  BETWEEN to_date('${date} 00:00:00','yyyy-MM-dd HH24:mi:ss') AND to_date('${date} 23:59:59','yyyy-MM-dd HH24:mi:ss')
	<if test="cityCode == 0">
		AND t.city_code is null
	</if>
	<if test="cityCode != 0">
		 AND t.CITY_CODE = #{cityCode} 
	</if>
	AND t.is_paid = #{isPaid}
	GROUP BY t.USER_ID) m
</select>
</mapper>   
