<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.ProcessConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.ProcessConf" >
	<result column="id" property="id"/>
		<result column="role_id" property="roleId"/>
		<result column="process_role_id" property="processRoleId"/>
		<result column="busi_type" property="busiType"/>
		<result column="busi_process_id" property="busiProcessId"/>
		<result column="busi_process_name" property="busiProcessName"/>
		<result column="created_by" property="createdBy"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.role_id,
		 t.process_role_id,
		 t.busi_type,
		 t.busi_process_id,
		 t.busi_process_name,
		 t.created_by,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="roleId != null and roleId != '' " >
    	and t.role_id =  #{roleId}
	</if>
	<if test="processRoleId != null and processRoleId != '' " >
    	and t.process_role_id =  #{processRoleId}
	</if>
	<if test="busiType != null " >
    	and t.busi_type =  #{busiType}
	</if>
	<if test="busiProcessId != null " >
    	and t.busi_process_id =  #{busiProcessId}
	</if>
	<if test="busiProcessName != null and busiProcessName != '' " >
    	and t.busi_process_name =  #{busiProcessName}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as ID 
	</selectKey>
  
	insert into app_process_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="roleId != null and roleId != '' " >
		 role_id,
		</if>
    	<if test="processRoleId != null and processRoleId != '' " >
		 process_role_id,
		</if>
    	<if test="busiType != null " >
		busi_type,
		</if>
    	<if test="busiProcessId != null " >
		busi_process_id,
		</if>
    	<if test="busiProcessName != null and busiProcessName != '' " >
		 busi_process_name,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="roleId != null and roleId != '' " >
  		<![CDATA[  #{roleId}, ]]>
    	</if>
    	<if test="processRoleId != null and processRoleId != '' " >
  		<![CDATA[  #{processRoleId}, ]]>
    	</if>
    	<if test="busiType != null " >
  		<![CDATA[  #{busiType}, ]]>
    	</if>
    	<if test="busiProcessId != null " >
  		<![CDATA[  #{busiProcessId}, ]]>
    	</if>
    	<if test="busiProcessName != null and busiProcessName != '' " >
  		<![CDATA[  #{busiProcessName}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_process_conf t set 
   <trim suffixOverrides="," >
	<if test="roleId != null and roleId != '' " >
  	<![CDATA[  t.role_id = #{roleId}, ]]>
    </if>
    <if test="processRoleId != null and processRoleId != '' " >
  	<![CDATA[  t.process_role_id = #{processRoleId}, ]]>
    </if>
    <if test="busiType != null " >
  	<![CDATA[  t.busi_type = #{busiType}, ]]>
    </if>
    <if test="busiProcessId != null " >
  	<![CDATA[  t.busi_process_id = #{busiProcessId}, ]]>
    </if>
    <if test="busiProcessName != null and busiProcessName != '' " >
  	<![CDATA[  t.busi_process_name = #{busiProcessName}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_process_conf t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_process_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_process_conf t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_process_conf t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询申诉处理进程ID -->
<select id="queryBusiProcessIdByMap" resultType="java.lang.String"  parameterType="java.util.Map">
<!-- 	SELECT t.BUSI_PROCESS_ID FROM app_process_conf t -->
<!--     LEFT JOIN base_role_rel t1 ON t.role_id = t1.role_id -->
<!-- 	LEFT JOIN base_user t2 ON t2.id = t1.obj_id -->
<!-- 	WHERE t.BUSI_TYPE = #{busiType}  AND t.PROCESS_ROLE_ID = #{processRoleId} -->
<!--  	  AND t2.id = #{roleId} -->
<!--  	LIMIT 1  -->
	 SELECT t.BUSI_PROCESS_ID FROM app_process_conf t 
	 WHERE t.BUSI_TYPE = 1 AND t.ROLE_ID = (
     	SELECT t.id FROM base_role t
     	LEFT JOIN base_role_rel t1 ON t.id = t1.role_id
     	LEFT JOIN base_user t2 ON t1.obj_id = t2.ID
     	WHERE t1.rel_type = #{busiType} AND t2.id = #{roleId}
     		AND ROWNUM = 1
	) AND t.PROCESS_ROLE_ID = #{processRoleId}
</select>
</mapper>   
