<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.ProcessLogDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.ProcessLog" >
	<result column="id" property="id"/>
		<result column="busi_id" property="busiId"/>
		<result column="area_code" property="areaCode"/>
		<result column="area_name" property="areaName"/>
		<result column="busi_type" property="busiType"/>
		<result column="from_user" property="fromUser"/>
		<result column="from_role" property="fromRole"/>
		<result column="to_user" property="toUser"/>
		<result column="to_role" property="toRole"/>
		<result column="from_result" property="fromResult"/>
		<result column="from_process_imageurl" property="fromProcessImageurl"/>
		<result column="from_time" property="fromTime"/>
		<result column="to_result" property="toResult"/>
		<result column="to_process_imageurl" property="toProcessImageurl"/>
		<result column="to_time" property="toTime"/>
		<result column="status" property="status"/>
		<result column="from_user_name" property="fromUserName"/>
		<result column="to_user_name" property="toUserName"/>
		<result column="from_role_name" property="fromRoleName"/>
		<result column="to_role_name" property="toRoleName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.busi_id,
		 t.area_code,
		 t.busi_type,
		 t.from_user,
		 t.from_role,
		 t.to_user,
		 t.to_role,
		 t.from_result,
		 t.from_process_imageurl,
		 t.from_time,
		 t.to_result,
		 t.to_process_imageurl,
		 t.to_time,
		 t.status,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="busiId != null and busiId != '' " >
    	and t.busi_id =  #{busiId}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="busiType != null " >
    	and t.busi_type =  #{busiType}
	</if>
	<if test="fromUser != null and fromUser != '' " >
    	and t.from_user =  #{fromUser}
	</if>
	<if test="fromRole != null and fromRole != '' " >
    	and t.from_role =  #{fromRole}
	</if>
	<if test="toUser != null and toUser != '' " >
    	and t.to_user =  #{toUser}
	</if>
	<if test="toRole != null and toRole != '' " >
    	and t.to_role =  #{toRole}
	</if>
	<if test="fromResult != null and fromResult != '' " >
    	and t.from_result =  #{fromResult}
	</if>
	<if test="fromProcessImageurl != null and fromProcessImageurl != '' " >
    	and t.from_process_imageurl =  #{fromProcessImageurl}
	</if>
	<if test="fromTime != null " >
    	and t.from_time =  #{fromTime}
	</if>
	<if test="toResult != null and toResult != '' " >
    	and t.to_result =  #{toResult}
	</if>
	<if test="toProcessImageurl != null and toProcessImageurl != '' " >
    	and t.to_process_imageurl =  #{toProcessImageurl}
	</if>
	<if test="toTime != null " >
    	and t.to_time =  #{toTime}
	</if>
	<if test="status != null and status != '' " >
    	and t.status =  #{status}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_process_log 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	     from_time,
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="busiId != null and busiId != '' " >
		 busi_id,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="busiType != null " >
		busi_type,
		</if>
    	<if test="fromUser != null and fromUser != '' " >
		 from_user,
		</if>
    	<if test="fromRole != null and fromRole != '' " >
		 from_role,
		</if>
    	<if test="toUser != null and toUser != '' " >
		 to_user,
		</if>
    	<if test="toRole != null and toRole != '' " >
		 to_role,
		</if>
    	<if test="fromResult != null and fromResult != '' " >
		 from_result,
		</if>
    	<if test="fromProcessImageurl != null and fromProcessImageurl != '' " >
		 from_process_imageurl,
		</if>
    	<if test="toResult != null and toResult != '' " >
		 to_result,
		</if>
    	<if test="toProcessImageurl != null and toProcessImageurl != '' " >
		 to_process_imageurl,
		</if>
    	<if test="toTime != null " >
		to_time,
		</if>
    	<if test="status != null and status != '' " >
		 status,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	      sysdate,
		<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="busiId != null and busiId != '' " >
  		<![CDATA[  #{busiId}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="busiType != null " >
  		<![CDATA[  #{busiType}, ]]>
    	</if>
    	<if test="fromUser != null and fromUser != '' " >
  		<![CDATA[  #{fromUser}, ]]>
    	</if>
    	<if test="fromRole != null and fromRole != '' " >
  		<![CDATA[  #{fromRole}, ]]>
    	</if>
    	<if test="toUser != null and toUser != '' " >
  		<![CDATA[  #{toUser}, ]]>
    	</if>
    	<if test="toRole != null and toRole != '' " >
  		<![CDATA[  #{toRole}, ]]>
    	</if>
    	<if test="fromResult != null and fromResult != '' " >
  		<![CDATA[  #{fromResult}, ]]>
    	</if>
    	<if test="fromProcessImageurl != null and fromProcessImageurl != '' " >
  		<![CDATA[  #{fromProcessImageurl}, ]]>
    	</if>
    	<if test="fromTime != null " >
  		<![CDATA[  #{fromTime}, ]]>
    	</if>
    	<if test="toResult != null and toResult != '' " >
  		<![CDATA[  #{toResult}, ]]>
    	</if>
    	<if test="toProcessImageurl != null and toProcessImageurl != '' " >
  		<![CDATA[  #{toProcessImageurl}, ]]>
    	</if>
    	<if test="toTime != null " >
  		<![CDATA[  #{toTime}, ]]>
    	</if>
    	<if test="status != null and status != '' " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_process_log t set 
   <trim suffixOverrides="," >
     t.to_time = sysdate,
	<if test="busiId != null and busiId != '' " >
  	<![CDATA[  t.busi_id = #{busiId}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="busiType != null " >
  	<![CDATA[  t.busi_type = #{busiType}, ]]>
    </if>
    <if test="fromUser != null and fromUser != '' " >
  	<![CDATA[  t.from_user = #{fromUser}, ]]>
    </if>
    <if test="fromRole != null and fromRole != '' " >
  	<![CDATA[  t.from_role = #{fromRole}, ]]>
    </if>
    <if test="toUser != null and toUser != '' " >
  	<![CDATA[  t.to_user = #{toUser}, ]]>
    </if>
    <if test="toRole != null and toRole != '' " >
  	<![CDATA[  t.to_role = #{toRole}, ]]>
    </if>
    <if test="fromResult != null and fromResult != '' " >
  	<![CDATA[  t.from_result = #{fromResult}, ]]>
    </if>
    <if test="fromProcessImageurl != null and fromProcessImageurl != '' " >
  	<![CDATA[  t.from_process_imageurl = #{fromProcessImageurl}, ]]>
    </if>
    <if test="fromTime != null " >
  	<![CDATA[  t.from_time = #{fromTime}, ]]>
    </if>
    <if test="toResult != null and toResult != '' " >
  	<![CDATA[  t.to_result = #{toResult}, ]]>
    </if>
    <if test="toProcessImageurl != null and toProcessImageurl != '' " >
  	<![CDATA[  t.to_process_imageurl = #{toProcessImageurl}, ]]>
    </if>
<!--     <if test="toTime != null " > -->
<!--   	<![CDATA[  t.to_time = #{toTime}, ]]> -->
<!--     </if> -->
    <if test="status != null and status != '' " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_process_log t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_process_log t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_process_log t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_process_log t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据申诉记录ID查找申诉处理记录 -->
<select id="queryByComplainId" resultMap="BaseResultMap"  parameterType="java.lang.String">
    SELECT t.*,t1.area_name,t2.name from_user_name,t3.name to_user_name,
           t4.role_name from_role_name ,t5.role_name to_role_name
    FROM app_process_log t
	LEFT JOIN base_area t1 ON t.area_code=t1.area_code
	LEFT JOIN base_user t2 ON t.from_user = t2.id
	LEFT JOIN base_user t3 ON t.to_user = t3.id
	LEFT JOIN base_role t4 ON t.from_role = t4.id
	LEFT JOIN base_role t5 ON t.to_role = t5.id
	WHERE BUSI_ID = #{complainId}
	ORDER BY t.from_time desc
</select>

<!-- 查询该扭转对象待处理的申诉记录处理日志 -->
<select id="queryOrderComplainByIdAndprocessIdAndProcessUser" resultMap="BaseResultMap"  parameterType="java.util.Map">
    SELECT * FROM(
     SELECT t1.* FROM  app_process_log t1 
     LEFT JOIN base_role t2 ON t1.to_role = t2.id
     LEFT JOIN base_role_rel t3 ON t3.role_id = t2.id
     LEFT JOIN base_user t4 ON t4.id = t3.obj_id 
     WHERE t3.rel_type = 1 AND t4.id = #{processUserId}
      AND t1.busi_id = #{complainId}
      AND t1.status = #{processId}
     AND t1.status != 100  AND t1.to_result IS NULL
     ORDER BY t1.from_time DESC)
     WHERE ROWNUM = 1
</select>

<!-- 查询最近处理的申诉处理记录 -->
<select id="queryByBusiIdAndMaxProcessTime" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT MAX(from_time) from_time FROM app_process_log  
	WHERE busi_id = #{_parameter}
</select>
</mapper>   
