<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.ResourceRelDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.ResourceRel" >
	<result column="id" property="id"/>
	<result column="resource_id" property="resourceId"/>
		<result column="city_code" property="cityCode"/>
		<result column="resource_size" property="resourceSize"/>
		<result column="version_code" property="versionCode"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.resource_size,
		 t.version_code,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="resourceId != null and resourceId!=''" >
	    and t.resource_id = #{resourceId}
	</if>
	<if test="cityCode != null and cityCode!=''" >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="resourceSize != null " >
    	and t.resource_size =  #{resourceSize}
	</if>
	<if test="versionCode != null and versionCode != '' " >
    	and t.version_code =  #{versionCode}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual 
	</selectKey>
  
	insert into app_resource_rel 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
    	<if test="id != null and id != '' " >
		 id,
		</if>
    	<if test="resourceId != null and resourceId != '' " >
		 resource_id,
		</if>
	 	<if test="cityCode != null and cityCode!=''" >
		city_code,
		</if>
    	<if test="resourceSize != null " >
		resource_size,
		</if>
    	<if test="versionCode != null and versionCode != '' " >
		 version_code,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	sysdate,
    	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
    	<if test="resourceId != null and resourceId != '' " >
  		<![CDATA[  #{resourceId}, ]]>
    	</if>
	 	<if test="cityCode != null and cityCode!=''" >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="resourceSize != null " >
  		<![CDATA[  #{resourceSize}, ]]>
    	</if>
    	<if test="versionCode != null and versionCode != '' " >
  		<![CDATA[  #{versionCode}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_resource_rel t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null and cityCode!=''" >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="resourceSize != null " >
  	<![CDATA[  t.resource_size = #{resourceSize}, ]]>
    </if>
    <if test="versionCode != null and versionCode != '' " >
  	<![CDATA[  t.version_code = #{versionCode}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = sysdate, ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_resource_rel where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_resource_rel t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_resource_rel t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_resource_rel t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据资源Id删除记录 -->
<delete id="deleteByResourceId" parameterType="Object">
	delete from app_resource_rel where resource_id = #{resourceId}
</delete>
<!-- 根据资源id查询全部区域 -->
<select id="queryCityNamesByResourceId"  resultMap="BaseResultMap" parameterType="Object">
	select distinct ba.area_name cityName,ba.id cityId
	 from app_resource_rel t 
	 left join base_area ba on t.city_code = ba.area_code
	 where t.resource_id = #{resourceId}
	
</select>
<!-- 根据资源id查询全部版本号 -->
<select id="queryVersionCodesByResourceId"  resultMap="BaseResultMap" parameterType="Object">
	select distinct t.version_code
	 from app_resource_rel t 
	 where t.resource_id = #{resourceId}
	
</select>
<!-- 根据资源id查询全部资源尺寸 -->
<select id="queryResourceSizesByResourceId"  resultMap="BaseResultMap" parameterType="Object">
	select distinct t.resource_size
	 from app_resource_rel t 
	 where t.resource_id = #{resourceId}
	 
</select>
</mapper>   
