<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innotek.fragrans.dao.AppKeyDao">
	<select id="getAppKey" parameterType="String"
		resultType="String">
		select APP_KEY
		  from APP_KEY
		 where 1=1
		   and app_id = #{appId}
		   and app_status = '0'
	</select>
</mapper>