<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innotek.fragrans.dao.AppUserDao">
	<resultMap type="com.innotek.fragrans.entity.AppUserCaptchaEntity"
		id="appUserCaptchaData">
		<result column="id" property="id" />
		<result column="accout" property="accout" />
		<result column="captcha" property="captcha" />
		<result column="reason" property="reason" />
		<result column="expired_time" property="expiredTime" />
		<result column="flag" property="flag" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="LAST_VALID_TIME" property="lastValidTime" />
		<result column="COUNT" property="count" />
	</resultMap>
	<resultMap type="com.innotek.fragrans.entity.AppUserEntity"
		id="appUserData">
		<result column="id" property="id" />
		<result column="user_account" property="userAccount" />
		<result column="nick_name" property="nickName" />
		<result column="status" property="status" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<!-- <result column="is_locked" property="isLocked"/> -->
		<result column="lock_time" property="lockTime" />
		<result column="flag" property="flag" />
		<result column="created_by" property="createdBy" />
		<result column="create_time" property="createTime" />
		<result column="updated_by" property="updatedBy" />
		<result column="update_time" property="updateTime" />
		<result column="is_email_activated" property="isEmailActivated" />
	</resultMap>
	<resultMap type="com.innotek.fragrans.entity.AppUserExtEntity"
		id="appUserExtData">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="nick_name" property="nickName" />
		<result column="city_code" property="cityCode" />
		<result column="email" property="email" />
		<result column="is_email_activated" property="isEmailActivated" />
		<result column="photo_url" property="photoUrl" />
		<result column="address" property="address" />
		<result column="remark" property="remark" />
		<result column="flag" property="flag" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="attribute1" property="attribute1" />
		<result column="attribute2" property="attribute2" />
		<result column="attribute3" property="attribute3" />
		<result column="attribute4" property="attribute4" />
		<result column="attribute5" property="attribute5" />
	</resultMap>
	<resultMap type="com.innotek.fragrans.entity.AppUserLoginEntity"
		id="appUserLoginData">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="device_no" property="deviceNo" />
		<result column="client_version" property="clientVersion" />
		<result column="status" property="status" />
		<result column="login_key" property="loginKey" />
		<result column="login_count" property="loginCount" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="err_count" property="errCount" />
		<result column="last_err_time" property="lastErrTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="weixpn_login_count" property="weixpnLoginCount" />

	</resultMap>
	<resultMap type="com.innotek.fragrans.entity.AppUserCarEntity"
		id="appUserCarData">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="plate_no" property="plateNo" />
		<result column="plate_color" property="plateColor" />
		<result column="safe_code" property="safeCode" />
		<result column="is_default" property="isDefault" />
		<result column="note" property="note" />
		<result column="flag" property="flag" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<resultMap type="com.innotek.fragrans.entity.AppUserInfoEntity"
		id="appUserInfoData">
		<result column="user_account" property="userAccount" />
		<result column="mobile" property="mobile" />
		<result column="nick_name" property="nickName" />
		<result column="photo_url" property="portrait" />
		<result column="plate_no" property="plateNo" />
	</resultMap>
	<resultMap type="com.innotek.fragrans.entity.AppUserEntity"
		id="appUserAndUserExtData">
		<result column="user_id" property="userId" />
		<result column="user_account" property="userAccount" />
		<result column="nick_name" property="nickName" />
		<result column="photo_url" property="photoUrl" />
		<result column="city_code" property="cityCode" />
		<result column="area_name" property="areaName" />
		<result column="mobile" property="mobile" />
		<result column="status" property="status" />
		<result column="lock_time" property="lockTime" />
		<result column="email" property="email" />
		<result column="is_email_activated" property="isEmailActivated" />
		<result column="password" property="password" />
		<result column="create_time" property="createTime" />
		<result column="plate_no" property="plateNo" />
	</resultMap>
	<select id="getBindPlateNoByUserId" parameterType="String"
		resultMap="appUserCarData">
		select * from APP_USER_CAR WHERE
		user_id = #{userId}
		AND flag !='DELETE' order by IS_DEFAULT desc
	</select>
	<select id="getCaptcha" parameterType="Object" resultMap="appUserCaptchaData">
		select
		*
		from APP_USER_CAPTCHA
		where 1=1
		and account = #{account}
		and reason = #{reason}
		and flag != #{flag}
	</select>
	<insert id="saveCaptcha" parameterType="Object">
		insert into APP_USER_CAPTCHA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="account != null and account != '' ">
				account,
			</if>
			<if test="captcha != null and captcha != '' ">
				captcha,
			</if>
			<if test="reason != null ">
				reason,
			</if>
			<if test="expiredTime != null and expiredTime != '' ">
				expired_time,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time,
			</if>
			<if test="lastValidTime != null and lastValidTime != '' ">
				LAST_VALID_TIME,
			</if>
			<if test="count != null and count != '' ">
				COUNT,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="account != null and account != '' ">
  		<![CDATA[  #{account}, ]]>
			</if>
			<if test="captcha != null and captcha != '' ">
  		<![CDATA[  #{captcha}, ]]>
			</if>
			<if test="reason != null ">
  		<![CDATA[  #{reason}, ]]>
			</if>
			<if test="expiredTime != null and expiredTime != '' ">
  		<![CDATA[  #{expiredTime}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
			<if test="lastValidTime != null and lastValidTime != '' ">
  	    <![CDATA[  #{lastValidTime}, ]]>
			</if>
			<if test="count != null and count != '' ">
  	   <![CDATA[  #{count}, ]]>
			</if>
		</trim>
	</insert>
	<update id="updateCaptcha" parameterType="Object">
		update APP_USER_CAPTCHA set
		<trim suffixOverrides=",">
			<if test="account != null and account != '' ">
  	<![CDATA[  account = #{account}, ]]>
			</if>
			<if test="captcha != null and captcha != '' ">
  	<![CDATA[  captcha = #{captcha}, ]]>
			</if>
			<if test="reason != null ">
  	<![CDATA[  reason = #{reason}, ]]>
			</if>
			<if test="expiredTime != null and expiredTime != '' ">
  	<![CDATA[  expired_time = #{expiredTime}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  	<![CDATA[  flag = #{flag}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  	<![CDATA[  create_time = #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  	    <![CDATA[  update_time = #{updateTime}, ]]>
			</if>
			<if test="lastValidTime != null and lastValidTime != '' ">
  	    <![CDATA[  LAST_VALID_TIME = #{lastValidTime}, ]]>
			</if>
			<if test="count != null and count != '' ">
  	    <![CDATA[  COUNT = #{count}, ]]>
			</if>
		</trim>
		where id= #{id}
	</update>
	<select id="findUserByAccount" parameterType="String" resultMap="appUserData">
		select *
		from APP_USER
		where 1=1
		and user_account = #{userAccount}
		and flag != 'DELETE'
	</select>
	<select id="findUserByMobileOrEmail" parameterType="String"
		resultMap="appUserData">
		SELECT t.* FROM APP_USER  t 
			LEFT JOIN app_user_ext e ON t.id=e.USER_ID
			WHERE 1=1   AND (t.mobile = #{userAccount} OR e.email=#{userAccount})   AND t.flag != 'DELETE'
		
	</select>
	<select id="findUserById" parameterType="String" resultMap="appUserData">
		select * from APP_USER where 1=1
		and id = #{userId}
		and flag != 'DELETE' 
	</select>

	<select id="checkUserLogin" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select 1
		from APP_USER_LOGIN
		where 1=1
		and user_id = #{userId}
		and login_key = #{loginKey}
		and status = 0
	</select>
	<select id="getAppUserLogin" parameterType="String" resultMap="appUserLoginData">
		select * from APP_USER_LOGIN where 1=1
		and user_id = #{userId}
	</select>
	<select id="isMobileOrEmailExist" parameterType="String"
		resultMap="appUserData">
		select * from APP_USER where 1=1
		and mobile = #{mobile}
		and flag != 'DELETE'
	</select>
	<select id="getAppUserExtByUserId" parameterType="String"
		resultMap="appUserExtData">
		select * from APP_USER_EXT where 1=1
		and user_id = #{userId}
		and flag != 'DELETE'
	</select>
	<select id="getUserInfoByUserId" parameterType="String"
		resultMap="appUserInfoData">
		SELECT a.user_account, a.MOBILE,c.NICK_NAME,c.PHOTO_URL
		FROM APP_USER a
		LEFT JOIN APP_USER_EXT c ON a.ID = c.USER_ID
		WHERE a.STATUS=0
		AND a.id=#{userId}
	</select>
	<delete id="deletePlateNo" parameterType="Object">
		delete from APP_USER_CAR where user_id = #{userId}
		and plate_no not in ${plateNo}
	</delete>
	
	
	<update id="updateAppUserExt" parameterType="Object">
		update APP_USER_EXT set
		<trim suffixOverrides=",">
			<if test="nickName != null and nickName != '' ">
  	<![CDATA[  nick_name = #{nickName}, ]]>
			</if>
			<if test="cityCode != null and cityCode != '' ">
  	<![CDATA[  city_code = #{cityCode}, ]]>
			</if>
			<if test="email != null and email != '' ">
  	<![CDATA[  email = #{email}, ]]>
			</if>
			<if test="isEmailActivated != null ">
  	<![CDATA[  is_email_activated = #{isEmailActivated}, ]]>
			</if>
			<if test="photoUrl != null and photoUrl != '' ">
  	<![CDATA[  photo_url = #{photoUrl}, ]]>
			</if>
			<if test="address != null and address != '' ">
  	<![CDATA[  address = #{address}, ]]>
			</if>
			<if test="remark != null and remark != '' ">
  	<![CDATA[  remark = #{remark}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  	<![CDATA[  flag = #{flag}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  	<![CDATA[  updated_by = #{updatedBy}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  	<![CDATA[  update_time = sysdate, ]]>
			</if>
		</trim>
		where id= #{id}
	</update>
	<insert id="saveAppUserExt" parameterType="Object">
		insert into APP_USER_EXT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null and userId != '' ">
				user_id,
			</if>
			<if test="nickName != null and nickName != '' ">
				nick_name,
			</if>
			<if test="cityCode != null and cityCode != '' ">
				city_code,
			</if>
			<if test="email != null and email != '' ">
				email,
			</if>
			<if test="isEmailActivated != null ">
				is_email_activated,
			</if>
			<if test="photoUrl != null and photoUrl != '' ">
				photo_url,
			</if>
			<if test="address != null and address != '' ">
				address,
			</if>
			<if test="remark != null and remark != '' ">
				remark,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time,
			</if>
			<if test="attribute1 != null and attribute1 != '' ">
				attribute1,
			</if>
			<if test="attribute2 != null and attribute2 != '' ">
				attribute2,
			</if>
			<if test="attribute3 != null and attribute3 != '' ">
				attribute3,
			</if>
			<if test="attribute4 != null and attribute4 != '' ">
				attribute4,
			</if>
			<if test="attribute5 != null and attribute5 != '' ">
				attribute5,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null and userId != '' ">
  		<![CDATA[  #{userId}, ]]>
			</if>
			<if test="nickName != null and nickName != '' ">
  		<![CDATA[  #{nickName}, ]]>
			</if>
			<if test="cityCode != null and cityCode != '' ">
  		<![CDATA[  #{cityCode}, ]]>
			</if>
			<if test="email != null and email != '' ">
  		<![CDATA[  #{email}, ]]>
			</if>
			<if test="isEmailActivated != null ">
  		<![CDATA[  #{isEmailActivated}, ]]>
			</if>
			<if test="photoUrl != null and photoUrl != '' ">
  		<![CDATA[  #{photoUrl}, ]]>
			</if>
			<if test="address != null and address != '' ">
  		<![CDATA[  #{address}, ]]>
			</if>
			<if test="remark != null and remark != '' ">
  		<![CDATA[  #{remark}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
			<if test="attribute1 != null and attribute1 != '' ">
  		<![CDATA[  #{attribute1}, ]]>
			</if>
			<if test="attribute2 != null and attribute2 != '' ">
  		<![CDATA[  #{attribute2}, ]]>
			</if>
			<if test="attribute3 != null and attribute3 != '' ">
  		<![CDATA[  #{attribute3}, ]]>
			</if>
			<if test="attribute4 != null and attribute4 != '' ">
  		<![CDATA[  #{attribute4}, ]]>
			</if>
			<if test="attribute5 != null and attribute5 != '' ">
  		<![CDATA[  #{attribute5}, ]]>
			</if>
		</trim>
	</insert>
	<insert id="saveAppUserLogin" parameterType="Object">
		insert into APP_USER_LOGIN
		<trim prefix="(" suffix=")" suffixOverrides=",">
		flag,
			<if test="id != null">
				id,
			</if>
			<if test="userId != null and userId != '' ">
				user_id,
			</if>
			<if test="deviceNo != null and deviceNo != '' ">
				device_no,
			</if>
			<if test="clientVersion != null and clientVersion != '' ">
				client_version,
			</if>
			<if test="status != null ">
				status,
			</if>
			<if test="loginKey != null and loginKey != '' ">
				login_key,
			</if>
			<if test="loginCount != null ">
				login_count,
			</if>
			<if test="errCount != null ">
				err_count,
			</if>
			<if test="lastErrTime != null and lastErrTime != '' ">
				last_err_time,
			</if>
			<if test="lastLoginTime != null and lastLoginTime != '' ">
				last_login_time,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
		'ADD',
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null and userId != '' ">
  		<![CDATA[  #{userId}, ]]>
			</if>
			<if test="deviceNo != null and deviceNo != '' ">
  		<![CDATA[  #{deviceNo}, ]]>
			</if>
			<if test="clientVersion != null and clientVersion != '' ">
  		<![CDATA[  #{clientVersion}, ]]>
			</if>
			<if test="status != null ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="loginKey != null and loginKey != '' ">
  		<![CDATA[  #{loginKey}, ]]>
			</if>
			<if test="loginCount != null ">
  		<![CDATA[  #{loginCount}, ]]>
			</if>
			<if test="errCount != null ">
  		<![CDATA[  #{errCount}, ]]>
			</if>
			<if test="lastErrTime != null and lastErrTime != '' ">
  		<![CDATA[  #{lastErrTime}, ]]>
			</if>
			<if test="lastLoginTime != null and lastLoginTime != '' ">
  		<![CDATA[  #{lastLoginTime}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
		</trim>
	</insert>
	<insert id="saveAppUserLoginRecord" parameterType="Object">
		insert into APP_USER_LOGIN_RECORD
		<trim prefix="(" suffix=")" suffixOverrides=",">
		flag,
			<if test="id != null">
				id,
			</if>
			<if test="userId != null and userId != '' ">
				user_id,
			</if>
			<if test="deviceNo != null and deviceNo != '' ">
				device_no,
			</if>
			<if test="clientVersion != null and clientVersion != '' ">
				client_version,
			</if>
			<if test="deviceModel != null and deviceModel != '' ">
				device_model,
			</if>
			<if test="deviceOsVersion != null and deviceOsVersion != '' ">
				device_os_version,
			</if>
			<if test="loginKey != null and loginKey != '' ">
				login_key,
			</if>
			<if test="type != null ">
				type,
			</if>
			<if test="status != null and status != '' ">
				status,
			</if>
			<if test="description != null and description != '' ">
				description,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
		'ADD',
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null and userId != '' ">
  		<![CDATA[  #{userId}, ]]>
			</if>
			<if test="deviceNo != null and deviceNo != '' ">
  		<![CDATA[  #{deviceNo}, ]]>
			</if>
			<if test="clientVersion != null and clientVersion != '' ">
  		<![CDATA[  #{clientVersion}, ]]>
			</if>
			<if test="deviceModel != null and deviceModel != '' ">
  		<![CDATA[  #{deviceModel}, ]]>
			</if>
			<if test="deviceOsVersion != null and deviceOsVersion != '' ">
  		<![CDATA[  #{deviceOsVersion}, ]]>
			</if>
			<if test="loginKey != null and loginKey != '' ">
  		<![CDATA[  #{loginKey}, ]]>
			</if>
			<if test="type != null ">
  		<![CDATA[  #{type}, ]]>
			</if>
			<if test="status != null and status != '' ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="description != null and description != '' ">
  		<![CDATA[  #{description}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
		</trim>
	</insert>
	<insert id="bindLicensePlate" parameterType="Object">
		insert into APP_USER_CAR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null and userId != '' ">
				user_id,
			</if>
			<if test="plateNo != null and plateNo != '' ">
				plate_no,
			</if>
			<if test="plateSecurityCode != null and plateSecurityCode != '' ">
				plate_security_code,
			</if>
			<if test="isDefault != null ">
				is_default,
			</if>
			<if test="note != null and note != '' ">
				note,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null and userId != '' ">
  		<![CDATA[  #{userId}, ]]>
			</if>
			<if test="plateNo != null and plateNo != '' ">
  		<![CDATA[  #{plateNo}, ]]>
			</if>
			<if test="plateSecurityCode != null and plateSecurityCode != '' ">
  		<![CDATA[  #{plateSecurityCode}, ]]>
			</if>
			<if test="isDefault != null ">
  		<![CDATA[  #{isDefault}, ]]>
			</if>
			<if test="note != null and note != '' ">
  		<![CDATA[  #{note}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
		</trim>
	</insert>
	<select id="getPlateInfo" parameterType="Object" resultMap="appUserCarData">
		select * from APP_USER_CAR where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				and user_id = #{userId}
			</if>
			<if test="isDefault != null ">
				and is_default = #{isDefault}
			</if>
			and flag != #{flag}
			<if test="plateNo != null and plateNo != '' ">
				and plate_no = #{plateNo}
			</if>
			<if test="plateSecurityCode != null and plateSecurityCode != '' ">
				and plate_security_code = #{ plateSecurityCode}
			</if>
		</trim>
	</select>
	<update id="updatePlateNo" parameterType="Object">
		update APP_USER_CAR set
		<trim suffixOverrides=",">
			<if test="plateNo != null and plateNo != '' ">
  	<![CDATA[  plate_no = #{plateNo}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  	<![CDATA[  flag = #{flag}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  	<![CDATA[  update_time = #{updateTime}, ]]>
			</if>
			<if test="plateSecurityCode != null ">
  	<![CDATA[  plate_security_code = #{plateSecurityCode}, ]]>
			</if>
			<if test="isDefault != null ">
  	<![CDATA[  is_default = #{isDefault}, ]]>
			</if>
		</trim>
		where 1=1
		<trim suffixOverrides=",">
			<if test="userId != null and userId != '' ">
				and user_id = #{userId}
			</if>
			<if test="plateNo != null and plateNo != '' ">
				and plate_no = #{plateNo}
			</if>
		</trim>
	</update>
	<update id="updateUserLogin" parameterType="Object">
		update APP_USER_LOGIN set
		<trim suffixOverrides=",">
			<if test="deviceNo != null and deviceNo != '' ">
  	<![CDATA[  device_no = #{deviceNo}, ]]>
			</if>
			<if test="clientVersion != null and clientVersion != '' ">
  	<![CDATA[  client_version = #{clientVersion}, ]]>
			</if>
			<if test="status != null ">
  	<![CDATA[  status = #{status}, ]]>
			</if>
			<if test="loginKey != null and loginKey != '' ">
  	<![CDATA[  login_key = #{loginKey}, ]]>
			</if>
			<if test="errCount != null ">
  	<![CDATA[  err_count = #{errCount}, ]]>
			</if>
			<if test="lastLoginTime != null and lastLoginTime != '' ">
  	<![CDATA[  last_login_time = #{lastLoginTime}, ]]>
			</if>
			<if test="loginCount != null ">
  	<![CDATA[  login_count = #{loginCount}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  	<![CDATA[  create_time = #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  	<![CDATA[  update_time = #{updateTime}, ]]>
			</if>
			<if test="lastErrTime != null and lastErrTime != '' ">
	<![CDATA[  last_err_time = #{lastErrTime}, ]]>
			</if>
		</trim>
		where user_id= #{userId}
	</update>

	<!-- 页面用户查询Sql -->

	<sql id="Base_Column_List">
		t.user_account,
		t.status,
		t.password,
		t.mobile,
		t.lock_time,
		t.flag,
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.id
	</sql>
	
	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from APP_USER t
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 查询列表 -->
	<select id="queryByList" resultMap="appUserData" parameterType="Object">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
		</if>
		select
		<include refid="Base_Column_List" />
		from APP_USER t
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by t.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
			${pager.oracleQueryConditionEnd}
		</if>
	</select>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="userAccount != null and userAccount != '' ">
				and t.user_account = #{userAccount}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="password != null and password != '' ">
				and t.password = #{password}
			</if>
			<if test="mobile != null and mobile != '' ">
				and t.mobile = #{mobile}
			</if>
			<!-- <if test="isLocked != null " > and t.is_locked = #{isLocked} </if> -->
			<if test="lockTime != null ">
				and t.lock_time = #{lockTime}
			</if>
			<if test="createdBy != null and createdBy != '' ">
				and t.created_by = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				and t.updated_by = #{updatedBy}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
		</trim>
	</sql>
	
	<!-- 插入用户数据 -->
	<insert id="saveAppUser" parameterType="Object">
	insert into APP_USER
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userAccount != null and userAccount != '' ">
				user_account,
			</if>
			<if test="status != null  ">
				status,
			</if>
			<if test="password != null and password != '' ">
				password,
			</if>
			<if test="mobile != null and mobile != '' ">
				mobile,
			</if>
			<if test="lockTime != null and lockTime != '' ">
				lock_time,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createdBy != null and createdBy != '' ">
				created_by,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				updated_by,
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userAccount != null and userAccount != '' ">
  		<![CDATA[  #{userAccount}, ]]>
			</if>
			<if test="status != null ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="password != null and password != '' ">
  		<![CDATA[  #{password}, ]]>
			</if>
			<if test="mobile != null and mobile != '' ">
  		<![CDATA[  #{mobile}, ]]>
			</if>
			<if test="lockTime != null and lockTime != '' ">
  		<![CDATA[  #{lockTime}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  		<![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  		<![CDATA[  #{updatedBy}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
		</trim>
	</insert>
	
	<update id="updateAppUser" parameterType="Object">
		update APP_USER set
		<trim suffixOverrides=",">
		<if test="userAccount != null and userAccount != ''">
  	<![CDATA[  user_account = #{userAccount}, ]]>
			</if>
			<if test="status != null ">
  	<![CDATA[  status = #{status}, ]]>
			</if>
			<if test="password != null and password != '' ">
  	<![CDATA[  password = #{password}, ]]>
			</if>
			<if test="mobile != null and mobile != '' ">
  	<![CDATA[  mobile = #{mobile}, ]]>
			</if>
			<!-- <if test="isLocked != null and isLocked != '' "> <![CDATA[ is_locked 
				= #{isLocked}, ]]> </if> -->
	<if test="lockTime != null and lockTime != '' ">
  		<![CDATA[  lock_time = #{lockTime}, ]]>
  	</if>
  	<![CDATA[  flag = 'UPDATE', ]]>
			<if test="updatedBy != null and updatedBy != '' ">
  	<![CDATA[  updated_by = #{updatedBy}, ]]>
			</if>
	<![CDATA[  update_time = sysdate, ]]>
		</trim>
		where id= #{id}
	</update>

	<sql id="User_Column_List">
		ba.area_name,
		au.user_account,
		au.status,
		au.password,
		au.mobile,
		au.lock_time,
		aue.user_id,
		aue.nick_name,
		aue.city_code,
		aue.email,
		aue.is_email_activated,
		aue.address,
		aue.remark,
		au.id
	</sql>
	
	<!-- 查询条件 -->
	<sql id="User_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and au.id = #{id}
			</if>
			<if test="userAccount != null and userAccount != '' ">
				and au.user_account like '${userAccount}%'
			</if>
			<if test="cityCode != null and cityCode != '' ">
				and aue.city_code = #{cityCode}
			</if>
			<if test="status != null ">
				and au.status = #{status}
			</if>
			<if test="password != null and password != '' ">
				and au.password = #{password}
			</if>
			<if test="mobile != null and mobile != '' ">
				and au.mobile like '${mobile}%'
			</if>
			<if test="isEmailActivated != null">
				and aue.is_email_activated = #{isEmailActivated}
			</if>
			<!-- <if test="isLocked != null " > and t.is_locked = #{isLocked} </if> -->
			<if test="lockTime != null ">
				and au.lock_time = #{lockTime}
			</if>
			<if test="createdBy != null and createdBy != '' ">
				and au.created_by = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				and au.updated_by = #{updatedBy}
			</if>
			<if test="createTime != null ">
				and au.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and au.update_time = #{updateTime}
			</if>
		</trim>
	</sql>
	
	<!-- 列表总数 -->
	<select id="getUserAndUserExtByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from APP_USER au 
		LEFT JOIN APP_USER_EXT aue ON au.id = aue.user_id
		LEFT JOIN BASE_AREA ba ON aue.city_code = ba.area_code
		<include refid="User_Where_Clause" />
	</select>
	
	<!-- 根据userId左关联app_user表和app_user_ext表 -->
	<select id="getUserAndUserExt"  parameterType="Object" resultMap="appUserAndUserExtData">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
			${pager.oracleQueryConditionStart}
		</if>
		SELECT
			ba.area_name,
			au.user_account,
			au.status,
			au.password,
			au.mobile,
			aue.user_id,
			aue.nick_name,
			aue.photo_url,
			aue.city_code,
			aue.address,
			aue.remark,
			au.create_time,
			c.plate_no,
			au.id
		FROM APP_USER au
		LEFT JOIN APP_USER_EXT aue ON au.id = aue.user_id
		LEFT JOIN BASE_AREA ba ON aue.city_code = ba.area_code
		LEFT JOIN (SELECT car.user_id,car.PLATE_NO
			FROM app_user_car car
			WHERE car.IS_DEFAULT=1) c
			ON au.id=c.user_id
		<include refid="User_Where_Clause"/>
		<if test="pager.orderCondition == ''">
			order by au.STATUS ASC , au.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
			${pager.oracleQueryConditionEnd}
		</if>
	</select>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from APP_USER where id
		= #{id}
	</delete>
	
	<!-- 假删除记录 -->
	<update id="deleted" parameterType="Object" >
		update APP_USER t set 
	   <trim suffixOverrides="," >
	   <![CDATA[  t.status = 3, ]]>
	  	<![CDATA[  t.flag = 'DELETE', ]]>
	     </trim> where t.id= #{id}
	</update>

	<select id="queryIsExist" parameterType="Object" resultMap="appUserAndUserExtData">
		select
		<include refid="Base_Column_List" />
		from APP_USER t
		where user_account=#{userAccount}
	</select>
	
	<select id="findUserAndUserExtById" parameterType="String" resultMap="appUserAndUserExtData">
		SELECT
		<include refid="User_Column_List" />
		FROM APP_USER au
		LEFT JOIN APP_USER_EXT aue ON au.id = aue.user_id 
		LEFT JOIN BASE_AREA ba ON aue.city_code = ba.area_code
		where 1=1
		and au.id = #{id}
	</select>

<!-- 页面插入用户数据 -->
	<insert id="addAppUser" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT sys_guid() from dual
		</selectKey>
	insert into APP_USER
	<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,flag,
			<if test="id != null">
				id,
			</if>
			<if test="userAccount != null and userAccount != '' ">
				user_account,
			</if>
			<if test="status != null  ">
				status,
			</if>
			<if test="password != null and password != '' ">
				password,
			</if>
			<if test="mobile != null and mobile != '' ">
				mobile,
			</if>
			<if test="lockTime != null and lockTime != '' ">
				lock_time,
			</if>
			<if test="createdBy != null and createdBy != '' ">
				created_by,
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				updated_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			sysdate,'ADD',
			<if test="id != null">
				#{id},
			</if>
			<if test="userAccount != null and userAccount != '' ">
  		<![CDATA[  #{userAccount}, ]]>
			</if>
			<if test="status != null ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="password != null and password != '' ">
  		<![CDATA[  #{password}, ]]>
			</if>
			<if test="mobile != null and mobile != '' ">
  		<![CDATA[  #{mobile}, ]]>
			</if>
			<if test="lockTime != null and lockTime != '' ">
  		<![CDATA[  #{lockTime}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  		<![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  		<![CDATA[  #{updatedBy}, ]]>
			</if>
		</trim>
	</insert>
	
	<!-- 根据userId更新attribute1和update_time，其中attribute1为openId -->
	<update id="updateUserExtByUserId" parameterType="Object">
		update APP_USER_EXT set
		<trim suffixOverrides=",">
		<if test="attribute1 != null and attribute1 != ''">
  		<![CDATA[ attribute1  = #{attribute1}, ]]>
		</if>
		<![CDATA[  update_time = sysdate, ]]>
		</trim>
		where user_id = #{userId}
	</update>
	
	<!-- 根据openId查询接口返回参数-->
	<select id="findByOpenId" resultMap="appUserAndUserExtData" parameterType="Object">
		SELECT ext.user_id,ext.nick_name,u.user_account 
		FROM app_user_ext ext LEFT JOIN app_user u ON ext.user_id=u.id 
		WHERE ext.attribute1=#{attribute1}
		AND ROWNUM = 1
	</select>
	
	<!-- 查询该车主除当前绑定车牌外所有车牌-->
	<select id="getPlateInfoExceptionCurrentBind" parameterType="Object" resultMap="appUserCarData">
		SELECT * FROM APP_USER_CAR 
		WHERE 1=1 AND flag != #{flag}
		 AND user_id = #{userId} AND plate_no != #{plateNo}
	</select>
	
	<!-- 查询该车牌是否已被绑定-->
	<select id="getPlateInfoExceptUserId" parameterType="Object" resultMap="appUserCarData">
		SELECT * FROM app_user_car 
		WHERE flag!= #{flag} 
		  AND plate_no = #{plateNo}
		  AND user_id != #{userId}
	</select>
	
	<!-- 删除当前车牌-->
	<select id="deleteCurrentPlateNo" parameterType="Object" >
		DELETE FROM APP_USER_CAR 
		WHERE flag != #{flag}
		  and user_id = #{userId} 
		  AND id = #{id}
	</select>
	
	<!-- 绑定车牌（V22带颜色） -->
	<insert id="bindLicensePlateV22" parameterType="Object">
		insert into APP_USER_CAR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null and userId != '' ">
				user_id,
			</if>
			<if test="plateNo != null and plateNo != '' ">
				plate_no,
			</if>
			<if test="plateSecurityCode != null and plateSecurityCode != '' ">
				plate_security_code,
			</if>
			<if test="isDefault != null ">
				is_default,
			</if>
			<if test="note != null and note != '' ">
				note,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createTime != null and createTime != '' ">
				create_time,
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time,
			</if>
			<if test="plateColor != null">
				plate_color,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null and userId != '' ">
  		<![CDATA[  #{userId}, ]]>
			</if>
			<if test="plateNo != null and plateNo != '' ">
  		<![CDATA[  #{plateNo}, ]]>
			</if>
			<if test="plateSecurityCode != null and plateSecurityCode != '' ">
  		<![CDATA[  #{plateSecurityCode}, ]]>
			</if>
			<if test="isDefault != null ">
  		<![CDATA[  #{isDefault}, ]]>
			</if>
			<if test="note != null and note != '' ">
  		<![CDATA[  #{note}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createTime != null and createTime != '' ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
			<if test="plateColor != null">
  		<![CDATA[  #{plateColor}, ]]>
			</if>
		</trim>
	</insert>
	
	<!-- 更新绑定车牌（V22带颜色） -->
	<update id="updatePlateNoV22" parameterType="Object">
		update APP_USER_CAR set
		<trim suffixOverrides=",">
			<if test="plateNo != null and plateNo != '' ">
  	<![CDATA[  plate_no = #{plateNo}, ]]>
			</if>
			<if test="plateColor != null">
  	<![CDATA[  plate_color = #{plateColor}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  	<![CDATA[  flag = #{flag}, ]]>
			</if>
			<if test="updateTime != null and updateTime != '' ">
  	<![CDATA[  update_time = #{updateTime}, ]]>
			</if>
			<if test="plateSecurityCode != null ">
  	<![CDATA[  plate_security_code = #{plateSecurityCode}, ]]>
			</if>
			<if test="isDefault != null ">
  	<![CDATA[  is_default = #{isDefault}, ]]>
			</if>
		</trim>
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				and user_id = #{userId}
			</if>
		</trim>
	</update>
	
	<!-- 更新扩展表中cityCode -->
	<select id="updateCityCode" parameterType="java.util.Map">
		UPDATE app_user_ext SET city_code = #{cityCode} 
		WHERE flag != 'DELETE' AND user_id = #{userId}
	</select>
	
	<!-- 更新扩展表中用户头像url -->
	<select id="updatePhotoUrl" parameterType="java.util.Map">
		UPDATE app_user_ext SET PHOTO_URL = #{photoUrl} 
		WHERE flag != 'DELETE' AND user_id = #{userId}
	</select>
	
	<!-- 获取车牌信息V22 -->
	<select id="getPlateInfoV22" parameterType="Object" resultMap="appUserCarData">
		select * from APP_USER_CAR where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				and user_id = #{userId}
			</if>
			<if test="isDefault != null ">
				and is_default = #{isDefault}
			</if>
			<if test="plateColor != null ">
				and plate_color = #{plateColor}
			</if>
			and flag != #{flag}
			<if test="plateNo != null and plateNo != '' ">
				and plate_no = #{plateNo}
			</if>
		</trim>
	</select>

<!-- 根据区域编码查询所有app用户对象 -->	
<select id="findByAreaCode" parameterType="java.lang.String" resultMap="appUserData">
	SELECT t.* FROM app_user t
	LEFT JOIN app_user_ext t1 ON t.id = t1.user_id
	WHERE t.flag!= 'DELETE' AND t1.flag != 'DELETE'
  	  AND t1.city_code LIKE '${_parameter}%'
  	  and t1.attribute3 is not null 
</select>

<!-- 根据城市时间统计注册用户数 -->
<select id="getRegisterUserCountByCityCodeAndCreateTime" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT COUNT(t.ID) count FROM app_user t
  	LEFT JOIN app_user_ext e ON e.user_id = t.id
	WHERE t.CREATE_TIME BETWEEN to_date('${date} 00:00:00','yyyy-MM-dd HH24:mi:ss') AND to_date('${date} 23:59:59','yyyy-MM-dd HH24:mi:ss')
    <if test="cityCode == 0">
      	 AND e.city_code is null
    </if>
    <if test="cityCode != 0">
    	 AND e.city_code like '${cityCode}%'
    </if>
</select>	

<!-- 根据城市时间统计注册有缴费用户数 -->
<select id="getRegisterUserPayCountByCityCodeAndCreateTime" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT COUNT(user_account) count FROM
	(SELECT o.user_account FROM app_user t
  	LEFT JOIN app_user_ext e ON e.user_id = t.id
  	JOIN app_order o ON o.USER_ACCOUNT=t.USER_ACCOUNT
	WHERE t.CREATE_TIME BETWEEN to_date('${date} 00:00:00','yyyy-MM-dd HH24:mi:ss') AND to_date('${date} 23:59:59','yyyy-MM-dd HH24:mi:ss')
    AND o.CREATE_TIME BETWEEN to_date('${date} 00:00:00','yyyy-MM-dd HH24:mi:ss') AND to_date('${date} 23:59:59','yyyy-MM-dd HH24:mi:ss')
    <if test="cityCode != null and cityCode != 0">
	    AND e.city_code like '${cityCode}%'
    </if>
    <if test="cityCode != null and cityCode == 0 ">
      	AND e.city_code is null
    </if>
    AND o.order_status = #{orderStatus} GROUP BY o.user_account) m
</select>	

<!-- 统计一天城市活跃用户数 -->
<select id="getActiveUserCountByCityCodeAndTime" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT COUNT(DISTINCT t.user_account) FROM app_log t 
	 WHERE t.create_time BETWEEN to_date('${date} 00:00:00','yyyy-MM-dd HH24:mi:ss') AND to_date('${date} 23:59:59','yyyy-MM-dd HH24:mi:ss') 
	 <if test="cityCode != null and cityCode != 0">
	    AND t.CITY_CODE = #{cityCode}
    </if>
    <if test="cityCode != null and cityCode == 0 ">
      	AND t.CITY_CODE IS NULL
    </if>
</select>
<!-- 统计月内注册用户数 -->
<select id="getRegisterUserCountByCityCodeInMonth" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT COUNT(t.ID) count FROM app_user t
  	LEFT JOIN app_user_ext e ON e.user_id = t.id
	WHERE t.CREATE_TIME BETWEEN to_date('${firstDay} 00:00:00','yyyy-MM-dd HH24:mi:ss') AND to_date('${date} 23:59:59','yyyy-MM-dd HH24:mi:ss')
    <if test="cityCode != null and cityCode != 0">
	    AND e.city_code like '${cityCode}%'
    </if>
    <if test="cityCode != null and cityCode == 0 ">
      	AND e.CITY_CODE IS NULL
    </if>
</select>
</mapper>