<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.CodeDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Code">
		<result column="id" property="id" />
		<result column="code_type" property="codeType" />
		<result column="prefix" property="prefix" />
		<result column="max_code" property="maxCode" />
		<result column="max_len" property="maxLen" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		t.code_type,
		t.prefix,
		t.max_code,
		t.max_len,
		t.id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and t.id = #{id}
			</if>
			<if test="codeType != null and codeType != '' ">
				and t.code_type = #{codeType}
			</if>
			<if test="prefix != null and prefix != '' ">
				and t.prefix = #{prefix}
			</if>
			<if test="maxCode != null and maxCode != ''">
				and t.max_code = #{maxCode}
			</if>
			<if test="maxLen != null and maxLen != ''">
				and t.max_len = #{maxLen}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">

		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() as ID
		</selectKey>

		insert into BASE_CODE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="codeType != null and codeType != '' ">
				code_type,
			</if>
			<if test="prefix != null and prefix != '' ">
				prefix,
			</if>
			<if test="maxCode != null ">
				max_code,
			</if>
			<if test="maxLen != null ">
				max_len,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="codeType != null and codeType != '' ">
  		<![CDATA[  #{codeType}, ]]>
			</if>
			<if test="prefix != null and prefix != '' ">
  		<![CDATA[  #{prefix}, ]]>
			</if>
			<if test="maxCode != null ">
  		<![CDATA[  #{maxCode}, ]]>
			</if>
			<if test="maxLen != null ">
  		<![CDATA[  #{maxLen}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_CODE t set
		<trim suffixOverrides=",">
			<if test="codeType != null and codeType != '' ">
  	<![CDATA[  t.code_type = #{codeType}, ]]>
			</if>
			<if test="prefix != null and prefix != '' ">
  	<![CDATA[  t.prefix = #{prefix}, ]]>
			</if>
			<if test="maxCode != null ">
  	<![CDATA[  t.max_code = #{maxCode}, ]]>
			</if>
			<if test="maxLen != null ">
  	<![CDATA[  t.max_len = #{maxLen}, ]]>
			</if>
		</trim>
		where t.id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_CODE t where
		t.id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_CODE t where t.id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_CODE t
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
		</if>
		select
		<include refid="Base_Column_List" />
		from BASE_CODE t
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by t.id desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
			${pager.oracleQueryConditionEnd}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

</mapper>   
