<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.RegionDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Region">
		<result column="id" property="id" />
		<result column="region_code" property="regionCode" />
		<result column="region_name" property="regionName" />
		<result column="short_name" property="shortName" />
		<result column="parent_id" property="parentId" />
		<result column="region_level" property="regionLevel" />
		<result column="order_num" property="orderNum" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="note" property="note" />
	</resultMap>

	<!-- log table all fields -->
	<sql id="Base_Column_List">
		id,region_code,region_name,short_name,parent_id,region_level,order_num,longitude,latitude,note
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="regionCode != null and regionCode != ''">
				and region_code = #{regionCode}
			</if>
			<if test="regionName != null and regionName != ''">
				and region_name like '%${regionName}%'
			</if>
			<if test="shortName != null and shortName != ''">
				and short_name = #{shortName}
			</if>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId}
			</if>
			<if test="regionLevel != null and regionLevel !=''">
				and region_level = #{regionLevel}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() as ID
		</selectKey>
		insert into BASE_REGION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="regionCode != null and regionCode != ''">
				region_code,
			</if>
			<if test="regionName != null and regionName != ''">
				region_name,
			</if>
			<if test="shortName != null and shortName != ''">
				short_name,
			</if>
			<if test="parentId != null and parentId != ''">
				parent_id,
			</if>
			<if test="regionLevel != null and regionLevel != ''">
				region_level,
			</if>
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="note != null and note != ''">
				note,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="regionCode != null and regionCode != ''">
				#{regionCode},
			</if>
			<if test="regionName != null and regionName != ''">
				#{regionName},
			</if>
			<if test="shortName != null and shortName != ''">
				#{shortName},
			</if>
			<if test="parentId != null and parentId != ''">
				#{parentId},
			</if>
			<if test="regionLevel != null and regionLevel != '' ">
				#{regionLevel},
			</if>
			<if test="orderNum != null">
				#{orderNum},
			</if>
			<if test="longitude != null">
				#{longitude},
			</if>
			<if test="latitude != null">
				#{latitude},
			</if>
			<if test="note != null and note != ''">
				#{note},
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_REGION set
		<trim suffixOverrides=",">
			<if test="regionName != null and regionName !=''">
				region_name = #{regionName},
			</if>
			<if test="shortName != null and shortName !=''">
				short_name = #{shortName},
			</if>
			<if test="regionCode != null and regionCode != ''">
				region_code = #{regionCode},
			</if>
			<if test="parentId != null and parentId !=''">
				parent_id = #{parentId},
			</if>
			<if test="regionLevel != null and regionLevel !=''">
				region_level = #{regionLevel},
			</if>
			<if test="orderNum != null and orderNum !=''">
				order_num = #{orderNum},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="note != null">
				note = #{note},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_REGION where
		id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_REGION
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
		</if>
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == null ">
			order by order_num
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
			${pager.oracleQueryConditionEnd}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<!-- 查询所有区域 -->
	<select id="queryAllRegion" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		<include refid="Example_Where_Clause" />
		order by region_code
	</select>

	<!-- 根据父级id查询下级区域 -->
	<select id="queryRegionByParentId" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		where parent_id = #{parentId}
		order by order_num
	</select>

	<!-- 根据区域级别查询 -->
	<select id="queryRegionByLevel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		where region_level = #{regionLevel}
		order by order_num
	</select>

	<!-- 根据区域编码查询区域 -->
	<select id="queryRegionByCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		where 1=1 and region_code = #{regionCode}
	</select>

	<!-- 根据区域编码模糊查询区域 -->
	<select id="queryRegionLikeCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		where 1=1 and region_code like
		'%${regionCode}%'
		order by order_num
	</select>

	<!-- 根据区域编码模糊查询区域 -->
	<select id="queryRegionLikeParkCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		where 1=1 and region_code like
		'%${regionCode}%'
		order by order_num
	</select>

	<!-- 根据名称查找区域 -->
	<select id="queryByName" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_REGION
		where region_name = #{regionName}
	</select>

	<select id="queryRegionLevelById" resultType="java.lang.Integer"
		parameterType="Object">
		select region_level from BASE_REGION where
		id=#{id}
	</select>

	<!-- 根据城市编码获取中间件城市编码 -->
	<select id="queryAreaCityCode" parameterType="Object"
		resultType="java.lang.String">
		select city_code cityCode from APP_AREA_CITY_REL where
		area_city_code = #{cityCode}
	</select>
	<select id="queryCityNameByCityCide" parameterType="Object"
		resultType="java.lang.String">
		select region_name from BASE_REGION where
		city_code =
		#{cityCode}
	</select>
	<select id="queryCityByParentCode" parameterType="Object"
		resultMap="BaseResultMap">
		select REGION_CODE from BASE_REGION where
		parent_id = (select
		id from BASE_REGION where REGION_CODE = #{cityCode})
	</select>
</mapper>