<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.RosePieDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="java.util.Map" >
	<result column="alipayOrderPayAmount" property="alipayOrderPayAmount" javaType="java.lang.String"/>
	<result column="wxpayOrderPayAmount" property="wxpayOrderPayAmount" javaType="java.lang.String"/>
	<result column="onlineCityAmount" property="onlineCityAmount" javaType="java.lang.String"/>
	<result column="payfeeUsersCount" property="payfeeUsersCount" javaType="java.lang.String"/>
	<result column="registerUsersCount" property="registerUsersCount" javaType="java.lang.String"/>
	<result column="registerUsersCountYesterday" property="registerUsersCountYesterday" javaType="java.lang.String"/>
	<result column="androidRegisterUserCount" property="androidRegisterUserCount" javaType="java.lang.String"/>
	<result column="iosRegisterUserCount" property="iosRegisterUserCount" javaType="java.lang.String"/>
</resultMap>

<!-- *************************************首页p2.jsp查询分割线****************************************************** -->
<!--查询支付宝交易成功金额 -->
<select id="getAliPayTypeAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	 SELECT round(SUM(alipay_success_amount)/100,2) alipayOrderPayAmount
     FROM( SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) alipay_success_amount
           FROM app_order t 
           WHERE t.order_status=200 AND t.pay_type=1
           AND to_char(t.pay_time,'yyyy-MM-dd') = #{queryData}
           <trim>
           	<if test="cityCode != null and cityCode!= '' ">
           		AND t.area_code like '${cityCode}%'
           	</if>
           </trim>
           GROUP BY t.parkrecord_id)A
</select>

<!--查询微信交易成功金额 -->
<select id="getWxPayTypeAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	 SELECT round(SUM(wxpay_success_amount)/100,2) wxpayOrderPayAmount
     FROM( SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) wxpay_success_amount
           FROM app_order t 
           WHERE t.order_status=200 AND t.pay_type=2
           AND to_char(t.pay_time,'yyyy-MM-dd') = #{queryData}
            <trim>
           	<if test="cityCode != null and cityCode!= '' ">
           		AND t.area_code like '${cityCode}%'
           	</if>
           </trim>
           GROUP BY t.parkrecord_id)A
</select>

<!--查询各区域交易成功金额 -->
<select id="getOnlineCityAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	    SELECT round(SUM(A.price)/100,2) onlineCityAmount
	    FROM( SELECT SUM(CASE WHEN t.PRICE>0 THEN t.price ELSE 0 END) price
              FROM app_order t
              WHERE t.order_status=200 
              AND to_char(t.pay_time,'yyyy-MM-dd') =  #{queryData}
              AND t.area_code = #{areaCode}
              GROUP BY t.parkrecord_id)A
</select>

<!-- ********************************p2.jsp结束,p4.jsp开始******************************* -->
<!--查询折线图七天运营数据 -->
<select id="queryLineParamByDay" resultMap="BaseResultMap"  parameterType="java.util.Map">
	  SELECT CASE WHEN TRAN_SUCCESS_AMOUNT IS NULL THEN 0 ELSE ROUND(TRAN_SUCCESS_AMOUNT/100,2) END onlineCityAmount
      FROM app_stat_daily WHERE day_time = to_date('${_queryDate}','yyyy-MM-dd')
       AND area_code = #{areaCode} ORDER BY day_time asc
</select>
<!-- ********************************p4.jsp结束,p3.jsp开始*********************************** -->
<!--查询缴费用户数 -->
<select id="queryPayFeeUserCount" resultMap="BaseResultMap"  parameterType="java.util.Map">
 	  SELECT COUNT(1) payfeeUsersCount FROM (
 	   SELECT t.user_id FROM app_order t
   	   LEFT JOIN app_user t1 ON t.user_id = t1.id
   	   WHERE t.order_status = 200 AND to_char(t.pay_time,'yyyy-MM-dd') = #{queryDate}
   	     AND to_char(t1.create_time,'yyyy-MM-dd') = #{queryDate} 
   	   GROUP BY t.user_id)A
</select>

<!--查询注册用户数 -->
<select id="queryRegisterUserCount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT COUNT(1) registerUsersCount
 	FROM app_user 
    WHERE FLAG != 'DELETE' 
    AND to_char(CREATE_TIME,'yyyy-MM-dd') = #{queryDate}
</select>

<!--查询指定区域注册用户数 -->
<select id="queryRegisterUserCountYesterday" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT COUNT(1) registerUsersCountYesterday
 	FROM app_user t
	 LEFT JOIN app_user_ext t1 ON t.id = t1.user_id
 	WHERE t.FLAG != 'DELETE' AND t1.flag != 'DELETE'
   	  AND to_char(t.CREATE_TIME,'yyyy-MM-dd') = #{queryDate}
      <if test="areaCode == 0">
      	 AND t1.city_code is null
      </if>
      <if test="areaCode != 0">
      	 AND t1.city_code LIKE '${areaCode}%'
      </if>
      
</select>

<!-- 查询 Android注册用户数  -->
<select id="queryRegisterUserCountYesterdayByAndroid" resultMap="BaseResultMap"  parameterType="java.util.Map">
    SELECT COUNT(1) androidRegisterUserCount
 	FROM app_user t
	 LEFT JOIN app_user_ext t1 ON t.id = t1.user_id
	 LEFT JOIN app_user_login t2 ON t.id = t2.USER_ID
 	WHERE t.FLAG != 'DELETE' AND t1.flag != 'DELETE'
 	  AND LENGTH(t2.DEVICE_NO) &lt; 35 AND t2.DEVICE_NO NOT LIKE '%-%'
   	  AND to_char(t.CREATE_TIME,'yyyy-MM-dd') = #{queryDate}
	  <if test="cityCode != null and cityCode != '' ">	
      	 AND t1.city_code LIKE '${cityCode}%'
      </if>
</select>

<!-- 查询IOS注册用户数 -->
<select id="queryRegisterUserCountYesterdayByIOS" resultMap="BaseResultMap"  parameterType="java.util.Map">
    SELECT COUNT(1) iosRegisterUserCount
 	FROM app_user t
	 LEFT JOIN app_user_ext t1 ON t.id = t1.user_id
	 LEFT JOIN app_user_login t2 ON t.id = t2.USER_ID
 	WHERE t.FLAG != 'DELETE' AND t1.flag != 'DELETE'
 	  AND LENGTH(t2.DEVICE_NO) &gt; 35 AND t2.DEVICE_NO LIKE '%-%'
   	  AND to_char(t.CREATE_TIME,'yyyy-MM-dd') = #{queryDate}
	  <if test="cityCode != null and cityCode != '' ">
      	 AND t1.city_code LIKE '${cityCode}%'
      </if>
</select>

</mapper>   
