<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.stat.ActivityTopicDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.stat.ActivityTopic" >
	<result column="id" property="id"/>
		<result column="topic_name" property="topicName"/>
		<result column="topic_abstract" property="topicAbstract"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="status" property="status"/>
		<result column="displayconf" property="displayconf"/>
		<result column="topic_imageurl" property="topicImageurl"/>
		<result column="topic_url" property="topicUrl"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="order_num" property="orderNum"/>
		<result column="ecs_topic_imageurl" property="ecsTopicImageurl"/>
	</resultMap>
	
<resultMap id="ActivityTopicDetailResultMap" type="com.innotek.fragrans.entity.stat.GetActivityTopicItem" >
		<result column="id" property="id"/>
		<result column="topic_name" property="topicName"/>
		<result column="TOPIC_ABSTRACT" property="topicAbstract"/>
		<result column="START_TIME" property="startTime"/>
		<result column="END_TIME" property="endTime"/>
		<result column="TOPIC_IMAGEURL" property="imageUrl"/>
		<result column="TOPIC_URL" property="topicUrl"/>
	</resultMap>
	<resultMap id="ActivityTopicDetailResultV24Map" type="com.innotek.fragrans.entity.stat.GetActivityTopicV24Item" >
		<result column="id" property="id"/>
		<result column="topic_name" property="activityTopicName"/>
		<result column="TOPIC_ABSTRACT" property="activityTopicAbstract"/>
		<result column="START_TIME" property="startTime"/>
		<result column="END_TIME" property="endTime"/>
		<result column="TOPIC_IMAGEURL" property="imageUrl"/>
		<result column="TOPIC_URL" property="topicUrl"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.topic_name,
		 t.topic_abstract,
		 t.start_time,
		 t.end_time,
		 t.status,
		 t.displayconf,
		 t.topic_imageurl,
		 t.topic_url,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
		 t.order_num,
	     t.id,
	     t.ecs_topic_imageurl
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="topicName != null and topicName != '' " >
    	and t.topic_name like '%${topicName}%'
	</if>
	<if test="topicAbstract != null and topicAbstract != '' " >
    	and t.topic_abstract =  #{topicAbstract}
	</if>
	<if test="startTime != null " >
    	and t.start_time =  #{startTime}
	</if>
	<if test="endTime != null " >
    	and t.end_time =  #{endTime}
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="displayconf != null " >
    	and t.displayconf =  #{displayconf}
	</if>
	<if test="topicImageurl != null and topicImageurl != '' " >
    	and t.topic_imageurl =  #{topicImageurl}
	</if>
	<if test="topicUrl != null and topicUrl != '' " >
    	and t.topic_url =  #{topicUrl}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="orderNum != null " >
    	and t.order_num =  #{orderNum}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	insert into app_activity_topic 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
		update_time,
	 	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="topicName != null and topicName != '' " >
		 topic_name,
		</if>
    	<if test="topicAbstract != null and topicAbstract != '' " >
		 topic_abstract,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="status != null " >
		status,
		</if>
    	<if test="displayconf != null " >
		displayconf,
		</if>
    	<if test="topicImageurl != null and topicImageurl != '' " >
		 topic_imageurl,
		</if>
    	<if test="topicUrl != null and topicUrl != '' " >
		 topic_url,
		</if>
    	<if test="orderNum != null" >
		 order_num,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="ecsTopicImageurl != null and ecsTopicImageurl != '' " >
		 ecs_topic_imageurl,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	now(),
	 	now(),
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="topicName != null and topicName != '' " >
  		<![CDATA[  #{topicName}, ]]>
    	</if>
    	<if test="topicAbstract != null and topicAbstract != '' " >
  		<![CDATA[  #{topicAbstract}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	<if test="displayconf != null " >
  		<![CDATA[  #{displayconf}, ]]>
    	</if>
    	<if test="topicImageurl != null and topicImageurl != '' " >
  		<![CDATA[  #{topicImageurl}, ]]>
    	</if>
    	<if test="topicUrl != null and topicUrl != '' " >
  		<![CDATA[  #{topicUrl}, ]]>
    	</if>
    	<if test="orderNum != null " >
  		<![CDATA[  #{orderNum}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="ecsTopicImageurl != null and ecsTopicImageurl != '' " >
		<![CDATA[  #{ecsTopicImageurl}, ]]>
		</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_topic t set 
   <trim suffixOverrides="," >
	<if test="topicName != null and topicName != '' " >
  	<![CDATA[  t.topic_name = #{topicName}, ]]>
    </if>
    <if test="topicAbstract != null and topicAbstract != '' " >
  	<![CDATA[  t.topic_abstract = #{topicAbstract}, ]]>
    </if>
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="status != null " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
    <if test="displayconf != null " >
  	<![CDATA[  t.displayconf = #{displayconf}, ]]>
    </if>
    <if test="topicImageurl != null " >
  	<![CDATA[  t.topic_imageurl = #{topicImageurl}, ]]>
    </if>
    <if test="topicUrl != null " >
  	<![CDATA[  t.topic_url = #{topicUrl}, ]]>
  	</if>
    <if test="orderNum != null" >
  	<![CDATA[  t.order_num = #{orderNum}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="ecsTopicImageurl != null and ecsTopicImageurl != '' " >
  	<![CDATA[  t.ecs_topic_imageurl = #{ecsTopicImageurl}, ]]>
    </if>
  	<![CDATA[  t.update_time = now(), ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_topic where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_topic t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_topic t
	where 1=1
	<if test="startTime != null and endTime != null">
		and t.start_time between #{startTime} and #{endTime}
		and t.end_time between #{startTime} and #{endTime}
	</if>
	<if test="startTime != null and endTime == null">
		and t.start_time &gt;= #{startTime}
	</if>
	<if test="startTime == null and endTime != null">
		and t.end_time &lt;= #{endTime}
	</if>
	<if test="topicName != null and topicName != '' " >
		and t.topic_name like '%${topicName}%'
	</if>
	<if test="status != null " >
		and t.status =  #{status}
	</if>
	<if test="displayconf != null " >
		and t.displayconf =  #{displayconf}
	</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_activity_topic t 
	where 1=1
	<if test="startTime != null and endTime != null">
		and t.start_time between #{startTime} and #{endTime}
		and t.end_time between #{startTime} and #{endTime}
	</if>
	<if test="startTime != null and endTime == null">
		and t.start_time &gt;= #{startTime}
	</if>
	<if test="startTime == null and endTime != null">
		and t.end_time &lt;= #{endTime}
	</if>
	<if test="topicName != null and topicName != '' " >
    	and t.topic_name like '%${topicName}%'
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="displayconf != null " >
    	and t.displayconf =  #{displayconf}
	</if>
	<if test="pager.orderCondition == ''">
		order by t.order_num asc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 获取活动主题详细 -->
<select id="queryActivityTopicDetail" resultMap="ActivityTopicDetailResultMap"  parameterType="java.lang.Integer">
	SELECT t.topic_name,t.TOPIC_ABSTRACT,t.START_TIME,t.END_TIME,t.TOPIC_IMAGEURL,t.TOPIC_URL  
	FROM app_activity_topic t
	LEFT JOIN app_activity_area_conf t1 ON t1.obj_id = t.id
	WHERE t.status = 1  
	  AND t1.flag != 'DELETE' AND t1.obj_type = 1
	  and t.DISPLAYCONF = 1
	  AND DATE_FORMAT(NOW(),'%Y-%m-%d') BETWEEN t.start_time AND t.end_time
	  AND t1.area_code = #{_parameter}
	  AND t.order_num = 0
</select>
<!-- 获取活动主题详细v2.4 -->
<select id="findActivityTopicDetail" resultMap="ActivityTopicDetailResultV24Map"  parameterType="Object">
	SELECT t.topic_name,t.TOPIC_ABSTRACT,t.START_TIME,t.END_TIME,t.TOPIC_IMAGEURL,t.TOPIC_URL,t.DISPLAYCONF
	FROM app_activity_topic t
	LEFT JOIN app_activity_area_conf t1 ON t1.obj_id = t.id
	WHERE t.status = 1  
	  AND t1.flag != 'DELETE' AND t1.obj_type = 1
	  and t.DISPLAYCONF = #{displayconf}
	  AND DATE_FORMAT(NOW(),'%Y-%m-%d') BETWEEN t.start_time AND t.end_time
	  AND t1.area_code = #{cityCode}
	  AND t.order_num &gt; 0
	 ORDER BY t.order_num asc
</select>
<!-- 查询所有在线的主题 -->
<select id="queryTopic" resultMap="BaseResultMap">
	select * from app_activity_topic
</select>

<!-- 查询指定日期的所有主题 -->
<select id="findActivityTopicListByDate" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT * FROM app_activity_topic 
	WHERE #{_parameter} BETWEEN start_time AND end_time
</select>

<!-- 根据活动id查询活动主题 -->
<select id="queryTopicNameById" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT * FROM app_activity_topic 
	WHERE  #{id} = id
</select>

</mapper>   
