<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.stat.FinancialStatementsDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.stat.FinancialStatements" >
	<result column="id" property="id"/>
		<result column="day_time" property="dayTime"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="tran_amount" property="tranAmount"/>
		<result column="tran_paid_amount" property="tranPaidAmount"/>
		<result column="discount_amount" property="discountAmount"/>
		<result column="ticket_amount" property="ticketAmount"/>
		<result column="alipay_amount" property="alipayAmount"/>
		<result column="wxpay_amount" property="wxpayAmount"/>
		<result column="cmbpay_amount" property="cmbpayAmount"/>
		<result column="member_pay_amount" property="memberPayAmount"/>
		<result column="pcc_pay_amount" property="pccPayAmount"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.day_time,
		 t.city_code,
		 t.area_code,
		 t.tran_amount,
		 t.tran_paid_amount,
		 t.discount_amount,
		 t.ticket_amount,
		 t.alipay_amount,
		 t.wxpay_amount,
		 t.cmbpay_amount,
		 t.member_pay_amount,
		 t.pcc_pay_amount,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="dayTime != null and dayTime != '' " >
    	and t.day_time =  #{dayTime}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="tranAmount != null " >
    	and t.tran_amount =  #{tranAmount}
	</if>
	<if test="tranPaidAmount != null " >
    	and t.tran_paid_amount =  #{tranPaidAmount}
	</if>
	<if test="discountAmount != null " >
    	and t.discount_amount =  #{discountAmount}
	</if>
	<if test="ticketAmount != null " >
    	and t.ticket_amount =  #{ticketAmount}
	</if>
	<if test="alipayAmount != null " >
    	and t.alipay_amount =  #{alipayAmount}
	</if>
	<if test="wxpayAmount != null " >
    	and t.wxpay_amount =  #{wxpayAmount}
	</if>
	<if test="cmbpayAmount != null " >
    	and t.cmbpay_amount =  #{cmbpayAmount}
	</if>
	<if test="memberPayAmount != null " >
    	and t.member_pay_amount =  #{memberPayAmount}
	</if>
	<if test="pccPayAmount != null " >
    	and t.pcc_pay_amount =  #{pccPayAmount}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_financial_statements 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="dayTime != null and dayTime != '' " >
		 day_time,
		</if>
    	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="tranAmount != null " >
		tran_amount,
		</if>
    	<if test="tranPaidAmount != null " >
		tran_paid_amount,
		</if>
    	<if test="discountAmount != null " >
		discount_amount,
		</if>
    	<if test="ticketAmount != null " >
		ticket_amount,
		</if>
    	<if test="alipayAmount != null " >
		alipay_amount,
		</if>
    	<if test="wxpayAmount != null " >
		wxpay_amount,
		</if>
    	<if test="cmbpayAmount != null " >
		cmbpay_amount,
		</if>
    	<if test="memberPayAmount != null " >
		member_pay_amount,
		</if>
    	<if test="pccPayAmount != null " >
		pcc_pay_amount,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="dayTime != null and dayTime != '' " >
  		<![CDATA[  #{dayTime}, ]]>
    	</if>
    	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="tranAmount != null " >
  		<![CDATA[  #{tranAmount}, ]]>
    	</if>
    	<if test="tranPaidAmount != null " >
  		<![CDATA[  #{tranPaidAmount}, ]]>
    	</if>
    	<if test="discountAmount != null " >
  		<![CDATA[  #{discountAmount}, ]]>
    	</if>
    	<if test="ticketAmount != null " >
  		<![CDATA[  #{ticketAmount}, ]]>
    	</if>
    	<if test="alipayAmount != null " >
  		<![CDATA[  #{alipayAmount}, ]]>
    	</if>
    	<if test="wxpayAmount != null " >
  		<![CDATA[  #{wxpayAmount}, ]]>
    	</if>
    	<if test="cmbpayAmount != null " >
  		<![CDATA[  #{cmbpayAmount}, ]]>
    	</if>
    	<if test="memberPayAmount != null " >
  		<![CDATA[  #{memberPayAmount}, ]]>
    	</if>
    	<if test="pccPayAmount != null " >
  		<![CDATA[  #{pccPayAmount}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_financial_statements t set 
   <trim suffixOverrides="," >
	<if test="dayTime != null and dayTime != '' " >
  	<![CDATA[  t.day_time = #{dayTime}, ]]>
    </if>
    <if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="tranAmount != null " >
  	<![CDATA[  t.tran_amount = #{tranAmount}, ]]>
    </if>
    <if test="tranPaidAmount != null " >
  	<![CDATA[  t.tran_paid_amount = #{tranPaidAmount}, ]]>
    </if>
    <if test="discountAmount != null " >
  	<![CDATA[  t.discount_amount = #{discountAmount}, ]]>
    </if>
    <if test="ticketAmount != null " >
  	<![CDATA[  t.ticket_amount = #{ticketAmount}, ]]>
    </if>
    <if test="alipayAmount != null " >
  	<![CDATA[  t.alipay_amount = #{alipayAmount}, ]]>
    </if>
    <if test="wxpayAmount != null " >
  	<![CDATA[  t.wxpay_amount = #{wxpayAmount}, ]]>
    </if>
    <if test="cmbpayAmount != null " >
  	<![CDATA[  t.cmbpay_amount = #{cmbpayAmount}, ]]>
    </if>
    <if test="memberPayAmount != null " >
  	<![CDATA[  t.member_pay_amount = #{memberPayAmount}, ]]>
    </if>
    <if test="pccPayAmount != null " >
  	<![CDATA[  t.pcc_pay_amount = #{pccPayAmount}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_financial_statements where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_financial_statements t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_financial_statements t
	WHERE 1=1
	<if test="dayTime != null and dayTime != ''" >
		and t.day_time =  #{dayTime}
	</if>
	<if test="areaCode != null and areaCode != '' ">
		AND t.AREA_CODE like '${areaCode}%'
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		and t.AREA_CODE LIKE '${userCityCode}%'
	</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	,t1.area_name cityName,t2.area_name areaName
	from app_financial_statements t
	LEFT JOIN base_area t1 ON t.city_code=t1.area_code
	LEFT JOIN base_area t2 ON t.area_code=t2.area_code
	WHERE 1=1
	<if test="dayTime != null and dayTime != ''" >
		and t.day_time =  #{dayTime}
	</if>
	<if test="areaCode != null and areaCode != '' ">
		AND t.AREA_CODE like '${areaCode}%'
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		and t.AREA_CODE LIKE '${userCityCode}%'
	</if>
	<if test="pager.orderCondition == ''">
		order by t.day_time desc,t.area_code asc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
	<!-- 根据日期和区域条件查询 -->
	<select id="queryFinancialStatements"  resultType="java.lang.String" parameterType="Object">
		select id
		from app_financial_statements t
		where t.day_time = #{dayTime}
		<if test="areaCode != null and areaCode != ''" >
			AND t.area_code = #{areaCode}
		</if>
	</select>

	<!-- 批量插入记录 -->
	<insert id="batchFinancialStatements" parameterType="java.util.Map">
		insert into app_financial_statements (
			id,
			day_time,
			city_code,
			area_code,
			tran_amount,
			tran_paid_amount,
			discount_amount,
			ticket_amount,
			alipay_amount,
			wxpay_amount,
			cmbpay_amount,
			member_pay_amount,
			pcc_pay_amount
		) values
		<foreach collection="list" item="item" index="index" separator="," >
		(
			#{item.id},
			#{item.dayTime},
			#{item.cityCode},
			#{item.areaCode},
			#{item.tranAmount},
			#{item.tranPaidAmount},
			#{item.discountAmount},
			#{item.ticketAmount},
			#{item.alipayAmount},
			#{item.wxpayAmount},
			#{item.cmbpayAmount},
			#{item.memberPayAmount},
			#{item.pccPayAmount}
		)
		</foreach>
	</insert>

	<!-- 查询导出财务报表参数值 -->
	<select id="cvsFinancialStatementsList" resultMap="BaseResultMap"  parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List"/>
		,t1.area_name cityName,t2.area_name areaName
		FROM app_financial_statements t
		LEFT JOIN base_area t1 ON t.city_code=t1.area_code
		LEFT JOIN base_area t2 ON t.area_code=t2.area_code
		WHERE 1=1
		<trim>
			<if test="dayTime != null and dayTime != '' ">
				AND t.day_time = #{dayTime}
			</if>
			<if test="areaCode != null and areaCode != '' ">
				AND t.area_code like '${areaCode}%'
			</if>
		</trim>
		ORDER BY t.day_time asc
	</select>
</mapper>
