<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.stat.MessageTopicDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.stat.MessageTopic" >
	<result column="id" property="id"/>
		<result column="message_topic_name" property="messageTopicName"/>
		<result column="message_topic_desc" property="messageTopicDesc"/>
		<result column="topic_type" property="topicType"/>
		<result column="displayconf" property="displayconf"/>
		<result column="is_common" property="isCommon"/>
		<result column="order_num" property="orderNum"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.message_topic_name,
		 t.message_topic_desc,
		 t.topic_type,
		 t.displayconf,
		 t.is_common,
		 t.order_num,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="messageTopicName != null and messageTopicName != '' " >
    	and t.message_topic_name =  #{messageTopicName}
	</if>
	<if test="messageTopicDesc != null and messageTopicDesc != '' " >
    	and t.message_topic_desc =  #{messageTopicDesc}
	</if>
	<if test="topicType != null and topicType != '' " >
    	and t.topic_type =  #{topicType}
	</if>
	<if test="displayconf != null " >
    	and t.displayconf =  #{displayconf}
	</if>
	<if test="isCommon != null " >
    	and t.is_common =  #{isCommon}
	</if>
	<if test="orderNum != null " >
    	and t.order_num =  #{orderNum}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_message_topic 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="messageTopicName != null and messageTopicName != '' " >
		 message_topic_name,
		</if>
    	<if test="messageTopicDesc != null and messageTopicDesc != '' " >
		 message_topic_desc,
		</if>
    	<if test="topicType != null and topicType != '' " >
		topic_type,
		</if>
    	<if test="displayconf != null " >
		displayconf,
		</if>
    	<if test="isCommon != null " >
		is_common,
		</if>
    	<if test="orderNum != null " >
		order_num,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 now(),
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="messageTopicName != null and messageTopicName != '' " >
  		<![CDATA[  #{messageTopicName}, ]]>
    	</if>
    	<if test="messageTopicDesc != null and messageTopicDesc != '' " >
  		<![CDATA[  #{messageTopicDesc}, ]]>
    	</if>
    	<if test="topicType != null and topicType != '' " >
  		<![CDATA[  #{topicType}, ]]>
    	</if>
    	<if test="displayconf != null " >
  		<![CDATA[  #{displayconf}, ]]>
    	</if>
    	<if test="isCommon != null " >
  		<![CDATA[  #{isCommon}, ]]>
    	</if>
    	<if test="orderNum != null " >
  		<![CDATA[  #{orderNum}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_message_topic t set 
   <trim suffixOverrides="," >
	<if test="messageTopicName != null and messageTopicName != '' " >
  	<![CDATA[  t.message_topic_name = #{messageTopicName}, ]]>
    </if>
    <if test="messageTopicDesc != null and messageTopicDesc != '' " >
  	<![CDATA[  t.message_topic_desc = #{messageTopicDesc}, ]]>
    </if>
    <if test="topicType != null and topicType != '' " >
  	<![CDATA[  t.topic_type = #{topicType}, ]]>
    </if>
    <if test="displayconf != null " >
  	<![CDATA[  t.displayconf = #{displayconf}, ]]>
    </if>
    <if test="isCommon != null " >
  	<![CDATA[  t.is_common = #{isCommon}, ]]>
    </if>
    <if test="orderNum != null " >
  	<![CDATA[  t.order_num = #{orderNum}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = now(), ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_message_topic where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_message_topic t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_message_topic t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_message_topic t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.order_num asc,t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询分类模块 -->
<select id="queryMessageTopic"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t1.*
	FROM app_message_topic t1 
	WHERE t1.is_common = 1 AND t1.displayconf = 1
	UNION	
	SELECT t2.*
	FROM app_message_topic t2
	LEFT JOIN app_object_area_conf conf ON t2.id = conf.obj_id
	WHERE conf.obj_type = #{objType} AND t2.is_common = 0 AND t2.displayconf = 1
	AND conf.city_code = #{cityCode}
	ORDER BY order_num ASC
</select>

<!--页面 查询分类模块 -->
<select id="findMessageTopic"  resultMap="BaseResultMap">
	SELECT *
	FROM app_message_topic
</select>

<!--根据分类类型查询分类模块id -->
<select id="getMessageTopicId"  resultType="java.lang.String" parameterType="java.lang.String">
	SELECT id
	FROM app_message_topic
	where topic_type = #{topicType}
	limit 1
</select>

<!-- 关联区域表根据objType和cityCode查询分类模块 -->
<select id="queryAreaClassifyMessageTopic"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t1.*
	FROM app_message_topic t1 
	WHERE t1.is_common = 1 AND t1.displayconf = 1 and t1.topic_type != 3
	UNION	
	SELECT t2.*
	FROM app_message_topic t2
	LEFT JOIN app_object_area_conf conf ON t2.id = conf.obj_id
	WHERE conf.obj_type = #{objType} AND t2.is_common = 0 AND t2.displayconf = 1
	AND conf.city_code = #{cityCode}
	ORDER BY order_num ASC
</select>

<!-- 查询个人消息分类模块 -->
<select id="queryUserMessageTopic"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*
	FROM app_message_topic t
	WHERE t.topic_type = 3 AND t.displayconf = 1
</select>
</mapper>   
