<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.stat.MessageDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.stat.MessageEntity" >
	    <result column="id" property="id"/>
	    <result column="message_topic_id" property="messageTopicId"/>
		<result column="city_code" property="cityCode"/>
		<result column="message_name" property="messageName"/>
		<result column="content" property="content"/>
		<result column="message_type" property="messageType"/>
		<result column="push_range" property="pushRange"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="expire_date" property="expireDate"/>
		<result column="MESSAGE_ID" property="messageId"/>
		<result column="scale" property="scale"/>
		<result column="area_name" property="areaName"/>
		<result column="user_id" property="userId"/>
		<result column="message_remark" property="messageRemark"/>
		<result column="message_image" property="messageImage"/>
		<result column="message_url" property="messageUrl"/>
		<result column="isclick" property="isClick"/>
	    <result column="message_topic_name" property="messageTopicName"/>
	    <result column="ecs_message_image" property="ecsMessageImage"/>
		<result column="is_display_content" property="isDisplayContent"/>
	</resultMap>
	
	<resultMap id="DetailResultMap" type="com.innotek.fragrans.message.response.stat.GetMessageDetailV2Item" >
	    <result column="id" property="messageId"/>
		<result column="city_code" property="cityCode"/>
		<result column="message_name" property="messageName"/>
		<result column="content" property="content"/>
		<result column="message_type" property="messageType"/>
		<result column="expire_date" property="expireDate"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	<resultMap id="GetMessageItemMap" type="com.innotek.fragrans.message.response.stat.InnotekGetMessageItem" >
	    <result column="id" property="messageId"/>
		<result column="city_code" property="cityCode"/>
		<result column="message_name" property="messageName"/>
		<result column="content" property="content"/>
		<result column="message_type" property="messageType"/>
		<result column="expire_date" property="expireDate"/>
		<result column="create_time" property="createTime"/>
		<result column="is_read" property="isRead"/>
		<result column="message_remark" property="messageRemark"/>
		<result column="message_image" property="messageImage"/>
		<result column="message_url" property="messageUrl"/>
		<result column="isclick" property="isClick"/>
	</resultMap>
	
	<resultMap id="GetIndexNewDynamicsMap" type="com.innotek.fragrans.entity.stat.GetIndexNewDynamicsItem" >
	    <result column="id" property="messageId"/>
		<result column="message_name" property="messageName"/>
		<result column="create_time" property="createTime"/>
		<result column="message_url" property="messageUrl"/>
		<result column="isclick" property="isClick"/>
		<result column="message_topic_id" property="messageTopicId"/>
		<result column="message_remark" property="messageRemark"/>
		<result column="update_time" property="updateTime"/>
		<result column="city_code" property="cityCode"/>
		
	</resultMap>
	
	<resultMap id="GetMessageV24ItemMap" type="com.innotek.fragrans.entity.stat.InnotekGetMessageV24Item" >
	    <result column="id" property="messageId"/>
		<result column="city_code" property="cityCode"/>
		<result column="message_name" property="messageName"/>
		<result column="message_type" property="messageType"/>
		<result column="create_time" property="createTime"/>
		<result column="is_read" property="isRead"/>
		<result column="message_remark" property="messageRemark"/>
		<result column="message_image" property="messageImage"/>
		<result column="message_url" property="messageUrl"/>
		<result column="isclick" property="isClick"/>
		<result column="is_display_content" property="isDisplayContent"/>
	</resultMap>
	
	<!-- UserMessageMap -->
	<resultMap id="UserMessageMap" type="com.innotek.fragrans.entity.stat.UserMessageEntity" >
	<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="message_id" property="messageId"/>
		<result column="is_read" property="isRead"/>
		<result column="create_time" property="createTime"/>
		<result column="device_no" property="deviceNo"/>
	</resultMap>
	
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.message_topic_id,
		 t.city_code,
		 t.message_name,
		 t.content,
		 t.message_type,
		 t.push_range,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
		 t.expire_date,
	     t.id,
	     t.ecs_message_image
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="messageName != null and messageName != '' " >
    	and t.message_name like concat('%',#{messageName},'%')
	</if>
	<if test="content != null and content != '' " >
    	and t.content =  #{content}
	</if>
	<if test="messageType != null " >
    	and t.message_type =  #{messageType}
	</if>
	 <if test="messageRemark != null and messageRemark != '' " >
  		and t.message_remark = #{messageRemark}
    </if>
     <if test="messageImage != null and messageImage != '' " >
  		and  t.message_image = #{messageImage}
    </if>
     <if test="messageUrl != null and messageUrl != '' " >
  		and  t.message_url = #{messageUrl}
    </if>
     <if test="isClick != null  " >
  		and  t.isclick = #{isClick}
    </if>
	<if test="pushRange != null " >
    	and t.push_range =  #{pushRange}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="expireDate != null " >
    	and t.expire_date =  #{expireDate}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
  
	insert into app_message 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	            create_time,
				update_time,
				flag,
		<if test="id != null">
		  id,
		</if>
		<if test="messageTopicId != null and messageTopicId != ''">
		  message_topic_id,
		</if>
		<if test="userId != null and userId != ''">
		  user_id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="messageName != null and messageName != '' " >
		 message_name,
		</if>
	    <if test="messageRemark != null and messageRemark != '' " >
  		 message_remark,
   	 	</if>
	    <if test="messageImage != null and messageImage != '' " >
	  	 message_image ,
	    </if>
	    <if test="messageUrl != null and messageUrl != '' " >
	  	 message_url ,
	    </if>
	    <if test="isClick != null " >
	  	 isclick,
	    </if>
    	<if test="content != null and content != '' " >
		 content,
		</if>
    	<if test="messageType != null " >
		message_type,
		</if>
    	<if test="pushRange != null " >
		push_range,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="expireDate != null " >
		expire_date,
		</if>
    	<if test="ecsMessageImage != null and ecsMessageImage != '' " >
		ecs_message_image,
		</if>
		<if test="isDisplayContent != null " >
		is_display_content,
		</if>
    	</trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	        now(),
				now(),
				'ADD',
	    <if test="id != null">
  		<![CDATA[  #{id}, ]]>
		</if>
	    <if test="messageTopicId != null and messageTopicId != ''">
  		<![CDATA[  #{messageTopicId}, ]]>
		</if>
	    <if test="userId != null and userId != ''">
  		<![CDATA[  #{userId}, ]]>
		</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="messageName != null and messageName != '' " >
  		<![CDATA[  #{messageName}, ]]>
    	</if>
    	 <if test="messageRemark != null and messageRemark != '' " >
	  	<![CDATA[ #{messageRemark}, ]]>
	    </if>
	     <if test="messageImage != null and messageImage != '' " >
	  	<![CDATA[  #{messageImage}, ]]>
	    </if>
	     <if test="messageUrl != null and messageUrl != '' " >
	  	<![CDATA[  #{messageUrl}, ]]>
	    </if>
	     <if test="isClick != null " >
	  	<![CDATA[  #{isClick}, ]]>
	    </if>
    	<if test="content != null and content != '' " >
  		<![CDATA[  #{content}, ]]>
    	</if>
    	<if test="messageType != null " >
  		<![CDATA[  #{messageType}, ]]>
    	</if>
    	<if test="pushRange != null " >
  		<![CDATA[  #{pushRange}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="expireDate != null " >
  		<![CDATA[  #{expireDate}, ]]>
    	</if>
    	<if test="ecsMessageImage != null and ecsMessageImage != '' " >
		<![CDATA[  #{ecsMessageImage}, ]]>
		</if>
		<if test="isDisplayContent != null " >
		<![CDATA[  #{isDisplayContent}, ]]>
		</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_message t set 
   <trim suffixOverrides="," >
	<if test="messageTopicId != null " >
  	<![CDATA[  t.message_topic_id = #{messageTopicId}, ]]>
    </if>
	<if test="userId != null " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="messageName != null" >
  	<![CDATA[  t.message_name = #{messageName}, ]]>
    </if>
     <if test="messageRemark != null" >
  	<![CDATA[  t.message_remark = #{messageRemark}, ]]>
    </if>
    <if test="messageImage != null" >
  	<![CDATA[  t.message_image = #{messageImage}, ]]>
  	</if>
  	<if test="messageUrl != null" >
  	<![CDATA[  t.message_url = #{messageUrl}, ]]>
  	</if>
     <if test="isClick != null " >
  	<![CDATA[  t.isclick = #{isClick}, ]]>
    </if>
  	<![CDATA[  t.content = #{content}, ]]>
    <if test="messageType != null " >
  	<![CDATA[  t.message_type = #{messageType}, ]]>
    </if>
    <if test="pushRange != null " >
  	<![CDATA[  t.push_range = #{pushRange}, ]]>
    </if>
  	<![CDATA[  t.flag = 'UPDATE', ]]>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = now(), ]]>
    <if test="expireDate != null " >
  	<![CDATA[  t.expire_date = #{expireDate}, ]]>
    </if>
    <if test="ecsMessageImage != null and ecsMessageImage != '' " >
  	<![CDATA[  t.ecs_message_image = #{ecsMessageImage}, ]]>
    </if>
	<if test="isDisplayContent != null " >
	<![CDATA[  t.is_display_content = #{isDisplayContent}, ]]>
	</if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_message  where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*,ba.area_name area_name FROM app_message t
	 LEFT JOIN BASE_AREA ba 
	 ON t.city_code=ba.area_code where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
			SELECT count(1)
			 	FROM app_message C, app_message_topic mt
				WHERE C.message_topic_id = mt.id
				<if test="messageName != null and messageName != '' " >
			    	and C.message_name like concat('%',#{messageName},'%')
				</if>
				<if test="messageType == null ">
					and C.message_type != 4
				</if>
				<if test="pushRange == null ">
					and C.push_range != 100
				</if>
				<if test="messageType != null and messageType != ''">
					and C.message_type = #{messageType}
				</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
 SELECT C.id, mt.message_topic_name,C.city_code, C.message_name, C.message_type, 
 		C.push_range, C.created_by, C.updated_by, C.CREATE_TIME, C.UPDATE_TIME
 	FROM app_message C , app_message_topic mt
	WHERE C.message_topic_id = mt.id
	<if test="messageName != null and messageName != '' " >
    	and C.message_name like concat('%',#{messageName},'%')
	</if>
	<if test="messageType == null ">
		and C.message_type != 4
	</if>
	<if test="pushRange == null ">
		and C.push_range != 100
	</if>
	<if test="messageType != null and messageType != ''">
		and C.message_type = #{messageType}
	</if>
	<if test="pager.orderCondition == ''">
		order by mt.message_topic_name desc,C.CREATE_TIME desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询用户未读的消息数量 -->
<select id="queryUserUnreadMessageCount" resultType="java.lang.String"   parameterType="Object">
	select 
	t.ID
	from app_message t 
	LEFT JOIN app_object_area_conf conf ON t.id = conf.obj_id
	where t.FLAG!='DELETE' 
	and conf.CITY_CODE=#{cityCode} and t.PUSH_RANGE=#{userType} AND conf.obj_type = #{objType}  
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
	UNION
	select 
	t.ID
	from app_message t 
	where t.FLAG!='DELETE' 
	and t.user_id = #{userId} and t.PUSH_RANGE = 100
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
</select>

<!-- 根据分类查询用户未读的消息数量 -->
<select id="queryUserUnreadMessageCountByTopic" resultType="java.lang.String"   parameterType="Object">
	select 
	t.ID
	from app_message t 
	LEFT JOIN app_object_area_conf conf ON t.id = conf.obj_id
	where t.FLAG!='DELETE' 
	and conf.CITY_CODE=#{cityCode} and t.PUSH_RANGE=#{userType} AND conf.obj_type = #{objType}
	and t.MESSAGE_TOPIC_ID = #{messageTopicId}  
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
	UNION
	select 
	t.ID
	from app_message t 
	where t.FLAG!='DELETE' 
	and t.user_id = #{userId} and t.PUSH_RANGE = 100
	and t.MESSAGE_TOPIC_ID = #{messageTopicId}
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
</select>


<!-- 分页查询用户消息-->
<select id="queryMessageList" resultMap="GetMessageItemMap"  parameterType="Object">
	SELECT m.id,m.city_code,m.message_name,m.message_type,m.expire_date,
	CASE WHEN um.MESSAGE_ID IS NULL THEN 0 ELSE 1 END is_read,m.create_time,
	m.message_remark,m.message_image,m.message_url,m.isclick
	FROM app_message m
	LEFT JOIN app_user_message um ON (um.MESSAGE_ID = m.id AND um.DEVICE_NO = #{deviceNo}
	<if test="userId != null and userId != ''" >
		and um.user_id=#{userId}    
	</if>
		AND um.IS_READ = 1)
	LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
	WHERE ((m.PUSH_RANGE = #{userType} AND conf.CITY_CODE = #{cityCode} AND conf.obj_type = #{objType}) 
	OR (m.user_id = #{userId} AND m.PUSH_RANGE = 100))
	AND m.FLAG != 'DELETE'
	ORDER BY m.create_time DESC 
 	<if test="pageSize != null and pageSize != '' " >
	    LIMIT #{startNum},#{pageSize}
	</if>
</select>

<!-- 分页查询用户消息-->
<select id="queryMessageListByTopic" resultMap="GetMessageV24ItemMap"  parameterType="Object">
	SELECT m.id,m.city_code,m.message_name,m.message_type,
	m.create_time,m.message_remark,m.message_image,m.message_url,m.isclick,m.is_display_content
	FROM app_message m
    LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
	WHERE m.PUSH_RANGE = #{userType} AND conf.CITY_CODE = #{cityCode} AND conf.obj_type = #{objType}
   	AND m.FLAG != 'DELETE' AND m.MESSAGE_TOPIC_ID = #{messageTopicId}
	ORDER BY m.create_time DESC 
 	<if test="pageSize != null and pageSize != '' " >
	    LIMIT #{startNum},#{pageSize}
	</if>
</select>

<!-- 分页查询用户个人消息-->
<select id="queryUserMessageList" resultMap="GetMessageV24ItemMap"  parameterType="Object">
	SELECT m.id,m.city_code,m.message_name,m.message_type,
	m.create_time,m.message_remark,m.message_image,m.message_url,m.isclick,m.is_display_content
	FROM app_message m
	WHERE m.user_id = #{userId} AND m.PUSH_RANGE = 100
   	AND m.FLAG != 'DELETE' AND m.MESSAGE_TOPIC_ID = #{messageTopicId}
	ORDER BY m.create_time DESC 
 	<if test="pageSize != null and pageSize != '' " >
	    LIMIT #{startNum},#{pageSize}
	</if>
</select>

<!-- 查询用户消息总条数-->
<select id="queryMessageCount" resultType="java.lang.Integer"   parameterType="Object">
   select count(m.id) 
   from app_message m
   LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
   where m.FLAG!='DELETE' 
     and ((m.PUSH_RANGE=#{userType} and conf.CITY_CODE=#{cityCode} AND conf.obj_type = #{objType}) or (m.user_id = #{userId} and m.PUSH_RANGE = 100))
</select>

<!-- 查询每个分类的最新消息 -->
<select id="queryMessageByTopic" resultMap="BaseResultMap" parameterType="Object">
   select m.create_time,m.message_name
   from app_message m
   LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
   where m.FLAG!='DELETE' 
   and ((m.PUSH_RANGE=#{userType} and conf.CITY_CODE=#{cityCode} AND conf.obj_type = #{objType}) or (m.user_id = #{userId} and m.PUSH_RANGE = 100))
   and m.MESSAGE_TOPIC_ID = #{messageTopicId}
   order by m.create_time desc
   limit 1
</select>

<!-- 查询每个分类的消息总条数 -->
<select id="queryMessageCountByTopic" resultType="java.lang.String" parameterType="Object">
   select m.ID
   from app_message m
   LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
   where m.FLAG!='DELETE' 
   and m.PUSH_RANGE=#{userType} and conf.CITY_CODE=#{cityCode} AND conf.obj_type = #{objType}
   and m.MESSAGE_TOPIC_ID = #{messageTopicId}
   UNION
   select m.ID
   from app_message m
   where m.FLAG!='DELETE' 
   and m.user_id = #{userId} and m.PUSH_RANGE = 100
   and m.MESSAGE_TOPIC_ID = #{messageTopicId}
</select>

<!-- 查询所有未读的消息 -->
<select id="queryAllUnreadMessage" resultMap="UserMessageMap" parameterType="Object">
	select 
	t.ID message_id
	from app_message t 
	LEFT JOIN app_object_area_conf conf ON t.id = conf.obj_id
	where t.FLAG!='DELETE' 
	and conf.CITY_CODE=#{cityCode} and t.PUSH_RANGE=#{userType} AND conf.obj_type = #{objType}
	and t.MESSAGE_TOPIC_ID = #{messageTopicId}  
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
	UNION
	select 
	t.ID message_id
	from app_message t 
	where t.FLAG!='DELETE' 
	and t.user_id = #{userId} and t.PUSH_RANGE = 100
	and t.MESSAGE_TOPIC_ID = #{messageTopicId}
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
</select>

<!-- ***************************自定义接口**************************************** -->
<!-- 根据用户ID和消息ID查询消息详细 -->
<select id="queryDetailItemByMessageId" resultMap="DetailResultMap"  parameterType="java.util.Map">
   SELECT t.id,t.city_code,t.message_name,t.content,t.message_type,
          t.expire_date,t.create_time 
   FROM app_message t 
   WHERE t.flag != 'DELETE' 
   AND t.id = #{messageId}  LIMIT 1 
</select>

<!-- 查询首页最新动态列表 -->
<select id="queryIndexNewsByMap" resultMap="GetIndexNewDynamicsMap"  parameterType="java.util.Map">
SELECT id,message_name,create_time,message_url,isclick 
 FROM ( SELECT * FROM 
 ( SELECT t.id,t.message_name,DATE_FORMAT(t.create_time,'%m-%d %H:%i') create_time,t.MESSAGE_URL,t.ISCLICK ,t.MESSAGE_TOPIC_ID 
   FROM app_message t
    LEFT JOIN app_message_topic t1 ON t.MESSAGE_TOPIC_ID = t1.id 
    LEFT JOIN app_object_area_conf t2 ON t.id = t2.obj_id 
    WHERE t.flag != 'DELETE' AND t1.IS_COMMON = 1 and t1.DISPLAYCONF = 1
    AND ((t.push_range = #{userType} AND t2.obj_type = 2 AND t2.city_code = #{cityCode}) 
    <if test="userId != null and userId != '' and userType != null and userType != '' and userType = 3">
			OR (t.push_range = 100 AND t.user_id = #{userId})
	</if> 
    )
    UNION 
    SELECT t.id,t.message_name,DATE_FORMAT(t.create_time,'%m-%d %H:%i') create_time,t.MESSAGE_URL,t.ISCLICK,t.MESSAGE_TOPIC_ID 
    FROM app_message t 
    LEFT JOIN app_message_topic t1 ON t.MESSAGE_TOPIC_ID = t1.id 
    LEFT JOIN app_object_area_conf t2 ON t1.id = t2.OBJ_ID 
    LEFT JOIN app_object_area_conf t3 ON t.id = t3.obj_id 
    WHERE t.flag != 'DELETE' and t1.DISPLAYCONF = 1
    AND (( t.push_range = #{userType} AND t3.obj_type = 2 AND t3.city_code = #{cityCode}) 
    <if test="userId != null and userId != '' and userType != null and userType != '' and userType = 3">
			OR (t.push_range = 100 AND t.user_id = #{userId})
	</if>
     )
    AND t1.IS_COMMON = 0 AND t2.obj_type =1 AND t2.CITY_CODE = #{cityCode} )A
   ORDER BY A.create_time DESC )B 
 GROUP BY B.MESSAGE_TOPIC_ID ORDER BY B.create_time DESC
</select>

<!-- 查询每个分类的消息 -->
<select id="queryMessageByTopicV2" resultMap="GetIndexNewDynamicsMap"  parameterType="java.util.Map">
   select m.id,m.message_name,m.message_topic_id,conf.city_code,DATE_FORMAT(m.create_time,'%m-%d %H:%i') create_time, DATE_FORMAT(m.update_time,'%Y-%m-%d %H:%i:%s') update_time,m.message_url,m.isclick
   from app_message m
   LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
   where m.FLAG!='DELETE' 
   and ((m.push_range = #{userType} and conf.city_code = #{cityCode} AND conf.obj_type = #{objType})
   <if test="userId != null and userId != '' ">
   		or (m.user_id = #{userId} and m.PUSH_RANGE = 100)
   </if> 
   )
   and m.message_topic_id = #{messageTopicId}
   order by m.create_time desc
</select>

<!-- 查询每个分类下的最新的一条消息 -->
<select id="queryTopicNewMessage" resultMap="GetIndexNewDynamicsMap"  parameterType="java.util.Map">
  SELECT m.id,m.message_name,conf.city_code,DATE_FORMAT(m.create_time,'%m-%d %H:%i') create_time,m.message_url,m.isclick,m.message_topic_id,m.update_time,
  		message_remark
	   FROM app_message m
	   LEFT JOIN app_object_area_conf conf ON m.id = conf.obj_id
	   WHERE m.FLAG!='DELETE' AND m.MESSAGE_TOPIC_ID = #{messageTopicId}
	   AND m.PUSH_RANGE=3 AND conf.CITY_CODE=#{cityCode} ORDER BY m.create_time DESC LIMIT 1 
</select>

<!-- 查询最新的用户个人消息 -->
<select id="queryUserMessage" resultMap="GetIndexNewDynamicsMap"  parameterType="java.util.Map">
	select m.id,m.message_name,m.message_topic_id,DATE_FORMAT(m.create_time,'%m-%d %H:%i') create_time, DATE_FORMAT(m.update_time,'%Y-%m-%d %H:%i:%s') update_time,m.message_url,m.isclick,
	message_remark
	from app_message m
	where m.FLAG!='DELETE' 
	and m.user_id = #{userId} and m.PUSH_RANGE = 100
	order by m.create_time desc
	limit 1
</select>

<!-- 查询分类是否有未读消息 -->
<select id="queryUnreadAreaMessageCountByTopic" resultType="java.lang.Integer"   parameterType="Object">
	select count(1)
	from app_message t 
	LEFT JOIN app_object_area_conf conf ON t.id = conf.obj_id
	where t.FLAG!='DELETE' 
	and conf.CITY_CODE=#{cityCode} and t.PUSH_RANGE=#{userType} AND conf.obj_type = #{objType}
	and t.MESSAGE_TOPIC_ID = #{messageTopicId}  
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
</select>

<!-- 查询个人消息分类是否有未读的消息 -->
<select id="queryUnreadUserMessageCountByTopic" resultType="java.lang.Integer"   parameterType="Object">
	select count(1)
	from app_message t 
	where t.FLAG!='DELETE' 
	and t.user_id = #{userId} and t.PUSH_RANGE = 100
	and t.MESSAGE_TOPIC_ID = #{messageTopicId}
	and not EXISTS
	(select id from app_user_message um where um.MESSAGE_ID=t.id and um.IS_READ=1 
		and (um.DEVICE_NO= #{deviceNo}
	    <if test="userId != null and userId != ''" >
	    	 and um.user_id=#{userId}    
		</if>
	    )
	)
</select>

<!-- 查询最新的一条消息信息 -->
<select id="queryRecentMessageByTopic" resultMap="BaseResultMap" parameterType="Object">
	SELECT * 
	FROM app_message
	where MESSAGE_TOPIC_ID = #{messageTopicId}
	<if test="userId != null and userId != ''" >
    	 and user_id=#{userId}    
	</if>
	order by create_time desc
	limit 1
</select>
</mapper>   
