<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.stat.StatDailyDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.stat.StatDailyEntity" >
		<result column="id" property="id"/>
		<result column="day_time" property="dayTime"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="all_tran_count" property="allTranCount"/>
		<result column="payable_fee" property="payableFee"/>
		<result column="tran_success_amount" property="tranSuccessAmount"/>
		<result column="tran_success_count" property="tranSuccessCount"/>
		<result column="discount_success_amount" property="discountSuccessAmount"/>
		<result column="discount_success_count" property="discountSuccessCount"/>
		<result column="subs_success_count" property="subsSuccessCount"/>
		<result column="subs_success_amount" property="subsSuccessAmount"/>
		<result column="refund_success_count" property="refundSuccessCount"/>
		<result column="refund_success_amount" property="refundSuccessAmount"/>
		<result column="alipay_success_count" property="alipaySuccessCount"/>
		<result column="alipay_success_amount" property="alipaySuccessAmount"/>
		<result column="wxpay_success_count" property="wxpaySuccessCount"/>
		<result column="wxpay_success_amount" property="wxpaySuccessAmount"/>
		<result column="create_time" property="createTime"/>
		<result column="updated_time" property="updatedTime"/>
		<result column="area_name" property="areaName"/>
		<result column="city_name" property="cityName"/>
		<result column="ticketpay_success_count" property="ticketpaySuccessCount"/>
		<result column="ticket_allpay_success_count" property="ticketAllPaySuccessCount"/>
		<result column="ticketpay_success_amount" property="ticketpaySuccessAmount"/>
		<result column="pay_user_count" property="payUserCount"/>
		<result column="pay_success_user_count" property="paySuccessUserCount"/>
		<result column="ticket_success_user_count" property="ticketpaySuccessUserCount"/>
		<result column="cmbpay_success_count" property="cmbpaySuccessCount"/>
		<result column="cmbpay_success_amount" property="cmbpaySuccessAmount"/>
		<result column="balance_success_count" property="balanceSuccessCount"/>
		<result column="balance_success_amount" property="balanceSuccessAmount"/>
		<result column="counter_amount" property="counterAmount"/>
		<result column="alipay_counter_amount" property="alipayCounterAmount"/>
		<result column="wxpay_counter_amount" property="wxpayCounterAmount"/>
		<result column="cmbpay_counter_amount" property="cmbpayCounterAmount"/>
		<result column="mcpay_success_count" property="mcpaySuccessCount"/>
		<result column="mcpay_success_amount" property="mcpaySuccessAmount"/>
		<result column="monthly_success_count" property="monthlySuccessCount"/>
		<result column="monthly_success_amount" property="monthlySuccessAmount"/>
		<result column="innopay_success_count" property="innopaySuccessCount"/>
		<result column="innopay_success_amount" property="innopaySuccessAmount"/>
		<result column="alipay_refund_suc_count" property="alipayRefundSucCount"/>
		<result column="alipay_refund_suc_amount" property="alipayRefundSucAmount"/>
		<result column="wxpay_refund_suc_count" property="wxpayRefundSucCount"/>
		<result column="wxpay_refund_suc_amount" property="wxpayRefundSucAmount"/>
		<result column="cmbpay_refund_suc_count" property="cmbpayRefundSucCount"/>
		<result column="cmbpay_refund_suc_amount" property="cmbpayRefundSucAmount"/>
		<result column="mcpay_refund_suc_count" property="mcpayRefundSucCount"/>
		<result column="mcpay_refund_suc_amount" property="mcpayRefundSucAmount"/>
		<result column="counter_amount" property="counterAmount"/>
		<result column="refund_counter_amount" property="refundCounterAmount"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.alipay_refund_suc_count,
		 t.alipay_refund_suc_amount,
		 t.wxpay_refund_suc_count,
		 t.wxpay_refund_suc_amount,
		 t.cmbpay_refund_suc_count,
		 t.cmbpay_refund_suc_amount,
		 t.mcpay_refund_suc_count,
		 t.mcpay_refund_suc_amount,
		 t.day_time,
		 t.city_code,
		 t.area_code,
		 t.all_tran_count,
		 t.payable_fee,
		 t.tran_success_amount,
		 t.tran_success_count,
		 t.discount_success_amount,
		 t.discount_success_count,
		 t.subs_success_count,
		 t.subs_success_amount,
		 t.refund_success_count,
		 t.refund_success_amount,
		 t.alipay_success_count,
		 t.alipay_success_amount,
		 t.wxpay_success_count,
		 t.wxpay_success_amount,
		 t.create_time,
		 t.updated_time,
		 t.ticketpay_success_count,
		 t.ticket_allpay_success_count,
		 t.ticketpay_success_amount,
		 t.pay_user_count,
		 t.pay_success_user_count,
		 t.ticket_success_user_count,
		 t.cmbpay_success_count,
		 t.cmbpay_success_amount,
		 t.balance_success_count,
		 t.balance_success_amount,
		 t.counter_amount,
		 t.alipay_counter_amount,
		 t.wxpay_counter_amount,
		 t.cmbpay_counter_amount,
	     t.id,
	     t.mcpay_success_amount,
	     t.mcpay_success_count
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="dayTime != null " >
    	and t.day_time =  #{dayTime}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="allTranCount != null " >
    	and t.all_tran_count =  #{allTranCount}
	</if>
	<if test="payableFee != null " >
    	and t.payable_fee =  #{payableFee}
	</if>
	<if test="tranSuccessAmount != null " >
    	and t.tran_success_amount =  #{tranSuccessAmount}
	</if>
	<if test="tranSuccessCount != null " >
    	and t.tran_success_count =  #{tranSuccessCount}
	</if>
	<if test="discountSuccessAmount != null " >
    	and t.discount_success_amount =  #{discountSuccessAmount}
	</if>
	<if test="discountSuccessCount != null " >
    	and t.discount_success_count =  #{discountSuccessCount}
	</if>
	<if test="subsSuccessCount != null " >
    	and t.subs_success_count =  #{subsSuccessCount}
	</if>
	<if test="subsSuccessAmount != null " >
    	and t.subs_success_amount =  #{subsSuccessAmount}
	</if>
	<if test="refundSuccessCount != null " >
    	and t.refund_success_count =  #{refundSuccessCount}
	</if>
	<if test="refundSuccessAmount != null " >
    	and t.refund_success_amount =  #{refundSuccessAmount}
	</if>
	<if test="alipaySuccessCount != null " >
    	and t.alipay_success_count =  #{alipaySuccessCount}
	</if>
	<if test="alipaySuccessAmount != null " >
    	and t.alipay_success_amount =  #{alipaySuccessAmount}
	</if>
	<if test="wxpaySuccessCount != null " >
    	and t.wxpay_success_count =  #{wxpaySuccessCount}
	</if>
	<if test="wxpaySuccessAmount != null " >
    	and t.wxpay_success_amount =  #{wxpaySuccessAmount}
	</if>
	<if test="craeteTime != null " >
    	and t.create_time =  #{craeteTime}
	</if>
	<if test="updatedTime != null " >
    	and t.updated_time =  #{updatedTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
	</selectKey>
  
	insert into app_stat_daily 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    create_time,
	    updated_time,
		<if test="id != null">
				id,
		</if>
	 	<if test="dayTime != null " >
		day_time,
		</if>
    	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="allTranCount != null " >
		all_tran_count,
		</if>
    	<if test="payableFee != null " >
		payable_fee,
		</if>
    	<if test="tranSuccessAmount != null " >
		tran_success_amount,
		</if>
    	<if test="tranSuccessCount != null " >
		tran_success_count,
		</if>
    	<if test="discountSuccessAmount != null " >
		discount_success_amount,
		</if>
    	<if test="discountSuccessCount != null " >
		discount_success_count,
		</if>
    	<if test="subsSuccessCount != null " >
		subs_success_count,
		</if>
    	<if test="subsSuccessAmount != null " >
		subs_success_amount,
		</if>
    	<if test="refundSuccessCount != null " >
		refund_success_count,
		</if>
    	<if test="refundSuccessAmount != null " >
		refund_success_amount,
		</if>
    	<if test="alipaySuccessCount != null " >
		alipay_success_count,
		</if>
    	<if test="alipaySuccessAmount != null " >
		alipay_success_amount,
		</if>
    	<if test="wxpaySuccessCount != null " >
		wxpay_success_count,
		</if>
    	<if test="wxpaySuccessAmount != null " >
		wxpay_success_amount,
		</if>
		<if test="ticketpaySuccessCount != null">
		ticketpay_success_count,
		</if>
		<if test="ticketAllPaySuccessCount != null">
		ticket_allpay_success_count,
		</if>
		<if test="ticketpaySuccessAmount != null">
		ticketpay_success_amount,
		</if>
		<if test="payUserCount != null">
		pay_user_count,
		</if>
		<if test="paySuccessUserCount != null">
		pay_success_user_count,
		</if>
		<if test="ticketpaySuccessUserCount != null">
		ticket_success_user_count,
		</if>
		<if test="cmbpaySuccessCount != null">
		cmbpay_success_count,
		</if>
		<if test="cmbpaySuccessAmount != null">
		cmbpay_success_amount,
		</if>
		<if test="balanceSuccessCount != null">
		balance_success_count,
		</if>
		<if test="balanceSuccessAmount != null">
		balance_success_amount,
		</if>
		<if test="counterAmount != null">
		counter_amount,
		</if>
		<if test="refundCounterAmount != null">
		refund_counter_amount,
		</if>
		<if test="alipayCounterAmount != null">
		alipay_counter_amount,
		</if>
		<if test="wxpayCounterAmount != null">
		wxpay_counter_amount,
		</if>
		<if test="cmbpayCounterAmount != null">
		cmbpay_counter_amount,
		</if>
		<if test="mcpaySuccessAmount != null">
		mcpay_success_amount,
		</if>
		<if test="mcpaySuccessCount != null">
		mcpay_success_count,
		</if>
		  <if test="monthlySuccessAmount != null">
			  monthly_success_amount,
		  </if>
		  <if test="monthlySuccessCount != null">
			  monthly_success_count,
		  </if>
		  <if test="innopaySuccessAmount != null">
			  innopay_success_amount,
		  </if>
		  <if test="innopaySuccessCount != null">
			  innopay_success_count,
		  </if>
		  <if test="alipayRefundSucCount != null">
			  alipay_refund_suc_count,
		  </if>
		  <if test="alipayRefundSucAmount != null">
			  alipay_refund_suc_amount,
		  </if>
		  <if test="wxpayRefundSucCount != null">
			  wxpay_refund_suc_count,
		  </if>
		  <if test="wxpayRefundSucAmount != null">
			  wxpay_refund_suc_amount,
		  </if>
		  <if test="cmbpayRefundSucCount != null">
			  cmbpay_refund_suc_count,
		  </if>
		  <if test="cmbpayRefundSucAmount != null">
			  cmbpay_refund_suc_amount,
		  </if>
		  <if test="mcpayRefundSucCount != null">
			  mcpay_refund_suc_count,
		  </if>
		  <if test="mcpayRefundSucAmount != null">
			  mcpay_refund_suc_amount,
		  </if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	  now(),
	 	  now(),
		<if test="id != null">
  		<![CDATA[  #{id}, ]]>
		</if>
	 	<if test="dayTime != null " >
  		<![CDATA[  #{dayTime}, ]]>
    	</if>
    	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="allTranCount != null " >
  		<![CDATA[  #{allTranCount}, ]]>
    	</if>
    	<if test="payableFee != null " >
  		<![CDATA[  #{payableFee}, ]]>
    	</if>
    	<if test="tranSuccessAmount != null " >
  		<![CDATA[  #{tranSuccessAmount}, ]]>
    	</if>
    	<if test="tranSuccessCount != null " >
  		<![CDATA[  #{tranSuccessCount}, ]]>
    	</if>
    	<if test="discountSuccessAmount != null " >
  		<![CDATA[  #{discountSuccessAmount}, ]]>
    	</if>
    	<if test="discountSuccessCount != null " >
  		<![CDATA[  #{discountSuccessCount}, ]]>
    	</if>
    	<if test="subsSuccessCount != null " >
  		<![CDATA[  #{subsSuccessCount}, ]]>
    	</if>
    	<if test="subsSuccessAmount != null " >
  		<![CDATA[  #{subsSuccessAmount}, ]]>
    	</if>
    	<if test="refundSuccessCount != null " >
  		<![CDATA[  #{refundSuccessCount}, ]]>
    	</if>
    	<if test="refundSuccessAmount != null " >
  		<![CDATA[  #{refundSuccessAmount}, ]]>
    	</if>
    	<if test="alipaySuccessCount != null " >
  		<![CDATA[  #{alipaySuccessCount}, ]]>
    	</if>
    	<if test="alipaySuccessAmount != null " >
  		<![CDATA[  #{alipaySuccessAmount}, ]]>
    	</if>
    	<if test="wxpaySuccessCount != null " >
  		<![CDATA[  #{wxpaySuccessCount}, ]]>
    	</if>
    	<if test="wxpaySuccessAmount != null " >
  		<![CDATA[  #{wxpaySuccessAmount}, ]]>
    	</if>
    	<if test="ticketpaySuccessCount != null">
		<![CDATA[  #{ticketpaySuccessCount}, ]]>
		</if>
		<if test="ticketAllPaySuccessCount != null">
		<![CDATA[  #{ticketAllPaySuccessCount}, ]]>
		</if>
		<if test="ticketpaySuccessAmount != null">
		<![CDATA[  #{ticketpaySuccessAmount}, ]]>
		</if>
		<if test="payUserCount != null">
		<![CDATA[  #{payUserCount}, ]]>
		</if>
		<if test="paySuccessUserCount != null">
		<![CDATA[  #{paySuccessUserCount}, ]]>
		</if>
		<if test="ticketpaySuccessUserCount != null">
		<![CDATA[  #{ticketpaySuccessUserCount}, ]]>
		</if>
		<if test="cmbpaySuccessCount != null">
		<![CDATA[  #{cmbpaySuccessCount}, ]]>
		</if>
		<if test="cmbpaySuccessAmount != null">
		<![CDATA[  #{cmbpaySuccessAmount}, ]]>
		</if>
		<if test="balanceSuccessCount != null">
		<![CDATA[  #{balanceSuccessCount}, ]]>
		</if>
		<if test="balanceSuccessAmount != null">
		<![CDATA[  #{balanceSuccessAmount}, ]]>
		</if>
		<if test="counterAmount != null">
		<![CDATA[  #{counterAmount}, ]]>
		</if>
		<if test="refundCounterAmount != null">
		<![CDATA[  #{refundCounterAmount}, ]]>
		</if>
		<if test="alipayCounterAmount != null">
		<![CDATA[  #{alipayCounterAmount}, ]]>
		</if>
		<if test="wxpayCounterAmount != null">
		<![CDATA[  #{wxpayCounterAmount}, ]]>
		</if>
		<if test="cmbpayCounterAmount != null">
		<![CDATA[  #{cmbpayCounterAmount}, ]]>
		</if>
		<if test="mcpaySuccessAmount != null">
		<![CDATA[  #{mcpaySuccessAmount}, ]]>
		</if>
		<if test="mcpaySuccessCount != null">
		<![CDATA[  #{mcpaySuccessCount}, ]]>
		</if>
		 <if test="monthlySuccessAmount != null">
			 <![CDATA[  #{monthlySuccessAmount}, ]]>
		 </if>
		 <if test="monthlySuccessCount != null">
			 <![CDATA[  #{monthlySuccessCount}, ]]>
		 </if>
		 <if test="innopaySuccessAmount != null">
			 <![CDATA[  #{innopaySuccessAmount}, ]]>
		 </if>
		 <if test="innopaySuccessCount != null">
			 <![CDATA[  #{innopaySuccessCount}, ]]>
		 </if>
		 <if test="alipayRefundSucCount != null">
			 <![CDATA[  #{alipayRefundSucCount}, ]]>
		 </if>
		 <if test="alipayRefundSucAmount != null">
			 <![CDATA[  #{alipayRefundSucAmount}, ]]>
		 </if>
		 <if test="wxpayRefundSucCount != null">
			 <![CDATA[  #{wxpayRefundSucCount}, ]]>
		 </if>
		 <if test="wxpayRefundSucAmount != null">
			 <![CDATA[  #{wxpayRefundSucAmount}, ]]>
		 </if>
		 <if test="cmbpayRefundSucCount != null">
			 <![CDATA[  #{cmbpayRefundSucCount}, ]]>
		 </if>
		 <if test="cmbpayRefundSucAmount != null">
			 <![CDATA[  #{cmbpayRefundSucAmount}, ]]>
		 </if>
		 <if test="mcpayRefundSucCount != null">
			 <![CDATA[  #{mcpayRefundSucCount}, ]]>
		 </if>
		 <if test="mcpayRefundSucAmount != null">
			 <![CDATA[  #{mcpayRefundSucAmount}, ]]>
		 </if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_stat_daily t set 
   <trim suffixOverrides="," >
	<if test="dayTime != null " >
  	<![CDATA[  t.day_time = #{dayTime}, ]]>
    </if>
    <if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="allTranCount != null " >
  	<![CDATA[  t.all_tran_count = #{allTranCount}, ]]>
    </if>
    <if test="payableFee != null " >
  	<![CDATA[  t.payable_fee = #{payableFee}, ]]>
    </if>
    <if test="tranSuccessAmount != null " >
  	<![CDATA[  t.tran_success_amount = #{tranSuccessAmount}, ]]>
    </if>
    <if test="tranSuccessCount != null " >
  	<![CDATA[  t.tran_success_count = #{tranSuccessCount}, ]]>
    </if>
    <if test="discountSuccessAmount != null " >
  	<![CDATA[  t.discount_success_amount = #{discountSuccessAmount}, ]]>
    </if>
    <if test="discountSuccessCount != null " >
  	<![CDATA[  t.discount_success_count = #{discountSuccessCount}, ]]>
    </if>
    <if test="subsSuccessCount != null " >
  	<![CDATA[  t.subs_success_count = #{subsSuccessCount}, ]]>
    </if>
    <if test="subsSuccessAmount != null " >
  	<![CDATA[  t.subs_success_amount = #{subsSuccessAmount}, ]]>
    </if>
    <if test="refundSuccessCount != null " >
  	<![CDATA[  t.refund_success_count = #{refundSuccessCount}, ]]>
    </if>
    <if test="refundSuccessAmount != null " >
  	<![CDATA[  t.refund_success_amount = #{refundSuccessAmount}, ]]>
    </if>
    <if test="alipaySuccessCount != null " >
  	<![CDATA[  t.alipay_success_count = #{alipaySuccessCount}, ]]>
    </if>
    <if test="alipaySuccessAmount != null " >
  	<![CDATA[  t.alipay_success_amount = #{alipaySuccessAmount}, ]]>
    </if>
    <if test="wxpaySuccessCount != null " >
  	<![CDATA[  t.wxpay_success_count = #{wxpaySuccessCount}, ]]>
    </if>
    <if test="wxpaySuccessAmount != null " >
  	<![CDATA[  t.wxpay_success_amount = #{wxpaySuccessAmount}, ]]>
    </if>
    <if test="mcpaySuccessAmount != null">
    	<![CDATA[  t.mcpay_success_amount = #{mcpaySuccessAmount}, ]]>
	</if>
	<if test="mcpaySuccessCount != null">
		<![CDATA[  t.mcpay_success_count = #{mcpaySuccessCount}, ]]>
	</if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{craeteTime}, ]]>
    </if>
    <if test="updatedTime != null " >
  	<![CDATA[  t.updated_time = #{updatedTime}, ]]>
    </if>

	   <if test="alipayRefundSucCount != null">
		   <![CDATA[  t.alipay_refund_suc_count = #{alipayRefundSucCount}, ]]>
	   </if>
	   <if test="alipayRefundSucAmount != null">
		   <![CDATA[  t.alipay_refund_suc_amount = #{alipayRefundSucAmount}, ]]>
	   </if>
	   <if test="wxpayRefundSucCount != null">
		   <![CDATA[  t.wxpay_refund_suc_count = #{wxpayRefundSucCount}, ]]>
	   </if>
	   <if test="wxpayRefundSucAmount != null">
		   <![CDATA[  t.wxpay_refund_suc_amount = #{wxpayRefundSucAmount}, ]]>
	   </if>
	   <if test="cmbpayRefundSucCount != null">
		   <![CDATA[  t.cmbpay_refund_suc_count = #{cmbpayRefundSucCount}, ]]>
	   </if>
	   <if test="cmbpayRefundSucAmount != null">
		   <![CDATA[  t.cmbpay_refund_suc_amount = #{cmbpayRefundSucAmount}, ]]>
	   </if>
	   <if test="mcpayRefundSucCount != null">
		   <![CDATA[  t.mcpay_refund_suc_count = #{mcpayRefundSucCount}, ]]>
	   </if>
	   <if test="mcpayRefundSucAmount != null">
		   <![CDATA[  t.mcpay_refund_suc_amount = #{mcpayRefundSucAmount}, ]]>
	   </if>
	   <if test="alipayCounterAmount != null">
		   <![CDATA[  t.ALIPAY_COUNTER_AMOUNT = #{alipayCounterAmount}, ]]>
	   </if>
	   <if test="refundCounterAmount != null">
		   <![CDATA[  t.refund_counter_amount = #{refundCounterAmount}, ]]>
	   </if>
	   <if test="counterAmount != null">
		   <![CDATA[  t.counter_amount = #{counterAmount}, ]]>
	   </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_stat_daily  where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_stat_daily t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_stat_daily t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_stat_daily t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<!-- *************************************运营统计报表****************************************************** -->
<!-- 获取交易总笔数-->
<select id="queryTranTotalCount" resultType="java.lang.String"  parameterType="Object">
      SELECT COUNT(1) all_tran_count
      FROM app_order t
      WHERE t.order_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                             AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s') 
       	<if test="areaCode != null and areaCode !='' ">
          	 AND t.area_code = #{areaCode} 
        </if>
</select>

<!-- 获取应付总金额-->
<select id="queryPayableFee" resultType="java.lang.String"  parameterType="Object">
     SELECT SUM(CASE WHEN t.park_fee>0 THEN t.park_fee ELSE 0 END) payable_fee 
     FROM app_order_paylog t
     WHERE t.is_paid = 200 and t.flag != 'DELATE'
       AND t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                          AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
       <if test="areaCode != null and areaCode !='' ">
	   	   AND t.city_code = #{areaCode}  
	   </if>
</select>

<!-- 获取实付总金额-->
<select id="queryTranSuccessAmount" resultType="java.lang.String"  parameterType="Object">
	SELECT SUM(CASE WHEN t.PRICE>0 THEN t.price ELSE 0 END) tran_success_amount
	FROM app_order t
	WHERE t.order_status=200 
	  AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	  <if test="areaCode != null and areaCode !='' ">
		  AND t.area_code = #{areaCode}
	  </if>
</select>

<!-- 获取实际交易成功总笔数-->
<select id="queryTranSuccessCount" resultType="java.lang.String"  parameterType="Object">
    SELECT COUNT(1) tran_success_count
	FROM app_order t
	WHERE t.order_status=200 
	  AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	   <trim>
           	<if test="areaCode != null and areaCode !='' ">
           		 AND t.area_code = #{areaCode}   
           	</if>
        </trim>
</select>

<!-- 获取折扣成功总费用 -->
<select id="queryDiscountSuccessAmount" resultType="java.lang.String"  parameterType="Object">
	SELECT SUM(CASE WHEN t1.discount_fee>0 THEN t1.discount_fee ELSE 0 END) discount_success_amount
	FROM app_order t 
	LEFT JOIN app_order_parkrecord t1 ON t.order_no=t1.order_no
	WHERE t.order_status=200 AND t1.IS_DELETED=1
	  AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="areaCode != null and areaCode !='' ">
			AND t.area_code = #{areaCode}   
		</if>
</select>

<!-- 获取折扣成功总笔数 -->
<select id="queryDiscountSuccessCount" resultType="java.lang.String"  parameterType="Object">
	SELECT SUM(CASE WHEN t1.discount_fee!=0 THEN 1 ELSE 0 END) discount_success_count
    FROM app_order t 
    LEFT JOIN app_order_parkrecord t1 ON t.order_no=t1.order_no
    WHERE t.order_status=200
      AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
     <if test="areaCode != null and areaCode !='' ">
     	AND t.area_code = #{areaCode}   
     </if>
</select>

<!-- 获取预约成功笔数 -->
<select id="querySubsSuccessCount" resultType="java.lang.String"  parameterType="Object">
	SELECT COUNT(1) subs_success_count
	FROM app_order t
	WHERE t.order_status = 200 AND t.order_no LIKE 'S%' 
	  AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
     <if test="areaCode != null and areaCode !='' ">
          AND t.area_code = #{areaCode}  
     </if>
</select>

<!-- 获取预约成功金额 -->
<select id="querySubsSuccessAmount" resultType="java.lang.String"  parameterType="Object">
       SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) subs_success_amount 
       FROM app_order t
	   WHERE t.order_status = 200 AND t.order_no LIKE 'S%' 
	     AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                            AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      	<if test="areaCode != null and areaCode !='' ">
      		 AND t.area_code = #{areaCode}   
      	</if>
</select>

<!-- 获取退费总笔数 -->
<select id="queryRefundSuccessCount" resultType="java.lang.String"  parameterType="Object">
	SELECT COUNT(1) refund_success_count
		FROM app_order_refund t 
		LEFT JOIN app_order t1 ON t.order_no = t1.order_no 
		WHERE t.is_complate = 200 AND t1.order_status = 200
		  AND t.refund_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                                AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
         <if test="areaCode != null and areaCode !='' ">
         	AND t1.area_code = #{areaCode}  
         </if>
</select>

<!-- 获取退费总金额 -->
<select id="queryRefundSuccessAmount" resultType="java.lang.String"  parameterType="Object">
	SELECT SUM(CASE WHEN t.refund_fee>0 THEN t.refund_fee ELSE 0 END) refund_success_amount
		FROM app_order_refund t 
		LEFT JOIN app_order t1 ON t.order_no = t1.order_no 
		WHERE t.is_complate = 200 AND t1.order_status = 200
	 	  AND t.refund_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                                AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
         <if test="areaCode != null and areaCode !='' ">
           	AND t1.area_code = #{areaCode}   
         </if>
</select>

<!-- 获取支付宝支付成功笔数 -->
<select id="queryAlipaySuccessCount" resultType="java.lang.String"  parameterType="Object">
	 SELECT COUNT(1) alipay_success_count
     FROM app_order t 
     WHERE t.order_status=200 AND t.pay_type=1
       AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                          AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
       	<if test="areaCode != null and areaCode !='' ">
       		 AND t.area_code = #{areaCode}   
       	</if>
</select>

<!-- 获取支付宝支付成功金额 -->
<select id="queryAlipaySuccessAmount" resultType="java.lang.String"  parameterType="Object">
	   SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) alipay_success_amount
       FROM app_order t 
       WHERE t.order_status=200 AND t.pay_type=1
         AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                            AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
       	<if test="areaCode != null and areaCode !='' ">
       		 AND t.area_code = #{areaCode}  
       	</if>
</select>

<!-- 微信支付成功总笔数 -->
<select id="queryWxpaySuccessCount" resultType="java.lang.String"  parameterType="Object">
	 SELECT COUNT(1) wxpay_success_count
     FROM app_order t 
     WHERE t.order_status=200 AND t.pay_type=2
       AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                          AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
    	<if test="areaCode != null and areaCode !='' ">
    		 AND t.area_code = #{areaCode}  
    	</if>
</select>

<!-- 微信支付成功总金额-->
<select id="queryWxpaySuccessAmount" resultType="java.lang.String"  parameterType="Object">
	  SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) wxpay_success_amount
      FROM app_order t 
      WHERE t.order_status=200 AND t.pay_type=2
        AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                           AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
       	<if test="areaCode != null and areaCode !='' ">
       		 AND t.area_code = #{areaCode}   
       	</if>
</select>

<!-- 获取指定日期所有下单区域 -->
<select id="queryAllOrderAreaByDate" resultMap="BaseResultMap"  parameterType="java.lang.String">
	  SELECT t.area_code,t.city_code,t1.area_name area_name,t2.area_name city_name
      FROM app_order t 
      LEFT JOIN base_area t1 ON t.area_code=t1.area_code
      left join base_area t2 on t.city_code=t2.area_code
	  WHERE t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                           AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      	<if test="areaCode != null and areaCode !='' ">
      		 AND t.area_code = #{areaCode}   
      	</if>
      GROUP BY t.area_code
</select>

<!-- 获取指定日期运营数据信息 -->
<select id="queryStatDailyListByTime" resultMap="BaseResultMap"  parameterType="Object">
	  SELECT t.*,t1.area_name area_name,t2.area_name city_name
	  FROM app_stat_daily t
	  LEFT JOIN base_area t1 ON t.area_code=t1.area_code
	  LEFT JOIN base_area t2 ON t.city_code=t2.area_code
	  WHERE 1=1 
	  <trim>
	  <if test="endDate != null and endDate != '' ">
	  	and t.day_time between #{startDate} and #{endDate}
	  </if>
	  <if test="areaCode != null and areaCode != '' ">
	  	AND t.AREA_CODE like '${areaCode}%'
	  </if>
	  <if test="userCityCode != null and userCityCode != '' ">
		and t.AREA_CODE LIKE '${userCityCode}%'
	  </if>
	  AND t1.flag!='DELETE'
	  <if test="pager.orderCondition == ''">
		order by t.day_time desc,t.area_code asc
	  </if>
	  <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
      </if>
      <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
     </if>
	  </trim>
	  
</select>

<!-- 获取指定日期运营数据条数 -->
<select id="quertStatDailyCountByDayTime" resultType="java.lang.Integer"  parameterType="Object">
	  SELECT count(1)
	  FROM app_stat_daily t
	  LEFT JOIN base_area t1 ON t.area_code=t1.area_code
	  LEFT JOIN base_area t2 ON t.city_code=t2.area_code
	  WHERE 1=1 
	  <trim>
	  <if test="endDate != null and endDate != '' ">
	  	and t.day_time between #{startDate} and #{endDate}
	  </if>
	  <if test="cityCode != null and cityCode != '' ">
	  	AND t.city_code like '${cityCode}%' 
	  </if>
	  <if test="areaCode != null and areaCode != '' ">
	  	AND t.AREA_CODE like '${areaCode}%'
	  </if>
	  <if test="userCityCode != null and userCityCode != '' ">
		and t.AREA_CODE LIKE '${userCityCode}%'
	  </if>
	  AND t1.flag!='DELETE'
	  </trim>
</select>

<!-- 获取指定日期运营数据条数 -->
<select id="queryStatDailyByDayTime" resultMap="BaseResultMap"  parameterType="Object">
	  SELECT * FROM app_stat_daily t
	  WHERE  t.day_time = #{dayTime}
	  <trim>
         <if test="areaCode != null and areaCode !='' ">
           	AND t.area_code like '${areaCode}%' 
         </if>
     </trim> 
</select>

<!-- 获取指定日期间运营数据条数 -->
<select id="queryStatDailyBetweenDayTime" resultMap="BaseResultMap"  parameterType="Object">
	  SELECT * FROM app_stat_daily t
	  WHERE  t.day_time between #{startTime} and #{endTime} 
	  <trim>
         <if test="areaCode != null and areaCode !='' ">
           	AND t.area_code like '${areaCode}%' 
         </if>
     </trim> 
</select>

<!-- 查询导出日报表参数值 -->
<select id="cvsStatDailyList" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT t.day_time,t.ALL_TRAN_COUNT,t.PAYABLE_FEE,t.TRAN_SUCCESS_AMOUNT,
	       t.TRAN_SUCCESS_COUNT,t.COUNTER_AMOUNT,t.REFUND_COUNTER_AMOUNT,t.DISCOUNT_SUCCESS_AMOUNT,t.DISCOUNT_SUCCESS_COUNT,
	       t.SUBS_SUCCESS_COUNT,t.SUBS_SUCCESS_AMOUNT,t.REFUND_SUCCESS_COUNT,t.REFUND_SUCCESS_AMOUNT,
	       t.ALIPAY_SUCCESS_COUNT,t.ALIPAY_SUCCESS_AMOUNT,t.ALIPAY_COUNTER_AMOUNT,t.WXPAY_SUCCESS_COUNT,t.WXPAY_SUCCESS_AMOUNT,
	       t.WXPAY_COUNTER_AMOUNT,t.ticketpay_success_count,t.ticket_allpay_success_count,t.ticketpay_success_amount,
	       t.pay_user_count,t.pay_success_user_count,t.ticket_success_user_count,t.cmbpay_success_count,t.cmbpay_success_amount,t.cmbpay_counter_amount,
	       t.balance_success_count,t.balance_success_amount,t1.area_name city_name,t2.area_name area_name,
	       t.mcpay_success_count,t.mcpay_success_amount,
			t.alipay_refund_suc_count,t.alipay_refund_suc_amount,
			t.wxpay_refund_suc_count,t.wxpay_refund_suc_amount,
			t.cmbpay_refund_suc_count,t.cmbpay_refund_suc_amount,
			t.mcpay_refund_suc_count,t.mcpay_refund_suc_amount,
			t.monthly_success_count,t.monthly_success_amount,
			t.innopay_success_count,t.innopay_success_amount
 	FROM app_stat_daily t 
	     LEFT JOIN base_area t1 ON t.city_code=t1.area_code
	     LEFT JOIN base_area t2 ON t.area_code=t2.area_code
	WHERE 1=1 
	<trim>
	 <if test="startDate != null and startDate != '' and endDate != null
	 	and endDate != '' ">
	 	and t.day_time BETWEEN #{startDate} AND #{endDate}
	 </if>
	 <if test="cityCode != null and cityCode != '' ">
	  	AND t.city_code = (SELECT t3.area_code FROM base_area t3 WHERE t3.id = #{cityCode})  
	  </if>
	  <if test="areaCode != null and areaCode != '' ">
	  	AND t.area_code = (SELECT t4.area_code FROM base_area t4 WHERE t4.id = #{areaCode})
	  </if>
	</trim>
	ORDER BY t.day_time desc
</select>

<!-- 停车券支付笔数 -->
<select id="queryTicketpaySuccessCount" resultType="java.lang.String"  parameterType="Object">
 	SELECT COUNT(1) ticketpay_success_count 
 	FROM app_order_paylog 
	WHERE is_paid = 200 AND flag != 'DELATE' AND ticket_fee > 0 
	  AND create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                      AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      <if test="areaCode != null and areaCode !='' ">
        	AND city_code = #{areaCode}  
      </if>
</select>

<!-- 全额支付笔数-->
<select id="queryTicketAllPaySuccessCount" resultType="java.lang.String"  parameterType="Object">
    SELECT COUNT(1) ticket_allpay_success_count 
    FROM app_order_paylog
	WHERE is_paid = 200 AND flag != 'DELATE' AND ticket_fee > 0 AND payment = 10
	  AND create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                      AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
         <if test="areaCode != null and areaCode !='' ">
           	AND city_code = #{areaCode}   
         </if>
</select>

<!-- 停车券抵扣金额 -->
<select id="queryTicketpaySuccessAmount" resultType="java.lang.String"  parameterType="Object">
    SELECT SUM( CASE WHEN ticket_fee > 0 THEN ticket_fee ELSE 0 END) ticketpay_success_amount 
    FROM app_order_paylog 
	WHERE is_paid = 200 AND flag != 'DELATE' AND ticket_fee > 0 
	  AND create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                      AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      <if test="areaCode != null and areaCode !='' ">
        	AND city_code = #{areaCode}   
      </if>
</select>

<!-- 支付用户数   -->
<select id="queryPayUserCount" resultType="java.lang.String"  parameterType="Object">
     SELECT COUNT(DISTINCT user_id) pay_user_count 
     FROM app_order_paylog 
     WHERE flag != 'DELETE' 
       AND create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                       AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
     <if test="areaCode != null and areaCode !='' ">
       	AND city_code = #{areaCode}   
     </if>
</select>

<!-- 成功支付用户数  -->
<select id="queryPaySuccessUserCount" resultType="java.lang.String"  parameterType="Object">
     SELECT COUNT(DISTINCT user_id) pay_success_user_count 
     FROM app_order_paylog 
     WHERE is_paid = 200 AND flag != 'DELETE'
       AND create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                       AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
     <if test="areaCode != null and areaCode !='' ">
       	AND city_code = #{areaCode}  
     </if>
</select>

<!-- 停车券支付用户数  -->
<select id="queryTicketpaySuccessUserCount" resultType="java.lang.String"  parameterType="Object">
    SELECT COUNT(DISTINCT user_id) ticket_success_user_count 
    FROM app_order_paylog 
    WHERE is_paid = 200 AND flag != 'DELATE' AND ticket_fee > 0 
	  AND create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                      AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
     <if test="areaCode != null and areaCode !='' ">
       	AND city_code = #{areaCode}   
     </if>
</select>

<select id="queryDataForLineBarPie" resultMap="BaseResultMap"  parameterType="java.util.Map">
	<foreach collection="dates" item="item" separator=" union all " index="index">
		SELECT #{item} day_time,#{cityCode} area_code,IFNULL(SUM(t.pay_success_user_count),0) pay_success_user_count,
		IFNULL(SUM(t.alipay_success_amount),0) alipay_success_amount,IFNULL(SUM(t.alipay_success_count),0) alipay_success_count,
		IFNULL(SUM(t.wxpay_success_count),0) wxpay_success_count,IFNULL(SUM(t.wxpay_success_amount),0) wxpay_success_amount,
		IFNULL(SUM(t.ticketpay_success_count),0) ticketpay_success_count,IFNULL(SUM(t.ticketpay_success_amount),0) ticketpay_success_amount,
		IFNULL(SUM(t.cmbpay_success_count),0) cmbpay_success_count,ifnull(sum(t.tran_success_amount),0) tran_success_amount
		FROM app_stat_daily t 
		LEFT JOIN base_area b ON b.AREA_CODE = t.AREA_CODE
		WHERE t.DAY_TIME = #{item} 
		<if test="cityCode!=null and cityCode!=''">
			AND t.AREA_CODE = #{cityCode}
		</if>
	</foreach>
</select>

<!-- 一网通支付成功总笔数 -->
<select id="queryCmbpaySuccessCount" resultType="java.lang.String" parameterType="Object">
	  SELECT COUNT(1) cmbpay_success_count
      FROM app_order t 
      WHERE t.order_status=200 AND t.pay_type=5
        AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                       AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
       <if test="areaCode != null and areaCode !='' ">
        	AND t.area_code = #{areaCode}   
       </if>
</select>

<!-- 一网通支付成功总金额 -->
<select id="queryCmbPaySuccessAmount" resultType="java.lang.String" parameterType="Object">
	SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) cmbpay_success_amount
    FROM app_order t 
    WHERE t.order_status=200 AND t.pay_type=5
      AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                     AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	  	<if test="areaCode != null and areaCode !='' ">
	  		 AND t.area_code = #{areaCode}   
	  	</if>
</select>

<!-- 余额支付成功总笔数 -->
<select id="queryBalanceSuccessCount" resultType="java.lang.String" parameterType="Object">
	SELECT count(1) balance_success_count 
	FROM app_wallet_recharge t 
	WHERE t.ORDER_STATUS = 200
	  AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                     AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="areaCode != null and areaCode !='' ">
		AND t.area_code = #{areaCode}   
	</if>
</select>

<!-- 余额支付成功总金额 -->
<select id="queryBalanceSuccessAmount" resultType="java.lang.String" parameterType="Object">
	SELECT SUM(price) balance_success_amount 
	FROM app_wallet_recharge t 
	WHERE t.ORDER_STATUS = 200
	  AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                     AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="areaCode != null and areaCode !='' ">
		AND t.area_code = #{areaCode}   
	</if>
</select>

<!-- 获取手续费总额-->
<select id="queryCounterAmount" resultType="java.lang.String"  parameterType="Object">
   SELECT SUM(IFNULL(t.counter_fee,0)) counter_amount
   FROM app_order_paylog t
   WHERE t.is_paid = 200 AND t.flag != 'DELATE'
     AND t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')  
      	<if test="areaCode != null and areaCode !='' ">
      		 AND t.city_code = #{areaCode}   
      	</if>
</select>

<!-- 获取支付宝手续费总金额 -->
<select id="queryAlipayCounterAmount" resultType="java.lang.String"  parameterType="Object">
   SELECT SUM(IFNULL(t.counter_fee,0)) alipay_counter_amount
   FROM app_order_paylog t
   WHERE t.is_paid = 200 AND t.flag != 'DELATE' AND t.payment = 1
     AND t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s') 
	<if test="areaCode != null and areaCode !='' ">
		AND t.city_code = #{areaCode}  
	</if>
</select>

<!-- 获取微信手续费总金额 -->
<select id="queryWxpayCounterAmount" resultType="java.lang.String"  parameterType="Object">
   SELECT SUM(IFNULL(t.counter_fee,0)) wxpay_counter_amount
   FROM app_order_paylog t
   WHERE t.is_paid = 200 AND t.flag != 'DELATE' AND t.payment = 2
     AND t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="areaCode != null and areaCode !='' ">
		AND t.city_code = #{areaCode}  
	</if>
</select>

<!-- 获取一网通手续费总金额 -->
<select id="queryCmbPayCounterAmount" resultType="java.lang.String"  parameterType="Object">
   SELECT SUM(IFNULL(t.counter_fee,0)) cmbpay_counter_amount
   FROM app_order_paylog t
   WHERE t.is_paid = 200 AND t.flag != 'DELATE' AND t.payment = 5
     AND t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="areaCode != null and areaCode !='' ">
		AND t.city_code = #{areaCode}  
	</if>
</select>

<resultMap id="PaymentInfoMap" type="com.innotek.system.entity.HomePayAmountEntity" >
	<result column="pay_type" property="payType" javaType="java.lang.Integer"/>
	<result column="pay_amount" property="totalFee" javaType="java.lang.String"/>
	<result column="pay_count" property="payCount" javaType="java.lang.Integer"/>
	<result column="counter_fee" property="counterFee" javaType="java.lang.String"/>
	<result column="refund_count" property="refundCount" javaType="java.lang.Integer"/>
	<result column="refund_fee" property="refundFee" javaType="java.lang.String"/>
	<result column="refund_counter_fee" property="refundCounterFee" javaType="java.lang.String"/>
</resultMap>
<!-- 获取个支付方式交易详细 -->
<select id="queryPaymentPayInfo" resultMap="PaymentInfoMap"  parameterType="Object">
   SELECT t.pay_type,COUNT(1) pay_count,SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) pay_amount
      FROM app_order t 
      WHERE t.order_status=200
        AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
	                       AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="areaCode != null and areaCode !='' ">
	  		 AND t.area_code = #{areaCode}   
	  	</if>
	 GROUP BY t.pay_type
</select>

<!-- 获取支付方式手续费-->
<select id="queryPaymentCounterFee" resultMap="PaymentInfoMap"  parameterType="Object">
   SELECT t.payment pay_type,SUM(IFNULL(t.counter_fee,0)) counter_fee
   FROM app_order_paylog t
   WHERE t.is_paid = 200 AND t.flag != 'DELATE'
     AND t.create_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
                         AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="areaCode != null and areaCode !='' ">
		AND t.city_code = #{areaCode}  
	</if>
    GROUP BY t.payment
</select>

<!--根据支付方式查询退款金额 -->
<select id="queryPaymentRefundFee" resultMap="PaymentInfoMap"  parameterType="Object">
	SELECT t1.pay_type ,COUNT(t1.pay_type) refund_count,
		SUM(CASE WHEN t.refund_fee>0 THEN t.refund_fee ELSE 0 END) refund_fee,
		SUM(counter_fee) refund_counter_fee
		FROM app_order_refund t
		LEFT JOIN app_order t1 ON t.order_no = t1.order_no
		WHERE t.is_complate = 200 AND t1.order_status = 200
		  AND t.refund_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s')
                                AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="areaCode != null and areaCode !='' ">
		AND t1.area_code = #{areaCode}
	</if>
    GROUP BY t1.pay_type
</select>

	<!-- 包月支付成功总笔数 -->
	<select id="queryMonthlySuccessCount" resultType="java.lang.String"  parameterType="Object">
		SELECT COUNT(1) monthly_success_count
		FROM app_order_park_monthly t
		WHERE t.order_status=200
		AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s')
		AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="areaCode != null and areaCode !='' ">
			AND t.area_code = #{areaCode}
		</if>
	</select>

	<!-- 包月支付成功总金额-->
	<select id="queryMonthlySuccessAmount" resultType="java.lang.String"  parameterType="Object">
		SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) monthly_success_amount
		FROM app_order_park_monthly t
		WHERE t.order_status=200
		AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s')
		AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="areaCode != null and areaCode !='' ">
			AND t.area_code = #{areaCode}
		</if>
	</select>

	<!-- 收费宝支付成功总笔数 -->
	<select id="queryInnopaySuccessCount" resultType="java.lang.String"  parameterType="Object">
		SELECT COUNT(1) innopay_success_count
		FROM app_order_scanpay t
		WHERE t.order_status=200 and t.source=1
		AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s')
		AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="areaCode != null and areaCode !='' ">
			AND t.area_code = #{areaCode}
		</if>
	</select>

	<!-- 收费宝支付成功总金额-->
	<select id="queryInnopaySuccessAmount" resultType="java.lang.String"  parameterType="Object">
		SELECT SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END) innopay_success_amount
		FROM app_order_scanpay t
		WHERE t.order_status=200 and t.source=1
		AND t.pay_time BETWEEN STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s')
		AND STR_TO_DATE('${startDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="areaCode != null and areaCode !='' ">
			AND t.area_code = #{areaCode}
		</if>
	</select>
</mapper>   
