<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.wallet.AreaConfigDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.wallet.AreaConfig" >
	<result column="id" property="id"/>
		<result column="area_code" property="areaCode"/>
		<result column="area_name" property="areaName"/>
		<result column="para_name" property="paraName"/>
		<result column="para_value" property="paraValue"/>
		<result column="para_desc" property="paraDesc"/>
		<result column="state" property="state"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="para_type" property="paraType"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.area_code,
		 t.para_name,
		 t.para_value,
		 t.para_type,
		 t.para_desc,
		 t.state,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="paraName != null and paraName != '' " >
    	and t.para_name =  #{paraName}
	</if>
	<if test="paraValue != null and paraValue != '' " >
    	and t.para_value =  #{paraValue}
	</if>
	<if test="paraType != null" >
		and t.para_type =  #{paraType}
	</if>
	<if test="paraDesc != null and paraDesc != '' " >
    	and t.para_desc =  #{paraDesc}
	</if>
	<if test="state != null " >
    	and t.state =  #{state}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_area_config 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="paraName != null and paraName != '' " >
		 para_name,
		</if>
    	<if test="paraValue != null and paraValue != '' " >
		 para_value,
		</if>
		<if test="paraType != null " >
		 para_type,
		</if>
    	<if test="paraDesc != null and paraDesc != '' " >
		 para_desc,
		</if>
    	<if test="state != null " >
		state,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	now(),
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="paraName != null and paraName != '' " >
  		<![CDATA[  #{paraName}, ]]>
    	</if>
    	<if test="paraValue != null and paraValue != '' " >
  		<![CDATA[  #{paraValue}, ]]>
    	</if>
		<if test="paraType != null " >
		<![CDATA[  #{paraType}, ]]>
		</if>
    	<if test="paraDesc != null and paraDesc != '' " >
  		<![CDATA[  #{paraDesc}, ]]>
    	</if>
    	<if test="state != null " >
  		<![CDATA[  #{state}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_area_config t set 
   <trim suffixOverrides="," >
	<if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="paraName != null and paraName != '' " >
  	<![CDATA[  t.para_name = #{paraName}, ]]>
    </if>
    <if test="paraValue != null and paraValue != '' " >
  	<![CDATA[  t.para_value = #{paraValue}, ]]>
    </if>
	<if test="paraType != null" >
	<![CDATA[  t.para_type = #{paraType}, ]]>
	</if>
    <if test="paraDesc != null and paraDesc != '' " >
  	<![CDATA[  t.para_desc = #{paraDesc}, ]]>
    </if>
    <if test="state != null " >
  	<![CDATA[  t.state = #{state}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = now(), ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_area_config where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" />
	,ba.id areaId
	from app_area_config t
	left join base_area ba on t.area_code = ba.area_code
	where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_area_config t
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	,ba.area_name
	from app_area_config t
	left join base_area ba on t.area_code = ba.area_code
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据AREA_CODE和PARA_NAME查询参数状态为正常的数据 -->
<select id="getAreaConfigByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select * from app_area_config
	where PARA_NAME=#{paraName} and STATE=0 
	and (AREA_CODE=#{cityCode} or PARA_TYPE=1)
	limit 1
</select>
<!-- 查询是否支持余额支付 -->
<select id="findIsSupportWalletPay" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_area_config 
	where state = 0 and para_name = #{paraName}
</select>

<!-- 根据cityCode查询参数状态为正常的数据 -->
<select id="getAreaConfigByCityCode" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select * from app_area_config
	where STATE=0 and AREA_CODE=#{cityCode}
</select>
</mapper>   
