<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.wallet.WalletBalanceChangeDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.wallet.WalletBalanceChange" >
	<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="order_no" property="orderNo"/>
		<result column="handle_type" property="handleType"/>
		<result column="price" property="price"/>
		<result column="balance_before" property="balanceBefore"/>
		<result column="actual_balance_before" property="actualBalanceBefore"/>
		<result column="give_balance_before" property="giveBalanceBefore"/>
		<result column="balance_after" property="balanceAfter"/>
		<result column="actual_balance_after" property="actualBalanceAfter"/>
		<result column="actual_balance_after" property="giveBalanceAfter"/>
		<result column="subject" property="subject"/>
		<result column="handle_body" property="handleBody"/>
		<result column="create_time" property="createTime"/>
		<result column="created_by" property="createdBy"/>
		<result column="update_time" property="updateTime"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="change_status" property="changeStatus"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.user_id,
		 t.order_no,
		 t.handle_type,
		 t.price,
		 t.balance_before,
		 t.actual_balance_before,
		 t.give_balance_before,
		 t.balance_after,
		 t.actual_balance_after,
		 t.give_balance_after,
		 t.subject,
		 t.handle_body,
		 t.create_time,
	     t.id,
	     t.created_by,
	     t.update_time,
	     t.updated_by,
	     t.change_status
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="handleType != null " >
    	and t.handle_type =  #{handleType}
	</if>
	<if test="price != null " >
    	and t.price =  #{price}
	</if>
	<if test="balanceBefore != null " >
    	and t.balance_before =  #{balanceBefore}
	</if>
	<if test="balanceAfter != null " >
    	and t.balance_after =  #{balanceAfter}
	</if>
	<if test="subject != null and subject != '' " >
    	and t.subject =  #{subject}
	</if>
	<if test="handleBody != null and handleBody != '' " >
    	and t.handle_body =  #{handleBody}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_wallet_balance_change 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  create_time,
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="handleType != null " >
		handle_type,
		</if>
    	<if test="price != null " >
		price,
		</if>
    	<if test="balanceBefore != null " >
		balance_before,
		</if>
	  	<if test="actualBalanceBefore != null " >
		  actual_balance_before,
	  	</if>
	  	<if test="giveBalanceBefore != null " >
		  give_balance_before,
	  	</if>
    	<if test="balanceAfter != null " >
			balance_after,
		</if>
	  	<if test="actualBalanceAfter != null " >
		  actual_balance_after,
	  	</if>
	  	<if test="giveBalanceAfter != null " >
		  give_balance_after,
	  	</if>
    	<if test="subject != null and subject != '' " >
		 subject,
		</if>
    	<if test="handleBody != null and handleBody != '' " >
		 handle_body,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updateTime != null " >
		 update_time,
		</if>
		<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
		<if test="changeStatus != null and changeStatus != '' " >
		 change_status,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	now(),
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="handleType != null " >
  		<![CDATA[  #{handleType}, ]]>
    	</if>
    	<if test="price != null " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="balanceBefore != null " >
  		<![CDATA[  #{balanceBefore}, ]]>
    	</if>
		 <if test="actualBalanceBefore != null " >
			 <![CDATA[  #{actualBalanceBefore}, ]]>
		 </if>
		 <if test="giveBalanceBefore != null " >
			 <![CDATA[  #{giveBalanceBefore}, ]]>
		 </if>
    	<if test="balanceAfter != null " >
  		<![CDATA[  #{balanceAfter}, ]]>
    	</if>
		 <if test="actualBalanceAfter != null " >
			 <![CDATA[  #{actualBalanceAfter}, ]]>
		 </if>
		 <if test="giveBalanceAfter != null " >
			 <![CDATA[  #{giveBalanceAfter}, ]]>
		 </if>
    	<if test="subject != null and subject != '' " >
  		<![CDATA[  #{subject}, ]]>
    	</if>
    	<if test="handleBody != null and handleBody != '' " >
  		<![CDATA[  #{handleBody}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="changeStatus != null and changeStatus != '' " >
  		<![CDATA[  #{changeStatus}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_wallet_balance_change t set 
   <trim suffixOverrides="," >
	<if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="handleType != null " >
  	<![CDATA[  t.handle_type = #{handleType}, ]]>
    </if>
    <if test="price != null " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="balanceBefore != null " >
  	<![CDATA[  t.balance_before = #{balanceBefore}, ]]>
    </if>
    <if test="balanceAfter != null " >
  	<![CDATA[  t.balance_after = #{balanceAfter}, ]]>
    </if>
    <if test="subject != null and subject != '' " >
  	<![CDATA[  t.subject = #{subject}, ]]>
    </if>
    <if test="handleBody != null and handleBody != '' " >
  	<![CDATA[  t.handle_body = #{handleBody}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
 		<![CDATA[ t.created_by =  #{createdBy}, ]]>
   	</if>
   	<if test="updateTime != null " >
 		<![CDATA[ t.update_time = #{updateTime}, ]]>
   	</if>
   	<if test="updatedBy != null and updatedBy != '' " >
 		<![CDATA[ t.updated_by = #{updatedBy}, ]]>
   	</if>
   	<if test="changeStatus != null and changeStatus != '' " >
 		<![CDATA[ t.change_status = #{changeStatus}, ]]>
   	</if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_wallet_balance_change where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_wallet_balance_change t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_wallet_balance_change t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_wallet_balance_change t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据用户ID查询钱包操作记录-->
<select id="findWalletBalanceChangeByUserId" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * 
	FROM app_wallet_balance_change
	WHERE CHANGE_STATUS=200 and user_id=#{userId}
	ORDER BY create_time desc
	LIMIT #{startIndex},#{pageLength}
</select>

<select id="findWalletBalanceChangeListByUserId" resultMap="BaseResultMap"  parameterType="Object">
	SELECT *
	FROM app_wallet_balance_change
	WHERE CHANGE_STATUS=200 and user_id=#{userId}
	ORDER BY create_time desc
	LIMIT 1
</select>

<!-- 根据用户ID查询钱包操作记录总条数 -->
<select id="getWalletBalanceChangeListCount" resultType="java.lang.Integer"  parameterType="Object">
 	SELECT count(1) FROM app_wallet_balance_change
	WHERE CHANGE_STATUS=200 and user_id=#{userId}
</select>

<!-- 根据订单编号查询订单操作记录 -->
<select id="findByOrderNo" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT * FROM app_wallet_balance_change 
	WHERE order_no = #{_parameter}
</select>

<!-- 作废用户之前不成功的消费记录 -->
<update id="deleteWalletBalanceCangeByRecord" parameterType="Object">
	UPDATE app_wallet_balance_change 
	SET CHANGE_STATUS = 400,UPDATE_TIME = NOW(),UPDATED_BY= 'admin' 
	WHERE CHANGE_STATUS = 100 AND HANDLE_TYPE = 2 
	  AND user_id = #{userId} 
</update>
<!-- 更新订单状态 -->
<update id="updateByOrderNo" parameterType="java.util.Map">
	UPDATE app_wallet_balance_change
	SET CHANGE_STATUS = #{status},UPDATE_TIME = #{updateTime},UPDATED_BY= 'admin'
	WHERE CHANGE_STATUS = 100
	  AND ORDER_NO = #{orderNo}
</update>

</mapper>   
