<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.wallet.WalletProductDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.wallet.WalletProduct" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="price" property="price"/>
		<result column="balance" property="balance"/>
		<result column="discount_fee" property="discountFee"/>
		<result column="status" property="status"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="create_time" property="createTime"/>
		<result column="create_by" property="createBy"/>
		<result column="update_by" property="updateBy"/>
	</resultMap>

<!-- *************************************自定义接口****************************************************** -->

<!-- 查询所有的充值产品-->
<select id="getOnlineWalletProduct" resultMap="BaseResultMap">
	select * from app_wallet_product p
	where p.status = 1
	and now() between p.start_time and p.end_time
	order by p.price
</select>
<!-- 查询某一区域的充值产品-->
<select id="getOnlineWalletProductByCityCode" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_wallet_product p
	where p.status = 1
	and now() between p.start_time and p.end_time
  	and p.city_code =  #{cityCode}
  	order by p.price
</select>
<!-- 根据ID充值产品-->
<select id="getWalletProductById" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_wallet_product p
	where p.id = #{id}
</select>

</mapper>   
