<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.activity.ActivityShareUserDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.activity.ActivityShareUser" >
	<result column="id" property="id"/>
		<result column="activity_share_id" property="activityShareId"/>
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="source" property="source"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="order_no" property="orderNo"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="status" property="status"/>
		<result column="activity_share_name" property="activityShareName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.activity_share_id,
		 t.user_id,
		 t.user_account,
		 t.source,
		 t.parkrecord_id,
		 t.order_no,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
		 t.status,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="activityShareId != null and activityShareId != '' " >
    	and t.activity_share_id =  #{activityShareId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="userAccount != null and userAccount != '' " >
    	and t.user_account =  #{userAccount}
	</if>
	<if test="source != null " >
    	and t.source =  #{source}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_activity_share_user 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,flag,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="activityShareId != null and activityShareId != '' " >
		 activity_share_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="userAccount != null and userAccount != '' " >
		 user_account,
		</if>
    	<if test="source != null " >
		source,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="status != null and status != '' " >
		 status,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	NOW(),'ADD',
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="activityShareId != null and activityShareId != '' " >
  		<![CDATA[  #{activityShareId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="userAccount != null and userAccount != '' " >
  		<![CDATA[  #{userAccount}, ]]>
    	</if>
    	<if test="source != null " >
  		<![CDATA[  #{source}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="status != null and status != '' " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_share_user t set 
   <trim suffixOverrides="," >
	<if test="activityShareId != null and activityShareId != '' " >
  	<![CDATA[  t.activity_share_id = #{activityShareId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="userAccount != null and userAccount != '' " >
  	<![CDATA[  t.user_account = #{userAccount}, ]]>
    </if>
    <if test="source != null " >
  	<![CDATA[  t.source = #{source}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
  	<![CDATA[  t.flag = 'UPDATE', ]]>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="status != null and status != '' " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
  	<![CDATA[  t.update_time = NOW(), ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_share_user where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_share_user t where t.id = #{id}
	 limit 1
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_share_user t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select t1.activity_name activity_share_name, 
	<include refid="Base_Column_List"/>
	from app_activity_share_user t 
	left join app_activity_share t1 on t1.id = t.activity_share_id
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询指定停车记录的分享记录 -->
<select id="findIsExistByParkrecordId" resultType="java.lang.Integer"  parameterType="Object">
	SELECT count(1) FROM app_activity_share_user 
	WHERE flag != 'DELETE' and status = 200 AND parkrecord_id = #{parkrecordId}
</select>

<!-- 根据停车记录ID查询用户的分享记录 -->
<select id="findShareUserByParkrecordId" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_activity_share_user 
	WHERE flag != 'DELETE' AND parkrecord_id = #{parkrecordId}
	limit 1
</select>

<!-- 根据活动分享ID获取用户分享记录 -->
<select id="findShareUserByUserShareId" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_activity_share_user 
	WHERE flag != 'DELETE' AND id = #{id}
	limit 1
</select>

<!-- 根据用户ID查询分享次数 -->
<select id="findShareCountByUserId" resultType="java.lang.Integer"  parameterType="Object">
	SELECT COUNT(1) FROM app_activity_share_user 
	WHERE flag != 'DELETE' 
	and user_id = #{userId}
</select>
</mapper>   
