<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.activity.ActivityTigerConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.activity.ActivityTigerConf" >
	<result column="id" property="id"/>
		<result column="activity_id" property="activityId"/>
		<result column="activity_name" property="activityName"/>
		<result column="tiger_type" property="tigerType"/>
		<result column="ticket_count" property="ticketCount"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.activity_id,
		 t.tiger_type,
		 t.ticket_count,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="activityId != null and activityId != '' " >
    	and t.activity_id =  #{activityId}
	</if>
	<if test="tigerType != null and tigerType != '' " >
    	and t.tiger_type =  #{tigerType}
	</if>
	<if test="ticketCount != null " >
    	and t.ticket_count =  #{ticketCount}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	insert into app_activity_tiger_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	flag,create_time,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="activityId != null and activityId != '' " >
		 activity_id,
		</if>
    	<if test="tigerType != null and tigerType != '' " >
		 tiger_type,
		</if>
    	<if test="ticketCount != null " >
		ticket_count,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	'ADD',now(),
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="activityId != null and activityId != '' " >
  		<![CDATA[  #{activityId}, ]]>
    	</if>
    	<if test="tigerType != null and tigerType != '' " >
  		<![CDATA[  #{tigerType}, ]]>
    	</if>
    	<if test="ticketCount != null " >
  		<![CDATA[  #{ticketCount}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_tiger_conf t set 
   <trim suffixOverrides="," >
	<if test="activityId != null and activityId != '' " >
  	<![CDATA[  t.activity_id = #{activityId}, ]]>
    </if>
    <if test="tigerType != null and tigerType != '' " >
  	<![CDATA[  t.tiger_type = #{tigerType}, ]]>
    </if>
    <if test="ticketCount != null " >
  	<![CDATA[  t.ticket_count = #{ticketCount}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <![CDATA[  t.flag = 'UPDATE', ]]>
  	<![CDATA[  t.update_time = now(), ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_tiger_conf where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_tiger_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_tiger_conf t 
	left join app_activity act on t.activity_id = act.id
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>,
	act.activity_name
	from app_activity_tiger_conf t 
	left join app_activity act on t.activity_id = act.id
	<include refid="Example_Where_Clause"/>
	<if test="activityName != null and activityName != '' " >
		and act.activity_name like '%${activityName}%'
	</if>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->

<!-- 根据orderLimit查询 -->
<select id="findTigerByOrderLimit"  resultMap="BaseResultMap" parameterType="Object">
		select *
	 	from app_activity_tiger_conf t where t.id in
	 	(SELECT lim.tiger_conf_id
		FROM app_activity_tiger_order_limit lim 
		WHERE lim.id=#{tigerConfLimitId}
		)
		limit 1
</select>
</mapper>   
