<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.activity.ActivityTicketPutlogRelDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.activity.ActivityTicketPutlogRel" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="activity_id" property="activityId"/>
		<result column="putlog_id" property="putlogId"/>
		<result column="ticket_conf_id" property="ticketConfId"/>
		<result column="user_id" property="userId"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="orderno" property="orderno"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.activity_id,
		 t.putlog_id,
		 t.ticket_conf_id,
		 t.user_id,
		 t.parkrecord_id,
		 t.orderno,
		 t.flag,
		 t.created_by,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="activityId != null and activityId != '' " >
    	and t.activity_id =  #{activityId}
	</if>
	<if test="putlogId != null and putlogId != '' " >
    	and t.putlog_id =  #{putlogId}
	</if>
	<if test="ticketConfId != null and ticketConfId != '' " >
    	and t.ticket_conf_id =  #{ticketConfId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="orderno != null and orderno != '' " >
    	and t.orderno =  #{orderno}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
	</selectKey>
  
	insert into app_activity_ticket_putlog_rel 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	   <if test="id != null and id != ''">
			id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="activityId != null and activityId != '' " >
		 activity_id,
		</if>
    	<if test="putlogId != null and putlogId != '' " >
		 putlog_id,
		</if>
    	<if test="ticketConfId != null and ticketConfId != '' " >
		 ticket_conf_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="orderno != null and orderno != '' " >
		 orderno,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	  <if test="id != null " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="activityId != null and activityId != '' " >
  		<![CDATA[  #{activityId}, ]]>
    	</if>
    	<if test="putlogId != null and putlogId != '' " >
  		<![CDATA[  #{putlogId}, ]]>
    	</if>
    	<if test="ticketConfId != null and ticketConfId != '' " >
  		<![CDATA[  #{ticketConfId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="orderno != null and orderno != '' " >
  		<![CDATA[  #{orderno}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_ticket_putlog_rel t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="activityId != null and activityId != '' " >
  	<![CDATA[  t.activity_id = #{activityId}, ]]>
    </if>
    <if test="putlogId != null and putlogId != '' " >
  	<![CDATA[  t.putlog_id = #{putlogId}, ]]>
    </if>
    <if test="ticketConfId != null and ticketConfId != '' " >
  	<![CDATA[  t.ticket_conf_id = #{ticketConfId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="orderno != null and orderno != '' " >
  	<![CDATA[  t.orderno = #{orderno}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_ticket_putlog_rel t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_ticket_putlog_rel t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_ticket_putlog_rel t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_activity_ticket_putlog_rel t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
	<!-- 页面查询是否存在关联数据  -->
	<select id="queryIsExistByConfId" resultType="java.lang.Integer" parameterType="Object">
		select count(1)
		from app_activity_ticket_putlog_rel where TICKET_CONF_ID = #{ticketConfId}
	</select>
</mapper>   
