<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.activity.ParklotRecordDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.activity.ParklotRecord" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="series_number" property="seriesNumber"/>
		<result column="park_id" property="parkId"/>
		<result column="park_name" property="parkName"/>
		<result column="plate_no" property="plateNo"/>
		<result column="arrival_time" property="arrivalTime"/>
		<result column="departure_time" property="departureTime"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="flag" property="flag"/>
		<result column="is_push" property="isPush"/>
		<result column="plate_color" property="plateColor"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.parkrecord_id,
		 t.series_number,
		 t.park_id,
		 t.park_name,
		 t.plate_no,
		 t.arrival_time,
		 t.departure_time,
		 t.create_time,
		 t.update_time,
		 t.flag,
	     t.id,
	     t.plate_color,
	     t.is_push
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="seriesNumber != null and seriesNumber != '' " >
    	and t.series_number =  #{seriesNumber}
	</if>
	<if test="parkId != null and parkId != '' " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name =  #{parkName}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no =  #{plateNo}
	</if>
	<if test="arrivalTime != null " >
    	and t.arrival_time =  #{arrivalTime}
	</if>
	<if test="departureTime != null " >
    	and t.departure_time =  #{departureTime}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="isPush != null" >
    	and t.is_push =  #{flag}
	</if>
	<if test="plateColor != null " >
    	and t.plate_color =  #{plateColor}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_parklot_record 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="seriesNumber != null and seriesNumber != '' " >
		 series_number,
		</if>
    	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="parkName != null and parkName != '' " >
		 park_name,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		 plate_no,
		</if>
    	<if test="arrivalTime != null " >
		arrival_time,
		</if>
    	<if test="departureTime != null " >
		departure_time,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="isPush != null " >
		 is_push,
		</if>
    	<if test="plateColor != null " >
		 plate_color,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="seriesNumber != null and seriesNumber != '' " >
  		<![CDATA[  #{seriesNumber}, ]]>
    	</if>
    	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="arrivalTime != null " >
  		<![CDATA[  #{arrivalTime}, ]]>
    	</if>
    	<if test="departureTime != null " >
  		<![CDATA[  #{departureTime}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="isPush != null " >
  		<![CDATA[  #{isPush}, ]]>
    	</if>
    	<if test="plateColor != null" >
  		<![CDATA[  #{plateColor}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_parklot_record t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="seriesNumber != null and seriesNumber != '' " >
  	<![CDATA[  t.series_number = #{seriesNumber}, ]]>
    </if>
    <if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="arrivalTime != null " >
  	<![CDATA[  t.arrival_time = #{arrivalTime}, ]]>
    </if>
    <if test="departureTime != null " >
  	<![CDATA[  t.departure_time = #{departureTime}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="isPush != null " >
  	<![CDATA[  t.is_push = #{isPush}, ]]>
    </if>
    <if test="plateColor != null" >
  	<![CDATA[  t.plate_color = #{plateColor}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_parklot_record where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_parklot_record t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_parklot_record t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_parklot_record t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据seriesNumber查询停车记录 -->
<select id="getBySeriesNumber" resultMap="BaseResultMap"  parameterType="java.lang.String">
	 SELECT * FROM app_parklot_record WHERE SERIES_NUMBER = #{_parameter} AND flag != 'DELETE' limit 1
</select>

<!-- 查询在停停车记录 -->
<select id="findUnDepartureRecordByPlateNo" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_parklot_record 
	WHERE flag != 'DELETE' 
	  AND IS_PUSH = 0 AND DEPARTURE_TIME IS NULL 
	  AND PLATE_NO = #{plateNo} AND plate_color = #{plateColor}
</select>

<!-- 根据车牌颜色和车牌号码查询已发券的停车记录 -->
<select id="queryByPlateColorAndPlateNo" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_parklot_record 
	WHERE flag != 'DELETE' AND IS_PUSH = 1
	  AND plate_no = #{plateNo} AND plate_color = #{plateColor}
</select>
</mapper>   
