<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.AppAccessLocusDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.AppMenu">
		<result column="handle_name" property="handleName" />
		<result column="handle_id" property="handleId" />
		<result column="click_count" property="clickCount" />
	</resultMap>
	<!-- <resultMap id="BaseResultMap2" type="com.innotek.system.entity.AppMenu"> 
		<result column="handle_name" property="handleName" /> <result column="handle_id" 
		property="handleId" /> </resultMap> -->
	<!-- 查询 app_user_use_path 访问轨迹记录的菜单数据 -->
	<select id="queryAppClickedMenu" resultMap="BaseResultMap"
		parameterType="map">
		SELECT
		f.HANDLE_NAME,
		f.handle_id, CASE COUNT(f.ID) WHEN COUNT(f.ID) = 1
		THEN 0 ELSE COUNT(f.ID) END
		click_count
		FROM app_user_use_path_conf f
		LEFT JOIN app_user_use_path p
		ON
		f.HANDLE_ID =
		p.HANDLE_ID
		<trim>
			<if test="cityCode != null and cityCode != '' ">
				AND p.city_code =#{cityCode}
			</if>
		</trim>
		<if test="model.startTime !=null and model.startTime !=''">
			AND UNIX_TIMESTAMP(p.create_time) &gt;= UNIX_TIMESTAMP(
			STR_TO_DATE(CONCAT(#{model.startTime},'00:00:00'),'%Y-%m-%d
			%H:%i:%s'))
		</if>
		<if test="model.endTime !=null and model.endTime !=''">
			AND UNIX_TIMESTAMP(p.create_time) &lt;= UNIX_TIMESTAMP(
			STR_TO_DATE(CONCAT(#{model.endTime},'23:59:59'),'%Y-%m-%d
			%H:%i:%s'))
		</if>
		<if test="model.appVersion!=null and model.appVersion!=''">
			and app_version =#{model.appVersion}
		</if>
		GROUP BY f.HANDLE_ID
	</select>

	<!-- 查询app_user_use_path_conf关联app_user_use_path没有访问轨迹记录的菜单 -->
	<!-- <select id="queryAppNotClickedMenu" resultMap="BaseResultMap2" parameterType="map"> 
		SELECT handle_name,handle_id FROM app_user_use_path_conf WHERE handle_id 
		NOT IN (SELECT p.HANDLE_ID FROM app_user_use_path p LEFT JOIN app_user_use_path_conf 
		f ON f.HANDLE_ID = p.HANDLE_ID where f.HANDLE_ID!='' <if test="model.startTime 
		!=null and model.startTime !=''"> and arrive_time&gt;=STR_TO_DATE('${model.startTime} 
		00:00:00','%Y-%m-%d %H:%i:%s') </if> <if test="model.endTime !=null and model.endTime 
		!=''"> and arrive_time&lt;=STR_TO_DATE('${model.endTime} 23:59:59','%Y-%m-%d 
		%H:%i:%s') </if> <if test="model.appVersion!=null and model.appVersion!=''"> 
		and app_version ='${model.appVersion}' </if> GROUP BY f.HANDLE_ID) </select> -->
	<!-- 查询APP版本号 -->
	<select id="queryAppVersion" resultType="String">
		SELECT DISTINCT
		app_version
		FROM app_user_use_path
		WHERE app_version >='2.5'
		ORDER BY
		app_version
	</select>
</mapper>   
