<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.AreaDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Area">
		<result column="ID" property="id" />
		<result column="AREA_CODE" property="areaCode" />
		<result column="AREA_NAME" property="areaName" />
		<result column="PARENT_ID" property="parentId" />
		<result column="AREA_LEVEL" property="areaLevel" />
		<result column="GATEWAY_URL" property="gatewayUrl" />
		<result column="LONGITUDE_GAODE" property="longitudeGaode" />
		<result column="LATITUDE_GAODE" property="latitudeGaode" />
		<result column="LONGITUDE_BAIDU" property="longitudeBaidu" />
		<result column="LATITUDE_BAIDU" property="latitudeBaidu" />
		<result column="DISPLAY_NO" property="displayNo" />
		<result column="IS_SUPPORT_PAY" property="isSupportPay" />
		<result column="REMARK" property="remark" />
		<result column="FLAG" property="flag" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="UPDATED_BY" property="updatedBy" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="OLD_AREA_CODE" property="oldAreaCode" />
		<result column="IS_ONLINE" property="isOnline" />
		<result column="distance" property="distance" />
		<result column="is_support_account" property="isSupportAccount" />
		<result column="is_batchpay" property="isBatchpay" />
		<result column="is_delete_parkrecord" property="isDeleteParkrecord" />
		<result column="CITY_SPELL" property="citySpell" />
		<result column="is_member_card_pay" property="isMemberCardPay" />
	</resultMap>

	<!-- log table all fields -->
	<sql id="Base_Column_List">
		id,AREA_CODE,AREA_NAME,PARENT_ID,AREA_LEVEL,GATEWAY_URL,LONGITUDE_GAODE,LATITUDE_GAODE,LONGITUDE_BAIDU,
		LATITUDE_BAIDU,DISPLAY_NO,IS_SUPPORT_PAY,REMARK,FLAG,CREATED_BY,UPDATED_BY,CREATE_TIME,UPDATE_TIME,OLD_AREA_CODE,
		IS_ONLINE,is_support_account,is_batchpay,is_delete_parkrecord,CITY_SPELL,is_member_card_pay
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="areaCode != null and areaCode != ''">
				and AREA_CODE = #{areaCode}
			</if>
			<if test="areaName != null and areaName != ''">
				and AREA_NAME like CONCAT('%',#{areaName},'%')
			</if>
			<if test="parentId != null and parentId != ''">
				and PARENT_ID = #{shortName}
			</if>
			<if test="areaLevel != null and areaLevel != ''">
				and AREA_LEVEL = #{areaLevel}
			</if>
			<if test="gatewayUrl != null and gatewayUrl != ''">
				and GATEWAY_URL = #{gatewayUrl}
			</if>
			<if test="longitudeGaode != null and longitudeGaode != ''">
				and LONGITUDE_GAODE = #{longitudeGaode}
			</if>
			<if test="latitudeGaode != null and latitudeGaode != ''">
				and LATITUDE_GAODE = #{latitudeGaode}
			</if>
			<if test="longitudeBaidu != null and longitudeBaidu != ''">
				and LONGITUDE_BAIDU = #{longitudeBaidu}
			</if>
			<if test="latitudeBaidu != null and latitudeBaidu != ''">
				and LATITUDE_BAIDU = #{latitudeBaidu}
			</if>
			<if test="displayNo != null and displayNo != ''">
				and DISPLAY_NO = #{displayNo}
			</if>
			<if test="isSupportPay != null and isSupportPay != ''">
				and IS_SUPPORT_PAY = #{isSupportPay}
			</if>
			<if test="remark != null and remark != ''">
				and REMARK = #{remark}
			</if>
			<if test="flag != null and flag != ''">
				and FLAG = #{flag}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and CREATED_BY = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != ''">
				and UPDATED_BY = #{updatedBy}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and UPDATE_TIME = #{updateTime}
			</if>
			<if test="oldAreaCode != null and oldAreaCode != ''">
				and OLD_AREA_CODE = #{oldAreaCode}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
		insert into BASE_AREA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,flag,
			<if test="id != null ">
				id,
			</if>
			<if test="areaCode != null and areaCode != ''">
				area_code,
			</if>
			<if test="areaName != null and areaName != ''">
				area_name,
			</if>
			<if test="parentId != null and parentId != ''">
				parent_id,
			</if>
			<if test="areaLevel != null and areaLevel != ''">
				area_level,
			</if>
			<if test="gatewayUrl != null and gatewayUrl != ''">
				gateway_url,
			</if>
			<if test="longitudeGaode != null and longitudeGaode != ''">
				longitude_gaode,
			</if>
			<if test="latitudeGaode != null and latitudeGaode != ''">
				latitude_gaode,
			</if>
			<if test="longitudeBaidu != null and longitudeBaidu != ''">
				longitude_baidu,
			</if>
			<if test="latitudeBaidu != null and latitudeBaidu != ''">
				latitude_baidu,
			</if>
			<if test="displayNo != null and displayNo != ''">
				display_no,
			</if>
			<if test="isSupportPay != null">
				is_support_pay,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="createdBy != null and createdBy != ''">
				created_by,
			</if>
			<if test="oldAreaCode != null and oldAreaCode != ''">
				old_area_code,
			</if>
			<if test="isOnline != null ">
				is_online,
			</if>
			<if test="isSupportAccount != null ">
				is_support_account,
			</if>
			<if test="isBatchpay != null ">
				is_batchpay,
			</if>
			<if test="isDeleteParkrecord != null ">
				is_delete_parkrecord,
			</if>
			<if test="isMemberCardPay != null ">
				is_member_card_pay,
			</if>
			<if test="citySpell != null and citySpell != ''">
				city_spell,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			now(),'ADD',
			<if test="id != null ">
            <![CDATA[  #{id}, ]]>
			</if>
			<if test="areaCode != null and areaCode != ''">
				#{areaCode},
			</if>
			<if test="areaName != null and areaName != ''">
				#{areaName},
			</if>
			<if test="parentId != null and parentId != ''">
				#{parentId},
			</if>
			<if test="areaLevel != null and areaLevel != ''">
				#{areaLevel},
			</if>
			<if test="gatewayUrl != null and gatewayUrl != '' ">
				#{gatewayUrl},
			</if>
			<if test="longitudeGaode != null and longitudeGaode != ''">
				#{longitudeGaode},
			</if>
			<if test="latitudeGaode != null and latitudeGaode != ''">
				#{latitudeGaode},
			</if>
			<if test="longitudeBaidu != null and longitudeBaidu != ''">
				#{longitudeBaidu},
			</if>
			<if test="latitudeBaidu != null and latitudeBaidu != ''">
				#{latitudeBaidu},
			</if>
			<if test="displayNo != null and displayNo != ''">
				#{displayNo},
			</if>
			<if test="isSupportPay != null">
				#{isSupportPay},
			</if>
			<if test="remark != null and remark != ''">
				#{remark},
			</if>
			<if test="createdBy != null and createdBy != ''">
				#{createdBy},
			</if>
			<if test="oldAreaCode != null and oldAreaCode != ''">
				#{oldAreaCode},
			</if>
			<if test="isOnline != null">
				#{isOnline},
			</if>
			<if test="isSupportAccount != null ">
				#{isSupportAccount},
			</if>
			<if test="isBatchpay != null ">
				#{isBatchpay},
			</if>
			<if test="isDeleteParkrecord != null ">
				#{isDeleteParkrecord},
			</if>
			<if test="isMemberCardPay != null ">
				#{isMemberCardPay},
			</if>
			<if test="citySpell != null and citySpell != ''">
				#{citySpell},
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_AREA set
		<trim suffixOverrides=",">
			update_time = now(),
			<if test="areaCode != null and areaCode !=''">
				area_code = #{areaCode},
			</if>
			<if test="areaName != null and areaName !=''">
				area_name = #{areaName},
			</if>
			<if test="parentId != null and parentId !=''">
				parent_id = #{parentId},
			</if>
			<if test="areaLevel != null and areaLevel !=''">
				area_level = #{areaLevel},
			</if>
			<if test="gatewayUrl != null and gatewayUrl !=''">
				gateway_url = #{gatewayUrl},
			</if>
			<if test="longitudeGaode != null">
				longitude_gaode = #{longitudeGaode},
			</if>
			<if test="latitudeGaode != null">
				latitude_gaode = #{latitudeGaode},
			</if>
			<if test="longitudeBaidu != null">
				longitude_baidu = #{longitudeBaidu},
			</if>
			<if test="latitudeBaidu != null">
				latitude_baidu = #{latitudeBaidu},
			</if>
			<if test="displayNo != null">
				display_no = #{displayNo},
			</if>
			<if test="isSupportPay != null">
				is_support_pay = #{isSupportPay},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			flag = 'UPDATE',
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="isOnline != null">
				is_online = #{isOnline},
			</if>
			<if test="isSupportAccount != null">
				is_support_account = #{isSupportAccount},
			</if>
			<if test="isBatchpay != null">
				is_batchpay = #{isBatchpay},
			</if>
			<if test="isDeleteParkrecord != null">
				is_delete_parkrecord = #{isDeleteParkrecord},
			</if>
			<if test="isMemberCardPay != null">
				is_member_card_pay = #{isMemberCardPay},
			</if>
			<if test="citySpell != null and citySpell !=''">
				city_spell = #{citySpell},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_AREA where id
		= #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA where id = #{id}
		limit 1
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_AREA
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == null ">
			order by create_time
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<select id="queryAreaByParentCode" parameterType="Object"
		resultMap="BaseResultMap">
		select AREA_CODE from BASE_AREA where
		PARENT_ID= (select id
		from BASE_AREA where AREA_CODE = #{areaCode}) and
		FLAG!='DELETE'
	</select>

	<!-- 查询所有区域 -->
	<select id="queryAllArea" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where FLAG!='DELETE' and AREA_LEVEL in (1,2,3) order by
		DISPLAY_NO
	</select>

	<!-- 根据父级id查询下级区域 -->
	<select id="queryAreaByParentId" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where parent_id = #{parentId}
		order by display_no
	</select>

	<!-- 根据区域级别查询 -->
	<select id="queryArea" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where area_level = #{areaLevel}
		<!-- order by display_no -->
	</select>

	<!-- 根据区域编码查询区域 -->
	<select id="queryAreaByCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where area_code = #{areaCode}
	</select>

	<!-- 根据老的区域编码查询区域 -->
	<select id="queryAreaByOldAreaCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where 1=1 and old_area_code = #{oldAreaCode}
		and
		FLAG!='DELETE'
	</select>

	<!-- 根据区域编码模糊查询区域 -->
	<select id="queryAreaLikeCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where 1=1 and area_code like '${_parameter}%'
		order by
		DISPLAY_NO
	</select>

	<!-- 根据名称查找区域 -->
	<select id="queryByName" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where area_name = #{areaName}
	</select>

	<select id="queryAreaLevelById" resultType="java.lang.Integer"
		parameterType="Object">
		select area_level from BASE_AREA where
		id=#{id}
	</select>

	<select id="findAreaListByCityCodeOnline" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM (SELECT * FROM BASE_AREA WHERE parent_id =
		(SELECT id FROM BASE_AREA WHERE area_code= #{cityCode})
		OR area_code= #{cityCode})A WHERE A.is_online=1
	</select>

	<select id="findParentAreaByChildAreaCode" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT
		<include refid="Base_Column_List" />
		FROM base_area
		WHERE id IN (SELECT parent_id FROM base_area WHERE area_code = #{cityCode})
	</select>

	<select id="findParentAreaByAreaCode" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT
		<include refid="Base_Column_List" />
		FROM base_area
		WHERE id IN (SELECT parent_id FROM base_area WHERE area_code = #{cityCode})
	</select>

	<!--通过城市编码查询该城市下所有上线区域及该城市本身和其他城市所有上线区域 -->
	<select id="findOnlineAreaListByCityCode" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT * FROM base_area
		WHERE area_code LIKE '${cityCode}%' AND is_online=1
		UNION
		SELECT * FROM base_area WHERE is_online=1
	</select>

	<!-- 查询所有上线区域 -->
	<select id="queryAllOnlineArea" resultMap="BaseResultMap">
		SELECT * FROM
		base_area WHERE is_online=1
	</select>

	<!-- 查询所有上线区域 -->
	<select id="queryAreaByUser" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT * FROM base_area WHERE area_level>=#{areaLevel}
		and area_code=#{areaCode}
	</select>
	<!-- 根据区域级别查询 -->
	<select id="queryAreaByLevel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where area_level = #{areaLevel}
	</select>

	<!--查询城市下所有上线区域 -->
	<select id="findAllOnlineAreaCodeByCityCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT * FROM base_area
		WHERE flag!='DELETE' AND IS_ONLINE=1
		AND area_code LIKE '${_parameter}%'
	</select>
	<!-- 根据区域编码模糊查询区域 -->
	<select id="queryAreaLikeCodeByDep" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA
		where 1=1 and area_code like '${userCityCode}%'
		and
		area_code like '${code}%'
		order by DISPLAY_NO
	</select>
	<!-- 查询是否存在相同的区域编码 -->
	<select id="queryIsExist" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_AREA where area_code = #{areaCode}
		limit 1
	</select>
	<!-- 根据城市id查询上线城市（包括区域） -->
	<select id="getOnlineAreaNumByCityCode" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT count(1) FROM base_area WHERE area_code like
		'${_parameter}%' and is_online=1
	</select>
	<!-- 级联删除记录 -->
	<delete id="deleteByCode" parameterType="Object">
		delete from BASE_AREA
		where area_code like '${_parameter}%'
	</delete>
	<!-- 根据区域编码查询区域 -->
	<select id="findAreaOrderByDistance" resultMap="BaseResultMap" parameterType="Object">
		SELECT area_code,
 		ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitudeBaidu}*PI()/180-LATITUDE_BAIDU*PI()/180)/2),2)+COS(#{latitudeBaidu}*PI()/180)*COS(LATITUDE_BAIDU*PI()/180)* POW(SIN((#{longitudeBaidu}*PI()/180-LONGITUDE_BAIDU*PI()/180)/2),2)))*1000)
            AS distance
 		FROM base_area 
		WHERE flag!='DELETE' 
		<if test="areaCode!=null">
			AND area_code LIKE '${areaCode}%' 
		</if>
		and area_level = #{areaLevel}
		AND area_code IS NOT NULL 
		AND longitude_baidu IS NOT NULL
  		AND latitude_baidu IS NOT NULL
		ORDER BY distance ASC,area_code DESC  
	</select>
	
	<!-- 查询城市下所有区域 -->
	<select id="queryAllAreaLikeCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT *
		FROM BASE_AREA
		WHERE 1=1 AND area_code LIKE '${_parameter}%'
		AND AREA_LEVEL = 3
		ORDER BY area_code ASC;
	</select>
	
	<!-- 查询支持支付的区域 -->
	<select id="queryIsPayArea" resultMap="BaseResultMap">
		SELECT * FROM base_area 
		WHERE IS_SUPPORT_PAY = 1 AND flag != 'DELETE' AND IS_ONLINE = 1 
	</select>
	
	<!-- 查询支持会员卡使用的区域 -->
	<select id="queryIsMemberCardPayArea" resultMap="BaseResultMap">
		SELECT * FROM base_area 
		WHERE  flag != 'DELETE' AND is_member_card_pay = 1 
	</select>
	
	<!-- 查询支持会员卡使用的区域 -->
	<select id="findLikeAreaCodeAndIsMC" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM base_area 
		WHERE  flag != 'DELETE' AND is_member_card_pay = 1 
		   and area_code = #{_parameter} 
	</select>

	<!-- 根据区域编码模糊查询区域 -->
	<select id="queryAreaCodeLikeCode" resultType="java.lang.String" parameterType="Object">
		select
		area_code
		from BASE_AREA
		where area_code like '${_parameter}%'
		and flag != 'DELETE'
	</select>
</mapper>