<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.DepartmentDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Department">
		<result column="id" property="id" />
		<result column="city_code" property="cityCode" />
		<!-- <result column="region_id" property="regionId"/> -->
		<!-- <result column="region_name" property="regionName"/> -->
		<result column="area_code" property="areaCode" />
		<result column="department_name" property="departmentName" />
		<result column="parent_id" property="parentId" />
		<result column="contacts" property="contacts" />
		<result column="phone" property="phone" />
		<result column="address" property="address" />
		<!-- <result column="creator" property="creator"/> -->
		<!-- <result column="create_time" property="createTime"/> -->
		<!-- <result column="update_time" property="updateTime"/> -->
		<result column="order_num" property="orderNum" />
		<result column="note" property="note" />



		<!-- <result column="flag" property="flag" /> -->
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="city_name" property="cityName" />
		<result column="area_name" property="areaName" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		city_code,
		<!-- region_id, -->
		area_code,
		department_name,
		parent_id,
		contacts,
		phone,
		address,
		<!-- creator, -->
		created_by,
		updated_by,
		create_time,
		update_time,
		order_num,
		note,
		id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="cityCode != null and cityCode !='' ">
				and city_code = #{cityCode}
			</if>
			<if test="areaCode != null and areaCode !='' ">
				and area_code = #{areaCode}
			</if>
			<!-- <if test="regionId != null " > -->
			<!-- and region_id = #{regionId} -->
			<!-- </if> -->
			<if test="departmentName != null and departmentName !=''">
				and department_name = #{departmentName}
			</if>
			<if test="parentId != null ">
				and parent_id = #{parentId}
			</if>
			<if test="contacts != null ">
				and contacts = #{contacts}
			</if>
			<if test="phone != null ">
				and phone = #{phone}
			</if>
			<if test="address != null ">
				and address = #{address}
			</if>
			<!-- <if test="creator != null " > -->
			<!-- and creator = #{creator} -->
			<!-- </if> -->
			<if test="createdBy != null ">
				and created_by = #{createdBy}
			</if>
			<if test="updatedBy != null ">
				and updated_by = #{updatedBy}
			</if>
			<if test="createTime != null ">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and update_time = #{updateTime}
			</if>
			<if test="orderNum != null ">
				and order_num = #{orderNum}
			</if>
			<if test="note != null ">
				and note = #{note}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
		insert into BASE_DEPARTMENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,
			<if test="id != null ">
				id,
			</if>
			<if test="cityCode != null and cityCode != ''">
				city_code,
			</if>
			<if test="areaCode != null and areaCode != ''">
				area_code,
			</if>
			<!-- <if test="regionId != null " > -->
			<!-- region_id, -->
			<!-- </if> -->
			<if test="departmentName != null and departmentName != ''">
				department_name,
			</if>
			<if test="parentId != null and parentId != ''">
				parent_id,
			</if>
			<if test="contacts != null and contacts != ''">
				contacts,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="address != null and address != ''">
				address,
			</if>
			<!-- <if test="creator != null " > -->
			<!-- creator, -->
			<!-- </if> -->
			<if test="createdBy != null and createdBy != ''">
				created_by,
			</if>
			<if test="orderNum != null and orderNum != ''">
				order_num,
			</if>
			<if test="note != null and note != ''">
				note,
			</if>

		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			now(),
			<if test="id != null ">
            <![CDATA[  #{id}, ]]>
			</if>
			<if test="cityCode != null and cityCode != ''">  
            <![CDATA[  #{cityCode}, ]]>
			</if>
			<if test="areaCode != null and areaCode != ''">  
            <![CDATA[  #{areaCode}, ]]>
			</if>
			<!-- <if test="regionId != null " > -->
			<!-- <![CDATA[ #{regionId}, ]]> -->
			<!-- </if> -->
			<if test="departmentName != null and departmentName != ''">
          <![CDATA[  #{departmentName}, ]]>
			</if>
			<if test="parentId != null and parentId != ''">
          <![CDATA[  #{parentId}, ]]>
			</if>
			<if test="contacts != null and contacts != ''">
          <![CDATA[  #{contacts}, ]]>
			</if>
			<if test="phone != null and phone != ''">
          <![CDATA[  #{phone}, ]]>
			</if>
			<if test="address != null and address != ''">
          <![CDATA[  #{address}, ]]>
			</if>
			<!-- <if test="creator != null " > -->
			<!-- <![CDATA[ #{creator}, ]]> -->
			<!-- </if> -->
			<if test="createdBy != null and createdBy != ''">
          <![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="orderNum != null and orderNum != ''">
          <![CDATA[  #{orderNum}, ]]>
			</if>
			<if test="note != null and note != ''">
          <![CDATA[  #{note}, ]]>
			</if>


		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_DEPARTMENT set
		<trim suffixOverrides=",">
			update_time = now(),
			<if test="cityCode != null ">
      <![CDATA[  city_code = #{cityCode}, ]]>
			</if>
			<if test="areaCode != null ">
      <![CDATA[  area_code = #{areaCode}, ]]>
			</if>
			<!-- <if test="regionId != null " > -->
			<!-- <![CDATA[ region_id = #{regionId}, ]]> -->
			<!-- </if> -->
			<if test="departmentName != null ">
      <![CDATA[  department_name = #{departmentName}, ]]>
			</if>
			<if test="parentId != null ">
      <![CDATA[  parent_id = #{parentId}, ]]>
			</if>
			<if test="contacts != null ">
      <![CDATA[  contacts = #{contacts}, ]]>
			</if>
			<if test="phone != null ">
      <![CDATA[  phone = #{phone}, ]]>
			</if>
			<if test="address != null ">
      <![CDATA[  address = #{address}, ]]>
			</if>
			<!-- <if test="creator != null " > -->
			<!-- <![CDATA[ creator = #{creator}, ]]> -->
			<!-- </if> -->
			<if test="updatedBy != null ">
      <![CDATA[  updated_by = #{updatedBy}, ]]>
			</if>
			<if test="orderNum != null ">
      <![CDATA[  order_num = #{orderNum}, ]]>
			</if>
			<if test="note != null ">
      <![CDATA[  note = #{note}, ]]>
			</if>


		</trim>
		where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_DEPARTMENT
		where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_DEPARTMENT where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_DEPARTMENT
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		<!-- ,(select r.region_name from BASE_REGION r where d.region_id = r.id) 
			region_name -->
		from BASE_DEPARTMENT d
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

	<!-- 获取所有的部门（不带分页） -->
	<select id="queryAllDepartment" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_DEPARTMENT
		<include refid="Example_Where_Clause" />
		order by order_num asc
	</select>

	<!-- 获取所有的部门（不带分页） -->
	<select id="queryDepartmentByCityCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_DEPARTMENT
		<!-- where city_code = #{cityCode} -->
		order by order_num
	</select>

	<!-- 查询是否存在相同的部门 -->
	<select id="queryIsExist" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_DEPARTMENT where department_name = #{departmentName}
		limit 1
	</select>
	
	<!-- 根据部门名称查找部门 -->
	<select id="queryByName" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_DEPARTMENT
		where
		department_name = #{departmentName}
		<!-- and city_code = #{cityCode} -->
	</select>
	
	<!-- 根据parentId查询有无下级部门 -->
	<select id="queryByParentId" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from BASE_DEPARTMENT where parent_id = #{id}
	</select>
	
<!-- 页面关联区域表 -->
<!-- table all fields -->
	<sql id="Department_Column_List">
		ba1.area_name city_name,
		<!-- region_id, -->
		ba2.area_name area_name,
		t.city_code,
		t.area_code,
		t.department_name,
		t.parent_id,
		t.contacts,
		t.phone,
		t.address,
		<!-- creator, -->
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.order_num,
		t.note,
		t.id
	</sql>
	<!-- 列表总数 -->
	<select id="queryDepartmentByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from (
			select
			<include refid="Department_Column_List" />
			from BASE_DEPARTMENT t
			LEFT JOIN BASE_AREA ba1 ON t.city_code = ba1.area_code
			LEFT JOIN BASE_AREA ba2 ON t.area_code = ba2.area_code 
			where 1=1
			<if test="userCityCode != null and userCityCode != '' and areaCode!=null and areaCode != ''">
				and t.area_code LIKE '${userCityCode}%'
			</if>
			<if test="userCityCode != null and userCityCode != '' and areaCode == null">
				and t.city_code LIKE '${userCityCode}%'
			</if>
			<if test="pager.orderCondition == ''">
				order by t.order_num asc
			</if>
		) A
		limit 1
	</select>

	<!-- 查询列表 -->
	<select id="queryDepartmentByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Department_Column_List" />
		from BASE_DEPARTMENT t
		LEFT JOIN BASE_AREA ba1 ON t.city_code = ba1.area_code
		LEFT JOIN BASE_AREA ba2 ON t.area_code = ba2.area_code 
		where 1=1
		<if test="userCityCode != null and userCityCode != '' and areaCode!=null and areaCode != ''">
			and t.area_code LIKE '${userCityCode}%'
		</if>
		<if test="userCityCode != null and userCityCode != '' and areaCode == null">
			and t.city_code LIKE '${userCityCode}%'
		</if>
		<if test="pager.orderCondition == ''">
			order by t.order_num asc
		</if>
	</select>
	
	<!-- 根据parentId查询有无下级部门 -->
	<select id="queryDepartmentByParentId" resultMap="BaseResultMap" parameterType="Object">
		select 
		<include refid="Department_Column_List" />
		from BASE_DEPARTMENT t
		LEFT JOIN BASE_AREA ba1 ON t.city_code = ba1.area_code
		LEFT JOIN BASE_AREA ba2 ON t.area_code = ba2.area_code 
		where t.parent_id = #{parentId}
		and t.area_code LIKE '${userCityCode}%'
		or t.parent_id = #{parentId} and t.city_code LIKE '${userCityCode}%'
	</select>
	
	<!-- 根据id查询 -->
	<select id="queryDepartmentById" resultMap="BaseResultMap" parameterType="Object">
		select 
		<include refid="Department_Column_List" />
		from BASE_DEPARTMENT t
		LEFT JOIN BASE_AREA ba1 ON t.city_code = ba1.area_code
		LEFT JOIN BASE_AREA ba2 ON t.area_code = ba2.area_code 
		where t.id = #{id}
		limit 1
	</select>
	
	<!-- 查询是否各分公司客服 -->
	<select id="queryRoleOfCS" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM base_department t
 		LEFT JOIN base_user t1 ON t.id=t1.DEPARTMENT_ID
 		WHERE t.DEPARTMENT_NAME = '客服组'
   		 AND t1.id = #{_parameter}
   		LIMIT 1
	</select>
	
</mapper>   
