<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.DictionaryDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Dictionary">
		<result column="id" property="id" />
		<result column="code_type" property="codeType" />
		<result column="code_value" property="codeValue" />
		<result column="code_text" property="codeText" />
		<result column="code_type_desc" property="codeTypeDesc" />
		<result column="state" property="state" />
		<result column="order_num" property="orderNum" />
		<result column="is_default" property="isDefault" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<!-- dictionary table all fields -->
	<sql id="Base_Column_List">
		id,code_type,code_value,code_text,state,code_type_desc,order_num,is_default,created_by,updated_by,create_time,update_time
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1 = 1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="codeType != null and codeType != ''">
				and code_type = #{codeType}
			</if>
			<if test="codeValue != null and codeValue != ''">
				and code_value = #{codeValue}
			</if>
			<if test="codeText != null and codeText != ''">
				and code_text like CONCAT('%',#{codeText},'%')
			</if>
			<if test="codeTypeDesc != null and codeTypeDesc != ''">
				and code_type_desc like CONCAT('%',#{codeTypeDesc},'%')
			</if>
			<if test="state != null">
				and state = #{state}
			</if>
			<if test="orderNum != null">
				and order_num = #{orderNum}
			</if>
			<if test="isDefault != null and isDefault != ''">
				and is_default = #{isDefault}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and created_by like CONCAT('%',#{createdBy},'%')
			</if>
			<if test="updatedBy != null and updatedBy != ''">
				and updated_by like CONCAT('%',#{updatedBy},'%')
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time like CONCAT('%',#{createTime},'%')
			</if>
			<if test="updateTime != null and updateTime != ''">
				and update_time like CONCAT('%',#{updateTime},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
		insert into base_dictionary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,
			<if test="id != null ">
				id,
			</if>
			<if test="codeType != null and codeType != ''">
				code_type,
			</if>
			<if test="codeValue != null and codeValue != ''">
				code_value,
			</if>
			<if test="codeText != null and codeText != ''">
				code_text,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="codeTypeDesc != null and codeTypeDesc != ''">
				code_type_desc,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
			<if test="createdBy != null ">
				created_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			now(),
			<if test="id != null ">
            <![CDATA[  #{id}, ]]>
			</if>
			<if test="codeType != null and codeType != ''">
				#{codeType},
			</if>
			<if test="codeValue != null and codeValue != ''">
				#{codeValue},
			</if>
			<if test="codeText != null and codeText != ''">
				#{codeText},
			</if>
			<if test="state != null">
				#{state},
			</if>
			<if test="orderNum != null">
				#{orderNum},
			</if>
			<if test="codeTypeDesc != null and codeTypeDesc != ''">
				#{codeTypeDesc},
			</if>
			<if test="isDefault != null">
				#{isDefault},
			</if>
			<if test="createdBy != null ">
				#{createdBy},
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update base_dictionary set
		<trim suffixOverrides=",">
			update_time = now(),
			<if test="codeType != null">
				code_type = #{codeType},
			</if>
			<if test="codeValue != null">
				code_value = #{codeValue},
			</if>
			<if test="codeText != null">
				code_text = #{codeText},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="orderNum != null">
				order_num = #{orderNum},
			</if>
			<if test="codeTypeDesc != null">
				code_type_desc = #{codeTypeDesc},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault},
			</if>
			<if test="updatedBy != null ">
				updated_by = #{updatedBy},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from base_dictionary
		where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from base_dictionary
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by code_type desc,order_num asc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

	<!-- 检查是否存在 -->
	<select id="getDictionaryByTypeAndValue" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary where 1 = 1
		and code_type = #{codeType}
		and code_value = #{codeValue}
		limit 1
	</select>

	<!-- 根据类型查询 -->
	<select id="getByCodeTypeAndCityCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary where code_type = #{codeType} and state = 0
		ORDER BY order_num ASC
		<!-- <if test=" cityCode != null"> -->
		<!-- and city_code = #{cityCode} -->
		<!-- </if> -->
	</select>

	<!-- 查询所有 -->
	<select id="getAllCode" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary
	</select>

	<!-- 根据类型查询 -->
	<select id="queryByCodeType" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary where code_type = #{codeType} and state = 0
	</select>
	
	<!-- 查询所有有效数据 -->
	<select id="getAllDictionary" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from base_dictionary
		where state = 0
	</select>
	
</mapper>   
