<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.ModuleBtnDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.ModuleBtn">
		<result column="id" property="id" />
		<result column="module_id" property="moduleId" />
		<result column="btn_name" property="btnName" />
		<result column="btn_type" property="btnType" />
		<result column="action_urls" property="actionUrls" />
	</resultMap>

	<!-- dictionary table all fields -->
	<sql id="Base_Column_List">
		module_id,
		btn_name,
		btn_type,
		action_urls,
		id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="moduleId != null ">
				and module_id = #{moduleId}
			</if>
			<if test="btnName != null ">
				and btn_name = #{btnName}
			</if>
			<if test="btnType != null ">
				and btn_type = #{btnType}
			</if>
			<if test="actionUrls != null ">
				and action_urls = #{actionUrls}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
		insert into BASE_MODULE_BTN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">
				id,
			</if>
			<if test="moduleId != null ">
				module_id,
			</if>
			<if test="btnName != null ">
				btn_name,
			</if>
			<if test="btnType != null ">
				btn_type,
			</if>
			<if test="actionUrls != null ">
				action_urls,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">
            <![CDATA[  #{id}, ]]>
			</if>
			<if test="moduleId != null ">
				#{moduleId},
			</if>
			<if test="btnName != null ">
				#{btnName},
			</if>
			<if test="btnType != null ">
				#{btnType},
			</if>
			<if test="actionUrls != null ">
				#{actionUrls},
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_MODULE_BTN set
		<trim suffixOverrides=",">
			<if test="moduleId != null ">
				module_id = #{moduleId},
			</if>
			<if test="btnName != null ">
				btn_name = #{btnName},
			</if>
			<if test="btnType != null ">
				btn_type = #{btnType},
			</if>
			<if test="actionUrls != null ">
				action_urls = #{actionUrls},
			</if>
		</trim>
		where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_MODULE_BTN
		where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_MODULE_BTN where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_MODULE_BTN
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_MODULE_BTN
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

	<!-- 通过module_id查询按钮 -->
	<select id="queryListByModuleId" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_MODULE_BTN where module_id =#{id}
	</select>

	<!-- 获取所有按钮 -->
	<select id="queryAllMuduleBtn" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_MODULE_BTN
	</select>


	<!-- 根据用户id查询按钮 -->
	<select id="getModuleBtnByUser" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT DISTINCT * FROM BASE_MODULE_BTN b
		WHERE EXISTS (
		SELECT * FROM BASE_ROLE_REL r
		WHERE r.obj_id = b.id AND r.rel_type = 2
		AND EXISTS (
		SELECT 1 FROM BASE_ROLE_REL u WHERE u.role_id = r.role_id
		AND u.rel_type = 1
		AND u.obj_id =#{userId}
		)
		)
	</select>

	<!-- 按照模块ID删除按钮 -->
	<delete id="deleteByModuleId" parameterType="Object">
		delete from
		BASE_MODULE_BTN where module_id = #{id}
	</delete>
</mapper>   
