<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.ParaDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Para">
		<result column="id" property="id" />
		<result column="para_value" property="paraValue" />
		<result column="para_name" property="paraName" />
		<result column="para_desc" property="paraDesc" />
		<result column="para_type" property="paraType" />
		<result column="state" property="state" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		para_value,
		para_name,
		para_desc,
		para_type,
		state,
		created_by,
		updated_by,
		create_time,
		update_time,
		id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="paraValue != null and paraValue != ''">
				and para_value = #{paraValue}
			</if>
			<if test="paraName != null and paraName != ''">
				and para_name = #{paraName}
			</if>
			<if test="paraDesc != null and paraDesc != ''">
				and para_desc = #{paraDesc}
			</if>
			<if test="state != null and state != ''">
				and state = #{state}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and created_by like CONCAT('%',#{createdBy},'%')
			</if>
			<if test="updatedBy != null and updatedBy != ''">
				and updated_by like CONCAT('%',#{updatedBy},'%')
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time like CONCAT('%',#{createTime},'%')
			</if>
			<if test="updateTime != null and updateTime != ''">
				and update_time like CONCAT('%',#{updateTime},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
		insert into BASE_PARA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,
			<if test="id != null ">
				id,
			</if>
			<if test="paraValue != null ">
				para_value,
			</if>
			<if test="paraName != null ">
				para_name,
			</if>
			<if test="paraDesc != null ">
				para_desc,
			</if>
			<if test="paraType != null ">
				para_type,
			</if>
			<if test="state != null ">
				state,
			</if>
			<if test="createdBy != null ">
				created_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			now(),
			<if test="id != null ">
            <![CDATA[  #{id}, ]]>
			</if>
			<if test="paraValue != null ">
          <![CDATA[  #{paraValue}, ]]>
			</if>
			<if test="paraName != null ">
          <![CDATA[  #{paraName}, ]]>
			</if>
			<if test="paraDesc != null ">
          <![CDATA[  #{paraDesc}, ]]>
			</if>
			<if test="paraType != null ">
    	  <![CDATA[  #{paraType}, ]]>
			</if>
			<if test="state != null ">
          <![CDATA[  #{state}, ]]>
			</if>
			<if test="createdBy != null ">
          <![CDATA[ #{createdBy},]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_PARA set
		<trim suffixOverrides=",">
			update_time = now(),
			<if test="paraValue != null ">
      <![CDATA[  para_value = #{paraValue}, ]]>
			</if>
			<if test="paraName != null ">
      <![CDATA[  para_name = #{paraName}, ]]>
			</if>
			<if test="paraDesc != null ">
      <![CDATA[  para_desc = #{paraDesc}, ]]>
			</if>
			<if test="state != null ">
      <![CDATA[  state = #{state}, ]]>
			</if>
			<if test="paraType != null ">
      <![CDATA[ para_type =  #{paraType}, ]]>
			</if>
			<if test="updatedBy != null ">
      <![CDATA[ updated_by = #{updatedBy},]]>
			</if>
		</trim>
		where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_PARA where id
		= #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_PARA where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_PARA
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_PARA
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by create_time desc,id desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

	<!-- 通过条件查询参数 -->
	<select id="getParaByKeyAndCityCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_PARA where 1 = 1
		<if test="paraName != null and paraName != ''">
			and PARA_NAME = #{paraName}
		</if>
	</select>
	<select id="getParaByKey" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_PARA where PARA_NAME = #{paraName}
		AND state = 0
	</select>

	<!-- 查询所有参数 -->
	<select id="getAllPara" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_PARA where state = 0
	</select>

	<select id="getParaByParaType" resultMap="BaseResultMap"
		parameterType="Object">
		select
		para_value,
		para_name,
		para_desc,
		para_type,
		state,
		id
		from BASE_PARA where STATE=0 and ( para_type = #{paraType} or
		para_type =0
		)
	</select>


	<select id="getParaByParaTypeAndName" resultMap="BaseResultMap"
		parameterType="Object">
		select
		para_value,
		para_name,
		para_desc,
		para_type,
		state,
		id
		from BASE_PARA where STATE=0 and ( para_type = #{paraType} or
		para_type =0
		)
		and PARA_NAME=#{paraName}
	</select>
</mapper>   
