<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.QuartzDetailDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.QuartzDetail">
		<result column="id" property="id" />
		<result column="quartz_id" property="quartzId" />
		<result column="name" property="name" />
		<result column="excute_time" property="excuteTime" />
		<result column="mission" property="mission" />
		<result column="result" property="result" />
		<result column="note" property="note" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		quartz_id,
		excute_time,
		mission,
		result,
		note,
		id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="quartzId != null ">
				and quartz_id = #{quartzId}
			</if>
			<if test="excuteTime != null ">
				and excute_time = #{excuteTime}
			</if>
			<if test="mission != null and mission != '' ">
				and mission = #{mission}
			</if>
			<if test="result != null and result != '' ">
				and result = #{result}
			</if>
			<if test="note != null and note != '' ">
				and note = #{note}
			</if>


		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into BASE_QUARTZ_DETAIL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="quartzId != null ">
				quartz_id,
			</if>
			<if test="excuteTime != null ">
				excute_time,
			</if>
			<if test="mission != null and mission != '' ">
				mission,
			</if>
			<if test="result != null and result != '' ">
				result,
			</if>
			<if test="note != null and note != '' ">
				note,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="quartzId != null ">
  		<![CDATA[  #{quartzId}, ]]>
			</if>
			<if test="excuteTime != null ">
  		<![CDATA[  #{excuteTime}, ]]>
			</if>
			<if test="mission != null and mission != '' ">
  		<![CDATA[  #{mission}, ]]>
			</if>
			<if test="result != null and result != '' ">
  		<![CDATA[  #{result}, ]]>
			</if>
			<if test="note != null and note != '' ">
  		<![CDATA[  #{note}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_QUARTZ_DETAIL set
		<trim suffixOverrides=",">
			<if test="quartzId != null ">
  	<![CDATA[  quartz_id = #{quartzId}, ]]>
			</if>
			<if test="excuteTime != null ">
  	<![CDATA[  excute_time = #{excuteTime}, ]]>
			</if>
			<if test="mission != null and mission != '' ">
  	<![CDATA[  mission = #{mission}, ]]>
			</if>
			<if test="result != null and result != '' ">
  	<![CDATA[  result = #{result}, ]]>
			</if>
			<if test="note != null and note != '' ">
  	<![CDATA[  note = #{note}, ]]>
			</if>
		</trim>
		where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_QUARTZ_DETAIL
		where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_QUARTZ_DETAIL where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_QUARTZ_DETAIL
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		,
		(select name from BASE_QUARTZ bq where bqd.quartz_id = bq.id) name
		from BASE_QUARTZ_DETAIL bqd
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by excute_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->

</mapper>   
