<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.QuartzDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.Quartz">
		<result column="id" property="id" />
		<!-- <result column="city_code" property="cityCode"/> -->
		<result column="name" property="name" />
		<result column="note" property="note" />
		<result column="excute_time" property="excuteTime" />
		<result column="repeat_time" property="repeatTime" />
		<result column="is_running" property="isRunning" />
		<result column="creator" property="creator" />
		<result column="create_time" property="createTime" />
		<result column="deleted" property="deleted" />
		<result column="if_start" property="ifStart" />
		<result column="ip_limited" property="ipLimited" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		<!-- city_code, -->
		name,
		note,
		excute_time,
		repeat_time,
		is_running,
		creator,
		create_time,
		deleted,
		if_start,
		ip_limited,
		id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where deleted = 0
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<!-- <if test="cityCode != null and cityCode != '' " > -->
			<!-- and city_code = #{cityCode} -->
			<!-- </if> -->
			<if test="name != null and name != '' ">
				and name = #{name}
			</if>
			<if test="note != null and note != '' ">
				and note = #{note}
			</if>
			<if test="excuteTime != null ">
				and excute_time = #{excuteTime}
			</if>
			<if test="repeatTime != null and repeatTime != '' ">
				and repeat_time = #{repeatTime}
			</if>
			<if test="isRunning != null and isRunning != '' ">
				and is_running = #{isRunning}
			</if>
			<if test="creator != null and creator != '' ">
				and creator = #{creator}
			</if>
			<if test="createTime != null ">
				and create_time = #{createTime}
			</if>
			<if test="ifStart != null ">
				and if_start = #{ifStart}
			</if>
			<if test="ipLimited != null ">
				and ip_limited = #{ipLimited}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into BASE_QUARTZ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<!-- <if test="cityCode != null and cityCode != '' " > -->
			<!-- city_code, -->
			<!-- </if> -->
			<if test="name != null and name != '' ">
				name,
			</if>
			<if test="note != null and note != '' ">
				note,
			</if>
			<if test="excuteTime != null ">
				excute_time,
			</if>
			<if test="repeatTime != null and repeatTime != '' ">
				repeat_time,
			</if>
			<if test="isRunning != null and isRunning != '' ">
				is_running,
			</if>
			<if test="creator != null and creator != '' ">
				creator,
			</if>
			<if test="createTime != null ">
				create_time,
			</if>
			<if test="deleted != null ">
				deleted,
			</if>
			<if test="ifStart != null and ifStart != '' ">
				if_start,
			</if>
			<if test="ipLimited != null and ipLimited != '' ">
				ip_limited,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="cityCode != null and cityCode != '' ">
  		<![CDATA[  #{cityCode}, ]]>
			</if>
			<if test="name != null and name != '' ">
  		<![CDATA[  #{name}, ]]>
			</if>
			<if test="note != null and note != '' ">
  		<![CDATA[  #{note}, ]]>
			</if>
			<if test="excuteTime != null ">
  		<![CDATA[  #{excuteTime}, ]]>
			</if>
			<if test="repeatTime != null and repeatTime != '' ">
  		<![CDATA[  #{repeatTime}, ]]>
			</if>
			<if test="isRunning != null and isRunning != '' ">
  		<![CDATA[  #{isRunning}, ]]>
			</if>
			<if test="creator != null and creator != '' ">
  		<![CDATA[  #{creator}, ]]>
			</if>
			<if test="createTime != null ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="deleted != null  ">
  		<![CDATA[  #{deleted}, ]]>
			</if>
			<if test="ifStart != null and ifStart != '' ">
		<![CDATA[  #{ifStart}, ]]>
			</if>
			<if test="ipLimited != null and ipLimited != '' ">
		<![CDATA[  #{ipLimited}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_QUARTZ set
		<trim suffixOverrides=",">
			<!-- <if test="cityCode != null and cityCode != '' " > -->
			<!-- <![CDATA[ city_code = #{cityCode}, ]]> -->
			<!-- </if> -->
			<if test="name != null and name != '' ">
  	<![CDATA[  name = #{name}, ]]>
			</if>
			<if test="note != null and note != '' ">
  	<![CDATA[  note = #{note}, ]]>
			</if>
			<if test="excuteTime != null ">
  	<![CDATA[  excute_time = #{excuteTime}, ]]>
			</if>
			<if test="repeatTime != null and repeatTime != '' ">
  	<![CDATA[  repeat_time = #{repeatTime}, ]]>
			</if>
			<if test="isRunning != null and isRunning != '' ">
  	<![CDATA[  is_running = #{isRunning}, ]]>
			</if>
			<if test="creator != null and creator != '' ">
  	<![CDATA[  creator = #{creator}, ]]>
			</if>
			<if test="createTime != null ">
  	<![CDATA[  create_time = #{createTime}, ]]>
			</if>
			<if test="deleted != null and deleted != '' ">
  	<![CDATA[  deleted = #{deleted}, ]]>
			</if>
			<if test="ifStart != null and ifStart != '' ">
		<![CDATA[ if_start = #{ifStart}, ]]>
			</if>
			<if test="ipLimited != null and ipLimited != '' ">
		<![CDATA[ ip_limited =  #{ipLimited}, ]]>
			</if>
		</trim>
		where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_QUARTZ where
		id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_QUARTZ where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from BASE_QUARTZ
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_QUARTZ
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by name desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<!-- 查询所有任务（不分页） -->
	<select id="queryAllJob" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_QUARTZ
		<include refid="Example_Where_Clause" />
	</select>
</mapper>   
