<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.RosePieDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="java.util.Map" >
	<result column="alipayOrderPayAmount" property="alipayOrderPayAmount" javaType="java.lang.String"/>
	<result column="wxpayOrderPayAmount" property="wxpayOrderPayAmount" javaType="java.lang.String"/>
	<result column="onlineCityAmount" property="onlineCityAmount" javaType="java.lang.String"/>
	<result column="areaCode" property="areaCode" javaType="java.lang.String"/>
	<result column="payfeeUsersCount" property="payfeeUsersCount" javaType="java.lang.String"/>
	<result column="registerUsersCount" property="registerUsersCount" javaType="java.lang.String"/>
	<result column="registerUsersCountYesterday" property="registerUsersCountYesterday" javaType="java.lang.String"/>
	<result column="androidRegisterUserCount" property="androidRegisterUserCount" javaType="java.lang.String"/>
	<result column="iosRegisterUserCount" property="iosRegisterUserCount" javaType="java.lang.String"/>
	<result column="deviceType" property="deviceType" javaType="java.lang.String"/>
	<result column="registerUserCount" property="registerUserCount" javaType="java.lang.String"/>
	<result column="cityCode" property="cityCode" javaType="java.lang.String"/>
</resultMap>

<!-- *************************************首页p2.jsp查询分割线****************************************************** -->
<!--查询支付宝交易成功金额 -->
<select id="getAliPayTypeAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	   SELECT ROUND(SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END)/100,2) alipayOrderPayAmount
  	   FROM app_order t WHERE t.order_status = 200 AND t.pay_type = 1
  	   AND t.order_time BETWEEN STR_TO_DATE('${queryData} 00:00:00','%Y-%m-%d %H:%i:%s') 
							  AND STR_TO_DATE('${queryData} 23:59:59','%Y-%m-%d %H:%i:%s') 
 	   <trim>
       	  <if test="cityCode != null and cityCode!= '' ">
       		  AND t.area_code like '${cityCode}%'
       	  </if>
       </trim>
</select>

<!--查询微信交易成功金额 -->
<select id="getWxPayTypeAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	 SELECT ROUND(SUM(CASE WHEN t.price>0 THEN t.price ELSE 0 END)/100,2)  wxpayOrderPayAmount
     FROM app_order t WHERE t.order_status = 200 AND t.pay_type = 2
      AND t.order_time BETWEEN STR_TO_DATE('${queryData} 00:00:00','%Y-%m-%d %H:%i:%s') 
							  AND STR_TO_DATE('${queryData} 23:59:59','%Y-%m-%d %H:%i:%s') 
	  <trim>
       	<if test="cityCode != null and cityCode!= '' ">
       		AND t.area_code like '${cityCode}%'
       	</if>
      </trim>
</select>

<!--查询各区域交易成功金额 -->
<select id="getOnlineCityAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	      SELECT ROUND(SUM(CASE WHEN t.PRICE>0 THEN t.price ELSE 0 END)/100,2)  onlineCityAmount
          FROM app_order t
          WHERE t.order_status=200 
           AND t.order_time BETWEEN STR_TO_DATE('${queryData} 00:00:00','%Y-%m-%d %H:%i:%s') 
							    AND STR_TO_DATE('${queryData} 23:59:59','%Y-%m-%d %H:%i:%s') 
          AND t.area_code = #{areaCode}
</select>

<!-- ********************************p2.jsp结束,p4.jsp开始******************************* -->
<!--查询折线图七天运营数据 -->
<select id="queryLineParamByDay" resultMap="BaseResultMap"  parameterType="java.util.Map">
	  SELECT CASE WHEN TRAN_SUCCESS_AMOUNT IS NULL THEN 0 ELSE ROUND(TRAN_SUCCESS_AMOUNT/100,2) END onlineCityAmount
      FROM app_stat_daily WHERE day_time = #{_queryDate} 
       AND area_code = #{areaCode} ORDER BY day_time asc
</select>
<!-- ********************************p4.jsp结束,p3.jsp开始*********************************** -->
<!--查询缴费用户数 -->
<select id="queryPayFeeUserCount" resultMap="BaseResultMap"  parameterType="java.util.Map">
 	  SELECT COUNT(DISTINCT t.user_id) payfeeUsersCount 
 	  FROM app_order t
   	  LEFT JOIN app_user t1 ON t.user_id = t1.id
   	  WHERE t.order_status = 200 
   	    AND t.order_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
							 AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		AND t1.create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
							 AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')	
</select>

<!--查询注册用户数 -->
<select id="queryRegisterUserCount" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT COUNT(1) registerUsersCount
 	FROM app_user 
    WHERE FLAG != 'DELETE' 
    AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
					   AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
</select>

<!--查询指定区域注册用户数 -->
<select id="queryRegisterUserCountYesterday" resultMap="BaseResultMap"  parameterType="java.util.Map">
   	  SELECT COUNT(1) registerUsersCountYesterday
   	  FROM app_user_ext 
   	  WHERE flag != 'DELETE'
   	  AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
					      AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      <if test="areaCode != null and areaCode == 0">
      	 AND city_code is null
      </if>
      <if test="areaCode != null and areaCode != 0">
      	 AND city_code LIKE '${areaCode}%'
      </if>
      
</select>

<!-- 查询 Android注册用户数  -->
<select id="queryRegisterUserCountYesterdayByAndroid" resultMap="BaseResultMap"  parameterType="java.util.Map">
   	  SELECT COUNT(1) androidRegisterUserCount
   	  FROM app_user_ext 
   	  WHERE flag != 'DELETE' AND  device_type = 1
   	  AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
					      AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	  <if test="cityCode != null and cityCode != '' ">	
      	 AND city_code LIKE '${cityCode}%'
      </if>
</select>

<!-- 查询IOS注册用户数 -->
<select id="queryRegisterUserCountYesterdayByIOS" resultMap="BaseResultMap"  parameterType="java.util.Map">
   	  SELECT COUNT(1) iosRegisterUserCount
   	  FROM app_user_ext 
   	  WHERE flag != 'DELETE' AND  device_type = 2
   	  AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
					      AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
	  <if test="cityCode != null and cityCode != '' ">
      	 AND city_code LIKE '${cityCode}%'
      </if>
</select>

<resultMap id="onlineCityAmountMap" type="com.innotek.system.entity.ChartRosePieEntity" >
	<result column="areaCode" property="areaCode" javaType="java.lang.String"/>
	<result column="onlineCityAmount" property="onlineCityAmount" javaType="java.lang.String"/>
</resultMap>

<!-- 获取各区域交易金额 -->
<select id="getAmountByArea" resultMap="onlineCityAmountMap"  parameterType="java.util.Map">
	 SELECT t.area_code areaCode,ROUND(SUM(CASE WHEN t.PRICE>0 THEN t.price ELSE 0 END)/100,2)  onlineCityAmount
          FROM app_order t
          WHERE t.order_status=200 
           AND t.order_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
							    AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s') 
		   <if test="cityCode != null and cityCode != '' ">
	      	 AND area_code LIKE '${cityCode}%'
	      </if>
          GROUP BY t.area_code
</select>

<resultMap id="deviceRegisterUserMap" type="com.innotek.system.entity.ChartStandardRingPieEntity" >
	<result column="deviceType" property="deviceType" javaType="java.lang.Integer"/>
	<result column="registerUserCount" property="registerUserCount" javaType="java.lang.Integer"/>
</resultMap>

<!-- 查询各用户终端类型 -->
<select id="getRegisterCountByDevice" resultMap="deviceRegisterUserMap"  parameterType="java.util.Map">
	 SELECT device_type deviceType,COUNT(1) registerUserCount
   	  FROM app_user_ext 
   	  WHERE flag != 'DELETE' AND device_type IS NOT NULL
   	  AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
					      AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      <if test="cityCode != null and cityCode != '' ">
      	 AND city_code LIKE '${cityCode}%'
      </if>
      GROUP BY device_type
</select>

<resultMap id="areaRegisterUserMap" type="com.innotek.system.entity.ChartRingPieEntity" >
	<result column="cityCode" property="cityCode" javaType="java.lang.String"/>
	<result column="registerUserCount" property="registerUserCount" javaType="java.lang.String"/>
</resultMap>

<!-- 根据区域查询注册用户 -->
<select id="getRegisterUserByArea" resultMap="areaRegisterUserMap"  parameterType="java.util.Map">
      SELECT city_code cityCode,COUNT(1) registerUserCount
   	  FROM app_user_ext 
   	  WHERE flag != 'DELETE'
   	  AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s') 
					      AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
      <if test="cityList != null and cityList != '' ">
        and 
      	 <foreach collection="cityList" open="(" close=")" item="item" separator="or">
	      	 <if test="item.areaCode == 0">
	      	 	city_code is null
	      	 </if>
	      	 <if test="item.areaCode != 0">
	      	 	city_code like '${item.areaCode}%'
	      	 </if>
		 </foreach>
      </if>
      	 GROUP BY city_code
</select>

</mapper>   
