<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.ServiceDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.system.entity.ServiceEntity" >
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="service" property="service"/>
		<result column="data" property="data"/>
		<result column="data_desc" property="dataDesc"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.name,
		 t.service,
		 t.data,
	     t.id,
	     t.data_desc
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != '' " >
    	and t.id =  #{id}
	</if>
	<if test="name != null and name != '' " >
    	and t.name like '%${name}%'
	</if>
	<if test="service != null and service != '' " >
    	and t.service like '%${service}%'
	</if>
	<if test="data != null and data != '' " >
    	and t.data =  #{data}
	</if>
	<if test="dataDesc != null and dataDesc != '' " >
    	and t.data_desc =  #{dataDesc}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_service 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
		 id,
		</if>
    	<if test="name != null and name != '' " >
		 name,
		</if>
    	<if test="service != null and service != '' " >
		 service,
		</if>
    	<if test="data != null and data != '' " >
		 data,
		</if>
		<if test="dataDesc != null and dataDesc != '' " >
		 data_desc,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
    	<if test="name != null and name != '' " >
  		<![CDATA[  #{name}, ]]>
    	</if>
    	<if test="service != null and service != '' " >
  		<![CDATA[  #{service}, ]]>
    	</if>
    	<if test="data != null and data != '' " >
  		<![CDATA[  #{data}, ]]>
    	</if>
    	<if test="dataDesc != null and dataDesc != '' " >
  		<![CDATA[  #{dataDesc}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_service t set 
   <trim suffixOverrides="," >
	<if test="id != null and id != '' " >
  	<![CDATA[  t.id = #{id}, ]]>
    </if>
    <if test="name != null and name != '' " >
  	<![CDATA[  t.name = #{name}, ]]>
    </if>
    <if test="service != null and service != '' " >
  	<![CDATA[  t.service = #{service}, ]]>
    </if>
    <if test="data != null and data != '' " >
  	<![CDATA[  t.data = #{data}, ]]>
    </if>
    <if test="dataDesc != null and dataDesc != '' " >
  	<![CDATA[  t.data_desc = #{dataDesc}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_service  where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_service t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_service t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_service t 
	<include refid="Example_Where_Clause"/>
	order by create_time desc
	
	<!-- <if test="pager.orderCondition == ''">
		order by t.id desc
	</if> -->
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<select id="queryService" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_service t 
</select>
<select id="queryServiceById" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	from app_service t
	where t.id = #{id}
</select>
<select id="queryServiceByName" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	from app_service t
	where t.name = #{name}
</select>
<select id="queryServiceByService" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	from app_service t
	where t.service = #{service}
</select>

<!-- 根据name，service,data,dataDesc查询 -->
<select id="queryServiceByNSDD" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	from app_service t
	<include refid="Example_Where_Clause"/>
</select>

</mapper>   
