<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.system.dao.UserDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.innotek.system.entity.User">
		<result column="id" property="id" />
		<result column="city_code" property="cityCode" />
		<result column="area_name" property="areaName" />
		<result column="department_id" property="departmentId" />
		<result column="department_name" property="departmentName" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="gender" property="gender" />
		<result column="phone" property="phone" />
		<result column="salt" property="salt" />
		<result column="nickname" property="nickname" />
		<result column="email" property="email" />
		<result column="state" property="state" />
		<result column="super_admin" property="superAdmin" />
		<result column="login_count" property="loginCount" />
		<result column="note" property="note" />
		<result column="pwdstrong" property="pwdStrong"/>
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="role_name" property="roleName" />
		<result column="role_level" property="roleLevel" />
	</resultMap>

	<!-- dictionary table all fields -->
	<sql id="Base_Column_List">
		city_code,
		department_id,
		account,
		password,
		name,
		gender,
		phone,
		salt,
		nickname,
		email,
		state,
		super_admin,
		login_count,
		note,
		pwdstrong,
		create_time,
		update_time,
		created_by,
		updated_by,
		id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="cityCode != null">
				and city_code = #{cityCode}
			</if>
			<if test="departmentId != null ">
				and department_id = #{departmentId}
			</if>
			<if test="account != null and account !=''">
				and account = #{account}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="name != null and name!=''">
				and name like CONCAT('%',#{name},'%')
			</if>
			<if test="gender != null and gender!=''">
				and gender = #{gender}
			</if>
			<if test="phone != null ">
				and phone = #{phone}
			</if>
			<if test="salt != null ">
				and salt = #{salt}
			</if>
			<if test="nickname != null ">
				and nickname = #{nickname}
			</if>
			<if test="email != null ">
				and email = #{email}
			</if>
			<if test="state != null ">
				and state = #{state}
			</if>
			<if test="superAdmin != null ">
				and super_admin = #{superAdmin}
			</if>
			<if test="loginCount != null ">
				and login_count = #{loginCount}
			</if>
			<if test="note != null ">
				and note = #{note}
			</if>
			<if test="pwdStrong != null ">
				and pwdstrong = #{pwdStrong}
			</if>
			<if test="createTime != null ">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and update_time = #{updateTime}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and created_by like CONCAT('%',#{createdBy},'%')
			</if>
			<if test="updatedBy != null and updatedBy != ''">
				and updated_by like CONCAT('%',#{updatedBy},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>
		insert into BASE_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="cityCode != null and cityCode != ''">
				city_code,
			</if>
			<if test="departmentId != null and departmentId != ''">
				department_id,
			</if>
			<if test="account != null and account != ''">
				account,
			</if>
			<if test="password != null and password != ''">
				password,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="gender != null and gender != ''">
				gender,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="salt != null and salt != ''">
				salt,
			</if>
			<if test="nickname != null and nickname != ''">
				nickname,
			</if>
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="state != null ">
				state,
			</if>
			<if test="superAdmin != null ">
				super_admin,
			</if>
			<if test="loginCount != null ">
				login_count,
			</if>
			<if test="note != null and note != ''">
				note,
			</if>
			<if test="createdBy != null and createdBy != ''">
				created_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			now(),
			<if test="id != null and id != ''">
            <![CDATA[  #{id}, ]]>
			</if>
			<if test="cityCode != null and cityCode != ''">
				#{cityCode},
			</if>
			<if test="departmentId != null and departmentId != ''">
				#{departmentId},
			</if>
			<if test="account != null and account != ''">
				#{account},
			</if>
			<if test="password != null and password != ''">
				#{password},
			</if>
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="gender != null and gender != ''">
				#{gender},
			</if>
			<if test="phone != null and phone != ''">
				#{phone},
			</if>
			<if test="salt != null and salt != ''">
				#{salt},
			</if>
			<if test="nickname != null and nickname != ''">
				#{nickname},
			</if>
			<if test="email != null and email != ''">
				#{email},
			</if>
			<if test="state != null ">
				#{state},
			</if>
			<if test="superAdmin != null ">
				#{superAdmin},
			</if>
			<if test="loginCount != null ">
				#{loginCount},
			</if>
			<if test="note != null and note != ''">
				#{note},
			</if>
			<if test="createdBy != null and createdBy != ''">
				#{createdBy},
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update BASE_USER set
		<trim suffixOverrides=",">
			update_time = now(),
			<if test="cityCode != null ">
				city_code = #{cityCode},
			</if>
			<if test="departmentId != null ">
				department_id = #{departmentId},
			</if>
			<if test="account != null ">
				account = #{account},
			</if>
			<if test="password != null ">
				password = #{password},
			</if>
			<if test="name != null ">
				name = #{name},
			</if>
			<if test="gender != null ">
				gender = #{gender},
			</if>
			<if test="phone != null ">
				phone = #{phone},
			</if>
			<if test="salt != null ">
				salt = #{salt},
			</if>
			<if test="nickname != null ">
				nickname = #{nickname},
			</if>
			<if test="email != null ">
				email = #{email},
			</if>
			<if test="state != null ">
				state = #{state},
			</if>
			<if test="superAdmin != null ">
				super_admin = #{superAdmin},
			</if>
			<if test="loginCount != null ">
				login_count = #{loginCount},
			</if>
			<if test="note != null ">
				note = #{note},
			</if>
			<if test="pwdStrong != null ">
				pwdstrong = #{pwdStrong},
			</if>
			<if test="updatedBy != null ">
				updated_by = #{updatedBy},
			</if>

		</trim>
		where id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from BASE_USER where id
		= #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_USER where id = #{id}
	</select>

<!-- dictionary table all fields -->
	<sql id="User_Column_List">
		u.city_code,
		ba.area_name,
		dep.department_name,
		u.department_id,
		u.account,
		u.password,
		u.name,
		u.gender,
		u.phone,
		u.salt,
		u.nickname,
		u.email,
		u.state,
		u.super_admin,
		u.login_count,
		u.note,
		u.create_time,
		u.update_time,
		u.created_by,
		u.updated_by,
		u.id
	</sql>
	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from (
		select
		<include refid="User_Column_List" />
		,(select r.role_name from BASE_ROLE r,BASE_ROLE_REL rr
		where u.id=rr.obj_id
		and r.id=rr.role_id
		and rr.rel_type=1) role_name
		,(select r.role_level from BASE_ROLE r,BASE_ROLE_REL rr
		where u.id=rr.obj_id
		and r.id=rr.role_id
		and rr.rel_type=1) role_level
		from BASE_USER u
		left join base_area ba on u.city_code=ba.area_code
		left join base_department dep on u.department_id = dep.id
		where 1=1
		<if test="account != null and account !=''">
			and u.account = #{account}
		</if>
		<if test="name != null and name!=''">
			and u.name like CONCAT('%',#{name},'%')
		</if>
		<if test="gender != null and gender!=''">
			and u.gender = #{gender}
		</if>
		<if test="state != null ">
			and u.state = #{state}
		</if>
		<if test="userCityCode != null and userCityCode != '' ">
			and u.city_code LIKE '${userCityCode}%'
		</if>
		) A
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="User_Column_List" />
		,(select r.role_name from BASE_ROLE r,BASE_ROLE_REL rr
		where u.id=rr.obj_id
		and r.id=rr.role_id
		and rr.rel_type=1) role_name
		,(select r.role_level from BASE_ROLE r,BASE_ROLE_REL rr
		where u.id=rr.obj_id
		and r.id=rr.role_id
		and rr.rel_type=1) role_level
		from BASE_USER u
		left join base_area ba on u.city_code=ba.area_code
		left join base_department dep on u.department_id = dep.id
		where 1=1
		<if test="account != null and account !=''">
			and u.account = #{account}
		</if>
		<if test="name != null and name!=''">
			and u.name like CONCAT('%',#{name},'%')
		</if>
		<if test="gender != null and gender!=''">
			and u.gender = #{gender}
		</if>
		<if test="state != null ">
			and u.state = #{state}
		</if>
		<if test="userCityCode != null and userCityCode != '' ">
			and u.city_code LIKE '${userCityCode}%'
		</if>
		<if test="pager.orderCondition == '' ">
			order by u.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<select id="queryLogin" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_USER
		where account=#{account} and password=#{password}
	</select>
	<select id="queryUserByAccount" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from BASE_USER
		where account=#{account}
	</select>
	<select id="queryIsExist" parameterType="Object" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_USER
		<include refid="Example_Where_Clause" />
	</select>
	
	<select id="queryIsExistList" parameterType="Object" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_USER
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据cityCode关联base_area表中的areaCode，得到areaName -->
	<select id="getAreaName" parameterType="String" resultType="java.lang.String">
		SELECT ba.area_name
		FROM BASE_USER bu
		JOIN BASE_AREA ba ON bu.city_code = ba.area_code
		WHERE bu.id=#{id}
		limit 1
	</select>
	<select id="getRoleLevel" parameterType="String" resultType="java.lang.Integer">
		SELECT (select r.role_level from BASE_ROLE r,BASE_ROLE_REL rr
		where u.id=rr.obj_id
		and r.id=rr.role_id
		and rr.rel_type=1)
		FROM BASE_USER u
		WHERE u.id=#{id}
		limit 1
	</select>
	
	<!-- 根据角色ID查询用户 -->
	<select id="findUserByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM base_user t
		LEFT JOIN base_role_rel t1 ON t.id = t1.obj_id
		WHERE t.state = 0 AND t1.rel_type = 1 
		  AND t1.role_id = #{_parameter}
	</select>

	<!-- 查询运营区域 -->
	<select id="queryUserCityCode" resultType="Object">
		SELECT city_code
		FROM BASE_USER
		GROUP BY city_code
	</select>
</mapper>   
