<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.monthly.OrderParkMonthlyDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.monthly.OrderParkMonthly" >
	<result column="id" property="id"/>
		<result column="monthly_record_id" property="monthlyRecordId"/>
		<result column="user_id" property="userId"/>
		<result column="order_no" property="orderNo"/>
		<result column="bill_no" property="billNo"/>
		<result column="price" property="price"/>
		<result column="payment" property="payment"/>
		<result column="subject" property="subject"/>
		<result column="order_body" property="orderBody"/>
		<result column="order_status" property="orderStatus"/>
		<result column="pay_time" property="payTime"/>
		<result column="buyer_account" property="buyerAccount"/>
		<result column="counter_fee" property="counterFee"/>
		<result column="notify_status" property="notifyStatus"/>
		<result column="notify_time" property="notifyTime"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="user_account" property="userAccount"/>
		<result column="area_name" property="areaName"/>
		<result column="monthly_id" property="monthlyId"/>
		<result column="plate_no" property="plateNo"/>
		<result column="suc_refund" property="sucRefund"/>
		<result column="fail_refund" property="failRefund"/>
		<result column="refund_fee" property="refundFee"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.monthly_record_id,
		 t.user_id,
		 t.order_no,
		 t.bill_no,
		 t.price,
		 t.payment,
		 t.subject,
		 t.order_body,
		 t.order_status,
		 t.pay_time,
		 t.buyer_account,
		 t.counter_fee,
		 t.notify_status,
		 t.notify_time,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
		 t.city_code,
		 t.area_code,
		 t.user_account,
	     t.id,
	     t.plate_no
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="monthlyRecordId != null and monthlyRecordId != '' " >
    	and t.monthly_record_id =  #{monthlyRecordId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="billNo != null and billNo != '' " >
    	and t.bill_no =  #{billNo}
	</if>
	<if test="price != null " >
    	and t.price =  #{price}
	</if>
	<if test="payment != null " >
    	and t.payment =  #{payment}
	</if>
	<if test="subject != null and subject != '' " >
    	and t.subject =  #{subject}
	</if>
	<if test="orderBody != null and orderBody != '' " >
    	and t.order_body =  #{orderBody}
	</if>
	<if test="orderStatus != null and orderStatus != '' " >
    	and t.order_status =  #{orderStatus}
	</if>
	<if test="payTime != null " >
    	and t.pay_time =  #{payTime}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
    	and t.buyer_account =  #{buyerAccount}
	</if>
	<if test="counterFee != null " >
    	and t.counter_fee =  #{counterFee}
	</if>
	<if test="notifyStatus != null " >
    	and t.notify_status =  #{notifyStatus}
	</if>
	<if test="notifyTime != null and notifyTime != '' " >
    	and t.notify_time =  #{notifyTime}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_order_park_monthly 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="monthlyRecordId != null and monthlyRecordId != '' " >
		 monthly_record_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="userAccount != null and userAccount != '' " >
		 user_account,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="billNo != null and billNo != '' " >
		 bill_no,
		</if>
    	<if test="price != null " >
		price,
		</if>
    	<if test="payment != null " >
		payment,
		</if>
    	<if test="subject != null and subject != '' " >
		 subject,
		</if>
    	<if test="orderBody != null and orderBody != '' " >
		 order_body,
		</if>
    	<if test="orderStatus != null and orderStatus != '' " >
		 order_status,
		</if>
    	<if test="payTime != null " >
		pay_time,
		</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
		 buyer_account,
		</if>
    	<if test="counterFee != null " >
		counter_fee,
		</if>
    	<if test="notifyStatus != null " >
		notify_status,
		</if>
    	<if test="notifyTime != null and notifyTime != '' " >
		 notify_time,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		plate_no,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="monthlyRecordId != null and monthlyRecordId != '' " >
  		<![CDATA[  #{monthlyRecordId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="userAccount != null and userAccount != '' " >
  		<![CDATA[  #{userAccount}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="billNo != null and billNo != '' " >
  		<![CDATA[  #{billNo}, ]]>
    	</if>
    	<if test="price != null " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="payment != null " >
  		<![CDATA[  #{payment}, ]]>
    	</if>
    	<if test="subject != null and subject != '' " >
  		<![CDATA[  #{subject}, ]]>
    	</if>
    	<if test="orderBody != null and orderBody != '' " >
  		<![CDATA[  #{orderBody}, ]]>
    	</if>
    	<if test="orderStatus != null and orderStatus != '' " >
  		<![CDATA[  #{orderStatus}, ]]>
    	</if>
    	<if test="payTime != null " >
  		<![CDATA[  #{payTime}, ]]>
    	</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
  		<![CDATA[  #{buyerAccount}, ]]>
    	</if>
    	<if test="counterFee != null " >
  		<![CDATA[  #{counterFee}, ]]>
    	</if>
    	<if test="notifyStatus != null " >
  		<![CDATA[  #{notifyStatus}, ]]>
    	</if>
    	<if test="notifyTime != null and notifyTime != '' " >
  		<![CDATA[  #{notifyTime}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_order_park_monthly t set 
   <trim suffixOverrides="," >
	<if test="monthlyRecordId != null and monthlyRecordId != '' " >
  	<![CDATA[  t.monthly_record_id = #{monthlyRecordId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="userAccount != null and userAccount != '' " >
  	<![CDATA[  t.user_account = #{userAccount}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="billNo != null and billNo != '' " >
  	<![CDATA[  t.bill_no = #{billNo}, ]]>
    </if>
    <if test="price != null " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="payment != null " >
  	<![CDATA[  t.payment = #{payment}, ]]>
    </if>
    <if test="subject != null and subject != '' " >
  	<![CDATA[  t.subject = #{subject}, ]]>
    </if>
    <if test="orderBody != null and orderBody != '' " >
  	<![CDATA[  t.order_body = #{orderBody}, ]]>
    </if>
    <if test="orderStatus != null and orderStatus != '' " >
  	<![CDATA[  t.order_status = #{orderStatus}, ]]>
    </if>
    <if test="payTime != null " >
  	<![CDATA[  t.pay_time = #{payTime}, ]]>
    </if>
    <if test="buyerAccount != null and buyerAccount != '' " >
  	<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
    </if>
    <if test="counterFee != null " >
  	<![CDATA[  t.counter_fee = #{counterFee}, ]]>
    </if>
    <if test="notifyStatus != null " >
  	<![CDATA[  t.notify_status = #{notifyStatus}, ]]>
    </if>
    <if test="notifyTime != null and notifyTime != '' " >
  	<![CDATA[  t.notify_time = #{notifyTime}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
    <if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="plateNo != null " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_order_park_monthly where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_order_park_monthly t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_order_park_monthly t 
	LEFT JOIN base_area t1 ON t.AREA_CODE = t1.area_code
	LEFT JOIN app_park_monthly_record t2 ON t.MONTHLY_RECORD_ID = t2.id
	WHERE 1=1
	<if test="userAccount != null and userAccount != '' ">
		and t.USER_ACCOUNT = #{userAccount}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
  		AND t.BUYER_ACCOUNT = #{buyerAccount}
    </if>
    <if test="orderNo != null and orderNo != '' " >
  		AND t.ORDER_NO = #{orderNo}
    </if>
	<if test="notifyStatus != null " >
  		AND t.NOTIFY_STATUS = #{notifyStatus}
    </if>
    <if test="orderStatus != null and orderStatus != ''  " >
  		AND t.order_status = #{orderStatus}
    </if>
    <if test="payment != null " >
  		AND t.PAYMENT = #{payment}
    </if>
    <if test="areaId != null and areaId != '' " >
  		AND t1.id = #{areaId}
    </if>
    <if test="userCityCode != null and userCityCode != '' " >
  		AND t.area_code like '${userCityCode}%'
    </if>
    <if test="monthlyId != null" >
  		AND t2.MONTHLY_ID = #{monthlyId}
    </if>
    <if test="startTime != null and endTime != null " >
  		AND t.CREATE_TIME BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') 
  		                      AND STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
    </if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
    SELECT <include refid="Base_Column_List"/>,t1.area_name,t2.monthly_id 
    FROM app_order_park_monthly t
	LEFT JOIN base_area t1 ON t.AREA_CODE = t1.area_code
	LEFT JOIN app_park_monthly_record t2 ON t.MONTHLY_RECORD_ID = t2.id
	WHERE 1=1
	<if test="userAccount != null and userAccount != '' ">
		and t.USER_ACCOUNT = #{userAccount}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
  		AND t.BUYER_ACCOUNT = #{buyerAccount}
    </if>
    <if test="orderNo != null and orderNo != '' " >
  		AND t.ORDER_NO = #{orderNo}
    </if>
	<if test="notifyStatus != null " >
  		AND t.NOTIFY_STATUS = #{notifyStatus}
    </if>
    <if test="orderStatus != null and orderStatus != '' " >
  		AND t.order_status = #{orderStatus}
    </if>
    <if test="payment != null " >
  		AND t.PAYMENT = #{payment}
    </if>
    <if test="areaId != null and areaId != '' " >
  		AND t1.id = #{areaId}
    </if>
    <if test="userCityCode != null and userCityCode != '' " >
  		AND t.area_code like '${userCityCode}%'
    </if>
    <if test="monthlyId != null" >
  		AND t2.MONTHLY_ID = #{monthlyId}
    </if>
    <if test="startTime != null and endTime != null " >
  		AND t.CREATE_TIME BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') 
  		                      AND STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
    </if>
	<if test="pager.orderCondition == ''">
		ORDER BY t.create_time DESC
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
      	${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据订单编号查询包月缴费订单 -->
<select id="findByOrderNo" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_order_park_monthly 
	WHERE order_no = #{orderNo}
	ORDER BY create_time DESC 
	LIMIT 1
</select>

<!-- 根据id，修改记录-->  
<update id="updateMonthlyOrderSuccess" parameterType="Object" >
	update app_order_park_monthly t set 
   <trim suffixOverrides="," >
    <if test="payment != null " >
  	<![CDATA[  t.payment = #{payment}, ]]>
    </if>
    <if test="orderStatus != null and orderStatus != '' " >
  	<![CDATA[  t.order_status = #{orderStatus}, ]]>
    </if>
    <if test="payTime != null " >
  	<![CDATA[  t.pay_time = #{payTime}, ]]>
    </if>
    <if test="buyerAccount != null and buyerAccount != '' " >
  	<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
    </if>
    <if test="counterFee != null " >
  	<![CDATA[  t.counter_fee = #{counterFee}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.order_no = #{orderNo}
 </update>
 
 <!-- 根据订单编号查询订单详情 -->
 <select id="findMonthlyOrderByOrderNo" resultMap="BaseResultMap"  parameterType="java.util.Map">
 	SELECT t2.monthly_id,t.city_code,t.area_code,t.pay_time,t.payment,t.order_no,t.price,
		SUM(CASE t1.is_complate WHEN 200 THEN t1.refund_fee ELSE 0 END) suc_refund,
		SUM(CASE t1.is_complate WHEN 500 THEN t1.refund_fee ELSE 0 END) fail_refund
	FROM app_order_park_monthly t 
	LEFT JOIN app_order_refund t1 ON t1.order_no = t.order_no
	LEFT JOIN app_park_monthly_record t2 ON t.MONTHLY_RECORD_ID = t2.id
	WHERE t.order_no = #{_parameter}
	GROUP BY t1.order_no
	LIMIT 1
 </select>
 
 <!-- 设置订单已作废 -->
 <update id="deleteSameRecordIdOrder"  parameterType="java.lang.String">
 	UPDATE app_order_park_monthly 
 	SET ORDER_STATUS = 400,UPDATED_BY = 'system',UPDATE_TIME = NOW() 
 	WHERE ORDER_STATUS = 100 AND MONTHLY_RECORD_ID = #{_parameter}
 </update>

	<!-- 根据orderNo，修改记录-->
	<update id="updateByOrderNo" parameterType="Object" >
		update app_order_park_monthly t set
		<trim suffixOverrides="," >
			<if test="billNo != null and billNo != '' ">
				<![CDATA[  t.bill_no = #{billNo}, ]]>
			</if>
			<if test="orderStatus != null and orderStatus != '' " >
				<![CDATA[  t.order_status = #{orderStatus}, ]]>
			</if>
			<if test="payTime != null and payTime != '' ">
				<![CDATA[  t.pay_time = #{payTime}, ]]>
			</if>
			<if test="buyerAccount != null">
				<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
			</if>
		</trim> where t.order_no= #{orderNo}
	</update>
</mapper>   
