<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.monthly.ParkMonthlyRecordDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.monthly.ParkMonthlyRecord" >
	<result column="id" property="id"/>
		<result column="area_code" property="areaCode"/>
		<result column="area_name" property="areaName"/>
		<result column="monthly_id" property="monthlyId"/>
		<result column="plate_no" property="plateNo"/>
		<result column="plate_color" property="plateColor"/>
		<result column="phone" property="phone"/>
		<result column="park_name" property="parkName"/>
		<result column="monthly_fee" property="monthlyFee"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="status" property="status"/>
		<result column="is_push" property="isPush"/>
		<result column="note" property="note"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="PARNET_ID" property="parentId"/>
		<result column="monthly_car_id" property="monthlyCarId"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.area_code,
		 t.area_name,
		 t.monthly_id,
		 t.plate_no,
		 t.plate_color,
		 t.phone,
		 t.park_name,
		 t.monthly_fee,
		 t.start_time,
		 t.end_time,
		 t.status,
		 t.is_push,
		 t.note,
		 t.flag,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id,
	     t.PARNET_ID,
	     t.monthly_car_id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="areaName != null and areaName != '' " >
    	and t.area_name =  #{areaName}
	</if>
	<if test="monthlyId != null " >
    	and t.monthly_id =  #{monthlyId}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no =  #{plateNo}
	</if>
	<if test="plateColor != null " >
    	and t.plate_color =  #{plateColor}
	</if>
	<if test="phone != null and phone != '' " >
    	and t.phone =  #{phone}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name =  #{parkName}
	</if>
	<if test="monthlyFee != null " >
    	and t.monthly_fee =  #{monthlyFee}
	</if>
	<if test="startTime != null " >
    	and t.start_time =  #{startTime}
	</if>
	<if test="endTime != null " >
    	and t.end_time =  #{endTime}
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="isPush != null " >
    	and t.is_push =  #{isPush}
	</if>
	<if test="note != null and note != '' " >
    	and t.note =  #{note}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_park_monthly_record 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	    <if test="parentId != null" >
		 PARNET_ID,
		</if>
	    <if test="monthlyCarId != null" >
		 monthly_car_id,
		</if>
	 	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="areaName != null and areaName != '' " >
		 area_name,
		</if>
    	<if test="monthlyId != null " >
		monthly_id,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		 plate_no,
		</if>
    	<if test="plateColor != null " >
		plate_color,
		</if>
    	<if test="phone != null and phone != '' " >
		 phone,
		</if>
    	<if test="parkName != null and parkName != '' " >
		 park_name,
		</if>
    	<if test="monthlyFee != null " >
		monthly_fee,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="status != null " >
		status,
		</if>
    	<if test="isPush != null " >
		is_push,
		</if>
    	<if test="note != null and note != '' " >
		 note,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	    <if test="parentId != null" >
  			<![CDATA[  #{parentId}, ]]>
    	</if>
    	<if test="monthlyCarId != null" >
		 <![CDATA[  #{monthlyCarId}, ]]>
		</if>
	 	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="areaName != null and areaName != '' " >
  		<![CDATA[  #{areaName}, ]]>
    	</if>
    	<if test="monthlyId != null " >
  		<![CDATA[  #{monthlyId}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="plateColor != null " >
  		<![CDATA[  #{plateColor}, ]]>
    	</if>
    	<if test="phone != null and phone != '' " >
  		<![CDATA[  #{phone}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="monthlyFee != null " >
  		<![CDATA[  #{monthlyFee}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	<if test="isPush != null " >
  		<![CDATA[  #{isPush}, ]]>
    	</if>
    	<if test="note != null and note != '' " >
  		<![CDATA[  #{note}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_park_monthly_record t set 
   <trim suffixOverrides="," >
	<if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="areaName != null and areaName != '' " >
  	<![CDATA[  t.area_name = #{areaName}, ]]>
    </if>
    <if test="monthlyId != null " >
  	<![CDATA[  t.monthly_id = #{monthlyId}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="plateColor != null " >
  	<![CDATA[  t.plate_color = #{plateColor}, ]]>
    </if>
    <if test="phone != null and phone != '' " >
  	<![CDATA[  t.phone = #{phone}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="monthlyFee != null " >
  	<![CDATA[  t.monthly_fee = #{monthlyFee}, ]]>
    </if>
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="status != null " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
    <if test="isPush != null " >
  	<![CDATA[  t.is_push = #{isPush}, ]]>
    </if>
    <if test="note != null and note != '' " >
  	<![CDATA[  t.note = #{note}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
    <if test="parentId != null" >
  	<![CDATA[  t.PARNET_ID = #{parentId}, ]]>
    </if>
    <if test="monthlyCarId != null" >
  	<![CDATA[  t.monthly_car_id = #{monthlyCarId}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_park_monthly_record where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_park_monthly_record t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	SELECT COUNT(DISTINCT A.monthly_car_id) FROM (SELECT 
    <include refid="Base_Column_List"/>
	FROM app_park_monthly_record t 
	left join base_area t1 on t.area_code = t1.area_code
	WHERE t.FLAG != 'DELETE'
	<if test="areaId != null and areaId != '' ">
		AND t1.id = #{areaId}
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		AND t.area_code like '${userCityCode}%'
	</if>
	<if test="monthlyCarId != null">
		AND t.monthly_car_id = #{monthlyCarId}
	</if>
<!-- 	<if test="parentId != null"> -->
<!-- 		AND t.PARNET_ID = #{parentId} -->
<!-- 	</if> -->
	<if test="monthlyId != null">
		 AND t.MONTHLY_ID = #{monthlyId}
	</if>
	<if test="phone != null and phone != '' ">
		 AND t.PHONE = #{phone}
	</if>
	<if test="plateNo != null and plateNo != '' ">
		 AND t.PLATE_NO = #{plateNo}
	</if>
	<if test="plateColor != null">
		 AND t.PLATE_COLOR = #{plateColor}
	</if>
	<if test="status != null">
		 AND t.STATUS = #{status}
	</if>
	<if test="startTime != null and endTime != null">
		 AND START_TIME &lt;= STR_TO_DATE(#{startTime},'%Y-%m-%d')
	  	 AND END_TIME &gt;= STR_TO_DATE(#{endTime},'%Y-%m-%d')
	</if>
	)A
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
    SELECT * FROM (SELECT 
    <include refid="Base_Column_List"/>
	FROM app_park_monthly_record t 
	left join base_area t1 on t.area_code = t1.area_code
	WHERE t.FLAG != 'DELETE'
	<if test="areaId != null and areaId != '' ">
		AND t1.id = #{areaId}
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		AND t.area_code like '${userCityCode}%'
	</if>
<!-- 	<if test="parentId != null"> -->
<!-- 		AND t.PARNET_ID = #{parentId} -->
<!-- 	</if> -->
	<if test="monthlyCarId != null">
		AND t.monthly_car_id = #{monthlyCarId}
	</if>
	<if test="monthlyId != null">
		 AND t.MONTHLY_ID = #{monthlyId}
	</if>
	<if test="phone != null and phone != '' ">
		 AND t.PHONE = #{phone}
	</if>
	<if test="plateNo != null and plateNo != '' ">
		 AND t.PLATE_NO = #{plateNo}
	</if>
	<if test="plateColor != null">
		 AND t.PLATE_COLOR = #{plateColor}
	</if>
	<if test="status != null">
		 AND t.STATUS = #{status}
	</if>
	<if test="startTime != null and endTime != null">
		 AND START_TIME &lt;= STR_TO_DATE(#{startTime},'%Y-%m-%d')
	  	 AND END_TIME &gt;= STR_TO_DATE(#{endTime},'%Y-%m-%d')
	</if>
	)A GROUP BY A.monthly_car_id
	<if test="pager.orderCondition == ''">
		ORDER BY A.CREATE_TIME DESC
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       	${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<resultMap id="ParkMonthlyRecordMap" type="com.innotek.fragrans.bean.item.monthly.GetParkMonthlyRecordItem" >
	<result column="ID" property="monthlyRecordId"/>
	<result column="AREA_CODE" property="areaCode"/>
	<result column="AREA_NAME" property="areaName"/>
	<result column="PARK_NAME" property="parkName"/>
	<result column="STATUS" property="status"/>
	<result column="START_TIME" property="startTime"/>
	<result column="END_TIME" property="endTime"/>
	<result column="MONTHLY_FEE" property="monthlyFee"/>
</resultMap>

<!-- 获取最新的一条包月记录 -->
<select id="getLastMonthlyRecord" resultMap="ParkMonthlyRecordMap"  parameterType="java.util.Map">
	SELECT id,AREA_CODE,AREA_NAME,PARK_NAME,STATUS,START_TIME,END_TIME,MONTHLY_FEE FROM 
		(SELECT id,AREA_CODE,AREA_NAME,PARK_NAME,STATUS,START_TIME,END_TIME,MONTHLY_FEE,
				CREATE_TIME 
		 FROM app_park_monthly_record 
		 WHERE FLAG != 'DELETE' AND PLATE_NO = #{plateNo} AND PLATE_COLOR = #{plateColor}
		 <if test="notInAreaCodeList != null">
			 AND AREA_CODE NOT IN 
			 <foreach collection="notInAreaCodeList" open="(" close=")" item="item" separator=",">
				#{item}
			 </foreach> 
		</if>
  		 ORDER BY CREATE_TIME DESC )A
	GROUP BY A.AREA_CODE
	LIMIT #{startIndex},#{pageLength}
</select>

<!-- 查询包月记录 -->
<select id="queryParkMonthlyRecordByPlate" resultMap="ParkMonthlyRecordMap"  parameterType="java.util.Map">
	SELECT A.id,A.AREA_CODE,A.AREA_NAME,A.PARK_NAME,A.STATUS,A.START_TIME,A.END_TIME,A.MONTHLY_FEE  FROM(	
		SELECT PARNET_ID,id,AREA_CODE,AREA_NAME,PARK_NAME,STATUS,START_TIME,END_TIME,MONTHLY_FEE 
			FROM app_park_monthly_record 
			WHERE FLAG != 'DELETE' AND PLATE_NO = #{plateNo}
			  AND PLATE_COLOR = #{plateColor} AND PARNET_ID IN 
			   <foreach collection="list" open="(" close=")" item="item" separator=",">
				#{item}
			   </foreach> 
		UNION
		SELECT MONTHLY_ID PARNET_ID,id,AREA_CODE,AREA_NAME,PARK_NAME,STATUS,START_TIME,END_TIME,MONTHLY_FEE 
			FROM app_park_monthly_record 
			WHERE FLAG != 'DELETE' AND PARNET_ID = 0 
			  AND PLATE_NO = #{plateNo} 
			  AND PLATE_COLOR = #{plateColor} AND MONTHLY_ID IN 
			   <foreach collection="list" open="(" close=")" item="item" separator=",">
				#{item}
			   </foreach>  
		ORDER BY END_TIME DESC)A 
	GROUP BY A.PARNET_ID
	LIMIT #{startIndex},#{pageLength}	
</select>

<!-- 根据父级ID查询续包信息 -->
<select id="queryByParentId" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_park_monthly_record 
	WHERE FLAG != 'DELETE' AND MONTHLY_ID = #{monthlyId}
	 and area_code = #{areaCode}
	 limit 1
</select>

<!-- 根据父级ID查询续包信息 -->
<select id="findMonthlyRecordByAreaAndParentId" resultMap="BaseResultMap"  parameterType="Object">
	SELECT id FROM app_park_monthly_record 
	WHERE FLAG != 'DELETE' AND PARNET_ID = #{parentId}
	 and area_code = #{areaCode}
	 order by create_time desc
	 limit 1
</select>

<!-- 根据父级ID查询续包信息 -->
<select id="findByAreaAndParentId" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT id FROM app_park_monthly_record 
	WHERE FLAG != 'DELETE' AND PARNET_ID = #{parentId}
	 and area_code = #{areaCode}
	 limit 1
</select>

<!-- 根据包月审核记录ID查询包月记录 -->
<select id="queryByMonthlyRecordLogId" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT t.* FROM app_park_monthly_record t
	LEFT JOIN app_park_monthly_record_log t1 ON t.id =  t1 .MONTHLY_RECORD_ID
	WHERE t1.id = #{_parameter}
</select>

<!-- 根据包月申请记录ID查询原包月记录 -->
<select id="queryMonthlyRecordByApplyId" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT * FROM app_park_monthly_record 
	WHERE flag != 'DELETE' AND MONTHLY_ID = (
		SELECT PARNET_ID FROM app_park_monthly_record 
		WHERE id = #{id}) and area_code = #{areaCode}
</select>

<!-- 更新包月记录为已推送 -->
<update id="updateMonthRecordIsPush" parameterType="java.lang.String">
	UPDATE app_park_monthly_record t 
	SET is_push = 1
	WHERE id = (
		SELECT MONTHLY_RECORD_ID FROM app_park_monthly_record_log 
		WHERE id = #{_parameter})
</update>

<!-- 根据区域查询未生效的包月记录 -->
<select id="queryUnEffectRecordByArea" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_park_monthly_record 
	WHERE flag != 'DELETE' AND STATUS = 5 
	  AND area_code = #{areaCode}
	  and plate_no = #{plateNo} and plate_color = #{plateColor}
<!-- 	  AND PARNET_ID = #{parentId} -->
</select>

<!-- 作废续包记录 -->
<update id="deleteMonthRecordBySpms" parameterType="java.util.Map">
	UPDATE app_park_monthly_record t 
	SET flag = 'DELETE'
	WHERE MONTHLY_ID = #{monthlyId} AND area_code = #{areaCode}
</update>

<resultMap id="GetMyBillDetailMap" type="com.innotek.fragrans.entity.user.GetMyBillDetailItem">
	<result column="order_no" property="orderNo" />
	<result column="plate_no" property="plateNo" />
	<result column="order_status" property="orderStatus" />
	<result column="price" property="orderPrice" />
	<result column="pay_fee" property="payFee" />
	<result column="ticket_fee" property="preferentialFee" />
	<result column="payment" property="payType" />
	<result column="order_point" property="orderPoints" />
	<result column="order_type" property="orderType" />
	<result column="batch_pay_count" property="batchPayCount" />
	<result column="create_time" property="createTime" />
	<result column="discount_fee" property="discountFee" />
</resultMap>

<!-- 查询包月账单详情 -->
<select id="findBillDetailByMonthlyNo" resultMap="GetMyBillDetailMap" parameterType="java.util.Map">
	SELECT t.ORDER_NO,t.PLATE_NO,t.ORDER_STATUS,t.PRICE,t.PRICE pay_fee,0 ticket_fee,0 discount_fee,
	   0 order_point,
	   6 order_type,0 batch_pay_count,t.create_time,t.payment
	FROM app_order_park_monthly t
	WHERE t.ORDER_STATUS = 200 
	  AND t.AREA_CODE = #{cityCode} 
	  AND t.user_id = #{userId}
	  AND t.order_no = #{orderNo}
	LIMIT 1
</select>

<!-- 将对相同包月记录续包且审核中的续包记录置为无效 -->
<update id="deleteParkMonthlyRecord" parameterType="java.util.Map">
	UPDATE app_park_monthly_record 
	SET FLAG = 'DELETE', UPDATED_BY = 'system',UPDATE_TIME = NOW()  
	WHERE STATUS in (2,4) and flag != 'DELETE'
	  AND PARNET_ID = #{monthlyId} 
	  AND area_code = #{areaCode}
</update>

<!-- 根据车牌信息查询包月记录 -->
<select id="queryMonthlyIdByPlate" resultType="java.lang.String"  parameterType="java.util.Map">
	  SELECT MONTHLY_ID FROM app_park_monthly_record 
	  WHERE FLAG != 'DELETE' AND PARNET_ID = 0
	    AND PLATE_NO = #{plateNo}
	    AND PLATE_COLOR = #{plateColor}
</select>

<!-- 根据父级ID查询最近一次续包记录 -->
<select id="getLastValidMonthlyRecord" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_park_monthly_record 
	WHERE FLAG != 'DELETE' 
	  AND AREA_CODE = #{areaCode} 
	  AND MONTHLY_ID = #{parentId} 
	LIMIT 1
</select>

<!-- 根据区域和车牌信息查询包月记录 -->
<select id="queryRecordsByPlateAndArea" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select * from app_park_monthly_record
	where FLAG != 'DELETE' 
	  and AREA_CODE = #{areaCode}
	  and PLATE_NO = #{plateNo}
	  and PLATE_COLOR = #{plateColor}
</select>

<!-- 删除包月记录 -->
<update id="deleteBatchMonthlyRecord" parameterType="java.util.Map">
	UPDATE app_park_monthly_record 
	SET FLAG = 'DELETE',UPDATED_BY = 'system',UPDATE_TIME = NOW() 
	WHERE flag != 'DELETE' AND AREA_CODE = #{areaCode}
	  AND PLATE_NO = #{plateNo}
	  AND PLATE_COLOR = #{plateColor}
</update>

<!-- 根据父级ID查询包月记录 -->
<select id="queryMonthlyRecordByParentId" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select * from app_park_monthly_record
	where FLAG != 'DELETE'
	  and AREA_CODE = #{areaCode} 
	  and monthly_car_id = #{monthlyCarId}
	order by create_time desc 
</select>

<!-- 根据订单编号查询包月记录 -->
<select id="findMonthlyRecordByOrderNo" resultMap="BaseResultMap"  parameterType="java.lang.String">
	SELECT t.* FROM app_park_monthly_record t
	LEFT JOIN app_order_park_monthly t1 ON t.id = t1.MONTHLY_RECORD_ID
	WHERE order_no = #{_parameter}
	limit 1
</select>


</mapper>   
