<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.prebuy.PrebuyDetailDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.prebuy.PrebuyDetail" >
	<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="prebuy_id" property="prebuyId"/>
		<result column="order_no" property="orderNo"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="pay_status" property="payStatus"/>
		<result column="is_push" property="isPush"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="prebuy_timelong" property="prebuyTimelong"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.user_id,
		 t.prebuy_id,
		 t.order_no,
		 t.parkrecord_id,
		 t.pay_status,
		 t.is_push,
		 t.start_time,
		 t.end_time,
		 t.prebuy_timelong,
		 t.flag,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="prebuyId != null and prebuyId != '' " >
    	and t.prebuy_id =  #{prebuyId}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="payStatus != null and payStatus != '' " >
    	and t.pay_status =  #{payStatus}
	</if>
	<if test="isPush != null " >
    	and t.is_push =  #{isPush}
	</if>
	<if test="startTime != null " >
    	and t.start_time =  #{startTime}
	</if>
	<if test="endTime != null " >
    	and t.end_time =  #{endTime}
	</if>
	<if test="prebuyTimelong != null " >
    	and t.prebuy_timelong =  #{prebuyTimelong}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_prebuy_detail 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="prebuyId != null and prebuyId != '' " >
		 prebuy_id,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="payStatus != null and payStatus != '' " >
		 pay_status,
		</if>
    	<if test="isPush != null " >
		is_push,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="prebuyTimelong != null " >
		prebuy_timelong,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="prebuyId != null and prebuyId != '' " >
  		<![CDATA[  #{prebuyId}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="payStatus != null and payStatus != '' " >
  		<![CDATA[  #{payStatus}, ]]>
    	</if>
    	<if test="isPush != null " >
  		<![CDATA[  #{isPush}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="prebuyTimelong != null " >
  		<![CDATA[  #{prebuyTimelong}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_prebuy_detail t set 
   <trim suffixOverrides="," >
	<if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="prebuyId != null and prebuyId != '' " >
  	<![CDATA[  t.prebuy_id = #{prebuyId}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="payStatus != null and payStatus != '' " >
  	<![CDATA[  t.pay_status = #{payStatus}, ]]>
    </if>
    <if test="isPush != null " >
  	<![CDATA[  t.is_push = #{isPush}, ]]>
    </if>
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="prebuyTimelong != null " >
  	<![CDATA[  t.prebuy_timelong = #{prebuyTimelong}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_prebuy_detail where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_prebuy_detail t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_prebuy_detail t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_prebuy_detail t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询本次支付预买记录 -->
<select id="findUnpaidRecord" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_prebuy_detail 
	WHERE PARKRECORD_ID = #{parkrecordId} 
	  AND flag != 'DELETE' AND PAY_STATUS = 100
	ORDER BY create_time DESC
	LIMIT 1;
</select>

<!-- 根据订单编号查询预买记录详情 -->
<select id="findByOrderNo" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_prebuy_detail 
	WHERE ORDER_NO = #{orderNo} 
	  AND flag != 'DELETE'
	ORDER BY create_time DESC
	LIMIT 1;
</select>

<!-- 查询预买结束时间 -->
<select id="findPrebuyEndTimeByUserAndParkRecord" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT t.* FROM app_prebuy_detail t
	LEFT JOIN app_prebuy_parkrecord t1 ON t.PREBUY_ID = t1.id
	WHERE t1.flag != 'DELETE' AND t1.user_id = #{userId}
	  AND t1.PARKRECORD_ID = #{parkrecordId} 
	  AND t.FLAG != 'DELETE' AND t.PAY_STATUS = 100
	ORDER BY t.CREATE_TIME DESC
	LIMIT 1
</select>

<!-- 作废该预买记录未支付的预买详情 -->
<update id="canclePrebuyDetail" parameterType="Object">
	update app_prebuy_detail t set
	<trim suffixOverrides=",">
		<if test="payStatus != null and payStatus != ''">
  	<![CDATA[  t.pay_status = #{payStatus}, ]]>
		</if>
		<if test="flag != null and flag != '' ">
  	<![CDATA[  t.flag = #{flag}, ]]>
		</if>
		<if test="updateTime != null ">
 	<![CDATA[  t.update_time = #{updateTime}, ]]>
		</if>
	</trim>
	where t.prebuy_id = #{prebuyId} and t.pay_status = 100
</update>

<!-- 查询该停车记录最近一次预买结束时间 -->
<select id="queryLastPrebuyTime" resultType="java.lang.String"  parameterType="Object">
	SELECT end_time FROM app_prebuy_detail 
	WHERE PARKRECORD_ID = #{parkrecordId} and user_id = #{userId}
	  AND flag != 'DELETE' AND PAY_STATUS = 200
	ORDER BY create_time DESC
	LIMIT 1;
</select>

<!-- 查询该停车记录最近一次预买时长 -->
<select id="queryPrebuyTimeLong" resultType="java.lang.String"  parameterType="Object">
	SELECT PREBUY_TIMELONG FROM app_prebuy_detail
	WHERE user_id = #{userId} and PARKRECORD_ID = #{parkrecordId} 
		AND flag != 'DELETE' and PAY_STATUS = 200
		ORDER BY create_time DESC
		LIMIT 1;
</select>

<!-- 根据userId和prebuyId，修改记录-->  
<update id="updatePrebuyDetail" parameterType="Object" >
	update app_prebuy_detail t set 
   <trim suffixOverrides="," >
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="prebuyTimelong != null " >
  	<![CDATA[  t.prebuy_timelong = #{prebuyTimelong}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.prebuy_id = #{prebuyId} and t.pay_status = 100
 </update>
 
 <select id="queryPrebuyDetailByPrebuyId" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM app_prebuy_detail
	WHERE prebuy_id = #{prebuyId} and pay_status = 100
 </select>
 
 <!-- 查询预买提醒记录 -->
 <select id="queryPrebuyReminds" resultMap="BaseResultMap"  parameterType="Object">
 	SELECT * FROM app_prebuy_detail t
	LEFT JOIN app_prebuy_parkrecord t1 ON t.PREBUY_ID = t1.id
	WHERE t.flag != 'DELETE' AND t.PAY_STATUS = 200 AND t.is_push = 0
	  AND t1.IS_DEPARTURE = 0
	  AND t.end_time &gt;= NOW()
 	  AND DATE_FORMAT(t.create_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
 	  AND TIMESTAMPDIFF(MINUTE,NOW(),t.end_time) &gt;= 0
	  AND TIMESTAMPDIFF(MINUTE,NOW(),t.end_time) &lt;= #{pushMinute}
 </select>
 
 <!-- 更新预买记录为已推送 -->
 <update id="batchUpdatePrebuyRecordPushed"  parameterType="java.util.ArrayList">
 	<foreach collection="list" item="item" index="index">
		update app_prebuy_detail t 
		set t.is_push = 1 
		where t.id = #{item.id};
	</foreach>
 </update>
 
</mapper>   
