<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innotek.fragrans.dao.AppKeyDao">
	<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.AppKeyEntity" >
	    <result column="id" property="id"/>
		<result column="app_id" property="appId"/>
		<result column="APP_KEY" property="appKey"/>
		<result column="app_name" property="appName"/>
		<result column="expired_day" property="expiredDay"/>
		<result column="app_status" property="appStatus"/>
		<result column="app_desc" property="appDesc"/>
		<result column="flag" property="flag"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="is_super" property="isSuper"/>
		<result column="public_key" property="publicKey"/>
		<result column="private_key" property="privateKey"/>
	</resultMap>
	
	<select id="getAppKey" parameterType="String"
		resultType="String">
		select APP_KEY
		  from APP_KEY
		 where 1=1
		   and app_id = #{appId}
		   and app_status = '0'
	</select>
	
	<!-- 根据应用ID获取应用秘钥对象 -->
	<select id="getKeyByAppId" parameterType="String" resultMap="BaseResultMap">
		select * from APP_KEY
		 where app_status = '0' and flag != 'DELETE'
		   and app_id = #{appId}
	</select>
	
	<!--  获取全部应用秘钥对象 -->
	<select id="getAllAppKey" parameterType="Object" resultMap="BaseResultMap">
		select * from APP_KEY where app_status = '0' and flag != 'DELETE' 
	</select>
</mapper>