<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.stat.ActivityTopicDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.stat.ActivityTopic" >
	<result column="id" property="id"/>
		<result column="topic_name" property="topicName"/>
		<result column="topic_abstract" property="topicAbstract"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="status" property="status"/>
		<result column="displayconf" property="displayconf"/>
		<result column="topic_imageurl" property="topicImageurl"/>
		<result column="topic_url" property="topicUrl"/>
		<result column="created_by" property="createdBy"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
<resultMap id="ActivityTopicDetailResultMap" type="com.innotek.fragrans.entity.stat.GetActivityTopicItem" >
	<result column="id" property="id"/>
		<result column="topic_name" property="topicName"/>
		<result column="TOPIC_ABSTRACT" property="topicAbstract"/>
		<result column="START_TIME" property="startTime"/>
		<result column="END_TIME" property="endTime"/>
		<result column="TOPIC_IMAGEURL" property="imageUrl"/>
		<result column="TOPIC_URL" property="topicUrl"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.topic_name,
		 t.topic_abstract,
		 t.start_time,
		 t.end_time,
		 t.status,
		 t.displayconf,
		 t.topic_imageurl,
		 t.topic_url,
		 t.created_by,
		 t.updated_by,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="topicName != null and topicName != '' " >
    	and t.topic_name =  #{topicName}
	</if>
	<if test="topicAbstract != null and topicAbstract != '' " >
    	and t.topic_abstract =  #{topicAbstract}
	</if>
	<if test="startTime != null " >
    	and t.start_time =  #{startTime}
	</if>
	<if test="endTime != null " >
    	and t.end_time =  #{endTime}
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="displayconf != null " >
    	and t.displayconf =  #{displayconf}
	</if>
	<if test="topicImageurl != null and topicImageurl != '' " >
    	and t.topic_imageurl =  #{topicImageurl}
	</if>
	<if test="topicUrl != null and topicUrl != '' " >
    	and t.topic_url =  #{topicUrl}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	insert into app_activity_topic 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
		update_time,
	 	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="topicName != null and topicName != '' " >
		 topic_name,
		</if>
    	<if test="topicAbstract != null and topicAbstract != '' " >
		 topic_abstract,
		</if>
    	<if test="startTime != null " >
		start_time,
		</if>
    	<if test="endTime != null " >
		end_time,
		</if>
    	<if test="status != null " >
		status,
		</if>
    	<if test="displayconf != null " >
		displayconf,
		</if>
    	<if test="topicImageurl != null and topicImageurl != '' " >
		 topic_imageurl,
		</if>
    	<if test="topicUrl != null and topicUrl != '' " >
		 topic_url,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	sysdate,
	 	sysdate,
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="topicName != null and topicName != '' " >
  		<![CDATA[  #{topicName}, ]]>
    	</if>
    	<if test="topicAbstract != null and topicAbstract != '' " >
  		<![CDATA[  #{topicAbstract}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	<if test="displayconf != null " >
  		<![CDATA[  #{displayconf}, ]]>
    	</if>
    	<if test="topicImageurl != null and topicImageurl != '' " >
  		<![CDATA[  #{topicImageurl}, ]]>
    	</if>
    	<if test="topicUrl != null and topicUrl != '' " >
  		<![CDATA[  #{topicUrl}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_activity_topic t set 
   <trim suffixOverrides="," >
	<if test="topicName != null and topicName != '' " >
  	<![CDATA[  t.topic_name = #{topicName}, ]]>
    </if>
    <if test="topicAbstract != null and topicAbstract != '' " >
  	<![CDATA[  t.topic_abstract = #{topicAbstract}, ]]>
    </if>
    <if test="startTime != null " >
  	<![CDATA[  t.start_time = #{startTime}, ]]>
    </if>
    <if test="endTime != null " >
  	<![CDATA[  t.end_time = #{endTime}, ]]>
    </if>
    <if test="status != null " >
  	<![CDATA[  t.status = #{status}, ]]>
    </if>
    <if test="displayconf != null " >
  	<![CDATA[  t.displayconf = #{displayconf}, ]]>
    </if>
    <if test="topicImageurl != null and topicImageurl != '' " >
  	<![CDATA[  t.topic_imageurl = #{topicImageurl}, ]]>
    </if>
    <if test="topicUrl != null and topicUrl != '' " >
  	<![CDATA[  t.topic_url = #{topicUrl}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
  	<![CDATA[  t.update_time = sysdate, ]]>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_activity_topic where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_activity_topic t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_activity_topic t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	<if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_activity_topic t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 获取活动主题详细 -->
<select id="queryActivityTopicDetail" resultMap="ActivityTopicDetailResultMap"  parameterType="java.lang.Integer">
	SELECT t.topic_name,t.TOPIC_ABSTRACT,t.START_TIME,t.END_TIME,t.TOPIC_IMAGEURL,t.TOPIC_URL  
	FROM app_activity_topic t
	LEFT JOIN app_activity_area_conf t1 ON t1.obj_id = t.id
	WHERE t.status = 1  
	  AND t1.flag != 'DELETE' AND t1.obj_type = 1
	  and t.DISPLAYCONF = 1
	  AND sysdate  BETWEEN t.start_time AND t.end_time
	  AND t1.area_code = #{_parameter}
</select>
<!-- 查询所有在线的主题 -->
<select id="queryTopic" resultMap="BaseResultMap">
	select * from app_activity_topic
</select>

<!-- 查询指定日期的所有主题 -->
<select id="findActivityTopicListByDate" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT * FROM app_activity_topic 
	WHERE to_date(#{_parameter},'yyyy-MM-dd') BETWEEN start_time AND end_time
</select>

</mapper>   
