<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.trans.ParkRecordDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.trans.ParkRecord" >
	<result column="id" property="id"/>
		<result column="area_code" property="areaCode"/>
		<result column="park_stat" property="parkStat"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="park_id" property="parkId"/>
		<result column="park_name" property="parkName"/>
		<result column="plate_no" property="plateNo"/>
		<result column="plate_color" property="plateColor"/>
		<result column="berth_no" property="berthNo"/>
		<result column="collector" property="collector"/>
		<result column="park_photo" property="parkPhoto"/>
		<result column="arrive_time" property="arriveTime"/>
		<result column="departure_time" property="departureTime"/>
		<result column="park_fee" property="parkFee"/>
		<result column="is_card_autopay" property="isCardAutopay"/>
		<result column="card_autopay_userid" property="cardAutopayUserid"/>
		<result column="autopay" property="autopay"/>
		<result column="aliapay_arrive" property="aliapayArrive"/>
		<result column="aliapay_departure" property="aliapayDeparture"/>
		<result column="autopay_status" property="autopayStatus"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="park_model" property="parkModel"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.park_model,
		 t.area_code,
		 t.park_stat,
		 t.parkrecord_id,
		 t.park_id,
		 t.park_name,
		 t.plate_no,
		 t.plate_color,
		 t.berth_no,
		 t.collector,
		 t.park_photo,
		 t.arrive_time,
		 t.departure_time,
		 t.park_fee,
		 t.is_card_autopay,
		 t.card_autopay_userid,
		 t.autopay,
		 t.aliapay_arrive,
		 t.aliapay_departure,
		 t.autopay_status,
		 t.create_time,
		 t.update_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="areaCode != null and areaCode != '' " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="parkStat != null and parkStat != '' " >
    	and t.park_stat =  #{parkStat}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="parkId != null " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name =  #{parkName}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no =  #{plateNo}
	</if>
	<if test="plateColor != null " >
    	and t.plate_color =  #{plateColor}
	</if>
	<if test="berthNo != null and berthNo != '' " >
    	and t.berth_no =  #{berthNo}
	</if>
	<if test="collector != null and collector != '' " >
    	and t.collector =  #{collector}
	</if>
	<if test="parkPhoto != null and parkPhoto != '' " >
    	and t.park_photo =  #{parkPhoto}
	</if>
	<if test="arriveTime != null " >
    	and t.arrive_time =  #{arriveTime}
	</if>
	<if test="departureTime != null " >
    	and t.departure_time =  #{departureTime}
	</if>
	<if test="parkFee != null " >
    	and t.park_fee =  #{parkFee}
	</if>
	<if test="autopay != null " >
    	and t.autopay =  #{autopay}
	</if>
	<if test="aliapayArrive != null " >
    	and t.aliapay_arrive =  #{aliapayArrive}
	</if>
	<if test="aliapayDeparture != null " >
    	and t.aliapay_departure =  #{aliapayDeparture}
	</if>
	<if test="autopayStatus != null " >
    	and t.autopay_status =  #{autopayStatus}
	</if>
	<if test="parkModel != null " >
    	and t.park_model =  #{parkModel}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into trans_park_record 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="areaCode != null and areaCode != '' " >
		 area_code,
		</if>
    	<if test="parkStat != null and parkStat != '' " >
		 park_stat,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="parkId != null " >
		park_id,
		</if>
    	<if test="parkName != null and parkName != '' " >
		 park_name,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		 plate_no,
		</if>
    	<if test="plateColor != null " >
		plate_color,
		</if>
    	<if test="berthNo != null and berthNo != '' " >
		 berth_no,
		</if>
    	<if test="collector != null and collector != '' " >
		 collector,
		</if>
    	<if test="parkPhoto != null and parkPhoto != '' " >
		 park_photo,
		</if>
    	<if test="arriveTime != null " >
		arrive_time,
		</if>
    	<if test="departureTime != null " >
		departure_time,
		</if>
    	<if test="parkFee != null " >
		park_fee,
		</if>
		<if test="isCardAutopay != null " >
		is_card_autopay,
		</if>
		<if test="cardAutopayUserid != null  and cardAutopayUserid != '' " >
		card_autopay_userid,
		</if>
    	<if test="autopay != null " >
		autopay,
		</if>
    	<if test="aliapayArrive != null " >
		aliapay_arrive,
		</if>
    	<if test="aliapayDeparture != null " >
		aliapay_departure,
		</if>
    	<if test="autopayStatus != null " >
		autopay_status,
		</if>
		<if test="parkModel != null " >
		park_model,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="areaCode != null and areaCode != '' " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="parkStat != null and parkStat != '' " >
  		<![CDATA[  #{parkStat}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="parkId != null " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="plateColor != null " >
  		<![CDATA[  #{plateColor}, ]]>
    	</if>
    	<if test="berthNo != null and berthNo != '' " >
  		<![CDATA[  #{berthNo}, ]]>
    	</if>
    	<if test="collector != null and collector != '' " >
  		<![CDATA[  #{collector}, ]]>
    	</if>
    	<if test="parkPhoto != null and parkPhoto != '' " >
  		<![CDATA[  #{parkPhoto}, ]]>
    	</if>
    	<if test="arriveTime != null " >
  		<![CDATA[  #{arriveTime}, ]]>
    	</if>
    	<if test="departureTime != null " >
  		<![CDATA[  #{departureTime}, ]]>
    	</if>
    	<if test="parkFee != null " >
  		<![CDATA[  #{parkFee}, ]]>
    	</if>
    	
    	<if test="isCardAutopay != null " >
		 	<![CDATA[  #{isCardAutopay}, ]]>
		</if>
		<if test="cardAutopayUserid != null  and cardAutopayUserid != '' " >
			<![CDATA[  #{cardAutopayUserid}, ]]>
		</if>
    	
    	<if test="autopay != null " >
  		<![CDATA[  #{autopay}, ]]>
    	</if>
    	<if test="aliapayArrive != null " >
  		<![CDATA[  #{aliapayArrive}, ]]>
    	</if>
    	<if test="aliapayDeparture != null " >
  		<![CDATA[  #{aliapayDeparture}, ]]>
    	</if>
    	<if test="autopayStatus != null " >
  		<![CDATA[  #{autopayStatus}, ]]>
    	</if>
    	<if test="parkModel != null " >
  		<![CDATA[  #{parkModel}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update trans_park_record t set 
   <trim suffixOverrides="," >
	<if test="areaCode != null and areaCode != '' " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="parkStat != null and parkStat != '' " >
  	<![CDATA[  t.park_stat = #{parkStat}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="parkId != null " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="plateColor != null " >
  	<![CDATA[  t.plate_color = #{plateColor}, ]]>
    </if>
    <if test="berthNo != null and berthNo != '' " >
  	<![CDATA[  t.berth_no = #{berthNo}, ]]>
    </if>
    <if test="collector != null and collector != '' " >
  	<![CDATA[  t.collector = #{collector}, ]]>
    </if>
    <if test="parkPhoto != null and parkPhoto != '' " >
  	<![CDATA[  t.park_photo = #{parkPhoto}, ]]>
    </if>
    <if test="arriveTime != null " >
  	<![CDATA[  t.arrive_time = #{arriveTime}, ]]>
    </if>
    <if test="departureTime != null " >
  	<![CDATA[  t.departure_time = #{departureTime}, ]]>
    </if>
    <if test="parkFee != null " >
  	<![CDATA[  t.park_fee = #{parkFee}, ]]>
    </if>
    <if test="autopay != null " >
  	<![CDATA[  t.autopay = #{autopay}, ]]>
    </if>
    <if test="aliapayArrive != null " >
  	<![CDATA[  t.aliapay_arrive = #{aliapayArrive}, ]]>
    </if>
    <if test="aliapayDeparture != null " >
  	<![CDATA[  t.aliapay_departure = #{aliapayDeparture}, ]]>
    </if>
    <if test="autopayStatus != null " >
  	<![CDATA[  t.autopay_status = #{autopayStatus}, ]]>
    </if>
    <if test="parkModel != null " >
  	<![CDATA[  t.park_model = #{parkModel}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from trans_park_record where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from trans_park_record t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from trans_park_record t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from trans_park_record t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据区域和停车记录ID查询 -->
<select id="queryByAreaAnaParkRecord" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM trans_park_record
	WHERE 1=1 and AREA_CODE = #{areaCode} AND PARKRECORD_ID = #{parkrecordId} 
	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  AND  plate_no = #{plateNo}   ]]>
    </if> limit 1 
</select>

<!-- 根据区域+停车记录ID+在停记录(departure_time) 查询 -->
<select id="queryByAreaAndParkingRecord" resultMap="BaseResultMap"  parameterType="Object">
	SELECT * FROM trans_park_record
	WHERE AREA_CODE = #{areaCode} AND PARKRECORD_ID = #{parkrecordId} AND departure_time is null  
</select>

<!--  查询车辆在停记录  -->
<select id="queryNearbyParkRecordByPlateList" resultMap="BaseResultMap" parameterType="Object">
	SELECT * FROM trans_park_record
	WHERE PLATE_NO = #{plateNo}
	  AND ARRIVE_TIME IS NOT NULL AND DEPARTURE_TIME IS NULL
	ORDER BY ARRIVE_TIME DESC
</select>
<!--	LIMIT 1;  同一车牌可能在多个停车场停放，目前路内业务可能出现这种情况-->


	<!-- 根据plateNo，修改记录-->
	<update id="updateCardAutopay" parameterType="Object" >
		update trans_park_record t set
		<trim suffixOverrides="," >
			<if test="autopay != null " >
				<![CDATA[  t.autopay = #{autopay}, ]]>
			</if>
			<if test="isCardAutopay != null " >
				<![CDATA[  t.is_card_autopay = #{isCardAutopay}, ]]>
			</if>
			<![CDATA[  t.card_autopay_userid = #{cardAutopayUserid}, ]]>
			<if test="updateTime != null " >
				<![CDATA[  t.update_time = #{updateTime}, ]]>
			</if>
		</trim> WHERE plate_no = #{plateNo} AND arrive_time IS NOT NULL AND departure_time IS NULL
	</update>
</mapper>
