<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd 
       		http://www.springframework.org/schema/context 
       		http://www.springframework.org/schema/context/spring-context.xsd
       		http://www.springframework.org/schema/aop 
       		http://www.springframework.org/schema/aop/spring-aop.xsd
       		http://www.springframework.org/schema/mvc
       		http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName">


	<!-- 监听实现 -->
    <bean id="simpleMqListener" class="com.innotek.mq.api.listener.SimpleMqListener"></bean>
    <!-- 监听配置 -->
    <bean id="mqConsumer" class="com.innotek.mq.api.dao.impl.ONSConsumer" init-method="init">
        <property name="consumerId" value="CID_topic_innotek_test"/>
        <property name="accessKey" value="d4gQr7rB3ZuMwvf8"/>
        <property name="secretKey" value="XPEn16eJ0hoaIzrwpU50QxvY8c9Jm7"/>
        <property name="topic" value="topic_innotek_0921_1"/>
        <property name="subExpression" value="*"/>
        <property name="mqMessageListener" ref="simpleMqListener"/>
    </bean>

</beans>