<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd 
       		http://www.springframework.org/schema/context 
       		http://www.springframework.org/schema/context/spring-context.xsd
       		http://www.springframework.org/schema/aop 
       		http://www.springframework.org/schema/aop/spring-aop.xsd
       		http://www.springframework.org/schema/mvc
       		http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName">


	<!-- 生产者 10.165.99.186:9876;10.175.195.141:9876 -->
    <bean id="mqProducer" class="com.innotek.mq.api.dao.impl.RocketMQProducer" init-method="init">
        <property name="namesrvAddr" value="192.168.10.212:9876"/>
        <property name="producerGroup" value="TestProducer"/>
    </bean>
</beans>