<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.pay.ParkingRecordArrearageDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.innotek.fragrans.entity.pay.ParkingRecordArrearageEntity">
		<result column="id" property="id" />
		<result column="parking_id" property="parkingId" />
		<result column="city_code" property="cityCode" />
		<result column="park_code" property="parkCode" />
		<result column="berth_code" property="berthCode" />
		<result column="address" property="address" />
		<result column="plate_no" property="plateNo" />
		<result column="arrival_time" property="arrivalTime" />
		<result column="departure_time" property="departureTime" />
		<result column="park_fee" property="parkFee" />
		<result column="unpaid_fee" property="unpaidFee" />
		<result column="beyond_fee" property="beyondFee" />
		<result column="discount_fee" property="discountFee" />
		<result column="fee_state" property="feeState" />
		<result column="status" property="status" />
		<result column="flag" property="flag" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="park_name" property="parkName" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		t.parking_id,
		t.city_code,
		t.park_code,
		t.berth_code,
		t.address,
		t.plate_no,
		t.arrival_time,
		t.departure_time,
		t.park_fee,
		t.unpaid_fee,
		t.beyond_fee,
		t.discount_fee,
		t.fee_state,
		t.status,
		t.flag,
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="parkingId != null and parkingId != '' ">
				and t.parking_id = #{parkingId}
			</if>
			<if test="cityCode != null ">
				and t.city_code = #{cityCode}
			</if>
			<if test="parkCode != null and parkCode != '' ">
				and t.park_code = #{parkCode}
			</if>
			<if test="berthCode != null and berthCode != '' ">
				and t.berth_code = #{berthCode}
			</if>
			<if test="address != null and address != '' ">
				and t.address = #{address}
			</if>
			<if test="plateNo != null and plateNo != '' ">
				and t.plate_no = #{plateNo}
			</if>
			<if test="arrivalTime != null ">
				and t.arrival_time = #{arrivalTime}
			</if>
			<if test="departureTime != null ">
				and t.departure_time = #{departureTime}
			</if>
			<if test="parkFee != null ">
				and t.park_fee = #{parkFee}
			</if>
			<if test="unpaidFee != null ">
				and t.unpaid_fee = #{unpaidFee}
			</if>
			<if test="beyondFee != null ">
				and t.beyond_fee = #{beyondFee}
			</if>
			<if test="discountFee != null ">
				and t.discount_fee = #{discountFee}
			</if>
			<if test="feeState != null and feeState != '' ">
				and t.fee_state = #{feeState}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="flag != null and flag != '' ">
				and t.flag = #{flag}
			</if>
			<if test="createdBy != null and createdBy != '' ">
				and t.created_by = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				and t.updated_by = #{updatedBy}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">

		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() as ID
		</selectKey>

		insert into APP_PARKING_RECORD_HIS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parkingId != null and parkingId != '' ">
				parking_id,
			</if>
			<if test="cityCode != null ">
				city_code,
			</if>
			<if test="parkCode != null and parkCode != '' ">
				park_code,
			</if>
			<if test="berthCode != null and berthCode != '' ">
				berth_code,
			</if>
			<if test="address != null and address != '' ">
				address,
			</if>
			<if test="plateNo != null and plateNo != '' ">
				plate_no,
			</if>
			<if test="arrivalTime != null ">
				arrival_time,
			</if>
			<if test="departureTime != null ">
				departure_time,
			</if>
			<if test="parkFee != null ">
				park_fee,
			</if>
			<if test="unpaidFee != null ">
				unpaid_fee,
			</if>
			<if test="beyondFee != null ">
				beyond_fee,
			</if>
			<if test="discountFee != null ">
				discount_fee,
			</if>
			<if test="feeState != null and feeState != '' ">
				fee_state,
			</if>
			<if test="status != null ">
				status,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createdBy != null and createdBy != '' ">
				created_by,
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				updated_by,
			</if>
			<if test="createTime != null ">
				create_time,
			</if>
			<if test="updateTime != null ">
				update_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parkingId != null and parkingId != '' ">
  		<![CDATA[  #{parkingId}, ]]>
			</if>
			<if test="cityCode != null ">
  		<![CDATA[  #{cityCode}, ]]>
			</if>
			<if test="parkCode != null and parkCode != '' ">
  		<![CDATA[  #{parkCode}, ]]>
			</if>
			<if test="berthCode != null and berthCode != '' ">
  		<![CDATA[  #{berthCode}, ]]>
			</if>
			<if test="address != null and address != '' ">
  		<![CDATA[  #{address}, ]]>
			</if>
			<if test="plateNo != null and plateNo != '' ">
  		<![CDATA[  #{plateNo}, ]]>
			</if>
			<if test="arrivalTime != null ">
  		<![CDATA[  #{arrivalTime}, ]]>
			</if>
			<if test="departureTime != null ">
  		<![CDATA[  #{departureTime}, ]]>
			</if>
			<if test="parkFee != null ">
  		<![CDATA[  #{parkFee}, ]]>
			</if>
			<if test="unpaidFee != null ">
  		<![CDATA[  #{unpaidFee}, ]]>
			</if>
			<if test="beyondFee != null ">
  		<![CDATA[  #{beyondFee}, ]]>
			</if>
			<if test="discountFee != null ">
  		<![CDATA[  #{discountFee}, ]]>
			</if>
			<if test="feeState != null and feeState != '' ">
  		<![CDATA[  #{feeState}, ]]>
			</if>
			<if test="status != null ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  		<![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  		<![CDATA[  #{updatedBy}, ]]>
			</if>
			<if test="createTime != null ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
			<if test="updateTime != null ">
  		<![CDATA[  #{updateTime}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update APP_PARKING_RECORD_HIS t set
		<trim suffixOverrides=",">
			<if test="parkingId != null and parkingId != '' ">
  	<![CDATA[  t.parking_id = #{parkingId}, ]]>
			</if>
			<if test="cityCode != null ">
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
			</if>
			<if test="parkCode != null and parkCode != '' ">
  	<![CDATA[  t.park_code = #{parkCode}, ]]>
			</if>
			<if test="berthCode != null and berthCode != '' ">
  	<![CDATA[  t.berth_code = #{berthCode}, ]]>
			</if>
			<if test="address != null and address != '' ">
  	<![CDATA[  t.address = #{address}, ]]>
			</if>
			<if test="plateNo != null and plateNo != '' ">
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
			</if>
			<if test="arrivalTime != null ">
  	<![CDATA[  t.arrival_time = #{arrivalTime}, ]]>
			</if>
			<if test="departureTime != null ">
  	<![CDATA[  t.departure_time = #{departureTime}, ]]>
			</if>
			<if test="parkFee != null ">
  	<![CDATA[  t.park_fee = #{parkFee}, ]]>
			</if>
			<if test="unpaidFee != null ">
  	<![CDATA[  t.unpaid_fee = #{unpaidFee}, ]]>
			</if>
			<if test="beyondFee != null ">
  	<![CDATA[  t.beyond_fee = #{beyondFee}, ]]>
			</if>
			<if test="discountFee != null ">
  	<![CDATA[  t.discount_fee = #{discountFee}, ]]>
			</if>
			<if test="feeState != null and feeState != '' ">
  	<![CDATA[  t.fee_state = #{feeState}, ]]>
			</if>
			<if test="status != null ">
  	<![CDATA[  t.status = #{status}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  	<![CDATA[  t.flag = #{flag}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
			</if>
			<if test="createTime != null ">
  	<![CDATA[  t.create_time = #{createTime}, ]]>
			</if>
			<if test="updateTime != null ">
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
			</if>
		</trim>
		where t.id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from
		APP_PARKING_RECORD_HIS t where t.id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_PARKING_RECORD_HIS t where t.id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from APP_PARKING_RECORD_HIS t
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_PARKING_RECORD_HIS t
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by t.id desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<select id="queryRecordByPlateNo" resultMap="BaseResultMap"
		parameterType="Object">
		select
			t.parking_id,
			t.city_code,
			t.park_code,
			t2.name as park_Name,
			t.berth_code,
			t.address,
			t.plate_no,
			t.arrival_time,
			t.departure_time,
			t.park_fee,
			t.unpaid_fee,
			t.beyond_fee,
			t.discount_fee,
			t.fee_state,
			t.status,
			t.flag,
			t.created_by,
			t.updated_by,
			t.create_time,
			t.update_time,
			t.id
		from APP_PARKING_RECORD_ARREARAGE t left join APP_PARK t2 on t.PARK_CODE=t2.PARK_CODE where plate_no in 
		<foreach collection="plateNo" open="(" close=")" item="plate"
			separator=",">
			#{plate}
		</foreach>

        and t.flag!='DELETE'
		limit
		#{min},#{max}
	</select>
	<select id="queryRecordDetail" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_PARKING_RECORD_ARREARAGE t where t.id = #{parkRecordId}
	</select>
	
	<select id="queryAllRecordCount" resultType="java.lang.Integer" 
	parameterType="Object">
		select sum(counter) from (
		select count(ID) as counter from APP_PARKING_RECORD_ARREARAGE g where plate_no in 
		<foreach collection="plateNo" open="(" close=")" item="plate"
			separator=",">
			#{plate}
		</foreach>
		and g.flag!='DELETE'
		union all
		select count(ID) as counter from APP_PARKING_RECORD_HIS g2 where g2.id in (
		 SELECT parking_record_id FROM APP_CHARGE_RECORD WHERE user_id =#{userId} and FLAG!='DELETE'
		)
		and g2.flag!='DELETE'
		) APP_PARKING_RECORD
	</select>
	
	<select id="queryRecordCount" resultType="java.lang.Integer" 
	parameterType="Object">
		select count(ID) as counter from APP_PARKING_RECORD_ARREARAGE g where plate_no in 
		<foreach collection="plateNo" open="(" close=")" item="plate"
			separator=",">
			#{plate}
		</foreach>
		and g.flag!='DELETE'
	</select>
</mapper>   
