<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.pay.PayOrderDao" > 

  <!-- Result Map-->
  <resultMap id="PayOrderConfResultMap" type="com.innotek.fragrans.entity.pay.PayOrderConfEntity" >
	    <result column="provider_no" property="providerNo"/>
		<result column="park_id" property="parkId"/>
		<result column="app_id" property="appId"/>
		<result column="pay_ment" property="payMent"/>
		<result column="is_default" property="isDefault"/>
		<result column="seller_account" property="sellerAccount"/>
		<result column="provider_key" property="providerKey"/>
		<result column="alipay_public" property="alipayPublic"/>
		<result column="alipay_private" property="alipayPrivate"/>
		<result column="notify_url" property="notifyUrl"/>
	</resultMap>

<!-- 根据停车场ID和支付方式  查询用户所属商户的支付秘钥信息（条件：IS_USED=1 启用有效的秘钥； is_default=0不是默认的秘钥；   VALIDITY_DATE>NOW()有效期正常；  -->
<select id="getProviderPayInfoByParkId" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
	 SELECT con.provider_no,rel.park_id,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_park_rel  rel
		 LEFT JOIN  app_provider_connect  con ON rel.provider_no = con.provider_no 
		 WHERE 1=1  AND con.IS_USED=1  AND con.VALIDITY_DATE>NOW() and rel.park_id = #{parkId} and con.payMent = #{payMent}
    <trim suffixOverrides=",">
		<if test="isDefault != null">
			and con.is_default = #{isDefault}
		</if>
		<if test="payVersion != null and payVersion != '' ">
			and con.pay_version = #{payVersion}
		</if>
		<if test="payVersion == null">
			and con.pay_version IS NULL
		</if>
	</trim>
	limit 1 
</select>

<!-- 根据区域和支付方式  查询用户所属商户的支付秘钥信息（条件：IS_USED=1 启用有效的秘钥； is_default=0不是默认的秘钥；   VALIDITY_DATE>NOW()有效期正常；  -->
<select id="getProviderPayInfoByArea" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
	 SELECT con.provider_no,rel.park_id,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_park_rel  rel
		 LEFT JOIN  app_provider_connect  con ON rel.provider_no = con.provider_no 
		 WHERE 1=1  AND con.IS_USED=1  AND con.VALIDITY_DATE>NOW() and rel.area_code = #{areaCode} and con.payMent = #{payMent}
    <trim suffixOverrides=",">
		<if test="isDefault != null">
			and con.is_default = #{isDefault}
		</if>
		<if test="payVersion != null and payVersion != '' ">
			and con.pay_version = #{payVersion}
		</if>
		<if test="payVersion == null">
			and con.pay_version IS NULL
		</if>
	</trim>
	limit 1 
</select>

<!-- 根据停车点ID查询 商户的全部支付方式 -->
<select id="getParkProviderPayMentList" parameterType="java.lang.String" resultMap="PayOrderConfResultMap">
 SELECT  DISTINCT con.payment  FROM app_provider_park_rel  rel
		 LEFT JOIN  app_provider_connect  con ON rel.provider_no = con.provider_no 
		 WHERE 1=1  AND con.IS_USED=1  AND con.VALIDITY_DATE > NOW() AND  con.is_default=0 AND con.flag != 'DELETE' AND rel.DELETED=1 
		 AND rel.park_id = #{parkId}
		 order by con.payment asc
</select>

<!-- 根据区域查询 商户的全部支付方式 -->
<select id="getProviderPayMentListByArea" parameterType="java.lang.Integer" resultMap="PayOrderConfResultMap">
 SELECT  DISTINCT con.payment  FROM app_provider_park_rel  rel
		 LEFT JOIN  app_provider_connect  con ON rel.provider_no = con.provider_no 
		 WHERE 1=1  AND con.IS_USED=1  AND con.VALIDITY_DATE > NOW() AND  con.is_default=0 AND con.flag != 'DELETE' AND rel.DELETED=1 
		 AND rel.AUTH_TYPE = 2 AND rel.area_code = #{areaCode}
		 ORDER BY con.payment asc
</select>


<!--  查询系统默认的收款方账号   条件：IS_USED=1 启用有效的秘钥； is_default=0不是默认的秘钥；   VALIDITY_DATE>NOW()有效期正常；  -->
<select id="getDefaultPayInfo" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
	 SELECT con.provider_no,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_connect  con 
		 WHERE 1=1  AND con.IS_USED=1  AND con.VALIDITY_DATE > NOW() AND con.is_default = 1  and con.payMent = #{payMent}
		 limit 1
</select>

	<select id="getPayInfoByPayVersion" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
		SELECT con.provider_no,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		FROM app_provider_connect  con
		WHERE con.IS_USED=1  AND con.VALIDITY_DATE > NOW() AND con.PAY_VERSION = #{payVersion} and con.payMent = #{payMent}
		limit 1
	</select>

<!-- *************************************获取默认商户的全部支付方式***************************************************** -->
<select id="getDefaultProviderPayMentList"  resultMap="PayOrderConfResultMap">
 SELECT con.provider_no,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_connect  con
		 WHERE con.is_default=1  AND con.IS_USED=1 AND con.flag != 'DELETE' AND con.VALIDITY_DATE &gt; NOW()
		 order by  con.payment asc 
</select>

<!-- *************************************根据支付方式获取默认商户的支付信息****************************************************** -->
<select id="getDefaultProviderPayInfo" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
 SELECT con.provider_no,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_connect  con
		 WHERE con.is_default=1  AND con.IS_USED=1 AND con.flag != 'DELETE' AND con.VALIDITY_DATE &gt; NOW() AND payment = #{payment} limit 1
</select>

<!-- 根据停车点ID和支付方式查询 所属商户的支付信息 -->
<select id="getParkProviderPayInfoByParkId" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
 SELECT con.provider_no,rel.park_id,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_park_rel  rel
		 LEFT JOIN  app_provider_connect  con ON rel.provider_no = con.provider_no 
		 WHERE con.IS_USED=1  AND con.VALIDITY_DATE &gt; NOW() AND rel.park_id = #{parkId}
		 AND con.payment = #{payment} AND con.is_default=0 AND con.flag != 'DELETE' AND rel.DELETED=1
		<if test="payVersion != null and payVersion != '' ">
			and con.pay_version = #{payVersion}
		</if>
		<if test="payVersion == null">
			and con.pay_version IS NULL
		</if>
		 LIMIT 1
</select>

<!-- 根据区域编码和支付方式查询 所属商户的支付信息 -->
<select id="getParkProviderPayInfoByArea" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
 SELECT con.provider_no,rel.park_id,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		 FROM app_provider_park_rel  rel
		 LEFT JOIN  app_provider_connect  con ON rel.provider_no = con.provider_no 
		 WHERE con.IS_USED=1  AND con.VALIDITY_DATE &gt; NOW() AND rel.area_code = #{areaCode} AND rel.auth_type = 2
		 AND con.payment = #{payment} AND con.is_default=0 AND con.flag != 'DELETE' AND rel.DELETED=1
		<if test="payVersion != null and payVersion != '' ">
			and con.pay_version = #{payVersion}
		</if>
		<if test="payVersion == null">
			and con.pay_version IS NULL
		</if>
		 LIMIT 1
</select>

	<select id="getProviderPayInfoByPayVersion" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
		SELECT con.provider_no,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		FROM app_provider_connect  con
		WHERE con.pay_version=#{payVersion} AND con.IS_USED=1 AND con.flag != 'DELETE' AND con.VALIDITY_DATE &gt; NOW() AND payment = #{payment} limit 1
	</select>

	<!-- *************************************根据支付方式和商户编号查询商户配置***************************************************** -->
	<select id="findByProviderNoAndPayment" parameterType="java.util.Map" resultMap="PayOrderConfResultMap">
		SELECT con.provider_no,con.appid,con.applyid,con.payment,con.seller_account,con.provider_key,con.alipay_public,con.is_default,con.alipay_private,con.notify_url
		FROM app_provider_connect con
		WHERE con.payment = #{payment} AND con.provider_no = #{providerNo} AND con.IS_USED=1 AND con.flag != 'DELETE' AND con.VALIDITY_DATE &gt; NOW()
	</select>

</mapper>   
