<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.business.dao.ActivityDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.innotek.fragrans.entity.appsystem.ActivityEntity">
		<result column="id" property="id" />
		<result column="city_code" property="cityCode" />
		<result column="park_id" property="parkId" />
		<result column="park_name" property="parkName" />
		<result column="activity_topic_id" property="activityTopicId" />
		<result column="topic_name" property="topicName" />
		<result column="activity_name" property="activityName" />
		<result column="content" property="content" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="status" property="status" />
		<result column="activity_type" property="activityType" />
		<result column="activity_imageurl" property="activityImageurl"/>
		<result column="activity_url" property="activityUrl" />
		<result column="activity_preferential_type" property="activityPreferentialType"></result>
		<result column="verifv_status" property="verifvStatus"></result>
		<result column="verifv_user" property="verifvUser"></result>
		<result column="verifv_time" property="verifvTime"></result>
		<result column="verifv_info" property="vefifvInfo"></result>
		<result column="flag" property="flag" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="activity_code" property="activityCode" />
		<result column="activity_code_name" property="activityCodeName" />
		<result column="day_ticket_count" property="dayTicketCount" />
		<result column="all_ticket_count" property="allTicketCount" />
	</resultMap>
	
	<!-- table all fields -->
	<sql id="Base_Column_List">
		t.city_code,
		t.park_id,
		t.activity_topic_id,
		t.activity_name,
		t.content,
		t.start_time,
		t.end_time,
		t.status,
		t.activity_type,
		t.activity_imageurl,
		t.activity_url,
		t.activity_preferential_type,
		t.verifv_status,
		t.verifv_user,
		t.verifv_time,
		t.verifv_info,
		t.flag,
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.day_ticket_count,
		t.all_ticket_count,
		t.id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="cityCode != null and cityCode != '' ">
				and t.city_code = #{cityCode}
			</if>
			<if test="parkId != null and parkId != '' ">
				and t.park_id = #{parkId}
			</if>
			<if test="activityTopicId != null and activityTopicId != '' ">
				and t.activity_topic_id = #{activityTopicId}
			</if>
			<if test="activityName != null and activityName != '' ">
				and t.activity_name like concat('%',#{activityName},'%') 
			</if>
			<if test="content != null and content != '' ">
				and t.content = #{content}
			</if>
			<if test="startTime != null ">
				and t.start_time = #{startTime}
			</if>
			<if test="endTime != null ">
				and t.end_time = #{endTime}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="activityType != null ">
				and t.activity_type = #{activityType}
			</if>
			<if test="activityImageurl != null ">
				and t.activity_imageurl = #{activityImageurl}
			</if>
			<if test="activityUrl != null and activityUrl != '' ">
				and t.activity_url = #{activityUrl}
			</if>
			<if test="activityPreferentialType != null  ">
				and t.activity_preferential_type = #{activityPreferentialType}
			</if>
			<if test="verifvStatus != null  ">
				and t.verifv_status = #{verifvStatus}
			</if>
			<if test="verifvUser != null  and verifvUser != '' ">
				and t.verifv_user = #{verifvUser}
			</if>
			<if test="verifvTime != null  ">
				and t.verifv_time = #{verifvTime}
			</if>
			<if test="vefifvInfo != null  and vefifvInfo != '' ">
				and t.vefifv_info = #{vefifvInfo}
			</if>
			<if test="flag != null and flag != '' ">
				and t.flag = #{flag}
			</if>
			<if test="createdBy != null and createdBy != '' ">
				and t.created_by = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				and t.updated_by = #{updatedBy}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
			<if test="dayTicketCount != null ">
				and t.day_ticket_count = #{dayTicketCount}
			</if>
			<if test="allTicketCount != null ">
				and t.all_ticket_count = #{allTicketCount}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into APP_ACTIVITY
		<trim prefix="(" suffix=")" suffixOverrides=",">
				create_time,
				update_time,
			<if test="id != null">
				id,
			</if>
			<if test="cityCode != null and cityCode != '' ">
				city_code,
			</if>
			<if test="parkId != null and parkId != '' ">
				park_id,
			</if>
			<if test="activityTopicId != null and activityTopicId != '' ">
				activity_topic_id,
			</if>
			<if test="activityName != null and activityName != '' ">
				activity_name,
			</if>
			<if test="activityCode != null and activityCode != '' ">
				activity_code,
			</if>
			<if test="content != null and content != '' ">
				content,
			</if>
			<if test="startTime != null ">
				start_time,
			</if>
			<if test="endTime != null ">
				end_time,
			</if>
			<if test="status != null ">
				status,
			</if>
			<if test="activityType != null ">
				activity_type,
			</if>
			<if test="activityImageurl != null and activityImageurl != '' ">
				activity_imageurl,
			</if>
			<if test="activityUrl != null and activityUrl != '' ">
				activity_url,
			</if>
			<if test="activityPreferentialType != null  ">
				activity_preferential_type,
			</if>
			<if test="verifvStatus != null  ">
				verifv_status,
			</if>
			<if test="verifvUser != null  and verifvUser != '' ">
				verifv_user,
			</if>
			<if test="verifvTime != null  ">
				verifv_time,
			</if>
			<if test="vefifvInfo != null  and vefifvInfo != '' ">
				vefifv_info,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
			<if test="createdBy != null and createdBy != '' ">
				created_by,
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				updated_by,
			</if>
			<if test="dayTicketCount != null">
				day_ticket_count,
			</if>
			<if test="allTicketCount != null">
				all_ticket_count,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
				now(),
				now(),
			<if test="id != null">
  		<![CDATA[  #{id}, ]]>
			</if>
			<if test="cityCode != null and cityCode != '' ">
  		<![CDATA[  #{cityCode}, ]]>
			</if>
			<if test="parkId != null and parkId != '' ">
  		<![CDATA[  #{parkId}, ]]>
			</if>
			<if test="activityTopicId != null and activityTopicId != '' ">
  		<![CDATA[  #{activityTopicId}, ]]>
			</if>
			<if test="activityName != null and activityName != '' ">
  		<![CDATA[  #{activityName}, ]]>
			</if>
			<if test="activityCode != null and activityCode != '' ">
  		<![CDATA[  #{activityCode}, ]]>
			</if>
			<if test="content != null and content != '' ">
  		<![CDATA[  #{content}, ]]>
			</if>
			<if test="startTime != null ">
  		<![CDATA[  #{startTime}, ]]>
			</if>
			<if test="endTime != null ">
  		<![CDATA[  #{endTime}, ]]>
			</if>
			<if test="status != null ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="activityType != null ">
  		<![CDATA[  #{activityType}, ]]>
			</if>
			<if test="activityImageurl != null and activityImageurl != '' ">
  		<![CDATA[  #{activityImageurl}, ]]>
			</if>
			<if test="activityUrl != null and activityUrl != '' ">
  		<![CDATA[  #{activityUrl}, ]]>
			</if>
			<if test="activityPreferentialType != null  ">
  		<![CDATA[  #{activityPreferentialType}, ]]>
			</if>
			<if test="verifvStatus != null  ">
		<![CDATA[  #{verifvStatus}, ]]>
			</if>
			<if test="verifvUser != null  and verifvUser != '' ">
		<![CDATA[  #{verifvUser}, ]]>
			</if>
			<if test="verifvTime != null  ">
		<![CDATA[  #{verifvTime}, ]]>
			</if>
			<if test="vefifvInfo != null  and vefifvInfo != '' ">
		<![CDATA[  #{vefifvInfo}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  		<![CDATA[  #{flag}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  		<![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  		<![CDATA[  #{updatedBy}, ]]>
			</if>
			<if test="dayTicketCount != null">
  		<![CDATA[  #{dayTicketCount}, ]]>
			</if>
			<if test="allTicketCount != null">
  		<![CDATA[  #{allTicketCount}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update APP_ACTIVITY t set
		<trim suffixOverrides=",">
			<if test="cityCode != null and cityCode != '' ">
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
			</if>
			<if test="parkId != null and parkId != '' ">
  	<![CDATA[  t.park_id = #{parkId}, ]]>
			</if>
			<if test="activityTopicId != null and activityTopicId != '' ">
  	<![CDATA[  t.activity_topic_id = #{activityTopicId}, ]]>
			</if>
			<if test="activityName != null and activityName != '' ">
  	<![CDATA[  t.activity_name = #{activityName}, ]]>
			</if>
			<if test="activityCode != null and activityCode != '' ">
  	<![CDATA[  t.activity_code = #{activityCode}, ]]>
			</if>
			<if test="content != null and content != '' ">
  	<![CDATA[  t.content = #{content}, ]]>
			</if>
			<if test="startTime != null ">
  	<![CDATA[  t.start_time = #{startTime}, ]]>
			</if>
			<if test="endTime != null ">
  	<![CDATA[  t.end_time = #{endTime}, ]]>
			</if>
			<if test="status != null ">
  	<![CDATA[  t.status = #{status}, ]]>
			</if>
			<if test="activityType != null ">
  	<![CDATA[  t.activity_type = #{activityType}, ]]>
			</if>
			<if test="activityImageurl != null and activityImageurl != '' ">
  	<![CDATA[  t.activity_imageurl = #{activityImageurl}, ]]>
			</if>
			<if test="activityUrl != null and activityUrl != '' ">
  	<![CDATA[  t.activity_url = #{activityUrl}, ]]>
			</if>
			<if test="activityPreferentialType != null  ">
  	<![CDATA[  t.activity_preferential_type = #{activityPreferentialType}, ]]>
			</if>
			<if test="verifvStatus != null  ">
	<![CDATA[ t.verifv_status =  #{verifvStatus}, ]]>
			</if>
			<if test="verifvUser != null  and verifvUser != '' ">
	<![CDATA[ t.verifv_user = #{verifvUser}, ]]>
			</if>
			<if test="verifvTime != null  ">
	<![CDATA[ t.verifv_time = #{verifvTime}, ]]>
			</if>
			<if test="vefifvInfo != null  and vefifvInfo != '' ">
	<![CDATA[ t.vefifvInfo = #{vefifvInfo}, ]]>
			</if>
			<if test="flag != null and flag != '' ">
  	<![CDATA[  t.flag = #{flag}, ]]>
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
			</if>
			<if test="dayTicketCount != null ">
  	<![CDATA[  t.day_ticket_count = #{dayTicketCount}, ]]>
			</if>
			<if test="allTicketCount != null ">
  	<![CDATA[  t.all_ticket_count = #{allTicketCount}, ]]>
			</if>
  	<![CDATA[  t.update_time = now(), ]]>
		</trim>
		where t.id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from APP_ACTIVITY 
		where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		SELECT *
		FROM APP_ACTIVITY t
 		WHERE t.id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from APP_ACTIVITY t
 		LEFT JOIN app_park t1 ON t.park_id=t1.id
 		LEFT JOIN app_activity_topic top ON t.activity_topic_id=top.id
 		LEFT JOIN app_activity_code code on t.activity_code = code.activity_code	
		WHERE 1=1 AND t.flag!='DELETE'
		<if test="activityName != null and activityName != '' ">
				and t.activity_name like concat('%',#{activityName},'%') 
		</if>
	</select>
	
	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		SELECT t.*,t1.name park_name,top.topic_name,code.activity_code_name
		FROM APP_ACTIVITY t
 		LEFT JOIN app_park t1 ON t.park_id=t1.id
 		LEFT JOIN app_activity_topic top ON t.activity_topic_id=top.id
 		LEFT JOIN app_activity_code code on t.activity_code = code.activity_code	
		where t.flag!='DELETE'
		<if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
			and t.start_time between #{startTime} and #{endTime}
			and t.end_time between #{startTime} and #{endTime}
		</if>
		<if test="status != null ">
			and t.status = #{status}
		</if>
		<if test="activityName != null and activityName != '' ">
			and t.activity_name like concat('%',#{activityName},'%') 
		</if>
		<if test="pager.orderCondition == ''">
			order by t.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<!-- 根据城市编码和活动名称精确查活动信息 -->
	<select id="queryByActivityNameAndCityCode" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT * FROM app_activity 
		WHERE flag!='DELETE' AND STATUS = 1
		  AND city_code = #{cityCode}
		  AND activity_name = #{activityName} 
		limit 1 
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<select id="queryByCityCodeAndParkId" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_ACTIVITY t
		where t.city_code = #{cityCode}
		and t.park_id = (select id from APP_PARK t1 where t1.park_code = #{parkCode} and t1.city_code = #{cityCode})
		and t.activity_type = #{parkType}
	</select>
	
	<select id="findUsedActivityList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM APP_ACTIVITY t WHERE t.city_code= #{cityCode} AND t.STATUS=1 
		AND (t.ACTIVITY_TYPE=2 OR t.ACTIVITY_TYPE=3) 
		AND DATE_FORMAT(NOW(),'%y-%m-%d') BETWEEN t.START_TIME AND t.END_TIME
	</select>
	
	<!-- 查询当前是否有活动 -->
	<select id="queryByMap"  resultMap="BaseResultMap"  parameterType="Object">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM app_activity t 
		WHERE t.city_code = #{cityCode} 
		AND t.park_id = #{parkId} 
		AND t.status = 1 
		AND (t.activity_type = #{activityType} OR t.activity_type = 3)
		AND DATE_FORMAT(NOW(),'%y-%m-%d') BETWEEN t.start_time AND t.end_time 
		AND t.flag != 'DELETE'
		ORDER BY t.start_time DESC;
	</select>
	
	<select id="getActivityByActivityId" resultMap="BaseResultMap" parameterType="Object">
		SELECT * FROM app_activity
		where id=#{activityId}
		limit 1
	</select>
	
	<select id="getActivity" resultMap="BaseResultMap">
		SELECT * FROM app_activity
		where activity_preferential_type = #{_parameter}
	</select>
	
	<select id="getActivityForTiger" resultMap="BaseResultMap">
		select * from app_activity t where t.id not in
		(select tc.activity_id from app_activity_tiger_conf tc)
	</select>

<!-- 获取指定区域指定日期的活动 -->	
<select id="queryActivityByCodeAndTimeAndTopicId" resultMap="BaseResultMap">
	SELECT t.* FROM app_activity t
	LEFT JOIN app_activity_area_conf t1 ON t.id = t1.obj_id
	WHERE 1=1  AND #{dayTime} BETWEEN t.start_time AND t.end_time
	AND t1.obj_type = 2 AND t1.area_code = #{areaCode}
	<if test="activityTopicId != null and activityTopicId != '' ">
		AND t.activity_topic_id = #{activityTopicId}
	</if>
</select>
	
<!-- 根据activityCode查询活动 并且活动未配置活动标识 -->
<select id="queryActivityByActivityCode" resultMap="BaseResultMap" parameterType="Object">
	SELECT t.* FROM app_activity t
	where t.activity_code = #{_parameter}
	and t.id not in
		(select m.activity_id from app_activity_mark m)
</select>

<!-- 关联活动标识表查询有效的活动 -->
<select id="getValidActivity"  resultMap="BaseResultMap">
	SELECT * FROM app_activity ac
	JOIN app_activity_mark m ON ac.id=m.ACTIVITY_id
	WHERE ac.START_TIME &lt;=  date_format(now(),'%Y-%m-%d')
	 AND ac.END_TIME &gt;=  date_format(now(),'%Y-%m-%d')
</select>

<!-- 根据activityCode查询活动 并且活动未配置兑换码 -->
<select id="queryRedeemActivityByCode" resultMap="BaseResultMap" parameterType="Object">
	SELECT t.* FROM app_activity t
	where t.activity_code = #{_parameter}
</select>
</mapper>   
