<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.AppPrebuyDetailDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.AppPrebuyDetail" >
	<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="prebuy_id" property="prebuyId"/>
		<result column="order_no" property="orderNo"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="pay_status" property="payStatus"/>
		<result column="is_push" property="isPush"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="prebuy_timelong" property="prebuyTimeLong"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 update_time,
		 create_time,
		 flag,
		 prebuy_timelong,
		 end_time,
		 start_time,
		 is_push,
		 pay_status,
		 parkrecord_id,
		 order_no,
		 prebuy_id,
		 user_id,
		 id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="userId != null " >
    	and user_id =  #{userId}
	</if>
	<if test="prebuyId != null " >
    	and prebuy_id =  #{prebuyId}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and parkrecord_id =  #{parkrecordId}
	</if>
	<if test="orderNo != null " >
    	and order_no =  #{orderNo}
	</if>
	<if test="payStatus != null " >
    	and pay_status =  #{payStatus}
	</if>
	<if test="isPush != null " >
    	and is_push =  #{isPush}
	</if>
	<if test="startTime != null " >
    	and start_time =  #{startTime}
	</if>
	<if test="endTime != null " >
    	and end_time =  #{endTime}
	</if>
	<if test="prebuyTimeLong != null " >
    	and prebuy_timelong =  #{prebuyTimeLong}
	</if>
	<if test="flag != null and flag != '' " >
    	and flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
	</selectKey>
	insert into app_prebuy_detail 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	<if test="id != null and id != '' ">
				id,
		</if>
	 	<if test="userId != null " >
    	user_id,
	</if>
	<if test="prebuyId != null " >
    	prebuy_id,
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	parkrecord_id,
	</if>
	<if test="orderNo != null " >
    	order_no,
	</if>
	<if test="payStatus != null " >
    	pay_status,
	</if>
	<if test="isPush != null " >
    	is_push,
	</if>
	<if test="startTime != null " >
    	start_time,
	</if>
	<if test="endTime != null " >
    	end_time,
	</if>
	<if test="prebuyTimeLong != null " >
    	prebuy_timelong,
	</if>
	<if test="flag != null and flag != '' " >
    	flag,
	</if>
	<if test="createTime != null " >
    	create_time,
	</if>
	<if test="updateTime != null " >
    	update_time,
	</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' ">
  		<![CDATA[  #{id}, ]]>
		</if>
	 	<if test="userId != null " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="prebuyId != null " >
  		<![CDATA[  #{prebuyId}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="orderNo != null " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="payStatus != null " >
  		<![CDATA[  #{payStatus}, ]]>
    	</if>
    	<if test="isPush != null " >
  		<![CDATA[  #{isPush}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  #{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  #{endTime}, ]]>
    	</if>
    	<if test="prebuyTimeLong != null " >
  		<![CDATA[  #{prebuyTimeLong}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_prebuy_detail set 
   <trim suffixOverrides="," >
	<if test="userId != null " >
  		<![CDATA[  user_id=#{userId}, ]]>
    	</if>
    	<if test="prebuyId != null " >
  		<![CDATA[  prebuy_id=#{prebuyId}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  parkrecord_id=#{parkrecordId}, ]]>
    	</if>
    	<if test="orderNo != null " >
  		<![CDATA[  order_no=#{orderNo}, ]]>
    	</if>
    	<if test="payStatus != null " >
  		<![CDATA[  pay_status=#{payStatus}, ]]>
    	</if>
    	<if test="isPush != null " >
  		<![CDATA[  is_push=#{isPush}, ]]>
    	</if>
    	<if test="startTime != null " >
  		<![CDATA[  start_time=#{startTime}, ]]>
    	</if>
    	<if test="endTime != null " >
  		<![CDATA[  end_time=#{endTime}, ]]>
    	</if>
    	<if test="prebuyTimeLong != null " >
  		<![CDATA[  prebuy_timelong=#{prebuyTimeLong}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  flag=#{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  create_time=#{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  update_time=#{updateTime}, ]]>
    	</if>
     </trim> where id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_prebuy_detail t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_prebuy_detail t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_prebuy_detail t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_prebuy_detail t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据parkrecordid查询订单detail -->
<select id="queryByParkrecordId" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_prebuy_detail
	where parkrecord_id=#{parkrecordId}

</select>
<!-- 根据prebuyid查询订单detail -->
<select id="queryByPrebuyId" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_prebuy_detail
	where prebuy_id=#{prebuyId}
</select>
</mapper>   
