<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.AppPrebuyParkrecordDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.AppPrebuyParkrecord" >
	<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="berth_code" property="berthCode"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="park_name" property="parkName"/>
		<result column="plate_no" property="plateNo"/>
		<result column="arrival_time" property="arrivalTime"/>
		<result column="departure_time" property="departureTime"/>
		<result column="prebuy_count" property="prebuyCount"/>
		<result column="prebuy_duration" property="prebuyDuration"/>
		<result column="over_time" property="overTime"/>
		<result column="photo_count" property="photoCount"/>
		<result column="photo_url" property="photoUrl"/>
		<result column="photo_score" property="photoScore"/>
		<result column="status" property="status"/>
		<result column="is_departure" property="isDeparture"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="city_name" property="cityName"/>
		<result column="area_name" property="areaName"/>
		<result column="user_account" property="userAccount"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
	t.id,
	t.user_id,
	t.city_code,
	t.area_code,
	t.berth_code,
	t.parkrecord_id,
	t.park_name,
	t.plate_no,
	t.arrival_time,
	t.departure_time,
	t.prebuy_count,
	t.prebuy_duration,
	t.over_time,
	t.photo_count,
	t.photo_url,
	t.status,
	t.is_departure,
	t.flag,
	t.create_time,
	t.update_time
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="userId != null" >
	    and user_id = #{userId}
	</if>
	<if test="cityCode != null " >
    	and city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and area_code =  #{areaCode}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and parkrecord_id =  #{parkrecordId}
	</if>
	<if test="berthCode != null and berthCode != '' " >
    	and berth_code =  #{berthCode}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and park_name like '%${parkName}%'
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and plate_no like '%${plateNo}'
	</if>
	<if test="arrivalTime != null " >
    	and arrival_time =  #{arrivalTime}
	</if>
	<if test="departureTime != null " >
    	and departure_time =  #{departureTime}
	</if>
	<if test="prebuyCount != null " >
    	and prebuy_count =  #{prebuyCount}
	</if>
	<if test="prebuyDuration != null " >
    	and prebuy_duration =  #{prebuyDuration}
	</if>
	<if test="overTime != null " >
    	and over_time =  #{overTime}
	</if>
	<if test="photoCount != null " >
    	and photo_count =  #{photoCount}
	</if>
	<if test="photoUrl != null " >
    	and photo_url =  #{photoUrl}
	</if>
	<if test="status != null " >
    	and status =  #{status}
	</if>
	<if test="isDeparture != null " >
    	and is_departure =  #{isDeparture}
	</if>
	<if test="flag != null " >
    	and flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and update_time =  #{updateTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_prebuy_parkrecord 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  <if test="id != null and id != '' " >
		id,
		</if>
	<if test="userId != null" >
	    user_id,
	</if>
	<if test="cityCode != null " >
    	city_code,
	</if>
	<if test="areaCode != null " >
    	area_code,
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
		parkrecord_id,
	</if>
	<if test="berthCode != null and berthCode != '' " >
    	berth_code,
	</if>
	<if test="parkName != null and parkName != '' " >
    	park_name,
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	plate_no,
	</if>
	<if test="arrivalTime != null " >
    	arrival_time,
	</if>
	<if test="departureTime != null " >
    	departure_time,
	</if>
	<if test="prebuyCount != null " >
    	prebuy_count,
	</if>
	<if test="prebuyDuration != null " >
    	prebuy_duration,
	</if>
	<if test="overTime != null " >
    	over_time,
	</if>
	<if test="photoCount != null " >
    	photo_count,
	</if>
	<if test="photoUrl != null " >
    	photo_url,
	</if>
	<if test="status != null " >
    	status,
	</if>
	<if test="isDeparture != null " >
    	is_departure,
	</if>
	<if test="flag != null " >
    	t.note,
	</if>
	<if test="createTime != null " >
    	t.create_time,
    </if>
	<if test="updateTime != null " >
    	t.update_time
	</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != ''">
  		<![CDATA[  #{id}, ]]>
			</if>
		<if test="userId != null " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="berthCode != null and berthCode != '' " >
  		<![CDATA[  #{berthCode}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="arrivalTime != null " >
  		<![CDATA[  #{arrivalTime}, ]]>
    	</if>
    	<if test="departureTime != null " >
  		<![CDATA[  #{departureTime}, ]]>
    	</if>
    	<if test="prebuyCount != null " >
  		<![CDATA[  #{prebuyCount}, ]]>
    	</if>
    	<if test="prebuyDuration != null " >
  		<![CDATA[  #{prebuyDuration}, ]]>
    	</if>
    	<if test="overTime != null " >
  		<![CDATA[  #{overTime}, ]]>
    	</if>
    	<if test="photoCount != null " >
  		<![CDATA[  #{photoCount}, ]]>
    	</if>
    	<if test="photoUrl != null " >
  		<![CDATA[  #{photoUrl}, ]]>
    	</if>
    	<if test="isComplate != null " >
  		<![CDATA[  #{isComplate}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  #{status}, ]]>
    	</if>
    	<if test="isDeparture != null " >
  		<![CDATA[  #{isDeparture}, ]]>
    	</if>
    	<if test="flag != null " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_order_parkrecord t set 
   <trim suffixOverrides="," >
   <if test="userId != null " >
  		<![CDATA[  user_id=#{userId}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[ city_code= #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  area_code=#{areaCode}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  parkrecord_id=#{parkrecordId}, ]]>
    	</if>
    	<if test="berthCode != null and berthCode != '' " >
  		<![CDATA[  berth_code=#{berthCode}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  park_name=#{parkName}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  plate_no=#{plateNo}, ]]>
    	</if>
    	<if test="arrivalTime != null " >
  		<![CDATA[  arrival_time=#{arrivalTime}, ]]>
    	</if>
    	<if test="departureTime != null " >
  		<![CDATA[  departure_time=#{departureTime}, ]]>
    	</if>
    	<if test="prebuyCount != null " >
  		<![CDATA[  prebuy_count=#{prebuyCount}, ]]>
    	</if>
    	<if test="prebuyDuration != null " >
  		<![CDATA[  prebuy_duration=#{prebuyDuration}, ]]>
    	</if>
    	<if test="overTime != null " >
  		<![CDATA[ over_time= #{overTime}, ]]>
    	</if>
    	<if test="photoCount != null " >
  		<![CDATA[  photo_count=#{photoCount}, ]]>
    	</if>
    	<if test="photoUrl != null " >
  		<![CDATA[  photo_url=#{photoUrl}, ]]>
    	</if>
    	<if test="status != null " >
  		<![CDATA[  status=#{status}, ]]>
    	</if>
    	<if test="isDeparture != null " >
  		<![CDATA[  is_departure=#{isDeparture}, ]]>
    	</if>
    	<if test="flag != null " >
  		<![CDATA[  flag=#{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  create_time=#{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  update_time=#{updateTime}, ]]>
    	</if>
     </trim>
     where id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_prebuy_parkrecord where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_prebuy_parkrecord t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_prebuy_parkrecord t
	<include refid="Example_Where_Clause"/>
</select>

<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_prebuy_parkrecord t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc,t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<!-- 后台页面列表 -->
 <!-- table all fields -->
<sql id="Parkrecord_Column_List" >
		 t.id,
		 t.user_id,
		 t.city_code,
		 ba1.area_name city_name,
		 ba2.area_name area_name,
		 t.parkrecord_id,
		 t.park_name,
		 t.plate_no,
		 t.arrival_time
</sql>
 <!-- 查询条件 -->
<sql id="Prebuy_Parkrecord_Where_Clause">
	having 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="userId != null" >
	    and t.user_id = #{userId}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="berthCode != null and berthCode != '' " >
    	and t.berth_code =  #{berthCode}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name like '%${parkName}%'
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no like '%${plateNo}'
	</if>
	<if test="arrivalTime != null " >
    	and t.arrival_time =  #{arrivalTime}
	</if>
	<if test="departureTime != null " >
    	and t.departure_time =  #{departureTime}
	</if>
	<if test="prebuyCount != null " >
    	and t.prebuy_count =  #{prebuyCount}
	</if>
	<if test="prebuyDuration != null " >
    	and t.prebuy_duration =  #{prebuyDuration}
	</if>
	<if test="overTime != null " >
    	and t.over_time =  #{overTime}
	</if>
	<if test="photoCount != null " >
    	and t.photo_count =  #{photoCount}
	</if>
	<if test="photoUrl != null " >
    	and t.photo_url =  #{photoUrl}
	</if>
	<if test="status != null " >
    	and t.status =  #{status}
	</if>
	<if test="isDeparture != null " >
    	and t.is_departure =  #{isDeparture}
	</if>
	<if test="flag != null " >
    	and t.flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	</trim>
</sql>

  	
<!-- 查询列表 -->
<select id="queryPrebuyParkrecordByList" resultMap="BaseResultMap"  parameterType="Object">
	SELECT ba2.area_name area_name,ba1.area_name city_name,t.id,t.user_id,t.over_time,t.status,t.is_departure,
	t.area_code,t.city_code,t.PARKRECORD_ID,t.park_name,t.plate_no,t.ARRIVAL_TIME,
	t.prebuy_count,t.departure_time,t.berth_code,t.prebuy_duration,t.photo_count,t.photo_score,
	t.photo_url,t.flag,t.create_time,t.update_time,u.user_account
	FROM (SELECT id,user_id,over_time,status,is_departure,
	area_code,city_code,PARKRECORD_ID,park_name,plate_no,ARRIVAL_TIME,
	prebuy_count,departure_time,berth_code,prebuy_duration,photo_score,photo_count,
	photo_url,flag,create_time,update_time 
	FROM app_prebuy_parkrecord 
	WHERE 1=1
		<if test="startTime != null and endTime != null">
			and create_time between #{startTime} and #{endTime}
		</if>
	  ) t
	left join app_user u on t.user_id = u.id
	left join base_area ba1 on t.city_code = ba1.area_code
	left join base_area ba2 on t.area_code = ba2.area_code 	 
	<include refid="Prebuy_Parkrecord_Where_Clause"/>
	<!-- GROUP BY  ba.area_name,t.city_code,t.parkrecord_id,t.park_name,t.plate_no,t.arrival_time  -->
	<if test="pager.orderCondition == ''">
		order by t.ARRIVAL_TIME desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<!--查询列表总数 -->
<select id="queryPrebuyParkrecordByCount" resultType="java.lang.Integer"  parameterType="Object">
	SELECT COUNT(1) FROM (
	SELECT ba.area_name,t.id,t.user_id,t.over_time,t.status,t.is_departure,
	t.area_code,t.city_code,t.PARKRECORD_ID,t.park_name,t.plate_no,t.ARRIVAL_TIME,
	t.prebuy_count,t.departure_time,t.berth_code,t.prebuy_duration,t.photo_count,
	t.photo_url,t.flag,t.create_time,t.update_time
	FROM (SELECT id,user_id,over_time,status,is_departure,
	area_code,city_code,PARKRECORD_ID,park_name,plate_no,ARRIVAL_TIME,
	prebuy_count,departure_time,berth_code,prebuy_duration,photo_count,
	photo_url,flag,create_time,update_time 
	FROM app_prebuy_parkrecord
	WHERE 1=1
		<if test="startTime != null and endTime != null">
			and create_Time between #{startTime} and #{endTime}
		</if>
	  ) t 
	LEFT JOIN base_area ba ON t.area_code=ba.area_code	 
	<include refid="Prebuy_Parkrecord_Where_Clause"/>
	<!-- GROUP BY  ba.area_name,t.city_code,t.PARKRECORD_ID,t.park_name,t.plate_no,t.ARRIVAL_TIME --> 
	<if test="pager.orderCondition == ''">
		order by t.ARRIVAL_TIME desc
	</if>)A
</select>

<!-- 根据区域和停车记录查询预买记录信息 -->
<select id="findByAreaAndParkRecord" resultMap="BaseResultMap"  parameterType="java.util.Map">
	 SELECT * FROM app_prebuy_parkrecord 
	 WHERE 1=1 and flag!= 'DELETE'
	 <if test="status != null and status != '' ">
	 	and status = #{status}
	 </if>
	 and user_id =  #{userId} AND PARKRECORD_ID = #{parkrecordId} 
	 order by create_time desc
	 limit 1
</select>

<!-- 根据区域和停车记录查询预买记录信息 -->
<select id="findByAreaAndRecordID" resultMap="BaseResultMap"  parameterType="java.util.Map">
	 SELECT * FROM app_prebuy_parkrecord 
	 WHERE 1=1 AND flag!= 'DELETE'
	 AND AREA_CODE = #{areaCode} AND PARKRECORD_ID = #{parkrecordId}
	 <if test="status != null and status != '' ">
	 	AND STATUS = #{status}
	 </if>
	 ORDER BY create_time DESC
	 LIMIT 1
</select>

</mapper>   
