<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.ExternalConfDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.ExternalConf" >
	<result column="id" property="id"/>
		<result column="external_id" property="externalId"/>
		<result column="auth_type" property="authType"/>
		<result column="auth_park_type" property="authParkType"/>
		<result column="area_code" property="areaCode"/>
		<result column="area_name" property="areaName"/>
		<result column="park_id" property="parkId"/>
		<result column="park_name" property="parkName"/>
		<result column="create_time" property="createTime"/>
		<result column="create_user" property="createUser"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.external_id,
		 t.auth_type,
		 t.auth_park_type,
		 t.area_code,
		 t.park_id,
		 t.create_time,
		 t.create_user,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="externalId != null and externalId != '' " >
    	and t.external_id =  #{externalId}
	</if>
	<if test="authType != null " >
    	and t.auth_type =  #{authType}
	</if>
	<if test="authParkType != null " >
    	and t.auth_park_type =  #{authParkType}
	</if>
	<if test="areaCode != null and areaCode != '' " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="parkId != null and parkId != '' " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="createUser != null and createUser != '' " >
    	and t.create_user =  #{createUser}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_external_conf 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
	  	<if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="externalId != null and externalId != '' " >
		 external_id,
		</if>
    	<if test="authType != null " >
		auth_type,
		</if>
    	<if test="authParkType != null " >
		auth_park_type,
		</if>
    	<if test="areaCode != null and areaCode != '' " >
		 area_code,
		</if>
    	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="createUser != null and createUser != '' " >
		 create_user,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	now(),
	 	<if test="id != null and id != '' " >
  		<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="externalId != null and externalId != '' " >
  		<![CDATA[  #{externalId}, ]]>
    	</if>
    	<if test="authType != null " >
  		<![CDATA[  #{authType}, ]]>
    	</if>
    	<if test="authParkType != null " >
  		<![CDATA[  #{authParkType}, ]]>
    	</if>
    	<if test="areaCode != null and areaCode != '' " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="createUser != null and createUser != '' " >
  		<![CDATA[  #{createUser}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_external_conf t set 
   <trim suffixOverrides="," >
	<if test="externalId != null and externalId != '' " >
  	<![CDATA[  t.external_id = #{externalId}, ]]>
    </if>
    <if test="authType != null " >
  	<![CDATA[  t.auth_type = #{authType}, ]]>
    </if>
    <if test="authParkType != null " >
  	<![CDATA[  t.auth_park_type = #{authParkType}, ]]>
    </if>
    <if test="areaCode != null and areaCode != '' " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="createUser != null and createUser != '' " >
  	<![CDATA[  t.create_user = #{createUser}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_external_conf where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_external_conf t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_external_conf t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_external_conf t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据external_id删除记录 -->
<delete id="deleteByExternalId" parameterType="Object">
	delete from app_external_conf where external_id = #{id}
</delete>

<select id="getExternalConf" resultMap="BaseResultMap"  parameterType="Object">
	select t.id,t.auth_type,t.auth_park_type,ba.area_name,ap.name park_name from app_external_conf t
	left join base_area ba on t.area_code=ba.area_code
	left join app_park ap on t.park_id=ap.id
	where t.external_id = #{id}
	order by t.create_time desc
</select>

<!-- 根据appId和授权类型查询授权区域 -->
<select id="getAuthConfInfo" resultMap="BaseResultMap"  parameterType="java.util.Map">
	SELECT * FROM app_external_conf WHERE EXTERNAL_ID = #{externalId} AND auth_type = #{authType}
</select>
</mapper>   
