<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.FeedbackDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.FeedbackEntity" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="device_id" property="deviceId"/>
		<result column="account" property="account"/>
		<result column="plate" property="plate"/>
		<result column="phone" property="phone"/>
		<result column="contact" property="contact"/>
		<result column="type" property="type"/>
		<result column="content" property="content"/>
		<result column="app_id" property="appId"/>
		<result column="device_type" property="deviceType"></result>
		<result column="app_version" property="appVersion"></result>
		<result column="machine_type" property="machineType"></result>
		<result column="process_status" property="processStatus"/>
		<result column="process_result" property="processResult"/>
		<result column="processed_by" property="processedBy"/>
		<result column="process_time" property="processTime"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="created_by" property="createdBy"/>
		<result column="update_time" property="updateTime"/>
		<result column="updated_by" property="updatedBy"/>
		<result column="area_name" property="areaName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.device_id,
		 t.account,
		 t.plate,
		 t.contact,
		 t.phone,
		 t.type,
		 t.content,
		 t.app_id,
		 t.device_type,
		 t.machine_type,
		 t.app_version,
		 t.process_status,
		 t.process_result,
		 t.processed_by,
		 t.process_time,
		 t.flag,
		 t.create_time,
		 t.created_by,
		 t.update_time,
		 t.updated_by,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null" >
	    and t.cioty_code = #{cityCode}
	</if>
	<if test="deviceId != null and deviceId != '' " >
    	and t.device_id =  #{deviceId}
	</if>
	<if test="deviceType != null and deviceType != '' " >
    	and t.device_type = #{deviceType}
	</if>
	<if test="machineType != null and machineType != '' " >
    	and t.machine_type = #{machineType}
	</if>
	<if test="appVersion != null and appVersion != '' " >
    	and t.app_version =  #{appVersion}
	</if>
	<if test="account != null and account != '' " >
    	and t.account =  #{account}
	</if>
	<if test="plate != null and plate != '' " >
    	and t.plate like '%${plate}%'
	</if>
	<if test="contact != null and contact != '' " >
    	and t.contact =  #{contact}
	</if>
	<if test="phone != null and phone != '' " >
    	and t.phone =  #{phone}
	</if>
	<if test="type != null " >
    	and t.type =  #{type}
	</if>
	<if test="content != null and content != '' " >
    	and t.content like '%${content}%'
	</if>
	<if test="appId != null and appId != '' " >
    	and t.app_id =  #{appId}
	</if>
	<if test="processStatus != null" >
		and t.process_status =  #{processStatus}
	</if>
	<if test="processResult != null and processResult != '' " >
	    <if test="processResult=='yes'">
    	  and t.process_result is not null
	    </if>
	     <if test="processResult=='no'">
    	  and t.process_result is null
	    </if>
	</if>
	<if test="processedBy != null and processedBy != '' " >
    	and t.processed_by =  #{processedBy}
	</if>
	<if test="processTime != null " >
    	and t.process_time =  #{processTime}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="createdBy != null and createdBy != '' " >
    	and t.created_by =  #{createdBy}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="updatedBy != null and updatedBy != '' " >
    	and t.updated_by =  #{updatedBy}
	</if>
	<if test="startTime != null and startTime != '' and endTime != null and endTime != '' "  >
    	and t.create_time between  #{startTime} and  #{endTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="saveFeedback" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
	</selectKey>
  
	insert into APP_FEEDBACK
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	     flag,
	    <if test="id != null">
				id,
		</if>
	    <if test="cityCode != null">
				city_code,
		</if>
	 	<if test="deviceId != null and deviceId != '' " >
		 device_id,
		</if>
	 	<if test="deviceType != null and deviceType != '' " >
		 device_type,
		</if>
	 	<if test="machineType != null and machineType != '' " >
		 machine_type,
		</if>
	 	<if test="appVersion != null and appVersion != '' " >
		 app_version,
		</if>
    	<if test="account != null and account != '' " >
		 account,
		</if>
    	<if test="plate != null and plate != '' " >
		 plate,
		</if>
    	<if test="contact != null and contact != '' " >
		 contact,
		</if>
    	<if test="phone != null and phone != '' " >
		 phone,
		</if>
    	<if test="type != null " >
		type,
		</if>
    	<if test="content != null and content != '' " >
		 content,
		</if>
    	<if test="appId != null and appId != '' " >
		 app_id,
		</if>
    	<if test="processResult != null and processResult != '' " >
		 process_result,
		</if>
    	<if test="processedBy != null and processedBy != '' " >
		 processed_by,
		</if>
    	<if test="processTime != null " >
		process_time,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="createdBy != null and createdBy != '' " >
		 created_by,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	<if test="updatedBy != null and updatedBy != '' " >
		 updated_by,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	    'ADD',
	    <if test="id != null">
				#{id},
		</if>
	    <if test="cityCode != null">
				#{cityCode},
		</if>
	 	<if test="deviceId != null and deviceId != '' " >
  		<![CDATA[  #{deviceId}, ]]>
    	</if>
	 	<if test="deviceType != null and deviceType != '' " >
  		<![CDATA[  #{deviceType}, ]]>
    	</if>
	 	<if test="machineType != null and machineType != '' " >
  		<![CDATA[  #{machineType}, ]]>
    	</if>
	 	<if test="appVersion != null and appVersion != '' " >
  		<![CDATA[  #{appVersion}, ]]>
    	</if>
    	<if test="account != null and account != '' " >
  		<![CDATA[  #{account}, ]]>
    	</if>
    	<if test="plate != null and plate != '' " >
  		<![CDATA[  #{plate}, ]]>
    	</if>
    	<if test="contact != null and contact != '' " >
  		<![CDATA[  #{contact}, ]]>
    	</if>
    	<if test="phone != null and phone != '' " >
  		<![CDATA[  #{phone}, ]]>
    	</if>
    	<if test="type != null " >
  		<![CDATA[  #{type}, ]]>
    	</if>
    	<if test="content != null and content != '' " >
  		<![CDATA[  #{content}, ]]>
    	</if>
    	<if test="appId != null and appId != '' " >
  		<![CDATA[  #{appId}, ]]>
    	</if>
    	<if test="processResult != null and processResult != '' " >
  		<![CDATA[  #{processResult}, ]]>
    	</if>
    	<if test="processedBy != null and processedBy != '' " >
  		<![CDATA[  #{processedBy}, ]]>
    	</if>
    	<if test="processTime != null " >
  		<![CDATA[  #{processTime}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="createdBy != null and createdBy != '' " >
  		<![CDATA[  #{createdBy}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	<if test="updatedBy != null and updatedBy != '' " >
  		<![CDATA[  #{updatedBy}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update APP_FEEDBACK  t set 
   <trim suffixOverrides="," >
   	<if test="cityCode != null and cityCode != '' " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
	<if test="deviceId != null and deviceId != '' " >
  	<![CDATA[  t.device_id = #{deviceId}, ]]>
    </if>
	<if test="deviceType != null and deviceType != '' " >
  	<![CDATA[  t.device_type = #{deviceType}, ]]>
    </if>
	<if test="machineType != null and machineType != '' " >
  	<![CDATA[  t.machine_type = #{machineType}, ]]>
    </if>
	<if test="appVersion != null and appVersion != '' " >
  	<![CDATA[  t.app_version = #{appVersion}, ]]>
    </if>
    <if test="account != null and account != '' " >
  	<![CDATA[  t.account = #{account}, ]]>
    </if>
    <if test="plate != null and plate != '' " >
  	<![CDATA[  t.plate = #{plate}, ]]>
    </if>
    <if test="contact != null and contact != '' " >
  	<![CDATA[  t.contact = #{contact}, ]]>
    </if>
    <if test="phone != null and phone != '' " >
  	<![CDATA[  t.phone = #{phone}, ]]>
    </if>
    <if test="type != null " >
  	<![CDATA[  t.type = #{type}, ]]>
    </if>
    <if test="content != null and content != '' " >
  	<![CDATA[  t.content = #{content}, ]]>
    </if>
    <if test="appId != null and appId != '' " >
  	<![CDATA[  t.app_id = #{appId}, ]]>
    </if>
	<if test="processStatus != null" >
	<![CDATA[  t.process_status = #{processStatus}, ]]>
	</if>
    <if test="processResult != null and processResult != '' " >
  	<![CDATA[  t.process_result = #{processResult}, ]]>
    </if>
    <if test="processedBy != null and processedBy != '' " >
  	<![CDATA[  t.processed_by = #{processedBy}, ]]>
    </if>
    <if test="processTime != null " >
  	<![CDATA[  t.process_time = #{processTime}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="createdBy != null and createdBy != '' " >
  	<![CDATA[  t.created_by = #{createdBy}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from APP_FEEDBACK where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from APP_FEEDBACK  t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from APP_FEEDBACK  t 
	<include refid="Example_Where_Clause"/>
	<if test="userCityCode != null and userCityCode != '' ">
		and t.CITY_CODE LIKE '${userCityCode}%'
	</if>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	,ba.area_name
	from APP_FEEDBACK t 
	left join base_area ba on t.city_code = ba.area_code
	<include refid="Example_Where_Clause"/>
	<if test="userCityCode != null and userCityCode != '' ">
		and t.CITY_CODE LIKE '${userCityCode}%'
	</if>
	<if test="pager.orderCondition == ''">
		order by t.create_time desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据id，修改记录-->  
<update id="ProcessingFeedback" parameterType="java.util.Map" >
	update APP_FEEDBACK  t set 
   <trim suffixOverrides="," >
    <if test="processResult != null and processResult != '' " >
  	<![CDATA[  t.process_result = #{processResult}, ]]>
    </if>
    <if test="processedBy != null and processedBy != '' " >
  	<![CDATA[  t.processed_by = #{processedBy}, ]]>
    </if>
  	<![CDATA[  t.process_time = now(), ]]>
  	<![CDATA[  t.update_time = now(), ]]>
    <if test="updatedBy != null and updatedBy != '' " >
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>
 
  <!-- 查询所有记录 -->
 <select id="queryAllFeedback" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	,ba.area_name from APP_FEEDBACK t
	left join base_area ba on t.city_code = ba.area_code
	where 1=1
	<if test="_parameter != null and _parameter != '' ">
		and t.CITY_CODE LIKE '${_parameter}%'
	</if>
	order by t.city_code asc
 </select>
   <!-- 查询所有记录 -->
 <select id="queryFeedbackByUser" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	 from APP_FEEDBACK t
	where 1=1
	<if test="_parameter != null and _parameter != '' ">
		and t.ACCOUNT = '${_parameter}%'
	</if>
	order by t.update_time desc
 </select>
</mapper>   
