<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.OrderPaylogDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.OrderPaylog" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="order_no" property="orderNo"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="user_id" property="userId"/>
		<result column="payment" property="payment"/>
		<result column="park_fee" property="parkFee"/>
		<result column="is_activity" property="isActivity"/>
		<result column="activity_type" property="activityType"/>
		<result column="conf_id" property="confId"/>
		<result column="ticket_no" property="ticketNo"/>
		<result column="ticket_money" property="ticketMoney"/>
		<result column="ticket_discount" property="ticketDiscount"/>
		<result column="redbox_fee" property="redboxFee"/>
		<result column="member_card_fee" property="memberCardFee"/>
		<result column="ticket_fee" property="ticketFee"/>
		<result column="discount_fee" property="discountFee"/>
		<result column="pay_fee" property="payFee"/>
		<result column="flag" property="flag"/>
		<result column="create_time" property="createTime"/>
		<result column="payment_discount" property="paymentDiscount"/>
		<result column="is_paid" property="isPaid"/>
		<result column="activity_id" property="activityId"/>
		<result column="activity_name" property="activityName"/>
		<result column="ticket_name" property="ticketName"/>
		<result column="counter_fee" property="counterFee"/>
		<result column="discount_desc" property="discountDesc"/>
		<result column="PARK_ID" property="parkId"/>
		<result column="IS_BATCHPAY" property="isBatchpay"/>
		<result column="PLATE_NO" property="plateNo"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.order_no,
		 t.parkrecord_id,
		 t.user_id,
		 t.payment,
		 t.park_fee,
		 t.is_activity,
		 t.activity_type,
		 t.conf_id,
		 t.ticket_no,
		 t.ticket_money,
		 t.ticket_discount,
		 t.redbox_fee,
		 t.ticket_fee,
		 t.discount_fee,
		 t.pay_fee,
		 t.flag,
		 t.create_time,
	     t.id,
	     t.discount_desc
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="payment != null " >
    	and t.payment =  #{payment}
	</if>
	<if test="parkFee != null " >
    	and t.park_fee =  #{parkFee}
	</if>
	<if test="isActivity != null " >
    	and t.is_activity =  #{isActivity}
	</if>
	<if test="activityType != null " >
    	and t.activity_type =  #{activityType}
	</if>
	<if test="confId != null and confId != '' " >
    	and t.conf_id =  #{confId}
	</if>
	<if test="ticketNo != null and ticketNo != '' " >
    	and t.ticket_no =  #{ticketNo}
	</if>
	<if test="ticketMoney != null " >
    	and t.ticket_money =  #{ticketMoney}
	</if>
	<if test="ticketDiscount != null " >
    	and t.ticket_discount =  #{ticketDiscount}
	</if>
	<if test="redboxFee != null " >
    	and t.redbox_fee =  #{redboxFee}
	</if>
	<if test="ticketFee != null " >
    	and t.ticket_fee =  #{ticketFee}
	</if>
	<if test="discountFee != null " >
    	and t.discount_fee =  #{discountFee}
	</if>
	<if test="payFee != null " >
    	and t.pay_fee =  #{payFee}
	</if>
	<if test="flag != null and flag != '' " >
    	and t.flag =  #{flag}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="activityId != null and activityId != '' " >
    	and t.activity_id =  #{activityId}
	</if>
	<if test="discountDesc != null and discountDesc != '' " >
    	and t.discount_desc =  #{discountDesc}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
	<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
	</selectKey>
	insert into app_order_paylog 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	<if test="id != null and id != '' ">
				id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="payment != null " >
		payment,
		</if>
    	<if test="parkFee != null " >
		park_fee,
		</if>
    	<if test="isActivity != null " >
		is_activity,
		</if>
    	<if test="activityType != null " >
		activity_type,
		</if>
    	<if test="confId != null and confId != '' " >
		 conf_id,
		</if>
    	<if test="ticketNo != null and ticketNo != '' " >
		 ticket_no,
		</if>
    	<if test="ticketMoney != null " >
		ticket_money,
		</if>
    	<if test="ticketDiscount != null " >
		ticket_discount,
		</if>
    	<if test="redboxFee != null " >
		redbox_fee,
		</if>
		<if test="memberCardFee != null " >
		member_card_fee,
		</if>		
    	<if test="ticketFee != null " >
		ticket_fee,
		</if>
    	<if test="discountFee != null " >
		discount_fee,
		</if>
    	<if test="payFee != null " >
		pay_fee,
		</if>
    	<if test="flag != null and flag != '' " >
		 flag,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="paymentDiscount != null " >
		payment_discount,
		</if>
    	<if test="isPaid != null " >
		is_paid,
		</if>
		<if test="activityId != null " >
		 activity_id,
		</if>
		<if test="counterFee != null " >
		 counter_fee,
		</if>
		<if test="discountDesc != null and discountDesc != '' " >
		 discount_desc,
		</if>
		<if test="parkId != null and parkId != '' " >
		 PARK_ID,
		</if>
		<if test="isBatchpay != null" >
		 IS_BATCHPAY,
		</if>
		<if test="plateNo != null and plateNo != '' " >
		 PLATE_NO,
		</if>
		<if test="couponFee != null" >
		 COUPON_FEE,
		</if>
		<if test="redeemCode != null and redeemCode != '' " >
		 REDEEM_CODE,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != '' ">
  		<![CDATA[  #{id}, ]]>
		</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="payment != null " >
  		<![CDATA[  #{payment}, ]]>
    	</if>
    	<if test="parkFee != null " >
  		<![CDATA[  #{parkFee}, ]]>
    	</if>
    	<if test="isActivity != null " >
  		<![CDATA[  #{isActivity}, ]]>
    	</if>
    	<if test="activityType != null " >
  		<![CDATA[  #{activityType}, ]]>
    	</if>
    	<if test="confId != null and confId != '' " >
  		<![CDATA[  #{confId}, ]]>
    	</if>
    	<if test="ticketNo != null and ticketNo != '' " >
  		<![CDATA[  #{ticketNo}, ]]>
    	</if>
    	<if test="ticketMoney != null " >
  		<![CDATA[  #{ticketMoney}, ]]>
    	</if>
    	<if test="ticketDiscount != null " >
  		<![CDATA[  #{ticketDiscount}, ]]>
    	</if>
    	<if test="redboxFee != null " >
  		<![CDATA[  #{redboxFee}, ]]>
    	</if>
    	<if test="memberCardFee != null " >
		<![CDATA[  #{memberCardFee}, ]]>
		</if>	
    	<if test="ticketFee != null " >
  		<![CDATA[  #{ticketFee}, ]]>
    	</if>
    	<if test="discountFee != null " >
  		<![CDATA[  #{discountFee}, ]]>
    	</if>
    	<if test="payFee != null " >
  		<![CDATA[  #{payFee}, ]]>
    	</if>
    	<if test="flag != null and flag != '' " >
  		<![CDATA[  #{flag}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="paymentDiscount != null " >
  		<![CDATA[  #{paymentDiscount}, ]]>
    	</if>
    	<if test="isPaid != null " >
  		<![CDATA[  #{isPaid}, ]]>
    	</if>
    	<if test="activityId != null " >
			<![CDATA[  #{activityId}, ]]>
		</if>
		<if test="counterFee != null " >
		 <![CDATA[  #{counterFee}, ]]>
		</if>
		<if test="discountDesc != null and discountDesc != '' " >
		 <![CDATA[  #{discountDesc}, ]]>
		</if>
		<if test="parkId != null and parkId != '' " >
		 <![CDATA[  #{parkId}, ]]>
		</if>
		<if test="isBatchpay != null" >
		 <![CDATA[  #{isBatchpay}, ]]>
		</if>
		<if test="plateNo != null and plateNo != '' " >
		 <![CDATA[  #{plateNo}, ]]>
		</if>
		<if test="couponFee != null" >
		 <![CDATA[  #{couponFee}, ]]>
		</if>
		<if test="redeemCode != null and redeemCode != '' " >
		 <![CDATA[  #{redeemCode}, ]]>
		</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_order_paylog t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="payment != null " >
  	<![CDATA[  t.payment = #{payment}, ]]>
    </if>
    <if test="parkFee != null " >
  	<![CDATA[  t.park_fee = #{parkFee}, ]]>
    </if>
    <if test="isActivity != null " >
  	<![CDATA[  t.is_activity = #{isActivity}, ]]>
    </if>
    <if test="activityType != null " >
  	<![CDATA[  t.activity_type = #{activityType}, ]]>
    </if>
    <if test="confId != null and confId != '' " >
  	<![CDATA[  t.conf_id = #{confId}, ]]>
    </if>
    <if test="ticketNo != null and ticketNo != '' " >
  	<![CDATA[  t.ticket_no = #{ticketNo}, ]]>
    </if>
    <if test="ticketMoney != null " >
  	<![CDATA[  t.ticket_money = #{ticketMoney}, ]]>
    </if>
    <if test="ticketDiscount != null " >
  	<![CDATA[  t.ticket_discount = #{ticketDiscount}, ]]>
    </if>
    <if test="redboxFee != null " >
  	<![CDATA[  t.redbox_fee = #{redboxFee}, ]]>
    </if>
    <if test="ticketFee != null " >
  	<![CDATA[  t.ticket_fee = #{ticketFee}, ]]>
    </if>
    <if test="discountFee != null " >
  	<![CDATA[  t.discount_fee = #{discountFee}, ]]>
    </if>
    <if test="payFee != null " >
  	<![CDATA[  t.pay_fee = #{payFee}, ]]>
    </if>
    <if test="flag != null and flag != '' " >
  	<![CDATA[  t.flag = #{flag}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="isPaid != null and isPaid != '' " >
  	<![CDATA[  t.is_paid = #{isPaid}, ]]>
    </if>
    <if test="counterFee != null" >
  	<![CDATA[  t.counter_fee = #{counterFee}, ]]>
    </if>
    <if test="discountDesc != null and discountDesc != '' " >
  	<![CDATA[  t.discount_desc = #{discountDesc}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_order_paylog t where t.id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_order_paylog t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_order_paylog t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_order_paylog t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询该停车记录是否有优惠 -->
<select id="queryOrderPaylogByParkrecordId"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1
	  AND t.parkrecord_id = #{parkrecordId}
	LIMIT 1
</select>

<!-- 查询该停车记录是否有优惠 -->
<select id="findByAreaAndParkrecord"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1
	  AND t.parkrecord_id = #{parkrecordId}
	  and t.city_code = #{areaCode}
	LIMIT 1
</select>

<!-- 根据订单编号获取订单支付日志记录 -->
<select id="queryOrderPaylogByOrderNo"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.order_no = #{orderNo} LIMIT 1
</select>

<!-- 根据停车记录查询消费信息 -->
<select id="findLogByParkRecord"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1
	  and (t.activity_type = 1 OR t.activity_type = 10)
	  AND t.parkrecord_id = #{parkrecordId}
	LIMIT 1
</select>

<!-- 根据订单编号获取订单支付日志记录 并关联活动表和优惠券配置表-->
<select id="queryPaylogByOrderNo"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.*,act.activity_name,c.ticket_name FROM app_order_paylog t
	left join app_activity act on t.activity_id = act.id
	left join app_activity_ticket_conf c on t.conf_id = c.id
	WHERE 1=1 AND t.order_no = #{orderNo} LIMIT 1
</select>
<!-- 获取一天城市参加活动的用户数量 -->
<select id="getActivityUserCountByCityCodeAndTime" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT COUNT(USER_ID) COUNT FROM
	(SELECT USER_ID FROM app_order_paylog t 
	WHERE t.CREATE_TIME  BETWEEN STR_TO_DATE('${date} 00:00:00','%Y-%m-%d %H:%i:%s') AND STR_TO_DATE('${date} 23:59:59','%Y-%m-%d %H:%i:%s')
	<if test="cityCode != null and cityCode == 0">
		AND t.city_code is null
	</if>
	<if test="cityCode != null and cityCode != 0">
		 AND t.CITY_CODE = #{cityCode} 
	</if>
	AND t.is_paid = #{isPaid}
	GROUP BY t.USER_ID) m
</select>

<!-- 查询该停车记录优惠信息 -->
<select id="queryTicketInfo"  resultMap="BaseResultMap" parameterType="Object">
	SELECT t.* FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1
	  AND t.parkrecord_id = #{parkrecordId}
	LIMIT 1
</select>

<!-- 查询是否已用券 -->
<select id="queryIsTicket" resultMap="BaseResultMap" parameterType="java.util.Map">
	SELECT t.*  FROM app_order_paylog t
	WHERE t.is_paid = 200
	  AND t.is_activity = 1 
	  AND (t.activity_type = 1 OR t.activity_type = 10 OR t.ACTIVITY_TYPE = 3)
	  AND t.parkrecord_id = #{parkRecordId}
	  and t.city_code = #{areaCode}
	LIMIT 1
</select>

<!-- 查询该用户该停车记录折扣的总金额 -->
<select id="queryAllDiscountFee"  resultType="java.lang.String" parameterType="Object">
	SELECT SUM(DISCOUNT_FEE) FROM app_order_paylog t
	WHERE is_paid = 200
	  AND parkrecord_id = #{parkrecordId} and user_id = #{userId}
	  group by parkrecord_id, user_id
	  limit 1
</select>

<!-- 批量更新支付记录 -->
<update id="batchUpdateOrderPaylog" parameterType="java.util.ArrayList">
	<foreach collection="list" item="item" index="index">
		UPDATE app_order_paylog
		SET is_paid = #{item.isPaid},FLAG = #{item.flag},COUNTER_FEE = #{item.counterFee} 
		WHERE id = #{item.id};
	</foreach>
</update>

<!-- 批量写入支付记录 -->
<insert id="batchAddOrderPaylog" parameterType="java.util.ArrayList">
	INSERT INTO app_order_paylog
	(ID,CITY_CODE,ORDER_NO,PARKRECORD_ID,USER_ID,PAYMENT,PARK_FEE,
	 IS_ACTIVITY,ACTIVITY_TYPE,activity_id,CONF_ID,TICKET_NO,TICKET_MONEY,
	 TICKET_DISCOUNT,payment_discount,REDBOX_FEE,member_card_fee,TICKET_FEE,DISCOUNT_FEE,
	 PAY_FEE,DISCOUNT_DESC,is_paid,FLAG,CREATE_TIME,COUNTER_FEE,PARK_ID,IS_BATCHPAY,PLATE_NO) 
	VALUES
	<foreach collection="list" index="inden" separator="," item="item">
	 (#{item.id},#{item.cityCode},#{item.orderNo},#{item.parkrecordId},
	  #{item.userId},#{item.payment},#{item.parkFee},#{item.isActivity},
  	  #{item.activityType},#{item.activityId},#{item.confId},#{item.ticketNo},
	  #{item.ticketMoney},#{item.ticketDiscount},#{item.paymentDiscount},#{item.redboxFee},#{item.memberCardFee },
	  #{item.ticketFee},#{item.discountFee},#{item.payFee},#{item.discountDesc},
	  #{item.isPaid},#{item.flag},#{item.createTime},#{item.counterFee},#{item.parkId},
	  #{item.isBatchpay},#{item.plateNo})
	</foreach>
</insert>

<!-- 作废支付记录 -->
<update id="deleteOrderPaylogByRecord" parameterType="Object">
	UPDATE app_order_paylog SET is_paid = 400,FLAG = 'UPDATE' 
	WHERE is_paid = 100 and PARKRECORD_ID = #{parkrecordId}
</update>

<!-- 根据批量缴费订单编号查询订单详细 -->
<select id="queryByBatchpayNo" resultMap="BaseResultMap" parameterType="Object">
	SELECT t1.ORDER_NO,t1.PARKRECORD_ID,t1.PAYMENT,t1.PARK_FEE,t1.DISCOUNT_FEE,
	       t1.TICKET_FEE,t1.PAY_FEE,t1.COUNTER_FEE,t1.is_paid,t1.CREATE_TIME 
	FROM app_order_batchpay_rel t
	INNER JOIN app_order_paylog t1 ON t.order_no = t1.order_no
	WHERE t.BATCHPAY_NO = #{batchpayNo}
</select>

<!-- 获取支付记录 -->
<select id="findByRecordAndUser" resultMap="BaseResultMap" parameterType="java.util.Map">
	 SELECT * FROM app_order_paylog
 	WHERE is_batchpay  = 0 AND is_paid = 100 AND flag != 'DELETE' 
 	  AND user_id = #{userId} 
 	  AND city_code = #{cityCode} 
 	  AND parkrecord_id = #{parkrecordId}
</select>

<resultMap id="GetMyBillDetailMap" type="com.innotek.fragrans.entity.user.GetMyBillDetailItem">
	<result column="plate_no" property="plateNo" />
	<result column="price" property="orderPrice" />
	<result column="memcardFee" property="memcardFee" />
	<result column="pay_fee" property="payFee" />
	<result column="ticket_fee" property="preferentialFee" />
	<result column="payment" property="payType" />
	<result column="order_type" property="orderType" />
	<result column="discount_fee" property="discountFee" />
</resultMap>

<!-- 查询账单详情 -->
<select id="findBillDetailByBatchpayOrder" resultMap="GetMyBillDetailMap" parameterType="java.util.ArrayList">
	SELECT t.plate_no,SUM(t.park_fee) price,SUM(t.MEMBER_CARD_FEE) memcardFee,SUM(t.pay_fee) pay_fee,
	       CASE WHEN SUM(t.TICKET_FEE) IS NULL THEN 0 ELSE SUM(t.TICKET_FEE) END ticket_fee,
	       CASE WHEN SUM(t.DISCOUNT_FEE) IS NULL THEN 0 ELSE SUM(t.DISCOUNT_FEE) END discount_fee,
	       2 order_type,t.payment
	FROM app_order_paylog t 
	WHERE t.order_no IN 
	<foreach collection="list" open="(" close=")" item="item" separator=",">
		#{item.orderNo}
	</foreach>
	ORDER BY payment ASC 
	LIMIT 1
</select>

<!--根据优惠券编码查询 -->
<select id="queryByTicketNo" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT * FROM app_order_paylog
	WHERE ticket_no = #{_parameter}
		AND is_paid = 200
	ORDER BY create_time DESC
	LIMIT 1
</select>

<!--根据批量缴费订单查询-->
<select id="queryByBatchList" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
	select t.* from app_order_paylog t
	WHERE t.order_no IN
	<foreach collection="list" open="(" close=")" item="item" separator=",">
		#{item.orderNo}
	</foreach>
</select>

<!-- 根据orderNo，修改记录-->
<update id="updateByOrderNo" parameterType="Object" >
	update app_order_paylog t set
	<trim suffixOverrides="," >
		<if test="isPaid != null and isPaid != '' " >
			<![CDATA[  t.is_paid = #{isPaid}, ]]>
		</if>
	</trim> where t.order_no= #{orderNo}
</update>

	<!-- 查询各支付方式缴费总数 -->
	<select id="queryPayOrderAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
		SELECT payment,SUM(park_fee) park_fee,SUM(pay_fee) pay_fee,SUM(ticket_fee) ticket_fee
		FROM  app_order_paylog
		WHERE is_paid=200
		AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s')
		AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="cityCode != null and cityCode != '' ">
			AND city_code LIKE '${cityCode}%'
		</if>
		GROUP BY payment
	</select>

	<!-- 查询各支付方式缴费总数 -->
	<select id="queryHomeDataPayOrderAmount" resultMap="BaseResultMap"  parameterType="java.util.Map">
		SELECT city_code,SUM(park_fee - TICKET_FEE -  DISCOUNT_FEE) park_fee
		FROM  app_order_paylog
		WHERE is_paid=200
		AND create_time BETWEEN STR_TO_DATE('${queryDate} 00:00:00','%Y-%m-%d %H:%i:%s')
		AND STR_TO_DATE('${queryDate} 23:59:59','%Y-%m-%d %H:%i:%s')
		<if test="payment != null and payment != '' ">
			AND payment = #{payment}
		</if>
		<if test="payment = '' ">
			AND payment != 1 AND payment != 2
		</if>
		GROUP BY city_code
	</select>
	
	<select id="queryOrderPaylogSuccessByParkrecordId" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT p.CITY_CODE,p.ORDER_NO,p.PARKRECORD_ID,p.USER_ID,p.PAYMENT,p.PARK_FEE,o.PAY_TIME CREATE_TIME
		FROM app_order_paylog p JOIN app_order o ON o.ORDER_NO= p.ORDER_NO
	 	WHERE is_paid = 200 AND flag != 'DELETE' AND o.ORDER_STATUS=200
	 	  AND p.city_code = #{cityCode} 
	 	  AND p.parkrecord_id = #{parkrecordId}
	 	ORDER BY o.PAY_TIME DESC
	</select>
</mapper>
