<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.OrderParkrecordDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.appsystem.OrderParkrecord" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="order_no" property="orderNo"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="berth_code" property="berthCode"/>
		<result column="park_name" property="parkName"/>
		<result column="park_address" property="parkAddress"/>
		<result column="plate_no" property="plateNo"/>
		<result column="arrival_time" property="arrivalTime"/>
		<result column="departure_time" property="departureTime"/>
		<result column="charge_rate" property="chargeRate"/>
		<result column="park_fee" property="parkFee"/>
		<result column="paid_fee" property="paidFee"/>
		<result column="unpaid_fee" property="unpaidFee"/>
		<result column="discount_fee" property="discountFee"/>
		<result column="park_status" property="parkStatus"/>
		<result column="is_complate" property="isComplate"/>
		<result column="note" property="note"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="park_id" property="parkId"/>
		<result column="area_name" property="areaName"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.order_no,
		 t.parkrecord_id,
		 t.berth_code,
		 t.park_name,
		 t.park_address,
		 t.plate_no,
		 t.arrival_time,
		 t.departure_time,
		 t.charge_rate,
		 t.park_fee,
		 t.paid_fee,
		 t.unpaid_fee,
		 t.discount_fee,
		 t.park_status,
		 t.is_complate,
		 t.note,
		 t.create_time,
		 t.update_time,
		 t.is_deleted,
		 t.park_id,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="berthCode != null and berthCode != '' " >
    	and t.berth_code =  #{berthCode}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name like '%${parkName}%'
	</if>
	<if test="parkAddress != null and parkAddress != '' " >
    	and t.park_address =  #{parkAddress}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no =  #{plateNo}
	</if>
	<if test="arrivalTime != null " >
    	and t.arrival_time =  #{arrivalTime}
	</if>
	<if test="departureTime != null " >
    	and t.departure_time =  #{departureTime}
	</if>
	<if test="chargeRate != null and chargeRate != '' " >
    	and t.charge_rate =  #{chargeRate}
	</if>
	<if test="parkFee != null " >
    	and t.park_fee =  #{parkFee}
	</if>
	<if test="paidFee != null " >
    	and t.paid_fee =  #{paidFee}
	</if>
	<if test="unpaidFee != null " >
    	and t.unpaid_fee =  #{unpaidFee}
	</if>
	<if test="discountFee != null " >
    	and t.discount_fee =  #{discountFee}
	</if>
	<if test="parkStatus != null " >
    	and t.park_status =  #{parkStatus}
	</if>
	<if test="isComplate != null " >
    	and t.is_complate =  #{isComplate}
	</if>
	<if test="note != null and note != '' " >
    	and t.note =  #{note}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and t.update_time =  #{updateTime}
	</if>
	<if test="isDeleted != null " >
    	and t.is_deleted =  #{isDeleted}
	</if>
	<if test="parkId != null " >
    	and t.park_id =  #{parkId}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT UUID() as ID 
	</selectKey>
  
	insert into app_order_parkrecord 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  <if test="id != null and id != '' " >
		id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="berthCode != null and berthCode != '' " >
		 berth_code,
		</if>
    	<if test="parkName != null and parkName != '' " >
		 park_name,
		</if>
    	<if test="parkAddress != null and parkAddress != '' " >
		 park_address,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		 plate_no,
		</if>
    	<if test="arrivalTime != null " >
		arrival_time,
		</if>
    	<if test="departureTime != null " >
		departure_time,
		</if>
    	<if test="chargeRate != null and chargeRate != '' " >
		 charge_rate,
		</if>
    	<if test="parkFee != null " >
		park_fee,
		</if>
    	<if test="paidFee != null " >
		paid_fee,
		</if>
    	<if test="unpaidFee != null " >
		unpaid_fee,
		</if>
    	<if test="discountFee != null " >
		discount_fee,
		</if>
    	<if test="parkStatus != null " >
		park_status,
		</if>
    	<if test="isComplate != null " >
		is_complate,
		</if>
    	<if test="note != null and note != '' " >
		 note,
		</if>
    	<if test="createTime != null " >
		create_time,
		</if>
    	<if test="updateTime != null " >
		update_time,
		</if>
    	<if test="isDeleted != null " >
		is_deleted,
		</if>
    	<if test="parkId != null " >
		park_id,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="id != null and id != ''">
  		<![CDATA[  #{id}, ]]>
			</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="berthCode != null and berthCode != '' " >
  		<![CDATA[  #{berthCode}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="parkAddress != null and parkAddress != '' " >
  		<![CDATA[  #{parkAddress}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="arrivalTime != null " >
  		<![CDATA[  #{arrivalTime}, ]]>
    	</if>
    	<if test="departureTime != null " >
  		<![CDATA[  #{departureTime}, ]]>
    	</if>
    	<if test="chargeRate != null and chargeRate != '' " >
  		<![CDATA[  #{chargeRate}, ]]>
    	</if>
    	<if test="parkFee != null " >
  		<![CDATA[  #{parkFee}, ]]>
    	</if>
    	<if test="paidFee != null " >
  		<![CDATA[  #{paidFee}, ]]>
    	</if>
    	<if test="unpaidFee != null " >
  		<![CDATA[  #{unpaidFee}, ]]>
    	</if>
    	<if test="discountFee != null " >
  		<![CDATA[  #{discountFee}, ]]>
    	</if>
    	<if test="parkStatus != null " >
  		<![CDATA[  #{parkStatus}, ]]>
    	</if>
    	<if test="isComplate != null " >
  		<![CDATA[  #{isComplate}, ]]>
    	</if>
    	<if test="note != null and note != '' " >
  		<![CDATA[  #{note}, ]]>
    	</if>
    	<if test="createTime != null " >
  		<![CDATA[  #{createTime}, ]]>
    	</if>
    	<if test="updateTime != null " >
  		<![CDATA[  #{updateTime}, ]]>
    	</if>
    	<if test="isDeleted != null " >
  		<![CDATA[  #{isDeleted}, ]]>
    	</if>
    	<if test="parkId != null " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_order_parkrecord t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="berthCode != null and berthCode != '' " >
  	<![CDATA[  t.berth_code = #{berthCode}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="parkAddress != null and parkAddress != '' " >
  	<![CDATA[  t.park_address = #{parkAddress}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="arrivalTime != null " >
  	<![CDATA[  t.arrival_time = #{arrivalTime}, ]]>
    </if>
    <if test="departureTime != null " >
  	<![CDATA[  t.departure_time = #{departureTime}, ]]>
    </if>
    <if test="chargeRate != null and chargeRate != '' " >
  	<![CDATA[  t.charge_rate = #{chargeRate}, ]]>
    </if>
    <if test="parkFee != null " >
  	<![CDATA[  t.park_fee = #{parkFee}, ]]>
    </if>
    <if test="paidFee != null " >
  	<![CDATA[  t.paid_fee = #{paidFee}, ]]>
    </if>
    <if test="unpaidFee != null " >
  	<![CDATA[  t.unpaid_fee = #{unpaidFee}, ]]>
    </if>
    <if test="discountFee != null " >
  	<![CDATA[  t.discount_fee = #{discountFee}, ]]>
    </if>
    <if test="parkStatus != null " >
  	<![CDATA[  t.park_status = #{parkStatus}, ]]>
    </if>
    <if test="isComplate != null " >
  	<![CDATA[  t.is_complate = #{isComplate}, ]]>
    </if>
    <if test="note != null and note != '' " >
  	<![CDATA[  t.note = #{note}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
    <if test="updateTime != null " >
  	<![CDATA[  t.update_time = #{updateTime}, ]]>
    </if>
    <if test="isDeleted != null " >
  	<![CDATA[  t.is_deleted = #{isDeleted}, ]]>
    </if>
    <if test="parkId != null " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
     </trim>
     where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_order_parkrecord where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_order_parkrecord t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_order_parkrecord t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_order_parkrecord t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->

<select id="findOrderParkrecordByRecordId" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_order_parkrecord t 
	where t.parkrecord_id = #{parkRecordId}
	and t.city_code = #{cityCode}
	and t.is_deleted = 1 
	order by t.create_time desc 
</select>

<!-- 根据id，修改记录-->  
<update id="updateByOrderNo" parameterType="Object" >
	update app_order_parkrecord t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="berthCode != null and berthCode != '' " >
  	<![CDATA[  t.berth_code = #{berthCode}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="parkAddress != null and parkAddress != '' " >
  	<![CDATA[  t.park_address = #{parkAddress}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="arrivalTime != null " >
  	<![CDATA[  t.arrival_time = #{arrivalTime}, ]]>
    </if>
    <if test="departureTime != null " >
  	<![CDATA[  t.departure_time = #{departureTime}, ]]>
    </if>
    <if test="chargeRate != null and chargeRate != '' " >
  	<![CDATA[  t.charge_rate = #{chargeRate}, ]]>
    </if>
    <if test="parkFee != null " >
  	<![CDATA[  t.park_fee = #{parkFee}, ]]>
    </if>
    <if test="paidFee != null " >
  	<![CDATA[  t.paid_fee = #{paidFee}, ]]>
    </if>
    <if test="unpaidFee != null " >
  	<![CDATA[  t.unpaid_fee = #{unpaidFee}, ]]>
    </if>
    <if test="discountFee != null " >
  	<![CDATA[  t.discount_fee = #{discountFee}, ]]>
    </if>
    <if test="parkStatus != null " >
  	<![CDATA[  t.park_status = #{parkStatus}, ]]>
    </if>
    <if test="isComplate != null " >
  	<![CDATA[  t.is_complate = #{isComplate}, ]]>
    </if>
    <if test="note != null and note != '' " >
  	<![CDATA[  t.note = #{note}, ]]>
    </if>
    <if test="createTime != null " >
  	<![CDATA[  t.create_time = #{createTime}, ]]>
    </if>
  	<![CDATA[  t.update_time = now(), ]]>
    <if test="isDeleted != null " >
  	<![CDATA[  t.is_deleted = #{isDeleted}, ]]>
    </if>
    <if test="parkId != null " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
     </trim>
     where t.order_no= #{orderNo}
 </update>
 
 <select id="findByOrderNo" resultMap="BaseResultMap"  parameterType="Object">
 	SELECT * FROM app_order_parkrecord 
 	WHERE order_no = #{orderNo} 
 	  AND city_code = #{cityCode} 
 	  AND is_deleted=1
 	  limit 1
 </select>
 
 <!-- 后台页面列表 -->
 <!-- table all fields -->
<sql id="Parkrecord_Column_List" >
		 t.id,
		 t.city_code,
		 ba.area_name,
		 t.parkrecord_id,
		 t.park_name,
		 t.plate_no,
		 t.arrival_time
</sql>
 <!-- 查询条件 -->
<sql id="Parkrecord_Where_Clause">
	WHERE 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id = #{id}
	</if>
	<if test="cityCode != null and cityCode != ''" >
    	and city_code =  #{cityCode}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and order_no =  #{orderNo}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and parkrecord_id =  #{parkrecordId}
	</if>
	<if test="berthCode != null and berthCode != '' " >
    	and berth_code =  #{berthCode}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and park_name like '%${parkName}%'
	</if>
	<if test="parkAddress != null and parkAddress != '' " >
    	and park_address =  #{parkAddress}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and plate_no like '${plateNo}%'
	</if>
	<if test="arrivalTime != null " >
    	and arrival_time =  #{arrivalTime}
	</if>
	<if test="departureTime != null " >
    	and departure_time =  #{departureTime}
	</if>
	<if test="chargeRate != null and chargeRate != '' " >
    	and charge_rate =  #{chargeRate}
	</if>
	<if test="parkFee != null " >
    	and park_fee =  #{parkFee}
	</if>
	<if test="paidFee != null " >
    	and paid_fee =  #{paidFee}
	</if>
	<if test="unpaidFee != null " >
    	and unpaid_fee =  #{unpaidFee}
	</if>
	<if test="discountFee != null " >
    	and discount_fee =  #{discountFee}
	</if>
	<if test="parkStatus != null " >
    	and park_status =  #{parkStatus}
	</if>
	<if test="isComplate != null " >
    	and is_complate =  #{isComplate}
	</if>
	<if test="note != null and note != '' " >
    	and note =  #{note}
	</if>
	<if test="createTime != null " >
    	and create_time =  #{createTime}
	</if>
	<if test="updateTime != null " >
    	and update_time =  #{updateTime}
	</if>
	<if test="isDeleted != null " >
    	and is_deleted =  #{isDeleted}
	</if>
	<if test="parkId != null " >
    	and park_id =  #{parkId}
	</if>
	<if test="userCityCode != null and userCityCode != '' ">
		and city_code LIKE '${userCityCode}%'
	</if>
	<if test="startTime != null and endTime != null">
		and create_Time between #{startTime} and #{endTime}
	</if>
	</trim>
</sql>

 <!-- 删除记录 -->
	<delete id="deleteParkrecord" parameterType="Object">
		delete from app_order_parkrecord where parkrecord_id = #{parkrecordId}
	</delete>
<!-- 根据id查询 -->
<select id="queryParkrecordById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Parkrecord_Column_List" /> 
	 from app_order_parkrecord t 
	 GROUP BY t.city_code,t.PARKRECORD_ID,t.park_name,t.plate_no,t.ARRIVAL_TIME having t.id = #{id}
	 limit 1
</select>

<!-- 列表总数-->
<select id="queryParkrecordByCount" resultType="java.lang.Integer"  parameterType="Object">
	SELECT COUNT(1) FROM (
	SELECT 1
	FROM (SELECT city_code, PARKRECORD_ID, park_name, plate_no, ARRIVAL_TIME FROM app_order_parkrecord 
		<include refid="Parkrecord_Where_Clause"/>
	  ) t 
	LEFT JOIN base_area ba ON t.city_code=ba.area_code	 
	GROUP BY  ba.area_name,t.city_code,t.PARKRECORD_ID,t.plate_no,t.ARRIVAL_TIME
	<if test="pager.orderCondition == ''">
		order by t.ARRIVAL_TIME desc
	</if>)A
</select>
 <!-- 查询列表 -->
<select id="queryParkrecordByList" resultMap="BaseResultMap"  parameterType="Object">
	SELECT ba.area_name,t.city_code,t.PARKRECORD_ID,t.park_name,t.plate_no,t.arrival_time,t.note
	FROM (SELECT city_code, PARKRECORD_ID, park_name, plate_no, arrival_time,note FROM app_order_parkrecord
		<include refid="Parkrecord_Where_Clause"/>
	  ) t 
	LEFT JOIN base_area ba ON t.city_code=ba.area_code	 
	GROUP BY  ba.area_name,t.city_code,t.PARKRECORD_ID,t.plate_no,t.ARRIVAL_TIME
	<if test="pager.orderCondition == ''">
		order by t.ARRIVAL_TIME desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- 根据订单编号查询停车记录详情 -->
<select id="findParkrecordDetailByOrderNo" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_order_parkrecord t 
	where t.order_no = #{orderNo}
	limit 1
</select>

<!-- 查询某条停车记录的所有支付记录 -->
<select id="findAllOrderParkrecordByRecordIdAndCityCode" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from app_order_parkrecord t 
	where t.parkrecord_id = #{parkRecordId}
	and t.city_code = #{cityCode}
	order by t.create_time desc 
</select>

<!-- 根据停车记录ID获取停车记录信息 -->
<select id="getOrderParkrecordByRecordId" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>
	from app_order_parkrecord t 
	where t.parkrecord_id = #{parkRecordId} order by t.arrival_time desc limit 1
</select>

<!-- 批量写入停车记录 -->
<insert id="batchAddOrderParkrecord" parameterType="java.util.ArrayList">
	INSERT INTO app_order_parkrecord
	(ID,CITY_CODE,ORDER_NO,PARKRECORD_ID,BERTH_CODE,PARK_ID,PARK_NAME,
	PARK_ADDRESS,PLATE_NO,ARRIVAL_TIME,DEPARTURE_TIME,CHARGE_RATE,PARK_FEE,PAID_FEE,UNPAID_FEE,
	DISCOUNT_FEE,PARK_STATUS,IS_COMPLATE,NOTE,CREATE_TIME,IS_DELETED) 
	VALUES
	<foreach collection="list" index="inden" separator="," item="item">
	 (#{item.id},#{item.cityCode},#{item.orderNo},#{item.parkrecordId},
	  #{item.berthCode},#{item.parkId},#{item.parkName},#{item.parkAddress},
  	  #{item.plateNo},#{item.arrivalTime},#{item.departureTime},#{item.chargeRate},
  	  #{item.parkFee},#{item.paidFee},#{item.unpaidFee},#{item.discountFee},#{item.parkStatus},
  	  #{item.isComplate},#{item.note},#{item.createTime},#{item.isDeleted})
  	</foreach>
</insert>

<!-- 作废停车记录 -->
<update id="deleteOrderParkrecordByOrderNo" parameterType="Object">
	UPDATE app_order_parkrecord t 
	SET t.update_time = NOW(), t.is_deleted = 0 
	WHERE t.order_no= #{orderNo}
</update>

</mapper>   
