<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.SyncFileDao" > 
<resultMap id="SyncFileResultMap" type="com.innotek.fragrans.entity.appsystem.SyncFileEntity" >
	<result column="id" property="id"/>
	<result column="ori_path" property="oriPath"/>
	<result column="flag" property="flag"/>
</resultMap>
<!-- *************************************自定义接口****************************************************** -->
<!-- 上传客户端文件 -->
<select id="querySyncFiles" resultMap="SyncFileResultMap" parameterType="java.lang.String">
	SELECT DOWN_URL AS ori_path,id,1 AS flag
	FROM app_upload_file 
	WHERE ecs_down_url IS NULL  AND down_url IS NOT NULL AND down_url  != '' 
	  AND down_url NOT LIKE '%${_parameter}%' 
	UNION
	SELECT MESSAGE_IMAGE AS ori_path,id,2 AS flag
	FROM app_message 
	WHERE ECS_MESSAGE_IMAGE IS NULL AND MESSAGE_IMAGE IS NOT NULL AND MESSAGE_IMAGE  != ''
	  AND MESSAGE_IMAGE NOT LIKE '%${_parameter}%' 
	UNION
	SELECT TOPIC_IMAGEURL AS ori_path,id,3 AS flag
	FROM app_activity_topic 
	WHERE ECS_TOPIC_IMAGEURL IS NULL AND TOPIC_IMAGEURL IS NOT NULL AND TOPIC_IMAGEURL != '' 
	AND TOPIC_IMAGEURL NOT LIKE '%${_parameter}%' 
	UNION
	SELECT REDDEM_IMAGEURL AS ori_path,id,4 AS flag
	FROM app_activity_redeem_code 
	WHERE ECS_REDDEM_IMAGEURL IS NULL AND REDDEM_IMAGEURL IS NOT NULL AND REDDEM_IMAGEURL != '' 
	AND REDDEM_IMAGEURL NOT LIKE  '%${_parameter}%'
</select>

</mapper>   
