<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.appsystem.VersionDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.innotek.fragrans.entity.appsystem.VersionEntity">
		<result column="id" property="id" />
		<result column="app_type" property="appType" />
		<result column="version_code" property="versionCode" />
		<result column="version_name" property="versionName" />
		<result column="version_desc" property="versionDesc" />
		<result column="version_checksum" property="versionChecksum" />
		<result column="resource_version" property="resourceVersion" />
		<result column="resource_desc" property="resourceDesc" />
		<result column="resource_checksum" property="resourceChecksum" />
		<result column="download_url" property="downloadUrl" />
		<result column="resource_download_url" property="resourceDownloadUrl" />
		<result column="status" property="status" />
		<result column="is_force" property="isForce" />
		<result column="flag" property="flag" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="version_value" property="versionValue" />
		<result column="resource_value" property="resourceValue" />
	</resultMap>

	<!-- table all fields -->
	<sql id="Base_Column_List">
		t.app_type,
		t.version_code,
		t.version_name,
		t.version_desc,
		t.version_checksum,
		t.resource_version,
		t.resource_desc,
		t.resource_checksum,
		t.download_url,
		t.resource_download_url,
		t.status,
		t.is_force,
		t.flag,
		t.created_by,
		t.updated_by,
		t.create_time,
		t.update_time,
		t.version_value,
		t.resource_value,
		t.id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="appType != null ">
				and t.app_type = #{appType}
			</if>
			<if test="versionCode != null and versionCode != '' ">
				and t.version_code = #{versionCode}
			</if>
			<if test="versionName != null and versionName != '' ">
				and t.version_name = #{versionName}
			</if>
			<if test="versionValue != null ">
				and t.version_value = #{versionValue}
			</if>
			<if test="versionDesc != null and versionDesc != '' ">
				and t.version_desc = #{versionDesc}
			</if>
			<if test="versionChecksum != null and versionChecksum != '' ">
				and t.version_checksum = #{versionChecksum}
			</if>
			<if test="resourceVersion != null and resourceVersion != '' ">
				and t.resource_version = #{resourceVersion}
			</if>
			<if test="resourceValue != null">
				and t.resource_value = #{resourceValue}
			</if>
			<if test="resourceDesc != null and resourceDesc != '' ">
				and t.resource_desc = #{resourceDesc}
			</if>
			<if test="resourceChecksum != null and resourceChecksum != '' ">
				and t.resource_checksum = #{resourceChecksum}
			</if>
			<if test="downloadUrl != null and downloadUrl != '' ">
				and t.download_url = #{downloadUrl}
			</if>
			<if test="resourceDownloadUrl != null and resourceDownloadUrl != '' ">
				and t.resource_download_url = #{resourceDownloadUrl}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="isForce != null ">
				and t.is_force = #{isForce}
			</if>
			<if test="flag != null and flag != '' ">
				and t.flag = #{flag}
			</if>
			<if test="createdBy != null and createdBy != '' ">
				and t.created_by = #{createdBy}
			</if>
			<if test="updatedBy != null and updatedBy != '' ">
				and t.updated_by = #{updatedBy}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">

		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			SELECT UUID() as ID
		</selectKey>

		insert into APP_VERSION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,flag,
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="appType != null ">
				app_type,
			</if>
			<if test="versionCode != null and versionCode != '' ">
				version_code,
			</if>
			<if test="versionName != null and versionName != '' ">
				version_name,
			</if>
			<if test="versionValue != null and versionValue != '' ">
				version_value,
			</if>
			<if test="versionDesc != null and versionDesc != '' ">
				version_desc,
			</if>
			<if test="versionChecksum != null and versionChecksum != '' ">
				version_checksum,
			</if>
			<if test="resourceVersion != null and resourceVersion != '' ">
				resource_version,
			</if>
			<if test="resourceValue != null and resourceValue != '' ">
				resource_value,
			</if>
			<if test="resourceDesc != null and resourceDesc != '' ">
				resource_desc,
			</if>
			<if test="resourceChecksum != null and resourceChecksum != '' ">
				resource_checksum,
			</if>
			<if test="downloadUrl != null and downloadUrl != '' ">
				download_url,
			</if>
			<if test="resourceDownloadUrl != null and resourceDownloadUrl != '' ">
				resource_download_url,
			</if>
			<if test="status != null ">
				status,
			</if>
			<if test="isForce != null ">
				is_force,
			</if>
			<if test="createdBy != null and createdBy != '' ">
				created_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			now(),'ADD',
			<if test="id != null and id != ''">
  		<![CDATA[  #{id}, ]]>
			</if>
			<if test="appType != null ">
  		<![CDATA[  #{appType}, ]]>
			</if>
			<if test="versionCode != null and versionCode != '' ">
  		<![CDATA[  #{versionCode}, ]]>
			</if>
			<if test="versionName != null and versionName != '' ">
  		<![CDATA[  #{versionName}, ]]>
			</if>
			<if test="versionValue != null and versionValue != '' ">
  		<![CDATA[  #{versionValue}, ]]>
			</if>
			<if test="versionDesc != null and versionDesc != '' ">
  		<![CDATA[  #{versionDesc}, ]]>
			</if>
			<if test="versionChecksum != null and versionChecksum != '' ">
  		<![CDATA[  #{versionChecksum}, ]]>
			</if>
			<if test="resourceVersion != null and resourceVersion != '' ">
  		<![CDATA[  #{resourceVersion}, ]]>
			</if>
			<if test="resourceValue != null and resourceValue != '' ">
  		<![CDATA[  #{resourceValue}, ]]>
			</if>
			<if test="resourceDesc != null and resourceDesc != '' ">
  		<![CDATA[  #{resourceDesc}, ]]>
			</if>
			<if test="resourceChecksum != null and resourceChecksum != '' ">
  		<![CDATA[  #{resourceChecksum}, ]]>
			</if>
			<if test="downloadUrl != null and downloadUrl != '' ">
  		<![CDATA[  #{downloadUrl}, ]]>
			</if>
			<if test="resourceDownloadUrl != null and resourceDownloadUrl != '' ">
  		<![CDATA[  #{resourceDownloadUrl}, ]]>
			</if>
			<if test="status != null ">
  		<![CDATA[  #{status}, ]]>
			</if>
			<if test="isForce != null ">
  		<![CDATA[  #{isForce}, ]]>
			</if>
			<if test="createdBy != null and createdBy != '' ">
  		<![CDATA[  #{createdBy}, ]]>
			</if>
			<if test="createTime != null ">
  		<![CDATA[  #{createTime}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update APP_VERSION t set
		<trim suffixOverrides=",">
			<if test="appType != null ">
  	<![CDATA[  t.app_type = #{appType}, ]]>
			</if>
			<if test="versionCode != null and versionCode != '' ">
  	<![CDATA[  t.version_code = #{versionCode}, ]]>
			</if>
			<if test="versionName != null and versionName != '' ">
  	<![CDATA[  t.version_name = #{versionName}, ]]>
			</if>
			<if test="versionValue != null and versionValue != '' ">
  	<![CDATA[  t.version_value = #{versionValue}, ]]>
			</if>
			<if test="versionDesc != null and versionDesc != '' ">
  	<![CDATA[  t.version_desc = #{versionDesc}, ]]>
			</if>
			<if test="versionChecksum != null and versionChecksum != '' ">
  	<![CDATA[  t.version_checksum = #{versionChecksum}, ]]>
			</if>
			<if test="resourceVersion != null and resourceVersion != '' ">
  	<![CDATA[  t.resource_version = #{resourceVersion}, ]]>
			</if>
			<if test="resourceValue != null and resourceValue != '' ">
  	<![CDATA[  t.resource_value = #{resourceValue}, ]]>
			</if>
			<if test="resourceDesc != null and resourceDesc != '' ">
  	<![CDATA[  t.resource_desc = #{resourceDesc}, ]]>
			</if>
			<if test="resourceChecksum != null and resourceChecksum != '' ">
  	<![CDATA[  t.resource_checksum = #{resourceChecksum}, ]]>
			</if>
			<if test="downloadUrl != null and downloadUrl != '' ">
  	<![CDATA[  t.download_url = #{downloadUrl}, ]]>
			</if>
			<if test="resourceDownloadUrl != null and resourceDownloadUrl != '' ">
  	<![CDATA[  t.resource_download_url = #{resourceDownloadUrl}, ]]>
			</if>
			<if test="status != null ">
  	<![CDATA[  t.status = #{status}, ]]>
			</if>
			<if test="isForce != null ">
  	<![CDATA[  t.is_force = #{isForce}, ]]>
			</if>
  	<![CDATA[  t.flag = 'UPDATE', ]]>
			<if test="updatedBy != null and updatedBy != '' ">
  	<![CDATA[  t.updated_by = #{updatedBy}, ]]>
			</if>
  	<![CDATA[  t.update_time = now(), ]]>
		</trim>
		where t.id= #{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from APP_VERSION where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_VERSION t where t.id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from APP_VERSION t
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_VERSION t
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition == ''">
			order by t.create_time desc
		</if>
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	<!-- *************************************自定义接口****************************************************** -->
	<select id="queryVersion" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_VERSION t where
		t.app_type = #{appType}
		and (t.version_value > #{appVersion}
		or t.resource_value > #{sourceVersion})
		and t.flag!='DELETE'
		and t.STATUS=1
		order by t.version_code desc,resource_version desc
	</select>
	<select id="queryAllVersion" resultMap="BaseResultMap" parameterType="Object">
		select * from APP_VERSION t where t.flag!='DELETE'
	</select>
	
	<!-- 根据应用类型查询版本 -->
	<select id="queryVersionByAppType" resultMap="BaseResultMap" parameterType="Object">
		select * from APP_VERSION t where t.app_type=#{appType}
	</select>
	
	<!-- 根据应用类型查询安卓版本 -->
	<select id="queryAndroidVersion" resultMap="BaseResultMap" parameterType="Object">
		SELECT * FROM APP_VERSION A WHERE A.ID NOT IN(
		SELECT B.ID FROM APP_VERSION B WHERE B.app_type=#{appType}
		)
	</select>
	
	<select id="queryVersionByCode" resultMap="BaseResultMap" parameterType="Object">
		SELECT * FROM APP_VERSION t WHERE t.version_code=#{versionCode}
		limit 1
	</select>
	
	<!-- 查询是否已存在相同的版本号 -->
	<select id="queryIsExist" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from APP_VERSION t where t.version_code = #{versionCode}
		limit 1
	</select>
</mapper>   
