<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.wallet.WalletRechargeDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.wallet.WalletRecharge" >
	<result column="id" property="id"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="user_id" property="userId"/>
		<result column="user_account" property="userAccount"/>
		<result column="recharge_no" property="rechargeNo"/>
		<result column="pay_type" property="payType"/>
		<result column="price" property="price"/>
		<result column="balance_his" property="balanceHis"/>
		<result column="balance" property="balance"/>
		<result column="order_status" property="orderStatus"/>
		<result column="order_time" property="orderTime"/>
		<result column="pay_time" property="payTime"/>
		<result column="buyer_account" property="buyerAccount"/>
		<result column="notify_status" property="notifyStatus"/>
		<result column="notify_time" property="notifyTime"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.city_code,
		 t.area_code,
		 t.user_id,
		 t.user_account,
		 t.recharge_no,
		 t.pay_type,
		 t.price,
		 t.balance_his,
		 t.balance,
		 t.order_status,
		 t.order_time,
		 t.pay_time,
		 t.buyer_account,
		 t.notify_status,
		 t.notify_time,
		 t.create_time,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="userId != null and userId != '' " >
    	and t.user_id =  #{userId}
	</if>
	<if test="userAccount != null and userAccount != '' " >
    	and t.user_account =  #{userAccount}
	</if>
	<if test="rechargeNo != null and rechargeNo != '' " >
    	and t.recharge_no =  #{rechargeNo}
	</if>
	<if test="payType != null and payType != '' " >
    	and t.pay_type =  #{payType}
	</if>
	<if test="price != null " >
    	and t.price =  #{price}
	</if>
	<if test="balanceHis != null " >
    	and t.balance_his =  #{balanceHis}
	</if>
	<if test="balance != null " >
    	and t.balance =  #{balance}
	</if>
	<if test="orderStatus != null and orderStatus != '' " >
    	and t.order_status =  #{orderStatus}
	</if>
	<if test="orderTime != null " >
    	and t.order_time =  #{orderTime}
	</if>
	<if test="payTime != null " >
    	and t.pay_time =  #{payTime}
	</if>
	<if test="buyerAccount != null and buyerAccount != '' " >
    	and t.buyer_account =  #{buyerAccount}
	</if>
	<if test="notifyStatus != null " >
    	and t.notify_status =  #{notifyStatus}
	</if>
	<if test="notifyTime != null and notifyTime != '' " >
    	and t.notify_time =  #{notifyTime}
	</if>
	<if test="createTime != null " >
    	and t.create_time =  #{createTime}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
		SELECT sys_guid() from dual
	</selectKey>
  
	insert into app_wallet_recharge 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	  	create_time,
	    <if test="id != null and id != '' " >
		 id,
		</if>
	 	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="userId != null and userId != '' " >
		 user_id,
		</if>
    	<if test="userAccount != null and userAccount != '' " >
		 user_account,
		</if>
    	<if test="rechargeNo != null and rechargeNo != '' " >
		 recharge_no,
		</if>
    	<if test="payType != null and payType != '' " >
		 pay_type,
		</if>
    	<if test="price != null " >
		price,
		</if>
    	<if test="balanceHis != null " >
		balance_his,
		</if>
    	<if test="balance != null " >
		balance,
		</if>
    	<if test="orderStatus != null and orderStatus != '' " >
		 order_status,
		</if>
    	<if test="orderTime != null " >
		order_time,
		</if>
    	<if test="payTime != null " >
		pay_time,
		</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
		 buyer_account,
		</if>
    	<if test="notifyStatus != null " >
		notify_status,
		</if>
    	<if test="notifyTime != null and notifyTime != '' " >
		 notify_time,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 sysdate,
	    <if test="id != null and id != '' " >
  			<![CDATA[  #{id}, ]]>
    	</if>
	 	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="userId != null and userId != '' " >
  		<![CDATA[  #{userId}, ]]>
    	</if>
    	<if test="userAccount != null and userAccount != '' " >
  		<![CDATA[  #{userAccount}, ]]>
    	</if>
    	<if test="rechargeNo != null and rechargeNo != '' " >
  		<![CDATA[  #{rechargeNo}, ]]>
    	</if>
    	<if test="payType != null and payType != '' " >
  		<![CDATA[  #{payType}, ]]>
    	</if>
    	<if test="price != null " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="balanceHis != null " >
  		<![CDATA[  #{balanceHis}, ]]>
    	</if>
    	<if test="balance != null " >
  		<![CDATA[  #{balance}, ]]>
    	</if>
    	<if test="orderStatus != null and orderStatus != '' " >
  		<![CDATA[  #{orderStatus}, ]]>
    	</if>
    	<if test="orderTime != null " >
  		<![CDATA[  #{orderTime}, ]]>
    	</if>
    	<if test="payTime != null " >
  		<![CDATA[  #{payTime}, ]]>
    	</if>
    	<if test="buyerAccount != null and buyerAccount != '' " >
  		<![CDATA[  #{buyerAccount}, ]]>
    	</if>
    	<if test="notifyStatus != null " >
  		<![CDATA[  #{notifyStatus}, ]]>
    	</if>
    	<if test="notifyTime != null and notifyTime != '' " >
  		<![CDATA[  #{notifyTime}, ]]>
    	</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update app_wallet_recharge t set 
   <trim suffixOverrides="," >
	<if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="userId != null and userId != '' " >
  	<![CDATA[  t.user_id = #{userId}, ]]>
    </if>
    <if test="userAccount != null and userAccount != '' " >
  	<![CDATA[  t.user_account = #{userAccount}, ]]>
    </if>
    <if test="rechargeNo != null and rechargeNo != '' " >
  	<![CDATA[  t.recharge_no = #{rechargeNo}, ]]>
    </if>
    <if test="payType != null and payType != '' " >
  	<![CDATA[  t.pay_type = #{payType}, ]]>
    </if>
    <if test="price != null " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="balanceHis != null " >
  	<![CDATA[  t.balance_his = #{balanceHis}, ]]>
    </if>
    <if test="balance != null " >
  	<![CDATA[  t.balance = #{balance}, ]]>
    </if>
    <if test="orderStatus != null and orderStatus != '' " >
  	<![CDATA[  t.order_status = #{orderStatus}, ]]>
    </if>
    <if test="orderTime != null " >
  	<![CDATA[  t.order_time = #{orderTime}, ]]>
    </if>
    <if test="payTime != null " >
  	<![CDATA[  t.pay_time = #{payTime}, ]]>
    </if>
    <if test="buyerAccount != null and buyerAccount != '' " >
  	<![CDATA[  t.buyer_account = #{buyerAccount}, ]]>
    </if>
    <if test="notifyStatus != null " >
  	<![CDATA[  t.notify_status = #{notifyStatus}, ]]>
    </if>
    <if test="notifyTime != null and notifyTime != '' " >
  	<![CDATA[  t.notify_time = #{notifyTime}, ]]>
    </if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from app_wallet_recharge where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from app_wallet_recharge t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from app_wallet_recharge t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
    <if test="pager.oracleQueryConditionStart != null and pager.oracleQueryConditionStart != ''">
		${pager.oracleQueryConditionStart}
	</if>
	select 
	<include refid="Base_Column_List"/>
	from app_wallet_recharge t 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.id desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
	<if test="pager.oracleQueryConditionEnd != null and pager.oracleQueryConditionEnd != ''">
		${pager.oracleQueryConditionEnd}
	</if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 查询账户当前余额 -->
<select id="getBalanceByUserId" resultType="java.lang.String"  parameterType="Object">
SELECT A.*, ROWNUM RN FROM (
	select case when balance_after is null then 0 else balance_after end balance
	from app_wallet_balance_change
	where change_status = 200 and user_id = #{userId}
	order by create_time desc
	) A WHERE ROWNUM = 1
</select>

<!-- 查询未支付的充值订单-->
<select id="queryUnPaidListByUserId" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_wallet_recharge
	where order_status = 100 and user_id = #{userid}
</select>

<!-- 根据订单编号查询充值记录 -->
<select id="findByRechargeNo" resultMap="BaseResultMap"  parameterType="Object">
	select * from app_wallet_recharge 
	where recharge_no = #{rechargeno}
</select>
</mapper>   
