<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innotek.fragrans.dao.fanc.FancOrderBalanceDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.innotek.fragrans.entity.fanc.FancOrderBalance" >
	<result column="id" property="id"/>
		<result column="stat_date" property="statDate"/>
		<result column="city_code" property="cityCode"/>
		<result column="area_code" property="areaCode"/>
		<result column="order_no" property="orderNo"/>
		<result column="park_id" property="parkId"/>
		<result column="parkrecord_id" property="parkrecordId"/>
		<result column="plate_no" property="plateNo"/>
		<result column="pay_type" property="payType"/>
		<result column="order_type" property="orderType"/>
		<result column="price" property="price"/>
		<result column="refund_no" property="refundNo"/>
		<result column="refund_fee" property="refundFee"/>
		<result column="berth_code" property="berthCode"/>
		<result column="park_name" property="parkName"/>
		<result column="park_durations" property="parkDurations"/>
		<result column="arrive_time" property="arriveTime"/>
		<result column="departure_time" property="departureTime"/>
		<result column="park_type" property="parkType"/>
		<result column="subject" property="subject"/>
		<result column="order_body" property="orderBody"/>
		<result column="is_balance" property="isBalance"/>
		<result column="exception_type" property="exceptionType"/>
		<result column="exception_desc" property="exceptionDesc"/>
		<result column="city_name" property="cityName"/>
		<result column="area_name" property="areaName"/>
		<result column="is_white" property="isWhite"/>
	</resultMap>
       
<!-- table all fields -->
<sql id="Base_Column_List" >
		 t.stat_date,
		 t.city_code,
		 t.area_code,
		 t.order_no,
		 t.park_id,
		 t.parkrecord_id,
		 t.plate_no,
		 t.pay_type,
		 t.order_type,
		 t.price,
		 t.refund_no,
		 t.refund_fee,
		 t.berth_code,
		 t.park_name,
		 t.park_durations,
		 t.arrive_time,
		 t.departure_time,
		 t.park_type,
		 t.subject,
		 t.order_body,
		 t.is_balance,
		 t.exception_type,
		 t.exception_desc,
		 t.is_white,
	     t.id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and t.id = #{id}
	</if>
	<if test="isWhite != null" >
	    and t.is_white = #{isWhite}
	</if>
	<if test="statDate != null " >
    	and t.stat_date =  #{statDate}
	</if>
	<if test="cityCode != null " >
    	and t.city_code =  #{cityCode}
	</if>
	<if test="areaCode != null " >
    	and t.area_code =  #{areaCode}
	</if>
	<if test="orderNo != null and orderNo != '' " >
    	and t.order_no =  #{orderNo}
	</if>
	<if test="parkId != null and parkId != '' " >
    	and t.park_id =  #{parkId}
	</if>
	<if test="parkrecordId != null and parkrecordId != '' " >
    	and t.parkrecord_id =  #{parkrecordId}
	</if>
	<if test="plateNo != null and plateNo != '' " >
    	and t.plate_no =  #{plateNo}
	</if>
	<if test="payType != null and payType != '' " >
    	and t.pay_type =  #{payType}
	</if>
	<if test="orderType != null and orderType != '' " >
    	and t.order_type =  #{orderType}
	</if>
	<if test="price != null " >
    	and t.price =  #{price}
	</if>
	<if test="refundNo != null and refundNo != '' " >
    	and t.refund_no =  #{refundNo}
	</if>
	<if test="refundFee != null " >
    	and t.refund_fee =  #{refundFee}
	</if>
	<if test="berthCode != null and berthCode != '' " >
    	and t.berth_code =  #{berthCode}
	</if>
	<if test="parkName != null and parkName != '' " >
    	and t.park_name =  #{parkName}
	</if>
	<if test="parkDurations != null and parkDurations != '' " >
    	and t.park_durations =  #{parkDurations}
	</if>
	<if test="arriveTime != null " >
    	and t.arrive_time =  #{arriveTime}
	</if>
	<if test="departureTime != null " >
    	and t.departure_time =  #{departureTime}
	</if>
	<if test="parkType != null " >
    	and t.park_type =  #{parkType}
	</if>
	<if test="subject != null and subject != '' " >
    	and t.subject =  #{subject}
	</if>
	<if test="orderBody != null and orderBody != '' " >
    	and t.order_body =  #{orderBody}
	</if>
	<if test="isBalance != null " >
    	and t.is_balance =  #{isBalance}
	</if>
	<if test="exceptionType != null " >
    	and t.exception_type =  #{exceptionType}
	</if>
	<if test="exceptionDesc != null and exceptionDesc != '' " >
    	and t.exception_desc =  #{exceptionDesc}
	</if>
	</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as ID 
	</selectKey>
  
	insert into fanc_order_balance 
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="statDate != null " >
		stat_date,
		</if>
    	<if test="cityCode != null " >
		city_code,
		</if>
    	<if test="areaCode != null " >
		area_code,
		</if>
    	<if test="orderNo != null and orderNo != '' " >
		 order_no,
		</if>
    	<if test="parkId != null and parkId != '' " >
		 park_id,
		</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
		 parkrecord_id,
		</if>
    	<if test="plateNo != null and plateNo != '' " >
		 plate_no,
		</if>
    	<if test="payType != null and payType != '' " >
		 pay_type,
		</if>
    	<if test="orderType != null and orderType != '' " >
		 order_type,
		</if>
    	<if test="price != null " >
		price,
		</if>
    	<if test="refundNo != null and refundNo != '' " >
		 refund_no,
		</if>
    	<if test="refundFee != null " >
		refund_fee,
		</if>
    	<if test="berthCode != null and berthCode != '' " >
		 berth_code,
		</if>
    	<if test="parkName != null and parkName != '' " >
		 park_name,
		</if>
    	<if test="parkDurations != null and parkDurations != '' " >
		 park_durations,
		</if>
    	<if test="arriveTime != null " >
		arrive_time,
		</if>
    	<if test="departureTime != null " >
		departure_time,
		</if>
    	<if test="parkType != null " >
		park_type,
		</if>
    	<if test="subject != null and subject != '' " >
		 subject,
		</if>
    	<if test="orderBody != null and orderBody != '' " >
		 order_body,
		</if>
    	<if test="isBalance != null and isBalance != '' " >
		 is_balance,
		</if>
    	<if test="exceptionType != null " >
		exception_type,
		</if>
    	<if test="exceptionDesc != null and exceptionDesc != '' " >
		 exception_desc,
		</if>
		<if test="isWhite != null" >
	    is_white,
		</if>
    	 </trim>
	values
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	 	<if test="statDate != null " >
  		<![CDATA[  #{statDate}, ]]>
    	</if>
    	<if test="cityCode != null " >
  		<![CDATA[  #{cityCode}, ]]>
    	</if>
    	<if test="areaCode != null " >
  		<![CDATA[  #{areaCode}, ]]>
    	</if>
    	<if test="orderNo != null and orderNo != '' " >
  		<![CDATA[  #{orderNo}, ]]>
    	</if>
    	<if test="parkId != null and parkId != '' " >
  		<![CDATA[  #{parkId}, ]]>
    	</if>
    	<if test="parkrecordId != null and parkrecordId != '' " >
  		<![CDATA[  #{parkrecordId}, ]]>
    	</if>
    	<if test="plateNo != null and plateNo != '' " >
  		<![CDATA[  #{plateNo}, ]]>
    	</if>
    	<if test="payType != null and payType != '' " >
  		<![CDATA[  #{payType}, ]]>
    	</if>
    	<if test="orderType != null and orderType != '' " >
  		<![CDATA[  #{orderType}, ]]>
    	</if>
    	<if test="price != null " >
  		<![CDATA[  #{price}, ]]>
    	</if>
    	<if test="refundNo != null and refundNo != '' " >
  		<![CDATA[  #{refundNo}, ]]>
    	</if>
    	<if test="refundFee != null " >
  		<![CDATA[  #{refundFee}, ]]>
    	</if>
    	<if test="berthCode != null and berthCode != '' " >
  		<![CDATA[  #{berthCode}, ]]>
    	</if>
    	<if test="parkName != null and parkName != '' " >
  		<![CDATA[  #{parkName}, ]]>
    	</if>
    	<if test="parkDurations != null and parkDurations != '' " >
  		<![CDATA[  #{parkDurations}, ]]>
    	</if>
    	<if test="arriveTime != null " >
  		<![CDATA[  #{arriveTime}, ]]>
    	</if>
    	<if test="departureTime != null " >
  		<![CDATA[  #{departureTime}, ]]>
    	</if>
    	<if test="parkType != null " >
  		<![CDATA[  #{parkType}, ]]>
    	</if>
    	<if test="subject != null and subject != '' " >
  		<![CDATA[  #{subject}, ]]>
    	</if>
    	<if test="orderBody != null and orderBody != '' " >
  		<![CDATA[  #{orderBody}, ]]>
    	</if>
    	<if test="isBalance != null and isBalance != '' " >
  		<![CDATA[  #{isBalance}, ]]>
    	</if>
    	<if test="exceptionType != null " >
  		<![CDATA[  #{exceptionType}, ]]>
    	</if>
    	<if test="exceptionDesc != null and exceptionDesc != '' " >
  		<![CDATA[  #{exceptionDesc}, ]]>
    	</if>
    	<if test="isWhite != null" >
	    <![CDATA[  #{isWhite}, ]]>
		</if>
    	 </trim>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
	update fanc_order_balance t set 
   <trim suffixOverrides="," >
	<if test="statDate != null " >
  	<![CDATA[  t.stat_date = #{statDate}, ]]>
    </if>
    <if test="cityCode != null " >
  	<![CDATA[  t.city_code = #{cityCode}, ]]>
    </if>
    <if test="areaCode != null " >
  	<![CDATA[  t.area_code = #{areaCode}, ]]>
    </if>
    <if test="orderNo != null and orderNo != '' " >
  	<![CDATA[  t.order_no = #{orderNo}, ]]>
    </if>
    <if test="parkId != null and parkId != '' " >
  	<![CDATA[  t.park_id = #{parkId}, ]]>
    </if>
    <if test="parkrecordId != null and parkrecordId != '' " >
  	<![CDATA[  t.parkrecord_id = #{parkrecordId}, ]]>
    </if>
    <if test="plateNo != null and plateNo != '' " >
  	<![CDATA[  t.plate_no = #{plateNo}, ]]>
    </if>
    <if test="payType != null and payType != '' " >
  	<![CDATA[  t.pay_type = #{payType}, ]]>
    </if>
    <if test="orderType != null and orderType != '' " >
  	<![CDATA[  t.order_type = #{orderType}, ]]>
    </if>
    <if test="price != null " >
  	<![CDATA[  t.price = #{price}, ]]>
    </if>
    <if test="refundNo != null and refundNo != '' " >
  	<![CDATA[  t.refund_no = #{refundNo}, ]]>
    </if>
    <if test="refundFee != null " >
  	<![CDATA[  t.refund_fee = #{refundFee}, ]]>
    </if>
    <if test="berthCode != null and berthCode != '' " >
  	<![CDATA[  t.berth_code = #{berthCode}, ]]>
    </if>
    <if test="parkName != null and parkName != '' " >
  	<![CDATA[  t.park_name = #{parkName}, ]]>
    </if>
    <if test="parkDurations != null and parkDurations != '' " >
  	<![CDATA[  t.park_durations = #{parkDurations}, ]]>
    </if>
    <if test="arriveTime != null " >
  	<![CDATA[  t.arrive_time = #{arriveTime}, ]]>
    </if>
    <if test="departureTime != null " >
  	<![CDATA[  t.departure_time = #{departureTime}, ]]>
    </if>
    <if test="parkType != null " >
  	<![CDATA[  t.park_type = #{parkType}, ]]>
    </if>
    <if test="subject != null and subject != '' " >
  	<![CDATA[  t.subject = #{subject}, ]]>
    </if>
    <if test="orderBody != null and orderBody != '' " >
  	<![CDATA[  t.order_body = #{orderBody}, ]]>
    </if>
    <if test="isBalance != null and isBalance != '' " >
  	<![CDATA[  t.is_balance = #{isBalance}, ]]>
    </if>
    <if test="exceptionType != null " >
  	<![CDATA[  t.exception_type = #{exceptionType}, ]]>
    </if>
    <if test="exceptionDesc != null and exceptionDesc != '' " >
  	<![CDATA[  t.exception_desc = #{exceptionDesc}, ]]>
    </if>
    <if test="isWhite != null" >
	    <![CDATA[  t.is_white = #{isWhite}, ]]>
	</if>
     </trim> where t.id= #{id}
 </update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from fanc_order_balance where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from fanc_order_balance t where t.id = #{id}
</select>

<!-- 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from fanc_order_balance t 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>,b.area_name city_name,b2.area_name
	from fanc_order_balance t 
	left join base_area b on b.area_code = t.city_code 
	left join base_area b2 on b2.area_code = t.area_code 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition == ''">
		order by t.stat_date desc
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!-- *************************************自定义接口****************************************************** -->
<!-- 根据账单日期删除账单 -->
<delete id="deleteFancOrderBalanceByStatDate" parameterType="Object">
	delete from fanc_order_balance where stat_date = #{statDate}
</delete>

<!--  -->
<insert id="batchAddFancOrderBalance" parameterType="java.util.List">
	insert into fanc_order_balance 
	  (id,stat_date,city_code,area_code,order_no,park_id,parkrecord_id,plate_no,is_white,
		pay_type,order_type,price,refund_no,refund_fee,berth_code,park_name,park_durations,
		arrive_time,departure_time,park_type,subject,order_body,is_balance,exception_type,exception_desc)
	values
	<foreach collection="list" index="inden" separator="," item="item">
	 (#{item.id},#{item.statDate},#{item.cityCode},#{item.areaCode},#{item.orderNo},#{item.parkId},#{item.parkrecordId},#{item.plateNo},#{item.isWhite},
		#{item.payType},#{item.orderType},#{item.price},#{item.refundNo},#{item.refundFee},#{item.berthCode},#{item.parkName},#{item.parkDurations},
		#{item.arriveTime},#{item.departureTime},#{item.parkType},#{item.subject},#{item.orderBody},#{item.isBalance},#{item.exceptionType},#{item.exceptionDesc})
	</foreach>
</insert>

<!-- 获取时间段内账单 -->
<select id="queryFancOrderBalanceListByStateDate" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>,b.area_name city_name,b2.area_name
	from fanc_order_balance t 
	left join base_area b on b.area_code = t.city_code 
	left join base_area b2 on b2.area_code = t.area_code 
	WHERE t.stat_date &gt;= #{startDate} AND t.stat_date &lt;= #{endDate} 
	<if test="cityId != null and cityId != '' ">
		and b.id = #{cityId}
	</if>
	ORDER BY t.stat_date desc
</select>
</mapper>   
